<section>
<div class="section-body table-responsive">
	<div class="row" >
		<div class="col-md-9">
			<form class="form-horizontal" ng-submit="assetFrm.$valid && assetAddUpdateCtrl.assetAddFun()" novalidate role="form" name="assetFrm">
			<div class="card" >
				<div class="card-head style-primary">
					<header>{{assetAddUpdateCtrl.tableHeader}}</header>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6">
								<div class="form-group required"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.name.$touched || submitted ) && assetFrm.name.$invalid && assetFrm.name.$error.required || assetFrm.name.$error.maxlength }">
									<label for="name" class="col-sm-3 control-label">Asset Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="name"
											ng-model="assetAddUpdateCtrl.assetData.assetNm" ng-required="true" ng-maxlength="50" focus-me="true" />
										<span class="help-block" ng-show="assetFrm.name.$error.maxlength">Only 50 characters allowed</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.categoryType.$touched || submitted ) && assetFrm.categoryType.$invalid && assetFrm.categoryType.$error.required }">
									<label for="name" class="col-sm-3 control-label">Category Type</label>
									<div class="col-sm-9">
										<select class="form-control" name="categoryType" 
											ng-model="assetAddUpdateCtrl.assetData.categoryType"  ng-change="assetAddUpdateCtrl.catValue()" ng-options="cats.categoryPrimery.categoryId as cats.categorynm for cats in assetAddUpdateCtrl.category_list.resData" ng-required="true">
											<option value="">--SELECT--</option>
										</select>
									</div>
								</div>
								
								<div class="form-group">
									<label for="epicId" class="col-sm-3 control-label">EPC
										ID</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input readonly type="text" style="direction:RTL" class="form-control" ng-model="assetAddUpdateCtrl.assetData.tagId" name="epcId" />
										</div>
										<div class="input-group-btn">
											<button class="btn btn-default reader-btn" ng-click="assetAddUpdateCtrl.tagSelectFun()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
											<button class="btn btn-default reader-btn" ng-click="assetAddUpdateCtrl.readTag()" title="Read Tag" type="button"><img style="width: 20px;" src="resources/images/readTag.png"></img></button>
											<button class="btn btn-default reader-btn" ng-click="assetAddUpdateCtrl.readTagByDock()" title="Read Tag By DockDoor" type="button"><i class="fa fa-cog"></i></button>
										</div>
                                        <span>
                                            <em><b>{{assetAddUpdateCtrl.dockDoorName}}</b></em>
                                        </span>
									</div>
								</div>
								
								<div class="form-group ">
									<label ng-if="assetAddUpdateCtrl.requestCameFrom !== 'AND'" for="Lastname5" class="col-sm-3 control-label">Product No</label>
									<label ng-if="assetAddUpdateCtrl.requestCameFrom === 'AND'" for="Lastname5" class="col-sm-3 control-label">Tonnage Carried</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="productNo" ng-model="assetAddUpdateCtrl.assetData.serialNo" />
									</div>
								</div>
								
								<div class="form-group">
									<label ng-if="assetAddUpdateCtrl.requestCameFrom !== 'AND'" for="Lastname5" class="col-sm-3 control-label">Asset Quantity</label>
									<label ng-if="assetAddUpdateCtrl.requestCameFrom === 'AND'" for="Lastname5" class="col-sm-3 control-label">Belt Thickness(mm)</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="assetQty" ng-pattern="/^[0-9]*$/" ng-model="assetAddUpdateCtrl.assetData.assetQty" />
										<p ng-show="assetFrm.assetQty.$error.pattern" class="error">Only numbers are allowed</p>
									</div>
								</div>
								
								<div class="form-group" ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.rackName.$touched || submitted ) && assetFrm.rackName.$invalid && assetFrm.rackName.$error.required }">
									<label for="Lastname5" class="col-sm-3 control-label">Rack Name</label>
									<div class="col-sm-9">
										<select class="form-control" name="rackName"
											ng-model="assetAddUpdateCtrl.assetData.rackId"
											ng-change="assetAddUpdateCtrl.rackChange(assetAddUpdateCtrl.assetData.rackId)"
											ng-options="rack_d as rack_d.rackName for rack_d in assetAddUpdateCtrl.rack_data" ng-required="true">
											<option value="" selected>Select RackName</option>
										</select>
									</div>
								</div>
							
								<div class="form-group" ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.columnShelf.$touched || submitted ) && assetFrm.columnShelf.$invalid && assetFrm.columnShelf.$error.required}">
									<label for="Lastname5" class="col-sm-3 control-label">Column/Shelf</label>
									<div class="col-sm-9">
									   <select class="form-control" 
                                            ng-model="assetAddUpdateCtrl.assetData.slaveId"
                                            ng-options="rack_sl.slaveId as rack_sl.cellName for rack_sl in assetAddUpdateCtrl.assetData.rackId.rackSlave"
                                            name="columnShelf" ng-required="true">
                                            <option value="">Select Column/Shelf</option>
                                       </select>
									</div>
								</div>
								
								<!-- ng-options="rack_sl.slaveId as rack_sl.cellName for rack_sl in assetAddUpdateCtrl.assetData.rackId.rackSlave" -->
								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.manufacturer.$touched || submitted ) && assetFrm.manufacturer.$invalid && assetFrm.manufacturer.$error.required }">
									<label for="Lastname5" class="col-sm-3 control-label">Manufacturer</label>
									<div class="col-sm-9">
										<select class="form-control" 
											ng-model="assetAddUpdateCtrl.assetData.manufactureId"
											ng-options="manufactDet.manufactureId as manufactDet.manufactureNm for manufactDet in assetAddUpdateCtrl.manufactureDt.resData"
											name="manufacturer" ng-required="true">
											<option value="">--SELECT--</option>
										</select>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.vendor.$touched || submitted ) && assetFrm.vendor.$invalid && assetFrm.vendor.$error.required }">
									<label for="Lastname5" class="col-sm-3 control-label">Vendor</label>
									<div class="col-sm-9">
										<select class="form-control"
											ng-model="assetAddUpdateCtrl.assetData.vendorId"
											ng-options="vendors.vendorId as vendors.vendorName for vendors in assetAddUpdateCtrl.vendordetails.resData"
											name="vendor" ng-required="true">
											<option value="">Select vendor</option>
										</select>
									</div>
								</div>

							</div>
							<!--End left side div -->

							<!-- Start right side div -->
							<div class="col-md-6">
								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.batchLot.$touched || submitted ) && assetFrm.batchLot.$invalid && assetFrm.batchLot.$error.required }">
									<label for="name" class="col-sm-4 control-label">Batch
										Lot No</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddUpdateCtrl.assetData.batchId"
											ng-options="batches.batchId as batches.batchName for batches in assetAddUpdateCtrl.batchLotList.resData"
											name="batchLot" ng-required="true">
											<option value="">select Batch</option>
										</select>
									</div>
								</div>
								
								<div class="form-group" ng-class="{'has-error' : assetAddUpdateCtrl.grpMasterError }">
									<label for="epicId" class="col-sm-4 control-label">Group Master</label>
									<div class="col-sm-8">
										<div class="input-group-content ui-select">
											<select class="form-control" ng-disabled="true" style="-webkit-appearance: none;appearance: none;-moz-appearance: none;"
												ng-model="assetAddUpdateCtrl.myGroupMst"
												ng-options="myGr.gpId as myGr.gpNm for myGr in assetAddUpdateCtrl.myGroupArr"
												name="groupMaster">
											</select>
										</div>
										<div class="input-group-btn">
											<button ng-disabled="assetAddUpdateCtrl.assetData.categoryType === 1" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="assetAddUpdateCtrl.groupMasterDailog()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
										</div>
										<span class="error" ng-show="assetAddUpdateCtrl.grpMasterError">Please select group Master</span>
									</div>
								</div>

								<div class="form-group">
									<label for="epicId" class="col-sm-4 control-label">Sub Group Master</label>
									<div class="col-sm-8">
										<div class="input-group-content">
											<select class="form-control" ng-disabled="true" style="-webkit-appearance: none;appearance: none;-moz-appearance: none;"
												ng-model="assetAddUpdateCtrl.mySubGroupMst"
												ng-options="mySubGr.subGpId as mySubGr.subGpNm for mySubGr in assetAddUpdateCtrl.mySubGroupArr"
												name="subGroupMaster" >
											</select>
										</div>
										<div class="input-group-btn">
											<button ng-disabled="assetAddUpdateCtrl.assetData.categoryType === 2 || assetAddUpdateCtrl.assetData.categoryType === 1" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="assetAddUpdateCtrl.subGroupMasterDailogue()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
										</div>
									</div>
								</div>
								
								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.company.$touched || submitted ) && assetFrm.company.$invalid && assetFrm.company.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Company</label>
									<div class="col-sm-8">
										<input ng-disabled="true" type="text" class="form-control"
											ng-model="assetAddUpdateCtrl.companyName" name="company" ng-required="true" />
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.division.$touched || submitted ) && assetFrm.division.$invalid && assetFrm.division.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Division</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-change="assetAddUpdateCtrl.divChange(assetAddUpdateCtrl.assetData.divisionId, 'YES')"
											ng-model="assetAddUpdateCtrl.assetData.divisionId"
											ng-options="div.divisionId as div.divisionNm for div in assetAddUpdateCtrl.divisionList"
											name="division" ng-required="true">
											<option value="" selected>select division</option>
										</select>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.sector.$touched || submitted ) && assetFrm.sector.$invalid && assetFrm.sector.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Sector</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-change="assetAddUpdateCtrl.secChange(assetAddUpdateCtrl.assetData.sectorId, 'YES')"
											ng-model="assetAddUpdateCtrl.assetData.sectorId" name="sector"
											ng-options="sec_d.sectorId as sec_d.sectorNm for sec_d in assetAddUpdateCtrl.sect_data"
											ng-required="true">
											<option value="" selected>select sector</option>
										</select>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.location.$touched || submitted ) && assetFrm.location.$invalid && assetFrm.location.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Location</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddUpdateCtrl.assetData.locationId"
											ng-change="assetAddUpdateCtrl.locChange(assetAddUpdateCtrl.assetData.locationId, 'YES')"
											ng-options="loc_d.locationId as loc_d.locationNm for loc_d in assetAddUpdateCtrl.loc_data"
											name="location" ng-required="true">
											<option value="" selected>select location</option>
										</select>
									</div>
								</div>
								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.department.$touched || submitted ) && assetFrm.department.$invalid && assetFrm.department.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Department</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddUpdateCtrl.assetData.departmentId"
											ng-options="dep_d.departmentId as dep_d.deptNm for dep_d in assetAddUpdateCtrl.depart_data"
											name="department" ng-required="true">
											<option value="" selected>select department</option>
										</select>
									</div>
								</div>
								
								<div class="form-group">
									<label for="Lastname5" class="col-sm-4 control-label">Doc Ref No</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddUpdateCtrl.assetData.inDocRefNo" name="docrefNo"
											ng-options="docref.docrefNo as docref.docRefName for docref in assetAddUpdateCtrl.docRef_data.resData">
											<option value="">--SELECT--</option>
										</select>
									</div>
								</div>
							</div>
						</div><!--End col-md-12  -->

						<div class="col-md-12">
							<div style="border-bottom: solid 1px rgba(0, 0, 0, 0.15);"></div>
							<h4 class="text-primary">Add More Info</h4>

							<div class="col-md-6">
									<div class="form-group">
										<label ng-if="assetAddUpdateCtrl.requestCameFrom !== 'AND'" for="Lastname5" class="col-sm-4 control-label">Unit Cost</label>
										<label ng-if="assetAddUpdateCtrl.requestCameFrom === 'AND'" for="Lastname5" class="col-sm-4 control-label">Roll Length(mm)</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" ng-model="assetAddUpdateCtrl.assetData.cost" name="unitCost"/>
										</div>
									</div>
						
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">WarrantyStDt</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddUpdateCtrl.assetData.warrantStDt" is-open="assetAddUpdateCtrl.wrntystDt.opened" datepicker-options="assetAddUpdateCtrl.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  	<button type="button" class="btn btn-default" ng-click="assetAddUpdateCtrl.wrntystDtOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
								    
								    <div class="form-group">
										<label ng-if="assetAddUpdateCtrl.requestCameFrom !== 'AND'" for="Lastname5" class="col-sm-4 control-label">WarrantyEtDt</label>
										<label ng-if="assetAddUpdateCtrl.requestCameFrom === 'AND'" for="Lastname5" class="col-sm-4 control-label">Date of Installation</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddUpdateCtrl.assetData.warrantEdDt" is-open="assetAddUpdateCtrl.wrntyetDt.opened" datepicker-options="assetAddUpdateCtrl.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="assetAddUpdateCtrl.wrntyetDtOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
								    <div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Acquisition Date</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddUpdateCtrl.assetData.aqsDate" is-open="assetAddUpdateCtrl.aquDate.opened" datepicker-options="assetAddUpdateCtrl.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="assetAddUpdateCtrl.aquDateOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
								</div>
							<div class="col-md-6">
								<div class="form-group">
										<label for="textarea13" class="col-sm-4 control-label">Description</label>
										<div class="col-sm-8">
											<textarea name="textarea13" ng-model="assetAddUpdateCtrl.assetData.assetDesc"  class="form-control" rows="1" placeholder=""></textarea><div class="form-control-line"></div>
										</div>
								</div>
								<div class="form-group">
									<label for="Lastname5" class="col-sm-4 control-label">Tax</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddUpdateCtrl.assetData.taxValue" ng-options="taxs.taxId as taxs.taxName for  taxs in assetAddUpdateCtrl.taxDetails.resData" name="tax">
											<option value="">--SELECT--</option>
										</select>
									</div>
								</div>

									<div class="form-group">
										<label ng-if="assetAddUpdateCtrl.requestCameFrom !== 'AND'" for="Lastname5" class="col-sm-4 control-label">Expiry Date</label>
										<label ng-if="assetAddUpdateCtrl.requestCameFrom === 'AND'" for="Lastname5" class="col-sm-4 control-label">Date Sent Underground</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddUpdateCtrl.assetData.expiryDt" is-open="assetAddUpdateCtrl.expiryDt.opened" datepicker-options="assetAddUpdateCtrl.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="assetAddUpdateCtrl.expiryDtOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
								
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Maintenance Date</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddUpdateCtrl.assetData.mainDt" is-open="assetAddUpdateCtrl.popup2.opened" datepicker-options="assetAddUpdateCtrl.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="assetAddUpdateCtrl.open2()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
							</div>
						</div>

						<div ng-if="!assetAddUpdateCtrl.astBtn" class="col-md-12">
									<div class="col-md-12">
											<h4 class="text-primary">Status Details</h4>
									</div>
									<div class="col-md-12">
										<div class="col-md-4">
											<div><p><b>First Detect D&T</b> : {{assetAddUpdateCtrl.assetData.firstDateTime | datetime }}</p></div>
										</div>
										<div class="col-md-4">
											<div><p><b>First Detect Zone</b> : {{assetAddUpdateCtrl.assetData.firstDetectedZone }}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Asset Aging</b> : {{assetAddUpdateCtrl.assetData.assetAging}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Curr Detect D&T</b> : {{assetAddUpdateCtrl.assetData.currentDetectedDateTime | datetime }}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Curr Detect Zone </b> : {{assetAddUpdateCtrl.assetData.currentDetectedZone}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Curr Zone Aging</b> : {{assetAddUpdateCtrl.assetData.currentZoneAging}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Last Detect D&T</b> : {{assetAddUpdateCtrl.assetData.lastDetectedDateTime | datetime}}</p></div>
										</div>
										<div class="col-md-4">
												<div>
													<p><b>Asset status</b>:
													<span  ng-if="assetAddUpdateCtrl.assetData.status === 0" style="color :black;"> Registered</span>
													<span  ng-if="assetAddUpdateCtrl.assetData.status === 1" style="color :green;"> Detect </span>
													<span  ng-if="assetAddUpdateCtrl.assetData.status === 2" style="color :orange;"> Verified</span>
													<span  ng-if="assetAddUpdateCtrl.assetData.status === 3" style="color :red;"> Out of stock</span>
													<span  ng-if="assetAddUpdateCtrl.assetData.status === 6" style="color :green;"> Issued</span>
													</p>
												</div>
										</div>
									</div>
								</div>
					</div>
				</div>

				<!--end .card-body -->
				<div id="deskActionBtn" class="card-actionbar">
					<div class="card-actionbar-row">
						<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="assetAddUpdateCtrl.cancel()">Cancel</button>
						<button type="submit" ng-show="assetAddUpdateCtrl.astBtn" class="btn ink-reaction btn-raised btn-primary" >Add</button>
						<button type="submit" ng-hide="assetAddUpdateCtrl.astBtn" class="btn ink-reaction btn-raised btn-primary" >Update</button>
					</div>
				</div>
			</div>
			<!--end .card -->
		</form>
		</div>

		<!-- BEGIN SERVER STATUS -->
		 <div class="col-md-3">
			<div class="card">
				<div class="card-head style-primary">
					<header>Asset Image</header>
				</div>
				<div class="card-body height-4">
					<div class="col-md-12 col-xs-12 text-center">
						<div class="col-md-12">
							<div ng-show="assetAddUpdateCtrl.webCamDiv" id="my_camera" style="width:220px; height:175px;"></div>
							<img ng-hide="assetAddUpdateCtrl.webCamDiv" style="width: 150px;height: 168px" ngf-src="assetAddUpdateCtrl.assetLogo ||  'resources/images/NoImage.gif'" class="thumb">
            			</div>
						<ul style="list-style: none; display: inline-flex; padding: 7px;">
            				<li>
            					<input id="my_file" ng-hide="true" accept="image/*" ng-model="assetAddUpdateCtrl.assetImg" type="file"  ngf-select file-model="assetAddUpdateCtrl.assetLogo">
                                <button class="btn-xs btn-primary" ng-click="assetAddUpdateCtrl.clickonChoose()">Choose</button>
            				</li>
            				<li>
            					<!-- <a class="btn-xs btn-primary" ng-if="assetAddUpdateCtrl.webCamBtn ==='Take'" id="anchor" ng-click="assetAddUpdateCtrl.webcamClick()" download="imageName.jpg">{{assetAddUpdateCtrl.webCamBtn}}</a> -->
            					<a ng-if="assetAddUpdateCtrl.webCamBtn !=='Take'"><button class="btn-xs btn-primary" ng-click="assetAddUpdateCtrl.webcamClick()">{{assetAddUpdateCtrl.webCamBtn}}</button></a>
            					<a ng-if="assetAddUpdateCtrl.webCamBtn ==='Take'" id="anchor" download="imageName.jpg" ><button class="btn-xs btn-primary" ng-click="assetAddUpdateCtrl.webcamClick()">{{assetAddUpdateCtrl.webCamBtn}}</button></a>
            				</li>
            				<li>
            					<button class="btn-xs btn-primary" ng-click="assetAddUpdateCtrl.imgDelete()">Delete</button>
            				</li>
            			</ul> 
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-head style-primary">
					<header>Asset Generic Details</header>
				</div>
				<div class="card-body height-3" style="padding-top: 12px;">
					<div class="col-md-12 col-xs-5">
						<p>Group master : {{assetAddUpdateCtrl.single_ass.resData[1].groupMasterType}} </p>
						<p>Sub Group master : {{assetAddUpdateCtrl.single_ass.resData[1].subGroupMaster}} </p>
						<p>Total Assets : </p>
					</div>
				</div>
			</div>
			<div ng-if="!assetAddUpdateCtrl.astBtn"  class="card">
				<div class="card-head style-primary">
					<header>Edit More Info</header>
				</div>
				<div class="card-body height-3" style="padding-top: 12px;">
					<div class="col-md-12 col-xs-5">
						<h4 class="text-primary" data-ng-click="assetAddUpdateCtrl.splitAssetFun()"><a  ng-if="assetAddUpdateCtrl.assetData.assetQty > '1'"  href="">Split Asset</a></h4>
						<h4 class="text-primary" data-ng-click="assetAddUpdateCtrl.outOfStockFun()"><a href="">Out of Stock</a></h4>
						<h4 class="text-primary" data-ng-click="assetAddUpdateCtrl.releaseTagFun()"><a href="">Release Tag</a></h4>
						<!-- <h4 class="text-primary" ><a ui-sref="homeDashboard.asset.maintenanceEntry">Maintenance Entry</a></h4>
						<h4 class="text-primary" data-ng-click="assetAddUpdateCtrl.releaseTagFun()"><a href="">Maintenance Schedule</a></h4> -->
					</div>
				</div>
			</div>
			
			<div class="card">
                <div class="card-head style-primary">
                    <header>Attachment</header>
                </div>
                <div class="card-body height-4" style="padding: 0px;">
                    <div class="col-md-12 col-xs-5">
                    	<p>Total : {{ assetAddUpdateCtrl.totAttachment }}</p><!-- <input class="form-control col-md-2" ng-model="assetAddUpdateCtrl.totAttachment" type="text" readonly/> -->
                        <div class="col-md-6">
                            <label>Asset</label>
                            <button class="btn btn-default" ng-click="assetAddUpdateCtrl.assetAttach('AssetAttach')">
                                <img style="width: 65px;" alt="" src="resources/images/AssetAttach1.png"></img>
                            </button>
                           <input class="form-control col-md-4" ng-model="assetAddUpdateCtrl.assetAttachment" type="text" readonly/>
                            
                        </div>
                        <div class="col-md-6">
                            <label>DocRef</label>
                             <button class="btn btn-default pull-right" ng-click="assetAddUpdateCtrl.assetAttach('DocRefAttach')">
                                <img style="width: 65px;" alt="" src="resources/images/attchment.jpg" />
                            </button>
	                     	 <input class="form-control col-md-4" ng-model="assetAddUpdateCtrl.docRefAttachment" type="text" readonly/>
                        </div>
                     </div>
                </div>
            </div>
           
		</div>
		<div id="mobActionBtn" class="card-actionbar">
			<div class="card-actionbar-row">
				<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="assetAddUpdateCtrl.cancel()">Cancel</button>
				<button type="submit" ng-click="assetFrm.$valid && assetAddUpdateCtrl.assetAddFun()" ng-show="assetAddUpdateCtrl.astBtn" class="btn ink-reaction btn-raised btn-primary" >Add</button>
				<button type="submit" ng-click="assetFrm.$valid && assetAddUpdateCtrl.assetAddFun()" ng-hide="assetAddUpdateCtrl.astBtn" class="btn ink-reaction btn-raised btn-primary" >Update</button>
			</div>
		</div>
	</div>
	
  </div> 
</section>

