
<div class="">
    <form class="form-horizontal" ng-submit="assetSearchFrm.$valid && assetSearchController.okBtn()" novalidate role="form" name="assetSearchFrm">
        <div class="card" style="margin-bottom: 0;">
            <div class="card-head style-primary">
                <header>{{ assetSearchController.tableHeader }}</header>
                <button type="button" class="btn btn-default btn_close" ng-click="assetSearchController.cancel()"><i class="fa fa-times"></i></button>
            </div>
            <div class="card-body" style="overflow: auto;">
                <div class="row">
                <!-- <form ng-submit="assetSearchController.assetDetails()"> -->
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search by</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="searchBy" ng-model="assetSearchController.searchBy" >
                      					<option value="">--SELECT--</option>
                      					<option value="Asset Name">Asset Name</option>
                      					<option value="Asset Id">Asset Id</option>
                      					<option value="EPC ID">EPC Id </option>
                      					<option value="Tag Id">Tag Id</option>
                      					<option value="Category Type">Category Type</option>
                      					<option value="ProductNo">Product No</option>
                      					<option value="BatchLotNo">BatchLot No</option>
                      					<option value="Division Name">Division Name</option>
                    					<option value="Sector Name">Sector Name</option>
                						<option value="Location Name">Location Name</option>
                   						<option value="Department Name">Department Name</option>
                      					<option value="Manufacturer Name">Manufacture Name</option>
										<option value="Vendor Name">Vendor Name</option>
                      					<option value="IN DocRefNo">In DocRefNo</option>
                      					<option value="OUT DocRefNo">Out DocRefNo</option>
                      					<option value="UnitCost">Unit Cost</option>
                      					<option value="Asset Description">Asset Description</option>
                      					<option value="WarrantyStDt">Warranty Start Date</option>
                      					<option value="WarrantyEdDt">Warranty End Date</option>
                      					<option value="MaintenanceDate">Maintenance Date</option>
                      					<option value="AcquisitionDate">Acquisition Date</option>
                      					<option value="ExpiryDate">Expiry Date</option>
                      					<option value="Created Date">Created Date</option>
                      					<option value="Modified Date">Modified Date</option>
                      				</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search Value</label>
                                 <div class="input-group input-group-lg">
                                    <div class="">
                                        <input type="text" class="form-control" ng-disabled="assetSearchController.searchBy === 'WarrantyStDt' || assetSearchController.searchBy === 'WarrantyEdDt' || assetSearchController.searchBy === 'MaintenanceDate' || assetSearchController.searchBy === 'Created Date' || assetSearchController.searchBy === 'Modified Date' || assetSearchController.searchBy === 'AcquisitionDate' || assetSearchController.searchBy === 'ExpiryDate'" ng-model="assetSearchController.searchValue" placeholder="Enter your search here" />
                                         <a class="textclear" ng-click="assetSearchController.searchValue = ''" ng-if="assetSearchController.searchValue"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        <div class="form-control-line"></div>
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-floating-action btn-default-bright" ng-click="assetSearchController.assetSearchData()" type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- search by type -->
                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'Category Type'" ng-init="assetSearchController.categoryList()">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Category Type</label>
                                <div class="col-sm-9">
                               		<select class="form-control" name="categoryType" ng-model="assetSearchController.categoryType" ng-options="cats.categorynm as cats.categorynm for cats in assetSearchController.category_list.resData">
              					    	<option value="">--SELECT--</option>
              						</select>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'User Type'">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">User Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="userType" ng-model="assetSearchController.searchField">
              						    <option value="">--SELECT--</option>
              						    <option value="Admin">Admin</option>
              						    <option value="User">User</option>
              						    
              						</select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'Gender'">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Gender</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="gender" ng-model="assetSearchController.searchField">
              						    <option value="">--SELECT--</option>
              						    <option value="Male">Male</option>
              						    <option value="Female">Female</option>
              						</select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'BatchLotNo'" ng-init="assetSearchController.getBatchDetails()">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">BatchLot No</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="assetSearchController.batchName" ng-options="batches.batchName as batches.batchName for batches in assetSearchController.batchLotList.resData" name="batchLot">
										<option value="">select batch</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'Division Name'" ng-init="assetSearchController.getDivisionDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Division</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="assetSearchController.divisionName" ng-options="div.divisionNm as div.divisionNm for div in assetSearchController.divisionList.resData" name="division">
										<option value="">select division</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'Sector Name'" ng-init="assetSearchController.getSectorDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Sector</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="assetSearchController.sectorName" name="sector" ng-options="sec_d.sectorNm as sec_d.sectorNm for sec_d in assetSearchController.sect_data.resData">
											<option value="">select sector</option>
										</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'Location Name'" ng-init="assetSearchController.getLocationDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="assetSearchController.locationName" ng-options="loc_d.locationNm as loc_d.locationNm for loc_d in assetSearchController.loc_data.resData" name="location">
											<option value="">select location</option>
										</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'Department Name'" ng-init="assetSearchController.getDepartmentDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="assetSearchController.departmentName" ng-options="dep_d.deptNm as dep_d.deptNm for dep_d in assetSearchController.depart_data.resData" name="department">
									     <option value="">select department</option>
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'Manufacturer Name'" ng-init="assetSearchController.getManufacturerDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Manufacturer</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="assetSearchController.manufactureName" ng-options="manufactDet.manufactureNm as manufactDet.manufactureNm for manufactDet in assetSearchController.manufactureDt.resData" name="manufacturer">
                      					<option value="">select manufacturer</option>
                 			  		 </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'Vendor Name'" ng-init="assetSearchController.getVendorDetails()">
                        	<div class="form-group">
        						<label for="Lastname5" class="col-sm-3 control-label">Vendor</label>
        						<div class="col-sm-9">
        							<select class="form-control"
        								ng-model="assetSearchController.vendorName"
        								ng-options="vendors.vendorName as vendors.vendorName for vendors in assetSearchController.vendordetails.resData"
        								name="vendor">
        								<option value="">select vendor</option>
        							</select>
        						</div>
        					</div>
                      </div>
                        
                        <div class="col-md-6" ng-if="assetSearchController.searchBy === 'Created Date' ||
                        	 assetSearchController.searchBy === 'Modified Date' ||
                        	 assetSearchController.searchBy === 'WarrantyStDt' ||
                        	 assetSearchController.searchBy === 'WarrantyEdDt' ||
                        	 assetSearchController.searchBy === 'MaintenanceDate' ||
                        	 assetSearchController.searchBy === 'AcquisitionDate' ||
                        	 assetSearchController.searchBy === 'ExpiryDate'">
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">From</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="assetSearchController.fromDate" is-open="assetSearchController.from.opened" datepicker-options="assetSearchController.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="assetSearchController.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
									</div>
							</div>
						</div>
						
						<div class="col-md-6" ng-if="assetSearchController.searchBy === 'Created Date' ||
                        	 assetSearchController.searchBy === 'Modified Date' ||
                        	 assetSearchController.searchBy === 'WarrantyStDt' ||
                        	 assetSearchController.searchBy === 'WarrantyEdDt' ||
                        	 assetSearchController.searchBy === 'MaintenanceDate' ||
                        	 assetSearchController.searchBy === 'AcquisitionDate' ||
                        	 assetSearchController.searchBy === 'ExpiryDate'">
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">To</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="assetSearchController.toDate" is-open="assetSearchController.to.opened" datepicker-options="assetSearchController.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="assetSearchController.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
									</div>
							</div>
						</div>
                    </div>
                   <!--  </form> -->

                    <!--$ TABLE $-->
                    <div class="col-md-12">
                        <table class="table table-hover table-reponsive">
                            <thead>
                                <tr>
                                	<th class="text-left">
                                	<!-- <div class="checkbox checkbox-styled"> -->
                                	   <input type="checkbox"  ng-model="assetSearchController.allItemsSelected" ng-change="assetSearchController.selectAll()" />
                                	<!-- </div>	 -->
									</th>
                                    <th>Asset Id</th>
                                    <th>Asset Name</th>
                                    <th ng-if="assetSearchController.searchBy !== 'Tag Id'">EPC ID</th>
                                    <th>Category Type</th>
                                    <th ng-if="assetSearchController.searchBy === 'Tag Id'">Tag Id</th>
                                    <th ng-if="assetSearchController.searchBy === 'Division Name'">Division</th>
                                    <th ng-if="assetSearchController.searchBy === 'Sector Name'">Sector</th>
                                    <th ng-if="assetSearchController.searchBy === 'Location Name'">Location</th>
                                    <th ng-if="assetSearchController.searchBy === 'Department Name'">Department</th>
                                    <th ng-if="assetSearchController.searchBy === 'Manufacturer Name'">Manufacturer</th>
                                    <th ng-if="assetSearchController.searchBy === 'Vendor Name'">Vendor</th>
                                    <th>Batchlot </th>
                                    <th>Product No</th>
                                </tr>
                            </thead>
                           <tbody>	
                                <tr ng-repeat="assets in assetSearchController.ass_data.resData" ng-show="$index > 0">
                                  	<td>
                                  	    <div ng-class="{'has-error' : (assetSearchFrm.$submitted || assetSearchFrm.ischecked.$touched || submitted ) && assetSearchFrm.ischecked.$invalid && assetSearchFrm.ischecked.$error.required }">
                                            <label>
                                                   <input type="checkbox" ng-checked="allSelect" ng-model="assets.isChecked" ng-change="assetSearchController.selectEntity()" name="ischecked" >
                                               </label>
                                         </div>
                                        <!-- <label class="radio-inline radio-styled">
											 <input type="radio" name="inlineRadioOptions" ng-model="assetSearchController.assetSelect" value="{{assets}}" /><span></span>
										</label> -->
                                    </td>
                                  	<td>{{assets.assetId}}</td>
                                    <td style="word-break: break-all;">{{assets.assetNm}}</td>
                                    <td ng-if="assetSearchController.searchBy !== 'Tag Id'" style="word-break: break-all;">{{assets.tagId}}</td>
                                    <td>{{assets.categoryType}}</td>
                                    <td ng-if="assetSearchController.searchBy === 'Tag Id'">{{assets.tagId}}</td>
                                    <td ng-if="assetSearchController.searchBy === 'Division Name'">{{assets.divisionName}}</td>
                                    <td ng-if="assetSearchController.searchBy === 'Sector Name'">{{assets.sectorName}}</td>
                                    <td ng-if="assetSearchController.searchBy === 'Location Name'">{{assets.locationName}}</td>
                                    <td ng-if="assetSearchController.searchBy === 'Department Name'">{{assets.departmentName}}</td>
                                    <td ng-if="assetSearchController.searchBy === 'Manufacturer Name'">{{assets.manufactureName}}</td>
                                    <td ng-if="assetSearchController.searchBy === 'Vendor Name'">{{assets.vendorName}}</td>
                                    <td>{{assets.batchName}}</td>
                                    <td>{{assets.serialNo}}</td>
                                </tr>
                            </tbody>
                             <tfoot ng-if="!assetSearchController.ass_data.resData.length">
                            	<td colspan="2">Record not found.......</td>
                            </tfoot>
                             <tfoot ng-show="assetSearchController.selectError">
                            	<td style="color :red" class="angular-animation" colspan="7">Please select only one record</td>
                            </tfoot>
                        </table>
                        <div class="text-center">
                            <ul uib-pagination total-items="assetSearchController.totalItems" max-size="assetSearchController.maxSize" ng-model="assetSearchController.currentPage" ng-change="assetSearchController.assetSearchData()" items-per-page="assetSearchController.itemsPerPage" boundary-links="true"
                                rotate="false"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end .card-body -->
<!--              <form class="form-horizontal" ng-submit="assetSearchFrm.$valid && assetSearchController.assetSelectFun()" novalidate role="form" name="assetSearchFrm">
 -->	            <div class="card-actionbar">
	                <div class="card-actionbar-row">
	                    <button type="submit" class="btn ink-reaction btn-raised btn-primary">Ok</button>
	                    <button type="button" ng-click="assetSearchController.cancel()" class="btn ink-reaction btn-raised btn-primary">Cancel</button>
	                </div>
	            </div>
          <!--   </form> -->
        </div>
        <!--end .card -->
    </form>
</div>
<!--end .card-body -->
