<section>
<div class="section-body table-responsive">
	<div class="row" >
		<!-- ====$ Begin Asset Details $======== -->
		<div class="col-md-9">
			<form class="form-horizontal" ng-submit="assetFrm.$valid && assetAddController.assetAddFun()" novalidate role="form" name="assetFrm">
			<div class="card" style="margin-bottom: 0;">
				<div class="card-head style-primary">
					<header>{{assetAddController.tableHeader}}</header>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6">
								<div class="form-group required"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.name.$touched || submitted ) && assetFrm.name.$invalid && assetFrm.name.$error.required || assetFrm.name.$error.maxlength }">
									<label for="name" class="col-sm-3 control-label">Asset
										Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="name"
											ng-model="assetAddController.assetName" ng-required="true" ng-maxlength="50" focus-me="true" />
											<span class="help-block" ng-show="assetFrm.name.$error.maxlength">Only 50 characters allowed</span>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.categoryType.$touched || submitted ) && assetFrm.categoryType.$invalid && assetFrm.categoryType.$error.required }">
									<label for="name" class="col-sm-3 control-label">Category
										Type</label>
									<div class="col-sm-9">
										<select class="form-control" name="categoryType"
											ng-model="assetAddController.categoryType"  ng-change="assetAddController.catValue()" ng-options="cats.categoryPrimery.categoryId as cats.categorynm for cats in assetAddController.category_list.resData" ng-required="true">
											<option value="">--SELECT--</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="epicId" class="col-sm-3 control-label">EPC
										ID</label>
									<div class="col-sm-9">
										<div class="input-group-content">
												<input readonly type="text" style="direction:RTL" class="form-control" ng-model="assetAddController.tagId" name="epcId" />
										</div>
										<div class="input-group-btn">
											<button class="btn btn-default reader-btn" ng-click="assetAddController.tagSelectFun()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
											<button class="btn btn-default reader-btn" ng-click="assetAddController.readTag()" title="Read Tag" type="button"><img style="width: 20px;" src="resources/images/readTag.png"></img></button>
											<button class="btn btn-default reader-btn" ng-click="assetAddController.readTagByDock()" title="Read Tag By DockDoor" type="button"><i class="fa fa-cog"></i></button>
										</div>
                                        <span>
                                            <em><b>{{assetAddController.dockDoorName.dockDoorName}}</b></em>
                                        </span>
									</div>
								</div>
								
								<div class="form-group ">
									<label for="Lastname5" class="col-sm-3 control-label">Product
										No</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="productNo"
											ng-model="assetAddController.productNo" />
									</div>
								</div>
								
								<div class="form-group">
									<label for="Lastname5" class="col-sm-3 control-label">Asset
										Quantity</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="assetQty"
											ng-model="assetAddController.assetQuantity" />
									</div>
								</div>
								
								<div class="form-group">
									<label for="Lastname5" class="col-sm-3 control-label">Rack
										Name</label>
									<div class="col-sm-9">
										<select class="form-control" name="rackName"
											ng-model="assetAddController.rackName"
											ng-change="assetAddController.rackChange(assetAddController.rackName)"
											ng-options="rack_d as rack_d.rackName for rack_d in assetAddController.rack_data">
											<option value="">Select RackName</option>
										</select>
									</div>
								</div>
							
								<div class="form-group">
									<label for="Lastname5" class="col-sm-3 control-label">Column/Shelf</label>
									<div class="col-sm-9">
									   <select class="form-control"
                                            ng-model="assetAddController.columnShelf"
                                            ng-options="rack_sl.slaveId as rack_sl.cellName for rack_sl in assetAddController.rackName.rackSlave"
                                            name="columnShelf">
                                            <option value="" >Select Column/Shelf</option>
                                            </select>
										<!-- <input type="text" class="form-control" name="columnShelf"
											ng-model="assetAddController.columnShelf"/> -->
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.manufacturer.$touched || submitted ) && assetFrm.manufacturer.$invalid && assetFrm.manufacturer.$error.required }">
									<label for="Lastname5" class="col-sm-3 control-label">Manufacturer</label>
									<div class="col-sm-9">
										<select class="form-control" 
											ng-model="assetAddController.manufacturer"
											ng-options="manufactDet.manufactureId as manufactDet.manufactureNm for manufactDet in assetAddController.manufactureDt.resData"
											name="manufacturer" ng-required="true">
											<option value="">--SELECT--</option>
										</select>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.vendor.$touched || submitted ) && assetFrm.vendor.$invalid && assetFrm.vendor.$error.required }">
									<label for="Lastname5" class="col-sm-3 control-label">Vendor</label>
									<div class="col-sm-9">
										<select class="form-control"
											ng-model="assetAddController.vendor"
											ng-options="vendors.vendorId as vendors.vendorName for vendors in assetAddController.vendordetails.resData"
											name="vendor" ng-required="true">
											<option value="">Select vendor</option>
										</select>
									</div>
								</div>

							</div>
							<!--End left side div -->

							<!-- Start right side div -->
							<div class="col-md-6">
								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.batchLot.$touched || submitted ) && assetFrm.batchLot.$invalid && assetFrm.batchLot.$error.required }">
									<label for="name" class="col-sm-4 control-label">Batch
										Lot No</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddController.batchLot"
											ng-options="batches.batchId as batches.batchName for batches in assetAddController.batchLotList.resData"
											name="batchLot" ng-required="true">
											<option value="">select Batch</option>
										</select>
									</div>
								</div>

								<!-- <div class="form-group" ng-class="{'has-error' : assetAddController.grpMasterError }">
									<label for="epicId" class="col-sm-4 control-label">Group Master</label>
									<div class="col-sm-8">
										<div class="input-group-content">
												<input ng-disabled="true" type="text" class="form-control" ng-model="assetAddController.groupMasterType" name="groupMaster"  />
										</div>
										<div class="input-group-btn">
											<button ng-disabled="assetAddController.categoryType === 1" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="assetAddController.groupMasterDailog()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
										</div>
										<span class="error" ng-show="assetAddController.grpMasterError">Please select group Master</span>
									</div>
								</div>

								<div class="form-group" >
									<label for="epicId" class="col-sm-4 control-label">Sub Group Master</label>
									<div class="col-sm-8">
										<div class="input-group-content">
												<input ng-disabled="true" type="text" class="form-control" ng-model="assetAddController.subGroupType" name="subGroupMaster"  />
										</div>
										<div class="input-group-btn">
											<button ng-disabled="assetAddController.categoryType === 2 || assetAddController.categoryType === 1" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="assetAddController.subGroupMasterDailogue()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
										</div>
									</div>
								</div> -->
								
								<div class="form-group" ng-class="{'has-error' : assetAddController.grpMasterError }">
									<label for="epicId" class="col-sm-4 control-label">Group Master</label>
									<div class="col-sm-8">
										<div class="input-group-content ui-select">
											<select class="form-control" ng-disabled="true" style="-webkit-appearance: none;appearance: none;-moz-appearance: none;"
												ng-model="assetAddController.myGroupMst"
												ng-options="myGr.gpId as myGr.gpNm for myGr in assetAddController.myGroupArr"
												name="groupMaster">
											</select>
										</div>
										<div class="input-group-btn">
											<button ng-disabled="assetAddController.categoryType === 1" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="assetAddController.groupMasterDailog()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
										</div>
										<span class="error" ng-show="assetAddController.grpMasterError">Please select group Master</span>
									</div>
								</div>

								<div class="form-group">
									<label for="epicId" class="col-sm-4 control-label">Sub Group Master</label>
									<div class="col-sm-8">
										<div class="input-group-content">
											<select class="form-control" ng-disabled="true" style="-webkit-appearance: none;appearance: none;-moz-appearance: none;"
												ng-model="assetAddController.mySubGroupMst"
												ng-options="mySubGr.subGpId as mySubGr.subGpNm for mySubGr in assetAddController.mySubGroupArr"
												name="subGroupMaster" >
											</select>
										</div>
										<div class="input-group-btn">
											<button ng-disabled="assetAddController.categoryType === 2 || assetAddController.categoryType === 1" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="assetAddController.subGroupMasterDailogue()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
										</div>
									</div>
								</div>
								
								
								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.company.$touched || submitted ) && assetFrm.company.$invalid && assetFrm.company.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Company</label>
									<div class="col-sm-8">
										<input ng-disabled="true" type="text" class="form-control"
											ng-model="assetAddController.comp_name" name="company"
											ng-required="true" />
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.division.$touched || submitted ) && assetFrm.division.$invalid && assetFrm.division.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Division</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-change="assetAddController.divChange()"
											ng-model="assetAddController.division"
											ng-options="div.divisionId as div.divisionNm for div in assetAddController.divisionList.resData"
											name="division" ng-required="true">
											<option value="">select division</option>
										</select>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.sector.$touched || submitted ) && assetFrm.sector.$invalid && assetFrm.sector.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Sector</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-change="assetAddController.secChange()"
											ng-model="assetAddController.sector" name="sector"
											ng-options="sec_d.sectorId as sec_d.sectorNm for sec_d in assetAddController.sect_data.resData"
											ng-required="true">
											<option value="">select sector</option>
										</select>
									</div>
								</div>

								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.location.$touched || submitted ) && assetFrm.location.$invalid && assetFrm.location.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Location</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddController.location"
											ng-change="assetAddController.locChange()"
											ng-options="loc_d.locationId as loc_d.locationNm for loc_d in assetAddController.loc_data.resData"
											name="location" ng-required="true">
											<option value="">select location</option>
										</select>
									</div>
								</div>
								<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.department.$touched || submitted ) && assetFrm.department.$invalid && assetFrm.department.$error.required }">
									<label for="Lastname5" class="col-sm-4 control-label">Department</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddController.department"
											ng-options="dep_d.departmentId as dep_d.deptNm for dep_d in assetAddController.depart_data.resData"
											name="department" ng-required="true">
											<option value="">select department</option>
										</select>
									</div>
								</div>
								
								<div class="form-group">
									<label for="Lastname5" class="col-sm-4 control-label">Doc
										Ref No</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddController.docrefNoSelect" name="docrefNo"
											ng-options="docref as docref.docRefName for docref in assetAddController.docRef_data.resData">
											<option value="">--SELECT--</option>
											<!-- <option value="0">default</option> -->
										</select>
									</div>
								</div>
							</div>
						</div><!--End col-md-12  -->

						<div class="col-md-12">
							<div style="border-bottom: solid 1px rgba(0, 0, 0, 0.15);"></div>
							<h4 class="text-primary">Add More Info</h4>

							<div class="col-md-6">
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Unit Cost</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" ng-model="assetAddController.unitCost" name="unitCost"/>
										</div>
									</div>

									<!-- <div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">WarrantyStDt</label>
										<div class="col-sm-8">
											<input type="date" class="form-control"
												ng-model="assetAddController.warrantyStDt" name="warrantyStDt"/>
										</div>
									</div> -->
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">WarrantyStDt</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddController.warrantyStDt" is-open="assetAddController.wrntystDt.opened" datepicker-options="assetAddController.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="assetAddController.wrntystDtOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
								    
								    <div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">WarrantyEtDt</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddController.warrantyEtDt" is-open="assetAddController.wrntyetDt.opened" datepicker-options="assetAddController.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="assetAddController.wrntyetDtOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
								    <div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Acquisition Date</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddController.acquisitionDate" is-open="assetAddController.aquDate.opened" datepicker-options="assetAddController.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="assetAddController.aquDateOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
								</div>
							<div class="col-md-6">
								<div class="form-group">
										<label for="textarea13" class="col-sm-4 control-label">Description</label>
										<div class="col-sm-8">
											<textarea name="textarea13" ng-model="assetAddController.description"  class="form-control" rows="1" placeholder=""></textarea><div class="form-control-line"></div>
										</div>
								</div>
								<div class="form-group">
									<label for="Lastname5" class="col-sm-4 control-label">Tax</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetAddController.tax" ng-options="taxs.taxId as taxs.taxName for  taxs in assetAddController.taxDetails.resData" name="tax">
											<option value="">--SELECT--</option>
										</select>
									</div>
								</div>

									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Expiry Date</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddController.expiryDate" is-open="assetAddController.expiryDt.opened" datepicker-options="assetAddController.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="assetAddController.expiryDtOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
								
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Maintenance Date</label>
										<div class="col-sm-8">
											<div class="input-group-content">
												 <input type="text" class="form-control" ng-readOnly = true; uib-datepicker-popup ng-model="assetAddController.maintenanceDate" is-open="assetAddController.popup2.opened" datepicker-options="assetAddController.dateOptions" close-text="Close" />
										  	</div>
											<div class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="assetAddController.open2()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
										    </div>
										</div>
								    </div>
							</div>
						</div>

						<div ng-if="!assetAddController.astBtn" class="col-md-12">
									<div class="col-md-12">
											<h4 class="text-primary">Status Details</h4>
									</div>
									<div class="col-md-12">
										<div class="col-md-4">
											<div><p><b>First Detect D&T</b> : {{assetAddController.single_ass.resData[0][0].firstDateTime | datetime }}</p></div>
										</div>
										<div class="col-md-4">
											<div><p><b>First Detect Zone</b> : {{assetAddController.single_ass.resData[1].firstDetectedZone }}</span></p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Asset Aging</b> : {{assetAddController.single_ass.resData[1].assetAging}}</span></p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Curr Detect D&T</b> : {{assetAddController.single_ass.resData[1].currentDetectedDateTime | datetime }}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Curr Detect Zone </b> : {{assetAddController.single_ass.resData[1].currentDetectedZone}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Curr Zone Aging</b> : {{assetAddController.single_ass.resData[1].currentZoneAging}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Last Detect D&T</b> : {{assetAddController.single_ass.resData[1].lastDetectedDateTime | datetime}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Asset status</b>:<span  ng-if="assetAddController.single_ass.resData[0][0].status === 1" style="color :green;"> Detect</span><span  ng-if="assetAddController.single_ass.resData[0][0].status === 6" style="color :green;"> Issued</span></p></div>
										</div>
									</div>
								</div>
					</div>
				</div>

				<!--end .card-body -->
				<div id="deskActionBtn" class="card-actionbar">
					<div class="card-actionbar-row">
						<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="assetAddController.cancel()">Cancel</button>
						<button type="submit" ng-show="assetAddController.astBtn" class="btn ink-reaction btn-raised btn-primary" >Add</button>
						<button type="submit" ng-hide="assetAddController.astBtn" class="btn ink-reaction btn-raised btn-primary" >Update</button>
					</div>
				</div>
			</div>
			<!--end .card -->
		</form>
		</div>

		<!-- BEGIN SERVER STATUS -->
		 <div class="col-md-3">
			<!-- <div class="card">
				<div class="card-head style-primary">
						<header>Asset Image</header>
					</div>
				<div class="card-body height-4">
					<div class="col-md-12 col-xs-5 text-center">
						<div ng-if="!assetAddController.webImg" class="col-md-12">
							<img ng-if="!assetAddController.assetUpdImg"  style="max-width: 100%;" ngf-src="assetAddController.assetLogo ||  'resources/images/NoImage.gif'" class="thumb">
            				<img ng-if="assetAddController.assetUpdImg" style="max-width: 100%;border:1px solid" ng-src="data:image/jpeg;base64,{{assetAddController.assetImg}}" class="thumb"> 
            			 
            				<img ng-if="assetAddController.newLogo1" style="width : 200px;height:200px" ngf-src="assetAddController.assetLogo ||  'resources/images/NoImage.gif'" class="thumb">
            				<img ng-if="!assetAddController.newLogo1" style="width : 200px;height:200px;border:1px solid" ng-src="data:image/jpeg;base64,{{assetAddController.assetImg}}" class="thumb"> 
            			
            			 </div>
						<div ng-if="assetAddController.webImg">
								<img style="width : 200px;height:200px" ng-src="{{assetAddController.webCamImg}}" class="thumb">
						</div>
						
						<div class="form-group">
							<div class="col-md-12">
							&nbsp;
								<div ng-if="assetAddController.showDiv" id="my_camera" style="width:220px; height:175px;"></div>
								<input ng-click="assetAddController.myFun()" accept="image/*" ng-model="assetAddController.newLogo1" type="file"  ngf-select file-model="assetAddController.assetLogo">&nbsp;
                                    OR
								</br>
								<div>
									<button class="btn btn-primary" ng-model="strt" ng-click="assetAddController.webcamClick()">Webcam</button>
									<a class="button" id="anchor" download="imageName.jpg"><button class="btn btn-primary" ng-click="assetAddController.take_snapshot()">Take Picture</button></a>
									&nbsp;
								</div>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</div> -->
			
			<div class="card">
				<div class="card-head style-primary">
					<header>Asset Image</header>
				</div>
				<div class="card-body height-4">
					<div class="col-md-12 col-xs-12 text-center">
						<div class="col-md-12">
							<div ng-show="assetAddController.webCamDiv" id="my_camera" style="width:220px; height:175px;"></div>
							<img ng-hide="assetAddController.webCamDiv" style="width: 150px;height: 168px" ngf-src="assetAddController.assetLogo ||  'resources/images/NoImage.gif'" class="thumb">
            			</div>
						<ul style="list-style: none; display: inline-flex; padding: 7px;">
            				<li>
            					<input id="my_file" ng-hide="true" accept="image/*" ng-model="assetAddController.assetImg" type="file"  ngf-select file-model="assetAddController.assetLogo">
                                <button class="btn-xs btn-primary" ng-click="assetAddController.clickonChoose()">Choose</button>
            				</li>
            				<li>
            					<!-- <a class="btn-xs btn-primary" ng-if="assetAddController.webCamBtn ==='Take'" id="anchor" ng-click="assetAddController.webcamClick()" download="imageName.jpg">{{assetAddController.webCamBtn}}</a> -->
            					<a ng-if="assetAddController.webCamBtn !=='Take'"><button class="btn-xs btn-primary" ng-click="assetAddController.webcamClick()">{{assetAddController.webCamBtn}}</button></a>
            					<a ng-if="assetAddController.webCamBtn ==='Take'" id="anchor" download="imageName.jpg" ><button class="btn-xs btn-primary" ng-click="assetAddController.webcamClick()">{{assetAddController.webCamBtn}}</button></a>
            				</li>
            				<li>
            					<button class="btn-xs btn-primary" ng-click="assetAddController.imgDelete()">Delete</button>
            				</li>
            			</ul> 
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-head style-primary">
					<header>Asset Generic Details</header>
				</div>
				<div class="card-body height-3" style="padding-top: 12px;">
					<div class="col-md-12 col-xs-5">
						<p>Group master : {{assetAddController.single_ass.resData[1].groupMasterType}} </p>
						<p>Sub Group master : {{assetAddController.single_ass.resData[1].subGroupMaster}} </p>
						<p>Total Assets : </p>
					</div>
				</div>
			</div>
			<div ng-if="!assetAddController.astBtn"  class="card">
				<div class="card-head style-primary">
					<header>Edit More Info</header>
				</div>
				<div class="card-body height-3" style="padding-top: 12px;">
					<div class="col-md-12 col-xs-5">
						<h4 class="text-primary" data-ng-click="assetAddController.splitAssetFun()"><a  ng-if="assetAddController.assetQuantity > '1'"  href="">Split Asset</a></h4>
						<h4 class="text-primary" data-ng-click="assetAddController.outOfStockFun()"><a href="">Out of Stock</a></h4>
						<h4 class="text-primary" data-ng-click="assetAddController.releaseTagFun()"><a href="">Release Tag</a></h4>
						<h4 class="text-primary" ><a ui-sref="homeDashboard.asset.maintenanceEntry">Maintenance Entry</a></h4>
						<h4 class="text-primary" data-ng-click="assetAddController.releaseTagFun()"><a href="">Maintenance Schedule</a></h4>
					</div>
				</div>
			</div>
			
			<div class="card">
                <div class="card-head style-primary">
                    <header>Attachment</header>
                </div>
                <div class="card-body height-4" style="padding: 0px;">
                    <div class="col-md-12 col-xs-5">
                    	<p>Total : {{ assetAddController.totAttachment }}</p><!-- <input class="form-control col-md-2" ng-model="assetAddController.totAttachment" type="text" readonly/> -->
                        <div class="col-md-6">
                            <label>Asset</label>
                            <button class="btn btn-default" ng-click="assetAddController.assetAttach('AssetAttach')">
                                <img style="width: 65px;" alt="" src="resources/images/AssetAttach1.png"></img>
                            </button>
                           <input class="form-control col-md-4" ng-model="assetAddController.assetAttachment" type="text" readonly/>
                            
                        </div>
                        <div class="col-md-6">
                            <label>DocRef</label>
                             <button class="btn btn-default pull-right" ng-click="assetAddController.assetAttach('DocRefAttach')">
                                <img style="width: 65px;" alt="" src="resources/images/attchment.jpg" />
                            </button>
	                       <!--  <label><span>Attachments</span></label> -->
	                        <input class="form-control col-md-4" ng-model="assetAddController.docRefAttachment" type="text" readonly/>
                        </div>
                       <!--  <h4 class="text-primary" data-ng-click="assetAddController.splitAssetFun()"><a href="">Split Asset</a></h4>
                        <h4 class="text-primary" data-ng-click="assetAddController.outOfStockFun()"><a href="">Out of Stock</a></h4>
                        <h4 class="text-primary" data-ng-click="assetAddController.releaseTagFun()"><a href="">Release Tag</a></h4> -->
                    </div>
                </div>
            </div>
           
		</div>
		<div id="mobActionBtn" class="card-actionbar">
			<div class="card-actionbar-row">
				<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="assetAddController.cancel()">Cancel</button>
				<button type="submit" ng-click="assetFrm.$valid && assetAddController.assetAddFun()" ng-show="assetAddController.astBtn" class="btn ink-reaction btn-raised btn-primary" >Add</button>
				<button type="submit" ng-click="assetFrm.$valid && assetAddController.assetAddFun()" ng-hide="assetAddController.astBtn" class="btn ink-reaction btn-raised btn-primary" >Update</button>
			</div>
		</div>
	</div>
	
  </div> 
</section>

