<!--breadcrumb  -->
<div ng-hide="isReqFrom === 'AND'" class="breadcrumb">
	<div>
		<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy" template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>

<!-- asset state  -->
<div ui-view>
	<div class="section-body" ng-controller="AssetController as assetController">
		<div class="row">
			<div class="col-md-12">
				<div class="card-head style-primary no-y-padding">
					<form class="form form-inverse" ng-submit="assetController.pageChanged()">
						<div class="form-group">
							<div class="input-group input-group-lg">
								<div class="input-group-content">
									<input type="text" class="form-control" ng-model="assetController.searchValue" placeholder="Enter your search here">
									<div class="form-control-line"></div>
								</div>
								<div class="input-group-btn">
									<button ng-click="assetController.pageChanged()" class="btn btn-floating-action btn-default-bright" type="button"><i class="fa fa-search"></i></button>
								</div>

							</div>
						</div>
						<!--end .form-group -->
					</form>
				</div>
			</div>
		</div>
		<!-- End row  -->

		<div class="card">
			<div class="card-head sub-card-head">
				<div class="col-md-12" style="padding-top: 3px; padding-bottom: 3px;">
					<div class="col-md-10">
						<!-- <div class="col-md-5">
							<label class="radio-inline radio-styled">
									<input type="radio" name="inlineRadioOptions"
									ng-model="assetController.selectAssetType" ng-click="assetController.assetIdSearch()" value="Asset Id"><span>Asset ID</span>
								</label>
							<label class="radio-inline radio-styled">
								<input type="radio" name="inlineRadioOptions" ng-click="assetController.assetNameSearch()" ng-model="assetController.selectAssetType" value="Asset Name" ><span>Asset Name</span>
								</label>
							<label class="radio-inline radio-styled">
									<input type="radio" name="inlineRadioOptions" ng-click="assetController.assetTagIdSearch()" ng-model="assetController.selectAssetType" value="Tag Id" ><span>Tag ID</span>
								</label>
							<label class="radio-inline radio-styled">
									<input type="radio" name="inlineRadioOptions" ng-click="assetController.assetProductNoSearch()" ng-model="assetController.selectAssetType" value="ProductNo" ><span>Product No</span>
								</label>
							<label class="radio-inline radio-styled">
									<input type="radio" name="inlineRadioOptions" ng-model="assetController.selectCombo" value="selectCombos" ><span></span>
								</label>
						</div> -->
						
						<div class="col-md-4">
							<label class="col-md-4">Search Type:</label>
							<div class="col-md-8">
								<select ng-init="assetController.selectAssetType = 'Asset Id'" name="searchFields" class="form-control"  ng-change="assetController.pageChanged()" ng-model="assetController.selectAssetType">
										<option value="">Select</option>
										<option value="Asset Id">Asset Id</option>
										<option value="Asset Name">Asset Name</option>
										<option value="Tag Id">Tag Id</option>
										<option value="ProductNo">ProductNo</option>
										<option value="Category Type">Category Type</option>
										<option value="BatchLotNo">BatchLotNo</option>
										<option value="Division Name">Division Name</option>
										<option value="Sector Name">Sector Name</option>
										<option value="Location Name">Location Name</option>
										<option value="Department Name">Department Name</option>
										<option value="Manufacturer Name">Manufacturer Name</option>
										<option value="Vendor Name">Vendor Name</option>
										<option value="IN DocRefNo">IN DocRefNo</option>
										<option value="OUT DocRefNo">OUT DocRefNo</option>
										<option value="UnitCost">Unit Cost</option>
										<option value="Asset Description">Asset Description</option>
										<option value="WarrantyStDt">WarrantyStDt</option>
										<option value="WarrantyEdDt">WarrantyEdDt</option>
										<option value="MaintenanceDate">MaintenanceDate</option>
										<option value="AcquisitionDate">AcquisitionDate</option>
										<option value="ExpiryDate">ExpiryDate</option>
										<option value="Created Date">Created Date</option>
										<option value="Modified Date">Modified Date</option>
									</select>
							</div>
						</div>

						<div class="col-md-4" ng-if="assetController.selectAssetType === 'Category Type'" ng-init="assetController.categoryList()">
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">Category Type</label>
								<div class="col-sm-9">
									<select class="form-control" name="categoryType" ng-model="assetController.categoryType" ng-options="cats.categorynm as cats.categorynm for cats in assetController.category_list.resData">
	              					    	<option value="">--SELECT--</option>
	              						</select>
								</div>
							</div>
						</div>

						<div class="col-md-4" ng-if="assetController.selectAssetType === 'BatchLotNo'" ng-init="assetController.getBatchDetails()">
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">BatchLot No</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="assetController.batchName" ng-options="batches.batchName as batches.batchName for batches in assetController.batchLotList.resData" name="batchLot">
											<option value="">select batch</option>
										</select>
								</div>
							</div>
						</div>
						<div class="col-md-4" ng-if="assetController.selectAssetType === 'Division Name'" ng-init="assetController.getDivisionDetails()">
							<div class="form-group">
								<label for="Lastname5" class="col-sm-3 control-label">Division</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="assetController.divisionName" ng-options="div.divisionNm as div.divisionNm for div in assetController.divisionList.resData" name="division">
											<option value="">select division</option>
										</select>
								</div>
							</div>
						</div>
						<div class="col-md-4" ng-if="assetController.selectAssetType === 'Sector Name'" ng-init="assetController.getSectorDetails()">
							<div class="form-group">
								<label for="Lastname5" class="col-sm-3 control-label">Sector</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="assetController.sectorName" name="sector" ng-options="sec_d.sectorNm as sec_d.sectorNm for sec_d in assetController.sect_data.resData">
												<option value="">select sector</option>
											</select>
								</div>
							</div>
						</div>

						<div class="col-md-4" ng-if="assetController.selectAssetType === 'Location Name'" ng-init="assetController.getLocationDetails()">
							<div class="form-group">
								<label for="Lastname5" class="col-sm-3 control-label">Location</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="assetController.locationName" ng-options="loc_d.locationNm as loc_d.locationNm for loc_d in assetController.loc_data.resData" name="location">
											<option value="">select location</option>
										</select>
								</div>
							</div>
						</div>
						<div class="col-md-4" ng-if="assetController.selectAssetType === 'Department Name'" ng-init="assetController.getDepartmentDetails()">
							<div class="form-group">
								<label for="Lastname5" class="col-sm-3 control-label">Department</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="assetController.departmentName" ng-options="dep_d.deptNm as dep_d.deptNm for dep_d in assetController.depart_data.resData" name="department">
									     <option value="">select department</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4" ng-if="assetController.selectAssetType === 'Manufacturer Name'" ng-init="assetController.getManufacturerDetails()">
							<div class="form-group">
								<label for="Lastname5" class="col-sm-3 control-label">Manufacturer</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="assetController.manufactureName" ng-options="manufactDet.manufactureNm as manufactDet.manufactureNm for manufactDet in assetController.manufactureDt.resData" name="manufacturer">
                      					<option value="">select manufacturer</option>
                 			  		 </select>
								</div>
							</div>
						</div>

						<div class="col-md-4" ng-if="assetController.selectAssetType === 'Vendor Name'" ng-init="assetController.getVendorDetails()">
							<div class="form-group">
								<label for="Lastname5" class="col-sm-3 control-label">Vendor</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="assetController.vendorName" ng-options="vendors.vendorName as vendors.vendorName for vendors in assetController.vendordetails.resData" name="vendor">
        								<option value="">select vendor</option>
        							</select>
								</div>
							</div>
						</div>

						<div class="col-md-4" ng-if="assetController.selectAssetType === 'IN DocRefNo'" ng-init="assetController.getInOutDocRef()">
							<div class="form-group">
								<label for="Lastname5" class="col-sm-3 control-label">Out DocRef No</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="assetController.docrefNo" name="docrefNo" ng-options="docref.docRefName as docref.docRefName for docref in assetController.docRef_data.resData">
											<option value="">--SELECT--</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4" ng-if="assetController.selectAssetType === 'OUT DocRefNo'" ng-init="assetController.getOutDocRef()">
							<div class="form-group">
								<label for="Lastname5" class="col-sm-3 control-label">In DocRef No</label>
								<div class="col-sm-9">
									<select class="form-control" ng-model="assetController.outDocrefNo" name="docrefNo" ng-options="docref.docRefName as docref.docRefName for docref in assetController.outDocrefData.resData">
											<option value="">--SELECT--</option>
									</select>
								</div>
							</div>
						</div>
						
						

						<div class="col-md-4" ng-if="assetController.selectAssetType === 'Created Date' ||
                        	 assetController.selectAssetType === 'Modified Date' ||
                        	 assetController.selectAssetType === 'WarrantyStDt' ||
                        	 assetController.selectAssetType === 'WarrantyEdDt' ||
                        	 assetController.selectAssetType === 'MaintenanceDate' ||
                        	 assetController.selectAssetType === 'AcquisitionDate' ||
                        	 assetController.selectAssetType === 'ExpiryDate'">
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">From</label>
								<div class="col-sm-9">
									<div class="input-group-content">
										<input type="text" class="form-control" uib-datepicker-popup ng-model="assetController.fromDate" is-open="assetController.from.opened" datepicker-options="assetController.dateOptions" close-text="Close" />
									</div>
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="assetController.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4" ng-if="assetController.selectAssetType === 'Created Date' ||
                        	 assetController.selectAssetType === 'Modified Date' ||
                        	 assetController.selectAssetType === 'WarrantyStDt' ||
                        	 assetController.selectAssetType === 'WarrantyEdDt' ||
                        	 assetController.selectAssetType === 'MaintenanceDate' ||
                        	 assetController.selectAssetType === 'AcquisitionDate' ||
                        	 assetController.selectAssetType === 'ExpiryDate'">
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">To</label>
								<div class="col-sm-9">
									<div class="input-group-content">
										<input type="text" class="form-control" uib-datepicker-popup ng-model="assetController.toDate" is-open="assetController.to.opened" datepicker-options="assetController.dateOptions" close-text="Close" />
									</div>
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="assetController.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 text-right">
						<!-- <button style="color: white;" type="button" tooltip-placement="left" uib-tooltip="Add Asset" ui-sref=".assetAdd" class="btn ink-reaction btn-floating-action btn-sm btn-primary"><i class="fa fa-plus"></i></button> -->
						<button style="color: white;" type="button" tooltip-placement="left" uib-tooltip="Add Asset" ui-sref=".assetAddUpdate" class="btn ink-reaction btn-floating-action btn-sm btn-primary"><i class="fa fa-plus"></i></button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Asset ID</th>
								<th>Asset Name</th>
								<th>Category</th>
								<th>Product No</th>
								<th ng-if="assetController.selectAssetType !== 'Tag Id'">EPC ID</th>
								<th ng-if="assetController.selectAssetType === 'Tag Id'">Tag ID</th>
								<th ng-if="assetController.selectAssetType === 'BatchLotNo'">BatchLot</th>
								<th ng-if="assetController.selectAssetType === 'Division Name'">Division Name</th>
								<th ng-if="assetController.selectAssetType === 'Sector Name'">Sector Name</th>
								<th ng-if="assetController.selectAssetType === 'Location Name'">Location Name</th>
								<th ng-if="assetController.selectAssetType === 'Department Name'">Department Name</th>
								<th ng-if="assetController.selectAssetType === 'Manufacturer Name'">Manufacturer Name</th>
								<th ng-if="assetController.selectAssetType === 'Vendor Name'">Vendor Name</th>
								<th ng-if="assetController.selectAssetType === 'IN DocRefNo'">IN DocRefNo</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat-start="assetPag in assetController.assetPag_data" ng-show="assetPag.assetId >= 4">
								<td>
									{{assetPag.assetId}}
								</td>
								<td>{{assetPag.assetNm}}</td>
								<td>{{assetPag.categoryType}}</td>
								<td>{{assetPag.serialNo}}</td>
								<td>{{assetPag.tagId }}</td>
								<td ng-if="assetController.selectAssetType === 'BatchLotNo'">{{ assetPag.batchName }}</td>
								<td ng-if="assetController.selectAssetType === 'Division Name'">{{ assetPag.divisionName }}</td>
								<td ng-if="assetController.selectAssetType === 'Sector Name'">{{ assetPag.sectorName }}</td>
								<td ng-if="assetController.selectAssetType === 'Location Name'">{{ assetPag.locationName }}</td>
								<td ng-if="assetController.selectAssetType === 'Department Name'">{{ assetPag.departmentName }}</td>
								<td ng-if="assetController.selectAssetType === 'Manufacturer Name'">{{ assetPag.manufactureName }}</td>
								<td ng-if="assetController.selectAssetType === 'Vendor Name'">{{ assetPag.vendorName }}</td>
								<td ng-if="assetController.selectAssetType === 'IN DocRefNo'">IN DocRefNo</td>
								<td class="text-right">
									<button type="button" class="btn btn-icon-toggle" ng-click="assetController.viewMap(assetPag)"><i class="fa fa-map-marker"></i></button>
									<button type="button" class="btn btn-icon-toggle" ng-if="!assetPag.expanded" ng-click="assetPag.expanded = true; assetController.assetRowData(assetPag)"><a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a></button>
									<button type="button" class="btn btn-icon-toggle" ng-if="assetPag.expanded" ng-click="assetPag.expanded = false; assetController.assetRowDataEmpt(assetPag)"><a class="btn btn-icon-toggle"><i class="fa fa-angle-up"></i></a></button>
									<button type="button" class="btn btn-icon-toggle" ng-click="assetController.editAssetFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
									<button type="button" class="btn btn-icon-toggle" ng-click="assetController.deleteAssetFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							<tr ng-if="assetPag.expanded" ng-repeat-end="">
								<td colspan="6">
									<div class="col-md-12">
										<div class="col-md-2">
											<div style="padding: 8px;">
												<!-- border: solid 1px #3794cb;  -->
												<img ng-hide="assetController.assImg" class="img-responsive auto-width angular-animation" ng-src="data:image/jpeg;base64,{{assetController.assetLogo}}" alt="">
												<img ng-show="assetController.assImg" style="width: 50%;" class="img-responsive auto-width angular-animation" ng-src="resources/images/NoImage.gif" />
											</div>
										</div>
										<div class="col-md-10">
											<div class="col-md-4 accordStyle">
												<p><span> <b>Group Master</b></span> : &nbsp;{{assetController.single_ass.resData[1].groupMaster}}</p>
											</div>
											<div class="col-md-4 accordStyle">
												<p><span> <b>Sub Group Master</b></span> : &nbsp;{{assetController.single_ass.resData[1].subGroupType}}</p>
											</div>
											<div class="col-md-4 accordStyle">
												<p><span> <b>Location</b></span> : &nbsp;{{assetController.single_ass.resData[1].locationName}}</p>
											</div>
											<div ng-hide="assetController.single_ass.resData[0][0].firstDateTime == '-2209008600000'" class="col-md-4 accordStyle">
												<p><span> <b>First Detect</b></span> : &nbsp;{{assetController.single_ass.resData[0][0].firstDateTime | datetime}}</p>
											</div>
											<div ng-show="!assetController.single_ass.resData[0][0].firstDateTime == '-2209008600000'" class="col-md-4 accordStyle">
												<p><span> <b>First Detect</b></span> : &nbsp;{{assetController.single_ass.resData[0][0].firstDateTime | datetime }}</p>
											</div>
											<div class="col-md-4 accordStyle">
												<p><span> <b>First Detect Zone</b></span> : &nbsp;{{assetController.single_ass.resData[1].firstDetectedZone}}</p>
											</div>
											<div class="col-md-4 accordStyle">
												<p><span> <b>Last Detect</b></span> : &nbsp;{{assetController.single_ass.resData[1].lastDetectedDateTime | datetime}}</p>
											</div>
											<div class="col-md-4 accordStyle">
												<p><span> <b>Rack </b></span> : &nbsp;{{assetPag.assetNm}}</p>
											</div>
											<div class="col-md-4 accordStyle">
												<p><span> <b>Column</b></span> : &nbsp;{{assetPag.assetNm}}</p>
											</div>
											<div class="col-md-4 accordStyle">
												<p><span> <b>Manufacturer</b></span> : &nbsp;{{assetController.single_ass.resData[1].manufactureName}}</p>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr ng-if="assetController.result === null"><td><h3>Records not found</h3></td></tr>
						</tfoot>
					</table>
					<div class="text-center">
						<ul uib-pagination total-items="assetController.totalItems" ng-model="assetController.currentPage" max-size="assetController.maxSize" ng-change="assetController.pageChanged()" items-per-page="assetController.itemsPerPage" class="pagination-sm" boundary-links="true"
										rotate="false"></ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--end .section-body -->
</div>
<!-- End UI-VIEW -->
