<section ng-controller="AssetEditController as assetEditController">
	<div class="row" >
		<!-- <div class="col-md-12">
			<div class="text-left" >
				<ol class="breadcrumb">
					<li><a ui-sref="homeDashboard"><i class="fa fa-dashboard"></i>Home</a></li>
					<li class="active">Asset Edit</li>
				</ol>
			</div>
		</div> -->

		<!-- ====$ Begin Asset Details $======== -->
		<div class="col-md-9">
			<form class="form-horizontal" novalidate role="form" name="assetFrm">
		<div class="card" style="margin-bottom: 0;">
			<div class="card-head style-primary">
				<header>Asset Edit</header>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="form-group required"
								ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.name.$touched || submitted ) && assetFrm.name.$invalid && assetFrm.name.$error.required }">
								<label for="name" class="col-sm-4 control-label">Asset
									Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="name"
										ng-model="assetEditController.single_ass.resData[0][0].assetNm"
										ng-required="true" />
								</div>
							</div>

							<div class="form-group"
									ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.categoryType.$touched || submitted ) && assetFrm.categoryType.$invalid && assetFrm.categoryType.$error.required }">
									<label for="name" class="col-sm-4 control-label">Category
										Type</label>
									<div class="col-sm-8">
										<select class="form-control" name="categoryType"
											ng-model="assetEditController.categoryType" ng-options="cats.categoryPrimery.categoryId as cats.categorynm for cats in assetEditController.category_list.resData" ng-required="true">
											<option value="">--SELECT--</option>
										</select>
									</div>
								</div>
							<div class="form-group">
									<label for="epicId" class="col-sm-4 control-label">EPC
										ID</label>
									<div class="col-sm-8">
										<div class="input-group-content">
											<input ng-disabled="true" type="text" class="form-control" ng-model="assetEditController.tagId" name="epcId" />
										</div>
										<div class="input-group-btn">
											<button style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="assetEditController.tagSelectFun()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
										</div>
									</div>
							</div>
							<div class="form-group ">
								<label for="Lastname5" class="col-sm-4 control-label">Product
									No</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="productNo"
										ng-model="assetEditController.single_ass.resData[0][0].serialNo" />
								</div>
							</div>
							<div class="form-group">
								<label for="Lastname5" class="col-sm-4 control-label">Rack
									Name</label>
								<div class="col-sm-8">
									<select class="form-control" name="rackName"
										ng-model="assetEditController.rackName">
										<option value="">select rack name</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="Lastname5" class="col-sm-4 control-label">Asset
									Quantity</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="assetQty"
										ng-model="assetEditController.single_ass.resData[0][0].assetQty" />
								</div>
							</div>
							<div class="form-group">
								<label for="Lastname5" class="col-sm-4 control-label">Column/Shelf</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="columnShelf"
										ng-model="assetEditController.columnShelf" />
								</div>
							</div>


							<div class="form-group"
								ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.manufacturer.$touched || submitted ) && assetFrm.manufacturer.$invalid && assetFrm.manufacturer.$error.required }">
								<label for="Lastname5" class="col-sm-4 control-label">Manufacturer</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-model="assetEditController.manufacturer"
										ng-options="manufactDet.manufactureId as manufactDet.manufactureNm for manufactDet in assetEditController.manufactureDt.resData"
										name="manufacturer" ng-required="true">
										<option value="">select manufacturer</option>
									</select>
								</div>
							</div>

							<div class="form-group"
								ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.vendor.$touched || submitted ) && assetFrm.vendor.$invalid && assetFrm.vendor.$error.required }">
								<label for="Lastname5" class="col-sm-4 control-label">Vendor</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-model="assetEditController.vendor"
										ng-options="vendors.vendorId as vendors.vendorName for vendors in assetEditController.vendordetails.resData"
										name="vendor" ng-required="true">
										<option value="">Select vendor</option>
									</select>
								</div>
							</div>




						</div>
						<!--End left side div -->

						<!-- Start right side div -->
						<div class="col-md-6">
							<div class="form-group"
								ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.batchLot.$touched || submitted ) && assetFrm.batchLot.$invalid && assetFrm.batchLot.$error.required }">
								<label for="name" class="col-sm-4 control-label">Batch
									Lot No</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-model="assetEditController.batchLot"
										ng-options="batches.batchId as batches.batchName for batches in assetEditController.batchLotList.resData"
										name="batchLot" ng-required="true">
										<option value="">select Batch</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="Lastname5" class="col-sm-4 control-label">Group
									Master Type</label>
								<div class="col-sm-8">
									<select class="form-control" name="groupMasterType"
										ng-model="assetEditController.groupMasterType">
										<option value="">Group Master Type</option>
										<option value="0">DEFAULT</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="Lastname5" class="col-sm-4 control-label">Sub
									Group Type</label>
								<div class="col-sm-8">
									<select class="form-control" name="subGroupType"
										ng-model="assetEditController.subGroupType">
										<option value="">Sub Group Type</option>
										<option value="0">DEFAULT</option>
									</select>
								</div>
							</div>

							<div class="form-group"
								ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.company.$touched || submitted ) && assetFrm.company.$invalid && assetFrm.company.$error.required }">
								<label for="Lastname5" class="col-sm-4 control-label">Company</label>
								<div class="col-sm-8">
									<input ng-disabled="true" type="text" class="form-control"
										ng-model="assetEditController.comp_name" name="company"
										ng-required="true" />
								</div>
							</div>

							<div class="form-group"
								ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.division.$touched || submitted ) && assetFrm.division.$invalid && assetFrm.division.$error.required }">
								<label for="Lastname5" class="col-sm-4 control-label">Division</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-change="assetEditController.divChange(assetEditController.division)"
										ng-model="assetEditController.division"
										ng-options="div.divisionId as div.divisionNm for div in assetEditController.divisionList.resData"
										name="division" ng-required="true">
										<option value="">select division</option>
									</select>
								</div>
							</div>

							<div class="form-group"
								ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.sector.$touched || submitted ) && assetFrm.sector.$invalid && assetFrm.sector.$error.required }">
								<label for="Lastname5" class="col-sm-4 control-label">Sector</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-change="assetEditController.secChange()"
										ng-model="assetEditController.sector" name="sector"
										ng-options="sec_d.sectorId as sec_d.sectorNm for sec_d in assetEditController.sect_data.resData"
										ng-required="true">
										<option value="">select sector</option>
									</select>
								</div>
							</div>

							<div class="form-group"
								ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.location.$touched || submitted ) && assetFrm.location.$invalid && assetFrm.location.$error.required }">
								<label for="Lastname5" class="col-sm-4 control-label">Location</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-model="assetEditController.location"
										ng-change="assetEditController.locChange()"
										ng-options="loc_d.locationId as loc_d.locationNm for loc_d in assetEditController.loc_data.resData"
										name="location" ng-required="true">
										<option value="">select location</option>
									</select>
								</div>
							</div>

							<div class="form-group"
								ng-class="{'has-error' : (assetFrm.$submitted || assetFrm.department.$touched || submitted ) && assetFrm.department.$invalid && assetFrm.department.$error.required }">
								<label for="Lastname5" class="col-sm-4 control-label">Department</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-model="assetEditController.department"
										ng-options="dep_d.departmentId as dep_d.deptNm for dep_d in assetEditController.depart_data.resData"
										name="department" ng-required="true">
										<option value="">select department</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="Lastname5" class="col-sm-4 control-label">Doc
									Ref No</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-model="assetEditController.docrefNo" name="docrefNo">
										<option value="">DocREfNO</option>
										<option value="0">default</option>
									</select>
								</div>
							</div>

						</div>
					</div>

					<div class="col-md-12">
							<div style="border-bottom: solid 1px rgba(0, 0, 0, 0.15);"></div>
							<h4 class="text-primary">Add More Info</h4>

							<div class="col-md-6">
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Unit Cost</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" ng-pattern="/^\d+$/"
												ng-model="assetEditController.single_ass.resData[0][0].cost" name="unitCost"/>
										</div>
									</div>

									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">WarrantyStDt</label>
										<div class="col-sm-8">
											<input type="date" class="form-control"
												ng-model="assetEditController.warrantStDt" name="warrantyStDt"/>
										</div>
									</div>
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">WarrantyEtDt</label>
										<div class="col-sm-8">
											<input type="date" class="form-control"
												ng-model="assetEditController.warrantEdDt" name="warrantyEtDt"/>
										</div>
									</div>
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Acquisition Date</label>
										<div class="col-sm-8">
											<input type="date" class="form-control"
												ng-model="assetEditController.aqsDate" name="acquisitionDate"/>
										</div>
									</div>


							</div>
							<div class="col-md-6">
								<div class="form-group">
										<label for="textarea13" class="col-sm-4 control-label">Description</label>
										<div class="col-sm-8">
											<textarea name="textarea13" ng-model="assetEditController.single_ass.resData[0][0].assetDesc"  class="form-control" rows="1" placeholder=""></textarea><div class="form-control-line"></div>
										</div>
								</div>
								<div class="form-group">
									<label for="Lastname5" class="col-sm-4 control-label">Tax</label>
									<div class="col-sm-8">
										<select class="form-control"
											ng-model="assetEditController.tax" name="tax">
											<option value="">--SELECT--</option>
											<option value="0">Service</option>
											<option value="1">Bharat swach abiyan</option>
										</select>
									</div>
								</div>

								<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Expiry Date</label>
										<div class="col-sm-8">
											<input type="date" class="form-control"
												ng-model="assetEditController.expiryDt" name="expiryDate"/>
										</div>
									</div>
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Maintenance Date</label>
										<div class="col-sm-8">
											<input type="date" class="form-control"
												ng-model="assetEditController.maintenanceDt" name="maintenanceDate"/>
										</div>
									</div>
							</div>
					</div>

					<div class="col-md-12">
									<div class="col-md-12">
											<h4 class="text-primary">Status Details</h4>
									</div>
									<div class="col-md-12">
										<div class="col-md-4">
											<div><p><b>First Detect D&T</b> : <span style="color :#cf504a;">{{assetEditController.single_ass.resData[0][0].firstDateTime | date : 'dd-MM-yyyy HH:mm:ss' }}</span></p></div>
										</div>
										<div class="col-md-4">
											<div><p><b>First Detect Zone</b> : {{assetEditController.single_ass.resData[1].firstDetectedZone | date : 'dd-MM-yyyy HH:mm:ss' }}</span></p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Asset Aging</b> : {{assetEditController.single_ass.resData[1].assetAging}}</span></p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Curr Detect D&T</b> : {{assetEditController.single_ass.resData[1].currentDetectedDateTime | date}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Curr Detect Zone </b> : {{assetEditController.single_ass.resData[1].currentDetectedZone}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Curr Zone Aging</b> : {{assetEditController.single_ass.resData[1].currentZoneAging}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Last Detect D&T</b> : {{assetEditController.single_ass.resData[1].lastDetectedDateTime}}</p></div>
										</div>
										<div class="col-md-4">
												<div><p><b>Asset status</b>: {{assetEditController.single_ass.resData[1].status}}</p></div>
										</div>
									</div>

								</div>

				</div>
			</div>
			<!--end .card-body -->
			<div class="card-actionbar">
				<div class="card-actionbar-row">
					<button type="submit" ng-click="assetEditController.cancel()"
						class="btn btn-flat btn-primary ink-reaction">Cancel</button>
					<button type="submit"
						ng-click="assetFrm.$valid && assetEditController.assetEditSaveFun()"
						class="btn btn-flat btn-primary ink-reaction">Update</button>
				</div>
			</div>
		</div>
		<!--end .card -->
	</form>
		</div>

		<!-- BEGIN SERVER STATUS -->
		 <div class="col-md-3">
			<div class="card">
				<div class="card-head style-primary">
						<header>Asset Logo</header>
				</div>
				<div class="card-body height-4">
					<div class="col-md-12 col-xs-5 text-center">
						<img ng-if="assetLogo1" style="width : 200px;height:200px; border:1px solid" ngf-src="assetEditController.assetLogo" class="thumb">
						<img ng-hide="assetLogo1" style="width : 200px;height:200px;border:1px solid" ng-src="data:image/jpeg;base64,{{assetEditController.assetLogo}}" class="thumb">

						<div class="form-group">
							<div>
							    <div ng-show="assetEditController.showDiv" id="my_camera" style="width:200px; height:200px;"></div>
								<input accept="image/*" type="file" ngf-select ng-model="assetLogo1" file-model=assetEditController.assetLogo>
									   OR
                                </br>
                                <button ng-model="strt" ng-click="assetEditController.webcamClick()">Start Webcam</button>
                                <!-- <button ng-click="assetEditController.reset()">Reset Webcam</button> -->
                                <a class="button" id="anchor" download="imageName.jpg"><button ng-if="!strt" ng-click="assetEditController.take_snapshot()">Take Picture</button></a>
							</div>
						</div>
						<hr>
					</div>
				</div>

			</div>
			<div class="card">
				<div class="card-head style-primary">
					<header>Asset Generic Details</header>
				</div>
				<div class="card-body height-4">
					<div class="col-md-12 col-xs-5">
						<p>Group master : {{assetEditController.single_ass.resData[1].groupMaster}} </p>
						<p>Sub Group master : {{ assetEditController.single_ass.resData[1].subGroupMaster }} </p>
						<p>Total Assets : {{ assetEditController.single_ass.resData[1].groupMaster }} </p>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-head style-primary">
					<header>Edit More Info</header>
				</div>
				<div class="card-body height-4">
					<div class="col-md-12 col-xs-5">
						<h4 class="text-primary"><a ng-click="assetEditController.splitAssetFun()">Split Asset</a></h4>
						<h4 class="text-primary" data-ng-click="assetEditController.outOfStockFun()"><a href="">Out of Stock</a></h4>
					</div>
				</div>
			</div>
		</div>
		<!-- ====$ End Asset Details $======== -->
	</div>
</section>
