<div class="">
    <form class="form-horizontal" novalidate role="form" name="AssetAttchmentForm">
        <div class="card" style="margin-bottom: 0;">
            <div class="card-head style-primary">
                <header>{{assetAttachmentController.tableHeader}}</header>
                <button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
            </div>
            <div class="card-body" style="overflow: auto;">
                <div class="row">
                    <!--  //<div class="col-sm-6"> -->
                    <div class="col-md-12">
                        <label class="col-md-2">Select file : </label>
                        <input class="col-md-4" accept="*/*" ng-model="assetAttachmentController.attchedDoc" type="file" ngf-select file-model=assetAttachmentController.attachedfile>&nbsp;
                        <button class="btn btn-primary col-md-2" data-ng-disabled="!assetAttachmentController.attachedfile" data-ng-click="assetAttachmentController.AssetAttach()">Upload</button>
                    </div>
                    </hr>
                    <div class="col-md-12 table-reponsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Download</th>
                                    <th ng-if="assetAttachmentController.pageDataNew !='DocRefAttach' && assetAttachmentController.pageDataNew !== 'userAttach'">Asset Id</th>
                                    <th ng-if="assetAttachmentController.pageDataNew === 'userAttach'">User Id</th>
                                    <th ng-if="assetAttachmentController.pageDataNew ==='DocRefAttach'">In DocRefNo </th>
                                    <th ng-if="assetAttachmentController.pageDataNew ==='DocRefAttach'">In DocRefName </th>
                                    <th>Original file name</th>
                                    <th>Attached file name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'attachedColor': atList.assetId}" ng-repeat="atList in assetAttachmentController.attachList">
                                    <td>
                                        {{$index +1}}
                                    </td>
                                    <td><button ng-disabled="!atList.assetId"  data-ng-click="assetAttachmentController.downloadFile(atList)">Download</button></td>
                                    <td ng-if="assetAttachmentController.pageDataNew !='DocRefAttach' && assetAttachmentController.pageDataNew !== 'userAttach'">{{atList.assetId}}</td>
                                    <td ng-if="assetAttachmentController.pageDataNew === 'userAttach'">{{atList.userId}}</td>
                                    <td ng-if="assetAttachmentController.pageDataNew ==='DocRefAttach'">{{atList.inDocRefNo}} </td>
                                    <td ng-if="assetAttachmentController.pageDataNew ==='DocRefAttach'">{{atList.assetId}}</td>
                                    <td>{{atList.originName}}</td>
                                    <td>{{atList.attaFullName}}</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-icon-toggle" ng-click="assetAttachmentController.deleteAttachFun(atList)"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <button type="button" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
                    <button type="submit" ng-click="assetAttachmentController.saveBtn()" class="btn btn-flat btn-primary ink-reaction">Attach</button>
                </div>
            </div>
        </div>
        <!--end .card -->
    </form>
</div>
<!--end .card-body -->
