<div>
<section class="style-default-bright">
                    <div class="section-body table-responsive">
                        <div class="row">
                            <div class=col-md-12>
                                        <h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">Dock door Details</h2>
                                        <button class="btn btn-default btn_close" ng-click="dockdoorpopupController.cancel()"><i class="fa fa-times"></i></button>
                                        <!-- <a ui-sref="homeDashboard.masterMenu.sector"><button style="font-size:20px"; type="button" class="addButton btn btn-icon-toggle pull-right " data-toggle="tooltip" data-placement="top" data-original-title="Add Sector"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></a>
                                        <button style="font-size:20px"; type="button" class="addButton btn btn-icon-toggle pull-right " ng-click="divisionController.adddivisionFun()" data-toggle="tooltip" data-placement="top" data-original-title="Add Division"><i class="fa fa-plus-circle" aria-hidden="true"></i></button> -->
                            </div>
                        </div>
                        
                                
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>SL.No</th>
                                    <!-- <th>Div Id</th> -->
                                    <th>Name</th>
                                    <!-- <th>Company</th> -->
                                    <th>My DockDoor</th>
                                    <!-- <th>Contact Number</th>
                                    <th>Email</th>
                                    <th>Remark</th>
                                    <th class="table-wrap">Address</th>
                                    <th class="text-right">Actions</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="div in dockdoorpopupController.dockDoorData.resData">
                                    <td>
                                        <a>{{ div.dockDoorId }}</a>
                                    </td>
                                    <!-- <th>{{div.divisionId}}</th> -->
                                    <td>{{div.dockDoorName}}</td>
                                    <!-- <td>{{div.company.companyName}}</td> data-ng-click="dockdoorpopupController.dockDoor()"-->
                                    <td>
                                        <label class="radio-inline radio-styled">
                                             <input type="radio" name="inlineRadioOptions" ng-model="dockdoorpopupController.div.dockDoorId" value="{{div.dockDoorId}}"/><span></span>
                                        </label>
                                        <!-- <input type="radio"  data-ng-click="dockdoorpopupController.dockDoor()" ng-model="dockdoorpopupController.selectDockDoor" name="gender" value="{{div.dockDoorId}}"> -->
                                    </td>
                                </tr>                       
                            </tbody>
                        </table>
                        <div class="card-actionbar-row">
                            <button type="submit" ng-click="dockdoorpopupController.setDockDoor()" class="btn ink-reaction btn-raised btn-primary">Ok</button>
                        </div>
                        
                    </div><!--end .section-body -->
                </section>
 

</div>