<div class="">
    <form class="form-horizontal" ng-submit="grpMasterFrm.$valid && groupMasterController.groupMasterSelect()" novalidate role="form" name="grpMasterFrm">
        <div class="card" style="margin-bottom: 0;">
            <div class="card-head style-primary">
                <header>{{ groupMasterController.tableHeader }}</header>
                <button class="btn btn-default btn_close" ng-click="groupMasterController.cancel()"><i class="fa fa-times"></i></button>
            </div>
            <div class="card-body" style="overflow:auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search by</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="searchBy" ng-model="groupMasterController.searchBy">
                      					<option value="">--SELECT--</option>
                      					<option value="Asset Id">Asset ID </option>
                      					<option value="Asset Name">Asset Name</option>
                      					<option value="EPC ID">EPC ID </option>
                      					<option value="Tag Id">Tag Id</option>
                      					<option value="ProductNo">Product No</option>
                      					<option value="Category Type">Category Type</option>
                      					<option value="BatchLotNo">BatchLot No</option>
                      					<option value="Division Name">Division Name</option>
                      					<option value="Sector Name">Sector Name</option>
                      					<option value="Location Name">location Name</option>
                      					<option value="Department Name">Department Name</option>
                      					<option value="Manufacturer Name">Manufacture Name</option>
                      					<option value="Vendor Name">Vendor Name</option>
                      					<option value="Unit Cost">Unit Cost</option>
                      					<option value="Asset Description">Asset Description</option>
                      					<option value="Warranty Start Date">Warranty Start Date</option>
                      					<option value="Warranty End Date">Warranty End Date</option>
                      					<option value="Maintenance Date">Maintenance Date</option>
                      					<option value="Acquisition Date">Acquisition Date</option>
                      					<option value="Expiry Date">Expiry Date</option>
                      					<option value="Created Date">Create Date</option>
                      					<option value="Modified Date">Modified Date</option>
                      				</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search Value</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="groupMasterController.searchValue" placeholder="Enter your search here" />
                                    <a class="textclear" style="right:0;" ng-click="groupMasterController.searchValue = ''" ng-if="groupMasterController.searchValue"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    <div class="form-control-line"></div>
                                </div>
                            </div>
                        </div>

                        <!-- search by type -->
                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'Category Type'" ng-init="groupMasterController.categoryList()">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Category Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="categoryType" ng-model="groupMasterController.categoryType" ng-options="cats.categorynm as cats.categorynm for cats in groupMasterController.category_li.resData">
              						    <option value="">--SELECT--</option>
              						</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'BatchLotNo'" ng-init="groupMasterController.getBatchDetails()">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">BatchLot No</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="groupMasterController.searchField" ng-options="batches.batchName as batches.batchName for batches in groupMasterController.batchLotList.resData" name="batchLot">
										<option value="">select Batch</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'Division Name'" ng-init="groupMasterController.getDivisionDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Division</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="groupMasterController.searchField" ng-options="div.divisionNm as div.divisionNm for div in groupMasterController.divisionList.resData" name="division">
										<option value="">select division</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'Sector Name'" ng-init="groupMasterController.getSectorDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Sector</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="groupMasterController.searchField" name="sector" ng-options="sec_d.sectorNm as sec_d.sectorNm for sec_d in groupMasterController.sect_data.resData">
											<option value="">select sector</option>
										</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'Location Name'" ng-init="groupMasterController.getLocationDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="groupMasterController.searchField" ng-options="loc_d.locationNm as loc_d.locationNm for loc_d in groupMasterController.loc_data.resData" name="location">
											<option value="">select location</option>
										</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'Department Name'" ng-init="groupMasterController.getDepartmentDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="groupMasterController.searchField" ng-options="dep_d.deptNm as dep_d.deptNm for dep_d in groupMasterController.depart_data.resData" name="department">
										<option value="">select department</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'Manufacturer Name'" ng-init="groupMasterController.getManufacturerDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Manufacturer</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="groupMasterController.searchField" ng-options="manufactDet.manufactureNm as manufactDet.manufactureNm for manufactDet in groupMasterController.manufactureDt.resData" name="manufacturer">
                      					<option value="">select manufacturer</option>
                 			  		 </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'Vendor Name'" ng-init="groupMasterController.getVendorDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Vendor</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="groupMasterController.searchField" ng-options="vendors.vendorName as vendors.vendorName for vendors in groupMasterController.vendordetails.resData" name="vendor">
        								<option value="">Select vendor</option>
        							</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'Warranty Start Date' ||
                      groupMasterController.searchBy === 'Warranty End Date' ||
                      groupMasterController.searchBy === 'Maintenance Date' ||
                      groupMasterController.searchBy === 'Acquisition Date' ||
                      groupMasterController.searchBy === 'Expiry Date' ||
                      groupMasterController.searchBy === 'Created Date' ||
                      groupMasterController.searchBy === 'Modified Date' ">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">From</label>
                                <div class="col-sm-9">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="groupMasterController.fromDate" is-open="groupMasterController.from.opened" datepicker-options="groupMasterController.dateOptions" close-text="Close" />
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="groupMasterController.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="groupMasterController.searchBy === 'Warranty Start Date' ||
                      groupMasterController.searchBy === 'Warranty End Date' ||
                      groupMasterController.searchBy === 'Maintenance Date' ||
                      groupMasterController.searchBy === 'Acquisition Date' ||
                      groupMasterController.searchBy === 'Expiry Date' ||
                      groupMasterController.searchBy === 'Created Date' ||
                      groupMasterController.searchBy === 'Modified Date' ">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">To</label>
                                <div class="col-sm-9">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" uib-datepicker-popup ng-model="groupMasterController.toDate" is-open="groupMasterController.to.opened" datepicker-options="groupMasterController.dateOptions" close-text="Close" />
                                    </div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="groupMasterController.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                    <span class="error" ng-if="groupMasterController.fromDate > groupMasterController.toDate"> From date should be less than to date </span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Filter By</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="filterBy" ng-model="groupMasterController.filterBy">
                      								<option value="">--SELECT--</option>
                      								<option value="Asset Id">Asset ID </option>
                      								<option value="Asset Name">Asset Name</option>
                      								<option value="EPC ID">EPC ID </option>
                      								<option value="Tag Id">Tag Id</option>
                      								<option value="ProductNo">Product No</option>
                      								<option value="Category Type">Category Type</option>
                      								<option value="BatchLotNo">BatchLot No</option>
                      								<option value="Division Name">Division Name</option>
                      								<option value="Sector Name">Sector Name</option>
                      								<option value="Location Name">location Name</option>
                      								<option value="Department Name">Department Name</option>
                      								<option value="Manufacturer Name">Manufacture Name</option>
                      								<option value="Vendor Name">Vendor Name</option>
                      								<option value="Unit Cost">Unit Cost</option>
                      								<option value="Asset Description">Asset Description</option>
                      								<option value="Warranty Start Date">Warranty Start Date</option>
                      								<option value="Warranty End Date">Warranty End Date</option>
                      								<option value="Maintenance Date">Maintenance Date</option>
                      								<option value="Acquisition Date">Acquisition Date</option>
                      								<option value="Expiry Date">Expiry Date</option>
                      								<option value="Created Date">Create Date</option>
                      								<option value="Modified Date">Modified Date</option>
                      						</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search Value</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="groupMasterController.searchValueTwo" placeholder="Enter your search here" />
                                    <a class="textclear" style="right:0;" ng-click="groupMasterController.searchValueTwo = ''" ng-if="groupMasterController.searchValueTwo"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    <div class="form-control-line"></div>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-floating-action btn-default-bright" ng-click="groupMasterController.groupMasterSearchData()" type="button"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>



                    </div>

                    <!--$ TABLE $-->
                    <div class="col-md-12 table-reponsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Asset Select</th>
                                    <th>Asset Id</th>
                                    <th>Asset Name</th>
                                    <th>EPC ID</th>
                                    <!-- <th ng-if="groupMasterController.searchBy === 'Tag Id'">Tag Id</th> -->
                                    <th>CategoryType</th>
                                    <th ng-if="groupMasterController.searchBy === 'Division Name'">Division</th>
                                    <th ng-if="groupMasterController.searchBy === 'BatchLotNo'">BatchLotNo</th>
                                    <th ng-if="groupMasterController.searchBy === 'Sector Name'">Sector</th>
                                    <th ng-if="groupMasterController.searchBy === 'Location Name'">Location</th>
                                    <th ng-if="groupMasterController.searchBy === 'Department Name'">Department</th>
                                    <th ng-if="groupMasterController.searchBy === 'Manufacturer Name'">manufacturer</th>
                                    <th ng-if="groupMasterController.searchBy === 'Vendor Name'">Vendor</th>
                                    <th ng-if="groupMasterController.searchBy === 'Unit Cost'">Unit Cost</th>
                                    <th>ProductNo</th>
                                    <th>InDocRefNo</th>
                                    <!-- <th>OutDocRefNo</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="groups in groupMasterController.groupMaster_data.resData">
                                    <td>
                                        <label class="radio-inline radio-styled">
											 <input type="radio" name="inlineRadioOptions" ng-model="groupMasterController.grpMstSelect" value="{{groups}}" /><span></span>
										</label>
                                    </td>
                                    <td>{{groups.assetId}}</td>
                                    <td>{{groups.assetNm}}</td>
                                    <td>{{groups.tagId}}</td>
                                    <!--  <td ng-if="groupMasterController.searchBy === 'Tag Id'">{{}}</td> -->
                                    <td>{{groups.categoryType}}</td>
                                    <td ng-if="groupMasterController.searchBy === 'Division Name'">{{groups.divisionName}}</td>
                                    <td ng-if="groupMasterController.searchBy === 'BatchLotNo'">{{groups.batchName}}</td>
                                    <td ng-if="groupMasterController.searchBy === 'Sector Name'">{{groups.sectorName}}</td>
                                    <td ng-if="groupMasterController.searchBy === 'Location Name'">{{groups.locationName}}</td>
                                    <td ng-if="groupMasterController.searchBy === 'Department Name'">{{groups.departmentName}}</td>
                                    <td ng-if="groupMasterController.searchBy === 'Manufacturer Name'">{{groups.manufactureName}}</td>
                                    <td ng-if="groupMasterController.searchBy === 'Vendor Name'">{{groups.vendorName}}</td>
                                    <td ng-if="groupMasterController.searchBy === 'Unit Cost'">{{groups.cost}}</td>
                                    <td>{{groups.serialNo}}</td>
                                    <td>{{groups.inDocRef}}</td>
                                    <!-- <td>{{groups.outDocRef}}</td> -->
                                </tr>
                            </tbody>
                            <tfoot ng-if="groupMasterController.groupMaster_data.resData == null">
                                <td>Record not found.......</td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <button type="button" ng-click="groupMasterController.cancel()" class="btn ink-reaction btn-raised btn-primary">Cancel</button>
                    <button type="submit" class="btn ink-reaction btn-raised btn-primary">Ok</button>
                </div>
            </div>
        </div>
        <!--end .card -->
    </form>
</div>
<!--end .card-body -->
