<div class="section-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">

				<div class="card-head style-primary text-center">
					<div>
						<header class="text-center">{{maintTableName}}</header>
					</div>
					<!-- <div class="tools">
						<a ng-class="{'btn btn-floating-action-red btn-floating-action btn-sm': issueController.printColor === 0 ,'btn btn-floating-action-green btn-floating-action btn-sm': issueController.printColor ===1 }" ng-click="issueController.printPDF()" class="btn btn-floating-action-red btn-floating-action btn-sm" style=""><i class="md md-print"></i></a>
					</div> -->
				</div>

				<div class="card-body">
					<div class="row">

						<div class="col-sm-4 col-md-3 col-lg-2" style="box-shadow: 7px 12px 17px -9px #d6d0d0;">
							<ul class="nav nav-pills nav-stacked">
								<li><small>CATEGORIES</small></li>
								<li ng-class="{active: $state.includes('homeDashboard.asset.maintenanceEntry')}" ><a  ui-sref="homeDashboard.asset.maintenanceEntry">Maintenance Entry </a></li>
								<li ng-class="{active: $state.includes('homeDashboard.asset.maintenanceImage')}"><a ui-sref=".maintenanceImage">Maintenance Image</a></li>
								<li><a ui-sref=".checkList">Check List </a></li>
								<li><a ui-sref=".mHistory">History </a></li>
								<!-- <li class="hidden-xs"><small>LAST VIEWED</small></li> -->
							</ul>
						</div>
	 
						<div class="col-sm-8 col-md-9 col-lg-10" ui-view>
							<div class="col-md-6">
								<div class="txtAlign" style="border : none;">
									<span style="color: #053661; font-weight: bold;font-style: italic;" class="txtAlignRight">Asset Id </span><span class="txtAlignLft"> : &nbsp; 4 </span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="txtAlign" style="border : none;">
									<span style="color: #053661; font-weight: bold;font-style: italic;" class="txtAlignRight">Client </span><span class="txtAlignLft"> : &nbsp;DEFAULT</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="txtAlign" style="border : none;">
									<span style="color: #053661; font-weight: bold;font-style: italic;" class="txtAlignRight">Asset Name </span><span class="txtAlignLft"> : &nbsp;BATTERY</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="txtAlign" style="border : none;">
									<span style="color: #053661; font-weight: bold;font-style: italic;" class="txtAlignRight">Category </span><span class="txtAlignLft"> : &nbsp;ASSET</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="txtAlign" style="border : none;">
									<span style="color: #053661; font-weight: bold;font-style: italic;" class="txtAlignRight">Warranty Start Date </span><span class="txtAlignLft"> : &nbsp;01-JAN-1990 : 00:00:00</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="txtAlign" style="border : none;">
									<span style="color: #053661; font-weight: bold;font-style: italic;" class="txtAlignRight">Warranty End Date </span><span class="txtAlignLft"> : &nbsp;01-JAN-1990 : 00:00:00</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="txtAlign" style="border : none;">
									<span style="color: #053661; font-weight: bold;font-style: italic;" class="txtAlignRight">Last Maintenance Done </span><span class="txtAlignLft"> : &nbsp;01-JAN-1990 : 00:00:00</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="txtAlign" style="border : none;">
									<span style="color: #053661; font-weight: bold;font-style: italic;" class="txtAlignRight">Next Maintenance Date </span>
										<div class="col-sm-3">
											<input type="text" class="form-control" ng-disabled="true" ng-model="maintenanceEntryCtrl.nxtDt" uib-datepicker-popup is-open="maintenanceEntryCtrl.nextMaintDt.opened" datepicker-options="maintenanceEntryCtrl.dateOptions" />
										</div>
										<div class="col-sm-4">
											<div class="input-group-content">
												<select class="form-control"  ng-model="maintenanceEntryCtrl.nextMaintDate" name="nextMaintDate">
													<option value="">SELECT</option>
													<option value="standard">Standard</option>
													<option value="daily">Daily</option>
													<option value="weekly">Weekly</option>
													<option value="fortnight">Fortnight</option>
													<option value="monthly">Monthly</option>
													<option value="quarterly">Quarterly</option>
													<option value="halfyearly">Half Yearly</option>
													<option value="yearly">Yearly</option>
												</select>
											</div>
											<div class="input-group-btn">
												<button type="button" class="btn btn-default" ng-click="maintenanceEntryCtrl.nextMaintDtOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
											</div>
										</div>
									</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Physical Condition</label>
									<div class="col-sm-9">
										<select class="form-control"  ng-model="maintenanceEntryCtrl.nextMaintDate" name="nextMaintDate">
												<option value="">SELECT</option>
												<option value="standard">Standard</option>
												<option value="daily">Daily</option>
												<option value="weekly">Weekly</option>
												<option value="fortnight">Fortnight</option>
												<option value="monthly">Monthly</option>
												<option value="quarterly">Quarterly</option>
												<option value="halfyearly">Half Yearly</option>
												<option value="yearly">Yearly</option>
											</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Working Condition</label>
									<div class="col-sm-9">
										<select class="form-control"  ng-model="maintenanceEntryCtrl.nextMaintDate" name="nextMaintDate">
												<option value="">SELECT</option>
												<option value="standard">Standard</option>
												<option value="daily">Daily</option>
												<option value="weekly">Weekly</option>
												<option value="fortnight">Fortnight</option>
												<option value="monthly">Monthly</option>
												<option value="quarterly">Quarterly</option>
												<option value="halfyearly">Half Yearly</option>
												<option value="yearly">Yearly</option>
											</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Maintenance Remark</label>
									<div class="col-sm-9">
										<select class="form-control"  ng-model="maintenanceEntryCtrl.nextMaintDate" name="nextMaintDate">
												<option value="">SELECT</option>
												<option value="standard">Standard</option>
												<option value="daily">Daily</option>
												<option value="weekly">Weekly</option>
												<option value="fortnight">Fortnight</option>
												<option value="monthly">Monthly</option>
												<option value="quarterly">Quarterly</option>
												<option value="halfyearly">Half Yearly</option>
												<option value="yearly">Yearly</option>
											</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Maintenance Comments</label>
									<div class="col-sm-9">
										<textarea class="form-control" style="resize: none;" rows="2" cols="5"></textarea>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Problem Remark</label>
									<div class="col-sm-9">
										<select class="form-control"  ng-model="maintenanceEntryCtrl.nextMaintDate" name="nextMaintDate">
												<option value="">SELECT</option>
												<option value="standard">Standard</option>
												<option value="daily">Daily</option>
												<option value="weekly">Weekly</option>
												<option value="fortnight">Fortnight</option>
												<option value="monthly">Monthly</option>
												<option value="quarterly">Quarterly</option>
												<option value="halfyearly">Half Yearly</option>
												<option value="yearly">Yearly</option>
											</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Problem Comments</label>
									<div class="col-sm-9">
										<textarea class="form-control" style="resize: none;" rows="2" cols="5"></textarea>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Status</label>
									<div class="col-sm-9">
										<input type="text" name="status" ng-model="status"  class="form-control"/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Status comment</label>
									<div class="col-sm-9">
										<input type="text" name="status" ng-model="status"  class="form-control"/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Authority Name</label>
									<div class="col-sm-9">
										<input type="text" name="status" ng-model="status"  class="form-control"/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Contact Number</label>
									<div class="col-sm-9">
										<input type="text" name="status" ng-model="status"  class="form-control"/>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<label class="radio-inline radio-styled">
									<input type="radio" name="inlineRadioOptions" ng-model="transactionSettingCtrl.paidType" value="cash" ><span>Completed</span>
								</label>
								<label class="radio-inline radio-styled">
									<input type="radio" name="inlineRadioOptions" ng-model="transactionSettingCtrl.paidType" value="cash" ><span>Need Repair/Visit</span>
								</label>
							</div>
							
							<div class="col-md-4">
								<div class="form-group">
									<p>Current Date : 18-May-1990 : 00:00:00</p>
								</div>
							</div>
							
							<div class="col-md-4">
								<div class="form-group">
									<p>By : ADMIN</p>
								</div>
							</div>
							
						
							<div class="col-md-12 table-reponsive">
								<table class="table table-hover" style="height: 166px;">
									<thead>
										<tr>
											<th>Sl.No</th>
											<th>Part Requirement</th>
											<th>Approx.Cost</th>
											<th class="text-right">Actions</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>1</td>
											<td>Good</td>
											<td>6500</td>
											<td class="text-right">
												<button type="button" class="btn btn-icon-toggle" ng-click="assetController.deleteAssetFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
											</td> 
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td>Total Parts : 15</td>
											<td col-span=2></td>
											<td></td>
											<td class="text-right">Total Cost : 45</td>
										</tr>
									</tfoot>
								</table>
							</div>
							
							
							
							<div class="col-md-12">
							<div class="card-actionbar">
								<div class="card-actionbar-row">
									<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="userAddUpdateCtrl.cancel()">Cancel</button>
									<button type="submit" ng-hide="userAddUpdateCtrl.usrBtn" class="btn ink-reaction btn-raised btn-primary" ng-click="userFrm.$valid && userAddUpdateCtrl.userSubmitBtn()">Next</button>
								</div>
							</div>
						</div>
						
							
					</div><!--end .col -->
					
					
						
				</div>
			</div>
		</div>
			
			<!-- <div class="card">
				<div class="card-head form-wizard form-wizard-horizontal" id="rootwizard1">
					<div class="form-wizard-nav">
						<div class="progress" style="width: 75%;"><div class="progress-bar progress-bar-primary" style="width: 0%;"></div></div>
						<ul class="nav nav-justified nav-pills">
							<li ui-sref-active="active"><a  ui-sref="homeDashboard.asset.maintenanceEntry"><span class="step">1</span> <span class="title">Maintenance</span></a></li>
							<li ui-sref-active="active"><a ui-sref=".maintenanceImage" ><span class="step">2</span> <span class="title">Maintenance Image</span></a></li>
							<li ui-sref-active="active"><a href="#tab3" data-toggle="tab" aria-expanded="false"><span class="step">3</span> <span class="title">Check List</span></a></li>
							<li ui-sref-active="active"><a href="#tab4" data-toggle="tab" aria-expanded="false"><span class="step">4</span> <span class="title">History</span></a></li>
						</ul>
					</div>
				</div> 
				
				<div class="card-body" ui-view>
				</div>
			</div> -->
			
		</div><!--end .col -->
	</div>
</div>
	

						