<div class="row" ng-controller="AssetController as assetController" >
		<div  class="col-md-12">
			<div class="text-left">
				<ol class="breadcrumb">
			        <li><a ui-sref="homeDashboard"><i class="fa fa-dashboard"></i>Home</a></li>
			        <li class="active">Asset Details</li>
			      </ol>
			</div>
		</div>

		<!-- ====$ Begin Asset Details $======== -->
		<div class="col-md-9">
		<div class="card-body style-primary no-y-padding">
				<form class="form form-inverse">
					<div class="form-group">
						<div class="input-group input-group-lg">
							<div class="input-group-content">
								<input type="text" class="form-control" id="searchInput" placeholder="Enter your search here">
									<div class="form-control-line"></div>
							</div>
							<div class="input-group-btn">
								<button class="btn btn-floating-action btn-default-bright" type="button"><i class="fa fa-search"></i></button>
							</div>
						</div>
						
					</div><!--end .form-group -->
				</form>
		</div>
		
		<div class="card ">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-md-6">
						<label class="radio-inline radio-styled">
						<input type="radio" name="inlineRadioOptions" ng-click="categoryController.compAsset()" checked=""><span>Asset Name</span>
						</label>
						<label class="radio-inline radio-styled">
							<input type="radio" name="inlineRadioOptions" ng-click="categoryController.compUser()"><span>Asset ID</span>
						</label>
						<label class="radio-inline radio-styled">
							<input type="radio" name="inlineRadioOptions" ng-click="categoryController.compNonComp()"><span>Tag ID</span>
						</label>
					</div>
					<div class="col-md-6 text-right">
						<button style="font-size:20px"  type="button" class="addButton btn btn-icon-toggle text-right " ng-click="assetController.addAssetFun()" data-toggle="tooltip" data-placement="top" data-original-title="Add Asset"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
					</div>
				</div>
				<div class="col-md-12">
							<table class="table table-hover table-reponsive">
									<thead>
										<tr>
											<th>SL.No</th>
											<th>Asset Name</th>
											<th>EPC ID</th>
											<th class="text-right">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="assetPag in assetController.assetPag_data.resData" ng-show="assetPag.assetId >= 4">
											<td>
												{{assetPag.assetId}}
											</td>
											<td>{{assetPag.assetNm}}</td>
											<td>{{assetPag.tagId }}</td>
											<td class="text-right">
												<button type="button" class="btn btn-icon-toggle" ng-click="assetController.assetDetailFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Asset Info"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
												<button type="button" class="btn btn-icon-toggle" ng-click="assetController.editAssetFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
												<button type="button" class="btn btn-icon-toggle" ng-click="assetController.deleteAssetFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="text-center">
									<ul uib-pagination total-items="assetController.totalItems" max-size="assetController.maxSize"  ng-model="assetController.currentPage" ng-change="assetController.pageChanged()"  items-per-page="assetController.itemsPerPage"></ul>
								</div>
							</div>
							
							<div class="col-md-12">
								<div class="col-md-12">
										<h2 class="tab-header" >Status Details</h2>
								</div>
								<div class="col-md-4">
									<div class="col-md-6">First Detect D&T :</div>
							   		<div class="col-md-6"><span class="pull-right">-</span></div>
							   		<div class="col-md-6">Current Detect D&T :</div>
							   		<div class="col-md-6"><span class="pull-right">-</span></div>
							   		<div class="col-md-6">Last Detect D&T :</div>
							   		<div class="col-md-6"><span class="pull-right">-</span></div>
								</div>
								<div class="col-md-4">
									<div class="col-md-6">First Detect Zone</div>
							   		<div class="col-md-6"><span class="pull-right">--</span></div>
							   		<div class="col-md-6">Current Detect Zone</div>
							   		<div class="col-md-6"><span class="pull-right">--</span></div>
							   		<div class="col-md-6">Asset status</div>
							   		<div class="col-md-6"><span class="pull-right">--</span></div>
								</div>
								<div class="col-md-4">
									<div class="col-md-6">Asset Aging</div>
							   		<div class="col-md-6"><span class="pull-right">$42</span></div>
							   		<div class="col-md-6">Current Zone Aging</div>
							   		<div class="col-md-6"><span class="pull-right">--</span></div>
								</div>
							</div>


						</div><!--end .row --><br>
					</div><!--end .card -->
				</div><!--end .col -->
				<!-- ====$ End Asset Details $======== -->

				<!-- BEGIN SERVER STATUS -->
				<div class="col-md-3">
		          <!-- Widget: user widget style 1 -->
		          <div class="box box-widget widget-user-2">
		            <!-- Add the bg color to the header using any of the bg-* classes -->
		            <div class="widget-user-header">
		              <div class="widget-user-image">
		                <img class="img-circle" src="resources/images/EdgeWizardLogo.png" alt="User Avatar">
		              </div>
		              <!-- /.widget-user-image -->
		              <h3 class="widget-user-username">Desktop No 4343</h3>
		              <h5 class="widget-user-desc">E20020808311018521303579</h5>
		            </div>
		            <div class="box-footer no-padding">
		              <ul class="nav nav-stacked">
		                <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
		                <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
		                <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
		                <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
		              </ul>
		            </div>
		          </div>
		          <!-- /.widget-user -->		        
				
					<div class="card">
						<div class="card-head">
							<header class="text-primary">Asset Logo</header>
						</div><!--end .card-head -->
						<div class="card-body height-4">
							<div class="col-md-12 col-xs-5 text-center">
								<img class="img-circle border-white border-xl img-responsive auto-width" src="resources/images/EdgeWizardLogo.png" alt="">
								<hr>
							</div>
						</div>
					</div><!--end .card -->
					<div class="card">
						<div class="card-head">
							<header class="text-primary">Asset Generic Details</header>
						</div><!--end .card-head -->
						<div class="card-body height-4">
							<div class="col-md-12 col-xs-5">
								<p>Group master : </p>
								<p>Sub Group master : </p>
								<p>Total Assets : </p>
							</div>
						</div>
					</div><!--end .card -->

				</div><!--end .col -->
							<!-- END SERVER STATUS -->
			</div>
