<div class="" >
	<form class="form-horizontal"  novalidate role="form" name="splitAssFrm" >
    	<div class="card" style="margin-bottom: 0;">
      		<div class="card-head style-primary">
       			<header>Split Asset</header>
       			<button class="btn btn-default btn_close" ng-click="splitAssetController.cancel()"><i class="fa fa-times"></i></button>
      		</div>
      		<div class="card-body">
       		<div class="row">
	       		<div class="col-md-6">
		     		<div class="form-group" >
						<label for="name" class="col-sm-4 control-label">Parent Asset Name</label>
		          		<div class="col-sm-8">
		          			<input type="text" ng-disabled="true" class="form-control" name="assetName" ng-model="splitAssetController.ass_data.assetNm"  />
						</div>
					</div>
		       	 	<div class="form-group" >
						<label for="name" class="col-sm-4 control-label">Category Type</label>
						<div class="col-sm-8">
							<select  ng-disabled="true" class="form-control" name="categoryType"
								ng-model="splitAssetController.categoryType" ng-options="cats.categoryPrimery.categoryId as cats.categorynm for cats in splitAssetController.category_list.resData" >
								<option value="">--SELECT--</option>
							</select>
						</div>
					</div>
				</div>
	
		       	<div class="col-md-6">
	      	 		<div class="form-group" >
						<label for="name" class="col-sm-4 control-label">EPC ID</label>
		          		<div class="col-sm-8">
		          			<input type="text" ng-disabled="true" class="form-control" name="epcId" ng-model="splitAssetController.ass_data.tagId"  />
						</div>
					</div>
					<div class="form-group" >
						<label for="name" class="col-sm-4 control-label">Product No</label>
		          		<div class="col-sm-8">
		          			<input type="text" ng-disabled="true" class="form-control" name="productNo" ng-model="splitAssetController.ass_data.serialNo"  />
						</div>
					</div>
	       		</div>
	       		<div class="col-md-12">
	       			<h4 class="text-primary">New Asset Info</h4>
	       		</div>
	       		<div class="col-md-6">
	       			<div class="form-group required" ng-class="{'has-error' : (splitAssFrm.$submitted || splitAssFrm.epcId.$touched || submitted ) && splitAssFrm.epcId.$invalid && splitAssFrm.epcId.$error.required }" >
						<label for="epicId" class="col-sm-4 control-label">New EPC ID</label>
						<div class="col-sm-8">
							<div class="input-group-content">
								 <input type="text" class="form-control" ng-disabled="true" ng-model="splitAssetController.tagId" name="epcId" ng-required="true"/>
							</div>
							<div class="input-group-btn">
								<button style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="splitAssetController.tagSelectFun()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
					<div class="form-group" >
						<label for="name" class="col-sm-4 control-label">Parent Asset Qty</label>
		          		<div class="col-sm-8">
		          			<input type="text" ng-disabled="true" class="form-control" name="assetQty" ng-model="splitAssetController.ass_data.assetQty"  />
						</div>
					</div>
					<div class="form-group required" ng-class="{'has-error' : (splitAssFrm.$submitted || splitAssFrm.astQty.$touched || submitted ) && splitAssFrm.astQty.$invalid && splitAssFrm.astQty.$error.required }" >
						<label for="name" class="col-sm-4 control-label">New Asset Qty</label>
		          		<div class="col-sm-8">
		          			<input type="text" class="form-control" name="astQty" ng-model="splitAssetController.assetQty" ng-required="true" />
							<span class="error" ng-show="splitAssetController.assetQty > splitAssetController.ass_data.assetQty || assetError">Asset Quantity Should not be greater than current Quantity</span>
						</div>
					</div>
					<div class="form-group" >
						<label for="name" class="col-sm-4 control-label">Company</label>
		          		<div class="col-sm-8">
		          			<input type="text" ng-disabled="true" class="form-control" name="comp_name" ng-model="splitAssetController.comp_name"  />
						</div>
					</div>
	       		</div>
	       		<div class="col-md-6">
	       			<div class="form-group" >
						<label for="Lastname5" class="col-sm-4 control-label">Division</label>
						<div class="col-sm-8">
							<select class="form-control"
								ng-change="splitAssetController.divChange(splitAssetController.division)"
									ng-model="splitAssetController.division"
										ng-options="div.divisionId as div.divisionNm for div in splitAssetController.divisionList.resData"
										name="division">
										<option value="">select division</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="Lastname5" class="col-sm-4 control-label">Sector</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-change="splitAssetController.secChange()"
										ng-model="splitAssetController.sector" name="sector"
										ng-options="sec_d.sectorId as sec_d.sectorNm for sec_d in splitAssetController.sect_data.resData">
										<option value="">select sector</option>
									</select>
								</div>
							</div>

							<div class="form-group" >
								<label for="Lastname5" class="col-sm-4 control-label">Location</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-model="splitAssetController.location"
										ng-change="splitAssetController.locChange()"
										ng-options="loc_d.locationId as loc_d.locationNm for loc_d in splitAssetController.loc_data.resData"
										name="location">
										<option value="">select location</option>
									</select>
								</div>
							</div>

							<div class="form-group" >
								<label for="Lastname5" class="col-sm-4 control-label">Department</label>
								<div class="col-sm-8">
									<select class="form-control"
										ng-model="splitAssetController.department"
										ng-options="dep_d.departmentId as dep_d.deptNm for dep_d in splitAssetController.depart_data.resData"
										name="department">
										<option value="">select department</option>
									</select>
								</div>
							</div>
	       				</div>
					</div>
				</div>

		    	<div class="card-actionbar">
   			    	<div class="card-actionbar-row">
     					<button type="button" ng-click="splitAssetController.cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
       					<button type="submit" ng-click="splitAssFrm.$valid && splitAssetController.splitAssetFun()" class="btn btn-flat btn-primary ink-reaction">Add</button>
        			</div>
      			</div>
		     </div>
   		 </form>
   </div>
