<div class="">
    <form class="form-horizontal" ng-submit="grpMasterFrm.$valid && subGroupMasterController.subGroupMasterSelect()" novalidate role="form" name="grpMasterFrm">
        <div class="card" style="margin-bottom: 0;">
            <div class="card-head style-primary">
                <header>{{ subGroupMasterController.tableHeader }}</header>
                <button class="btn btn-default btn_close" ng-click="subGroupMasterController.cancel()"><i class="fa fa-times"></i></button>
            </div>
            <div class="card-body" style="overflow: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search by</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="searchBy" ng-model="subGroupMasterController.searchBy">
								                        <option value="">--SELECT--</option>
                      								  <option value="Asset Id">Asset ID </option>
                                        <option value="Asset Name">Asset Name</option>
                                        <option value="EPC ID">EPC ID </option>
                                        <option value="Tag Id">Tag Id</option>
                                        <option value="ProductNo">Product No</option>
                                        <option value="Category Type">Category Type</option>
                                        <option value="BatchLotNo">BatchLot No</option>
                                        <option value="Division Name">Division Name</option>
                                        <option value="Sector Name">Sector Name</option>
                                        <option value="Location Name">location Name</option>
                                        <option value="Department Name">Department Name</option>
                                        <option value="Manufacturer Name">Manufacture Name</option>
                                        <option value="Vendor Name">Vendor Name</option>
                                        <option value="Unit Cost">Unit Cost</option>
                                        <option value="Asset Description">Asset Description</option>
                                        <option value="Warranty Start Date">Warranty Start Date</option>
                                        <option value="Warranty End Date">Warranty End Date</option>
                                        <option value="Maintenance Date">Maintenance Date</option>
                                        <option value="Acquisition Date">Acquisition Date</option>
                                        <option value="Expiry Date">Expiry Date</option>
                                        <option value="Created Date">Create Date</option>
                                        <option value="Modified Date">Modified Date</option>
                      				</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search Value</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="subGroupMasterController.searchValue" placeholder="Enter your search here" />
                                    <a class="textclear" style="right:0;" ng-click="subGroupMasterController.searchValue = ''" ng-if="subGroupMasterController.searchValue"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    <div class="form-control-line"></div>
                                </div>
                            </div>
                        </div>

                        <!-- search by type -->
                        <div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'Category Type'" ng-init="subGroupMasterController.categoryList()">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Category Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="categoryType" ng-model="subGroupMasterController.searchField" ng-options="cats.categoryPrimery.categoryId as cats.categorynm for cats in subGroupMasterController.category_list.resData">
              						    <option value="">--SELECT--</option>
              						</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'BatchLotNo'" ng-init="subGroupMasterController.getBatchDetails()">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">BatchLot No</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="subGroupMasterController.searchField" ng-options="batches.batchName as batches.batchName for batches in subGroupMasterController.batchLotList.resData" name="batchLot">
										<option value="">select Batch</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'Division Name'" ng-init="subGroupMasterController.getDivisionDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Division</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="subGroupMasterController.searchField" ng-options="div.divisionNm as div.divisionNm for div in subGroupMasterController.divisionList.resData" name="division">
										<option value="">select division</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'Sector Name'" ng-init="subGroupMasterController.getSectorDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Sector</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="subGroupMasterController.searchField" name="sector" ng-options="sec_d.sectorNm as sec_d.sectorNm for sec_d in subGroupMasterController.sect_data.resData">
											<option value="">select sector</option>
										</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'Location Name'" ng-init="subGroupMasterController.getLocationDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="subGroupMasterController.searchField" ng-options="loc_d.locationNm as loc_d.locationNm for loc_d in subGroupMasterController.loc_data.resData" name="location">
											<option value="">select location</option>
										</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'Department Name'" ng-init="subGroupMasterController.getDepartmentDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="subGroupMasterController.searchField" ng-options="dep_d.deptNm as dep_d.deptNm for dep_d in subGroupMasterController.depart_data.resData" name="department">
											                  <option value="">select department</option>
										                </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'Manufacturer Name'" ng-init="subGroupMasterController.getManufacturerDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Manufacturer</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="subGroupMasterController.searchField" ng-options="manufactDet.manufactureNm as manufactDet.manufactureNm for manufactDet in subGroupMasterController.manufactureDt.resData" name="manufacturer">
                      					<option value="">select manufacturer</option>
                 			  		 </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'Vendor Name'" ng-init="subGroupMasterController.getVendorDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Vendor</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="subGroupMasterController.searchField" ng-options="vendors.vendorName as vendors.vendorName for vendors in subGroupMasterController.vendordetails.resData" name="vendor">
        								<option value="">Select vendor</option>
        							</select>
                                </div>
                            </div>
                        </div>

                       <div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'Warranty Start Date' || 
                      subGroupMasterController.searchBy === 'Warranty End Date' || 
                      subGroupMasterController.searchBy === 'Maintenance Date' ||
                      subGroupMasterController.searchBy === 'Acquisition Date' ||   
                      subGroupMasterController.searchBy === 'Expiry Date' ||
                      subGroupMasterController.searchBy === 'Created Date' ||
                      subGroupMasterController.searchBy === 'Modified Date' " >
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">From</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="subGroupMasterController.fromDate" is-open="subGroupMasterController.from.opened" datepicker-options="subGroupMasterController.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="subGroupMasterController.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
									</div>
							</div>
						</div>
					
					<div class="col-md-6" ng-if="subGroupMasterController.searchBy === 'Warranty Start Date' || 
                      subGroupMasterController.searchBy === 'Warranty End Date' || 
                      subGroupMasterController.searchBy === 'Maintenance Date' ||
                      subGroupMasterController.searchBy === 'Acquisition Date' ||   
                      subGroupMasterController.searchBy === 'Expiry Date' ||
                      subGroupMasterController.searchBy === 'Created Date' ||
                      subGroupMasterController.searchBy === 'Modified Date' " >
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">To</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="subGroupMasterController.toDate" is-open="subGroupMasterController.to.opened" datepicker-options="subGroupMasterController.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="subGroupMasterController.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
										<span class="error" ng-if="subGroupMasterController.fromDate > subGroupMasterController.toDate"> From date should be less than to date </span>
									</div>
							</div>
						</div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Filter By</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="filterBy" ng-model="subGroupMasterController.filterBy">
								                      <option value="Asset Id">Asset ID </option>
                      								<option value="Asset Name">Asset Name</option>
                      								<option value="EPC ID">EPC ID </option>
                      								<option value="Tag Id">Tag Id</option>
                      								<option value="ProductNo">Product No</option>
                      								<option value="Category Type">Category Type</option>
                      								<option value="BatchLotNo">BatchLot No</option>
                      								<option value="Division Name">Division Name</option>
                      								<option value="Sector Name">Sector Name</option>
                      								<option value="Location Name">location Name</option>
                      								<option value="Department Name">Department Name</option>
                      								<option value="Manufacturer Name">Manufacture Name</option>
                      								<option value="Vendor Name">Vendor Name</option>
                      								<option value="Unit Cost">Unit Cost</option>
                      								<option value="Asset Description">Asset Description</option>
                      								<option value="Warranty Start Date">Warranty Start Date</option>
                      								<option value="Warranty End Date">Warranty End Date</option>
                      								<option value="Maintenance Date">Maintenance Date</option>
                      								<option value="Acquisition Date">Acquisition Date</option>
                      								<option value="Expiry Date">Expiry Date</option>
                      								<option value="Created Date">Create Date</option>
                      								<option value="Modified Date">Modified Date</option>
						                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search Value</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="subGroupMasterController.searchValueTwo" placeholder="Enter your search here" />
                                    <a class="textclear" style="right:0;" ng-click="subGroupMasterController.searchValueTwo = ''" ng-if="subGroupMasterController.searchValueTwo"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    <div class="form-control-line"></div>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-floating-action btn-default-bright" ng-click="subGroupMasterController.groupMasterSearchData()" type="button"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
<!-- 
                        <div class="col-md-4" ng-hide="subGroupMasterController.selectAssetType != 'Created Date' && subGroupMasterController.selectAssetType != 'Modified Date'">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">From</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" ng-model="subGroupMasterController.fromDate" placeholder="Enter your search here" />
                                    <div class="form-control-line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-hide="subGroupMasterController.selectAssetType != 'Created Date' && subGroupMasterController.selectAssetType != 'Modified Date'">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">To</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" ng-model="subGroupMasterController.fromDate" placeholder="Enter your search here" />
                                    <div class="form-control-line"></div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <!--$ TABLE $-->
                    <div class="col-md-12">
                        <table class="table table-hover table-reponsive">
                            <thead>
                                <tr>
                                    <th>Asset Select</th>
                                    <th>Asset Id</th>
                                    <th>Asset Name</th>
                                    <th>EPC ID</th>
                                    <th>CategoryType</th>
                                    <th ng-if="subGroupMasterController.searchBy === 'Division Name'">Division</th>
                                    <th ng-if="subGroupMasterController.searchBy === 'BatchLotNo'">BatchLotNo</th>
                                    <th ng-if="subGroupMasterController.searchBy === 'Sector Name'">Sector</th>
                                    <th ng-if="subGroupMasterController.searchBy === 'Location Name'">Location</th>
                                    <th ng-if="subGroupMasterController.searchBy === 'Department Name'">Department</th>
                                    <th ng-if="subGroupMasterController.searchBy === 'Manufacturer Name'">manufacturer</th>
                                    <th ng-if="subGroupMasterController.searchBy === 'Vendor Name'">Vendor</th>
                                    <th ng-if="subGroupMasterController.searchBy === 'Unit Cost'">Unit Cost</th>
                                    <th>ProductNo</th>
                                    <th>InDocRefNo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="groups in subGroupMasterController.groupMaster_data.resData">
                                    <td>
                                        <label class="radio-inline radio-styled">
								<input type="radio" name="inlineRadioOptions" ng-model="subGroupMasterController.subGrpMstSelect" value="{{groups}}" /><span></span>
						  </label>
                                    </td>
                                   <td>{{groups.assetId}}</td>
                                    <td>{{groups.assetNm}}</td>
                                    <td>{{groups.tagId}}</td>
                                    <td>{{groups.categoryType}}</td>
                                    <td ng-if="subGroupMasterController.searchBy === 'Division Name'">{{groups.divisionName}}</td>
                                    <td ng-if="subGroupMasterController.searchBy === 'BatchLotNo'">{{groups.batchName}}</td>
                                    <td ng-if="subGroupMasterController.searchBy === 'Sector Name'">{{groups.sectorName}}</td>
                                    <td ng-if="subGroupMasterController.searchBy === 'Location Name'">{{groups.locationName}}</td>
                                    <td ng-if="subGroupMasterController.searchBy === 'Department Name'">{{groups.departmentName}}</td>
                                    <td ng-if="subGroupMasterController.searchBy === 'Manufacturer Name'">{{groups.manufactureName}}</td>
                                    <td ng-if="subGroupMasterController.searchBy === 'Vendor Name'">{{groups.vendorName}}</td>
                                    <td ng-if="subGroupMasterController.searchBy === 'Unit Cost'">{{groups.cost}}</td>
                                    <td>{{groups.serialNo}}</td>
                                    <td>{{groups.inDocRef}}</td>
                                    <!-- <td>{{groups.outDocRef}}</td> -->
                                </tr>

                            </tbody>
                            <tfoot ng-if="subGroupMasterController.groupMaster_data.resData == null">
                            	<td>Record not found.......</td>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            <!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <button type="button" ng-click="subGroupMasterController.cancel()" class="btn ink-reaction btn-raised btn-primary">Cancel</button>
                    <button type="submit" class="btn ink-reaction btn-raised btn-primary">Ok</button>
                </div>
            </div>
        </div>
        <!--end .card -->
    </form>
</div>
<!--end .card-body -->
