<div>
	<form class="form-horizontal" novalidate role="form" name="deviceFrm">
		<div class="card" style="margin-bottom: 0px; radius: 1px">
			<div class="card-head style-primary">
				<header>Your Cart</header>
				<button class="btn btn-default btn_close" ng-click="checkOutCtrl.cancel()">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="card-body">
				<div class="row">
					<!--cart items  -->
					<div class="col-sm-8" style="height: 333px; overflow: auto;">
						<table class="table table-hover table-reponsive">
							<thead>
								<tr>
									<th>Sl.No</th>
									<th>Asset Name</th>
									<th>Unit Cost</th>
									<th>Qty</th>
									<th>Total Qty</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ord in checkOutCtrl.selectedOrders">
									<td>{{$index + 1}}</td>
									<td><label style="padding: 0px 4px 0px 4px;background-color: #207d0f;color: white;font-size: 12px;font-family: monospace;">{{ord.assetName}}</label></td>
									<td><label style="padding: 0px 4px 0px 4px;background-color: #e8711c; color: white;font-size: 12px;font-family: monospace;">{{ord.cost}}</label></td>
									<td><label style="padding: 0px 4px 0px 4px;background-color: #d63b74; color: white;font-size: 12px;font-family: monospace;">{{ord.purchaseQuantity}}</label></td>
									<td><label style="padding: 0px 4px 0px 4px;background-color: #d63b74; color: white;font-size: 12px;font-family: monospace;">{{ord.totalCost}}</label></td>
								</tr>
							</tbody>
							<tfoot ng-if="!checkOutCtrl.selectedOrders.length">
								<tr>
									<td colspan="2">Record not found.......</td>
								</tr>
							</tfoot>
						</table>
					</div>

					<div class="col-sm-4 checkOutDetails">
						<div class="checkbox checkbox-styled">
							<label> <input type="checkbox" ng-true-value="1" ng-false-value="0"  ng-model="checkOutCtrl.usrOtherData.printStatus"> <span>Print Receipt</span></label>
						</div>
						<div class="row cart-rightrows">
							<div class="col-xs-7"><h4>Sub Total : </h4></div>
							<div class="col-xs-5"><h4>{{ checkOutCtrl.subTotal | number : 2 }}&nbsp;<span>Rs</span></h4></div>
						</div>
						<div class="row cart-rightrows">
							<div class="col-xs-7">Tax.{{ checkOutCtrl.tax  | number : 2 }}(%) : </div>
							<div class="col-xs-5">{{ checkOutCtrl.totalTax | number : 2 }}&nbsp;<span>Rs</span></div>
						</div>
						<div class="row cart-rightrows">
							<div class="col-xs-7">Delivery Charges : </div>
							<div class="col-xs-5">{{ checkOutCtrl.deliveryCharges | number : 2 }}&nbsp;<span>Rs</span></div>
						</div>
						<div class="row cart-rightrows">
							<div class="col-xs-7"><h4>Grand Total : </h4></div>
							<div class="col-xs-5"><h4>{{ checkOutCtrl.grandTotal | number : 2 }}&nbsp;<span>Rs</span></h4></div>
						</div>
						<div class="row cart-rightrows">
							<div class="col-xs-7">Discount : </div>
							<div class="col-xs-5">{{ checkOutCtrl.discount | number : 2 }}&nbsp;<span>Rs</span></div>
						</div>
						<div class="row cart-rightrows">
							<div class="col-xs-7">Yearly Discount : </div>
							<div class="col-xs-5">{{ checkOutCtrl.yearDiscount | number : 2  }}&nbsp;<span>Rs</span></div>
						</div>
						<div class="row cart-rightrows">
							<div class="col-xs-7">Net Total : </div>
							<div class="col-xs-5">{{ checkOutCtrl.netTotal | number : 2 }}&nbsp;<span>Rs</span></div>
						</div>
						<div class="row cart-rightrows">
							<div class="col-xs-7"><h4>Available Balance : </h4></div>
							<div class="col-xs-5"><h4>{{checkOutCtrl.availableBalance | number : 2 }}&nbsp;<span>Rs</span></h4></div>
						</div>
					</div>
				</div>
			</div>
	
			<div class="card-actionbar">
				<div class="card-actionbar-row">
					<button type="button"
						class="btn ink-reaction btn-raised btn-primary"
						ng-click="checkOutCtrl.cancel()">Cancel</button>
					<button type="button" ng-disabled="checkOutCtrl.isConfirm"
						class="btn ink-reaction btn-raised btn-primary"
						ng-click="checkOutCtrl.confirmOrder()">Confirm Order</button>
					<button type="submit" ng-disabled="true"
						class="btn ink-reaction btn-raised btn-primary"
						ng-click="checkOutCtrl.cancel()">Hold Order</button>
					<button type="submit"  ng-disabled="true"
						class="btn ink-reaction btn-raised btn-primary"
						ng-click="checkOutCtrl.cancel()">Updated Balance</button>
				</div>
			</div>
		</div>
	</form>
</div>
