<div class="section-body">
	<div class="card-head style-primary">
		<div class="col-md-12">
			<header class="text-left">POS Category Setting</header>
		</div>
	</div>

	<div class="cardbody">
		<div class="row">
			<div class="col-md-12">
				<form name="possetfrm" ng-submit="posCategorySettingCtrl.saveBtn()" novalidate>
					<div class="card-head sub-card-head">
						<div class="col-md-4">
							<div class="form-group">
								<label for="Firstname5" class="col-md-3 control-label">Category </label>
								<div class="col-md-5">
									<select class="form-control" name="name" ng-model="posCategorySettingCtrl.categorySelect" ng-change="posCategorySettingCtrl.changeCategorySelect(posCategorySettingCtrl.categorySelect)" ng-options="cat as cat.categorynm for cat in posCategorySettingCtrl.categoryList">
										<option value="">Select</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<h4>Last Updated At : {{posCategorySettingCtrl.categoryUpdateDetails.lastUpdatedAt}}</h4>
						</div>
						<div class="col-md-4">
							<h4>By : {{posCategorySettingCtrl.categoryUpdateDetails.lastUpdatedBy}}</h4>
						</div>
					</div>
					
					<div class="col-md-12 table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th><input type="checkbox" ng-model="posCategorySettingCtrl.checkAll" ng-change="posCategorySettingCtrl.selectAll(posCategorySettingCtrl.checkAll)" />SelectAll</th>
										<th>Asset Name</th>
										<th>Unit Cost</th>
										<th>Quantity</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="assets in posCategorySettingCtrl.assetData.resData.assetInfoList">
										<td>
											<input type="checkbox" ng-model="assets.checked" ng-change="posCategorySettingCtrl.selectEntity()" /> <!-- ng-checked="assets.checked"  -->
										</td>
										<td>{{assets.assetName}}</td>
										<td>{{assets.cost}}</td>
										<td>{{assets.assetQuantity}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr ng-if="posCategorySettingCtrl.assetData.resData == null || posCategorySettingCtrl.assetData.resData == 'null' || posCategorySettingCtrl.assetData.resData == undefined">
										<td><h3>Record not found....</h3></td>
									</tr>
								</tfoot>
							</table>
						</div>
						
						<div class="col-md-12">
							<div class="card-actionbar">
								<div class="card-actionbar-row">
									<button type="submit" class="btn ink-reaction btn-raised btn-primary">
										Save
									</button> 
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
									
									
									