<div class="section-body">
	<div class="card">
		<div class="card-head">
			<ul class="nav nav-tabs nav-justified" data-toggle="tabs">
				<li ng-class="{'active' : posKitchenDetailsCtrl.isSet(1)}"><a href
					ng-click="posKitchenDetailsCtrl.setTab(1)">Confirm Orders Details</a></li>
				<li ng-class="{'active' : posKitchenDetailsCtrl.isSet(2)}"><a href
					ng-click="posKitchenDetailsCtrl.setTab(2)">Hold Orders Details</a></li>
			</ul>
		</div>
		<div class="cardbody">
			<div class="row">
				<!--start TAB 1 -->
				<div ng-show="posKitchenDetailsCtrl.isSet(1)" ng-class="{'tab-pane active' : posKitchenDetailsCtrl.isSet(1)}">
					 <div class="col-md-12">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Order No</th>
									<th>Asset Desc</th>
									<th>Qty</th>
									<th class="text-center">Remarks</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ord in posKitchenDetailsCtrl.ordersList">
									<td>2</td>
									<td>Pizza</td>
									<td>5</td>
									<td class="text-center">
										<span><button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="posOrderDetailsCtrl.proceed()">Ready</button></span>
										<span><button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="posOrderDetailsCtrl.proceed()">Deliver</button></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div> 
					
					<!-- body contents  -->
					<!-- <div ng-repeat="ord in posKitchenDetailsCtrl.ordersList" id="borderBtm" class="col-md-12">
						<div id="border" class="col-md-6">
							<div class="col-md-2" style="padding: 11px">
								<img style="border-radius: 50%; width: 78px; border: solid #0aa89e;" ng-src="resources/images/Sriimurali.jpeg" />
							</div>
							<div class="col-md-8 usrInfo">
								<h4>Vikram Bhimannavar</h4>
								<span><i class="fa fa-inr" aria-hidden="true"></i><strong>405.68</strong></span>
								<span><i class="fa fa-user-secret" aria-hidden="true"></i><strong>ADMIN</strong></span><br>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order :<strong>1</strong></span>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order DT : <strong>27-Jun-2017 16:15</strong></span>
							</div>
						</div>
						<div id="border" class="col-md-3">
							<div style="padding-top: 10px" class="text-center">
								<button style="margin-bottom: 12px;" type="button" class="btn ink-reaction btn-raised btn-success" ng-click="posOrderDetailsCtrl.proceed()">Confirm Order</button>
								<br><button type="button" class="btn ink-reaction btn-raised btn-warning" ng-click="posOrderDetailsCtrl.proceed()">Print Order</button>
								<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="posOrderDetailsCtrl.proceed()">Cancel Order</button>
							</div>
						</div>
						<div class="col-md-3">
							<div style="padding-top: 10px">
								<h4>Status</h4>
								<p>Order Qty : <strong>1</strong></p>
								<p>Order Status : <strong>Sent to kitchen</strong></p>
							</div>
						</div>	
					</div> -->
				</div>
				
				<!--start TAB 2  -->
				<div ng-show="posKitchenDetailsCtrl.isSet(2)" ng-class="{'tab-pane active' : posKitchenDetailsCtrl.isSet(2)}">
					<div class="col-md-12">
						<form name="posAdminfrm" novalidate>
							<div class="card-head sub-card-head">
								<div class="col-md-12">
									<div class="form-group">
										<label for="Firstname5" class="col-md-1 control-label">Search By</label>
										<div class="col-md-2">
											<select class="form-control" name="name"  ng-model="posCategorySettingCtrl.possetData.categorySelect" ng-options="cat.categorynm for cat in posCategorySettingCtrl.categoryList">
												<option value="">Select</option>
											</select>
										</div>
										<div class="col-md-2">
											<input class="form-control" type="search" placeholder="search" />
										</div>
										<div class="col-md-2">
											<button class="btn btn-floating-action btn-default-bright"  type="button"><i class="fa fa-search"></i></button>
										</div>
										<div class="col-md-5">
											<h4>No of Orders : 5</h4>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					
					<!-- body contents  -->
					<div id="borderBtm" class="col-md-12">
						<div id="border" class="col-md-6">
							<div class="col-md-2" style="padding: 11px">
								<img style="border-radius: 50%; width: 78px; border: solid #0aa89e;" ng-src="resources/images/Sriimurali.jpeg" />
							</div>
							<div class="col-md-8 usrInfo">
								<h4>Vikram Bhimannavar</h4>
								<span><i class="fa fa-inr" aria-hidden="true"></i><strong>405.68</strong></span>
								<span><i class="fa fa-user-secret" aria-hidden="true"></i><strong>ADMIN</strong></span><br>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order :<strong>1</strong></span>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order DT : <strong>27-Jun-2017 16:15</strong></span>
							</div>
						</div>
						<div id="border" class="col-md-3">
							<div style="padding-top: 10px" class="text-center">
								<button style="margin-bottom: 12px;" type="button" class="btn ink-reaction btn-raised btn-success" ng-click="posOrderDetailsCtrl.proceed()">Confirm Order</button>
								<br><button type="button" class="btn ink-reaction btn-raised btn-warning" ng-click="posOrderDetailsCtrl.proceed()">Print Order</button>
								<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="posOrderDetailsCtrl.proceed()">Cancel Order</button>
							</div>
						</div>
						<div class="col-md-3">
							<div style="padding-top: 10px">
								<h4>Status</h4>
								<p>Order Qty : <strong>1</strong></p>
								<p>Order Status : <strong>Sent to kitchen</strong></p>
							</div>
						</div>	
					</div>
					
					
					
					<div id="borderBtm" class="col-md-12">
						<div id="border" class="col-md-6">
							<div class="col-md-2" style="padding: 11px">
								<img style="border-radius: 50%; width: 78px; border: solid #0aa89e;" ng-src="resources/images/Sriimurali.jpeg" />
							</div>
							<div class="col-md-8 usrInfo">
								<h4>Vikram Bhimannavar</h4>
								<span><i class="fa fa-inr" aria-hidden="true"></i><strong>405.68</strong></span>
								<span><i class="fa fa-user-secret" aria-hidden="true"></i><strong>ADMIN</strong></span><br>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order :<strong>1</strong></span>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order DT : <strong>27-Jun-2017 16:15</strong></span>
							</div>
						</div>
						<div id="border" class="col-md-3">
							<div style="padding-top: 10px" class="text-center">
								<button style="margin-bottom: 12px;" type="button" class="btn ink-reaction btn-raised btn-success" ng-click="posOrderDetailsCtrl.proceed()">Confirm Order</button>
								<br><button type="button" class="btn ink-reaction btn-raised btn-warning" ng-click="posOrderDetailsCtrl.proceed()">Print Order</button>
								<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="posOrderDetailsCtrl.proceed()">Cancel Order</button>
							</div>
						</div>
						<div class="col-md-3">
							<div style="padding-top: 10px">
								<h4>Status</h4>
								<p>Order Qty : <strong>1</strong></p>
								<p>Order Status : <strong>Sent to kitchen</strong></p>
							</div>
						</div>	
					</div>
					
					<div id="borderBtm" class="col-md-12">
						<div id="border" class="col-md-6">
							<div class="col-md-2" style="padding: 11px">
								<img style="border-radius: 50%; width: 78px; border: solid #0aa89e;" ng-src="resources/images/Sriimurali.jpeg" />
							</div>
							<div class="col-md-8 usrInfo">
								<h4>Vikram Bhimannavar</h4>
								<span><i class="fa fa-inr" aria-hidden="true"></i><strong>405.68</strong></span>
								<span><i class="fa fa-user-secret" aria-hidden="true"></i><strong>ADMIN</strong></span><br>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order :<strong>1</strong></span>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order DT : <strong>27-Jun-2017 16:15</strong></span>
							</div>
						</div>
						<div id="border" class="col-md-3">
							<div style="padding-top: 10px" class="text-center">
								<button style="margin-bottom: 12px;" type="button" class="btn ink-reaction btn-raised btn-success" ng-click="posOrderDetailsCtrl.proceed()">Confirm Order</button>
								<br><button type="button" class="btn ink-reaction btn-raised btn-warning" ng-click="posOrderDetailsCtrl.proceed()">Print Order</button>
								<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="posOrderDetailsCtrl.proceed()">Cancel Order</button>
							</div>
						</div>
						<div class="col-md-3">
							<div style="padding-top: 10px">
								<h4>Status</h4>
								<p>Order Qty : <strong>1</strong></p>
								<p>Order Status : <strong>Sent to kitchen</strong></p>
							</div>
						</div>	
					</div>
					
					<div id="borderBtm" class="col-md-12">
						<div id="borderRgt" class="col-md-6">
							<div class="col-md-2" style="padding: 11px">
								<img style="border-radius: 50%; width: 78px; border: solid #0aa89e;" ng-src="resources/images/Sriimurali.jpeg" />
							</div>
							<div class="col-md-8 usrInfo">
								<h4>Vikram Bhimannavar</h4>
								<span><i class="fa fa-inr" aria-hidden="true"></i><strong>405.68</strong></span>
								<span><i class="fa fa-user-secret" aria-hidden="true"></i><strong>ADMIN</strong></span><br>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order :<strong>1</strong></span>
								<span><i class="fa fa-inr" aria-hidden="true"></i>Order DT : <strong>27-Jun-2017 16:15</strong></span>
							</div>
						</div>
						<div id="borderRgt" class="col-md-3">
							<div style="padding-top: 10px" class="text-center">
								<button style="margin-bottom: 12px;" type="button" class="btn ink-reaction btn-raised btn-success" ng-click="posOrderDetailsCtrl.proceed()">Confirm Order</button>
								<br><button type="button" class="btn ink-reaction btn-raised btn-warning" ng-click="posOrderDetailsCtrl.proceed()">Print Order</button>
								<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="posOrderDetailsCtrl.proceed()">Cancel Order</button>
							</div>
						</div>
						<div class="col-md-3">
							<div style="padding-top: 10px">
								<h4>Status</h4>
								<p>Order Qty : <strong>1</strong></p>
								<p>Order Status : <strong>Sent to kitchen</strong></p>
							</div>
						</div>	
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</div>