<!--breadcrumb  -->
<div class="breadcrumb">
	<!-- <div style="float: left">
		<i class="glyphicon glyphicon-home"></i>&nbsp;
	</div> -->
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>
<!-- Master Menu status  -->
<!-- Nested  -->
<div ui-view>
		<!-- <div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".company">
						<span class="hover-effect"><img ng-src="resources/images/master/company.png"></span><br>
						<b class="menu-font">MAC ID</b>
					</a>
				</div>
			</div>
		</div> -->
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".posSetting">
						<span class="hover-effect"><img ng-src="resources/images/master/possetting.png"></span><br>
						<b class="menu-font">POS SETTING</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".posCategorySetting">
						<span class="hover-effect"><img ng-src="resources/images/master/possetting.png"></span><br>
						<b class="menu-font">POS CATEGORY SETTINGS</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".posOrder">
						<span class="hover-effect"><img ng-src="resources/images/master/pos_order.png"></span><br>
						<b class="menu-font">POS ORDER</b>
					</a>
				</div>
			</div>
		</div>
		
		<!-- <div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".posAdminMode">
						<span class="hover-effect"><img ng-src="resources/images/master/pos_admin.png"></span><br>
						<b class="menu-font">POS ADMIN</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".posKitchenMode">
						<span class="hover-effect"><img ng-src="resources/images/master/pos_kitchen.png"></span><br>
						<b class="menu-font">POS KITCHEN</b>
					</a>
				</div>
			</div>
		</div> -->
		
</div>