

<div class="card section-body" style="margin-bottom: 6px;">
	<div class="col-md-6">
		<div class="card-head posheaderbar" style="border-right: solid 1px rgba(216, 191, 216, 0.25);">
			<div style="padding-top: 9px;" class="header-img">
				<img style="width: 50px;" class="img-circle " ng-if="posOrderDetailsCtrl.usrTraData.imageDataInString" ng-src="data:image/jpeg;base64,{{posOrderDetailsCtrl.usrTraData.imageDataInString}}" alt="">
				<img style="width: 50px;" class="img-circle " ng-if="!posOrderDetailsCtrl.usrTraData.imageDataInString" ng-src="resources/images/icon-user-default.png" alt="">
			</div>
			<div style="padding-top: 9px; margin-left: 10px;">
				<label ng-if="!posOrderDetailsCtrl.usrTraData" style="color :red" ><b>Please present user card</b></label>
				<h4 ng-if="posOrderDetailsCtrl.usrTraData">{{posOrderDetailsCtrl.usrTraData.userName}}<span style="color: #f44336; font-weight: bold;">&nbsp;({{ posOrderDetailsCtrl.usrTraData.currentBalanceValue }})</span></h4>
			</div>
			<div style="padding-top: 9px; padding-bottom: 6px;" class="pull-right">
				<button type="button" tooltip-placement="top" uib-tooltip="clear user" ng-click="posOrderDetailsCtrl.clear()" class="btn ink-reaction btn-floating-action btn-sm btn-primary"><i style="color : white" class="fa fa-eraser" aria-hidden="true"></i></button>
				<button type="button" tooltip-placement="top" uib-tooltip="select user" ng-click="posOrderDetailsCtrl.userDetailsDailogue()" class="btn ink-reaction btn-floating-action btn-sm btn-primary"><i style="color : white" class="fa fa-list-alt" ></i></button>
				<button type="button" tooltip-placement="top" uib-tooltip="user details" ng-click="posOrderDetailsCtrl.userAccord()" class="btn ink-reaction btn-floating-action btn-sm btn-primary"><i style="color : white" ng-class="{ 'fa fa-angle-down' : !posOrderDetailsCtrl.headerPanel, 'fa fa-angle-up' : posOrderDetailsCtrl.headerPanel }"></i></button>
				<!-- <a ng-click="posOrderDetailsCtrl.startUserRead()" class="btn btn-icon-toggle btn-refresh"><i class="fa fa-user"></i></a>
				<a ng-click="posOrderDetailsCtrl.userDetailsDailogue()" class="btn btn-icon-toggle btn-refresh"><i class="fa fa-list-alt"></i></a> -->
				<!-- <a ng-click="posOrderDetailsCtrl.userAccord()" class="btn btn-icon-toggle btn-collapse"><i ng-class="{ 'fa fa-angle-down' : !posOrderDetailsCtrl.headerPanel, 'fa fa-angle-up' : posOrderDetailsCtrl.headerPanel }"></i></a> -->
			</div>
		</div>
		<div ng-show="posOrderDetailsCtrl.headerPanel" class="card-body angular-animation">
			<div class="card-body no-padding">
				<div class="txtAlign">
					<span class="txtAlignRight">Last year purchages</span><span class="txtAlignLft"> : &nbsp;{{posOrderDetailsCtrl.usrTraData.lastYearPurchase}}</span>
				</div>
				<div class="txtAlign">
					<span class="txtAlignRight">Last transaction datetime </span><span class="txtAlignLft"> : &nbsp;{{posOrderDetailsCtrl.usrTraData.lastupdateddtvalue}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card-head posheaderbar">
			<div style="padding-top: 9px;" class="col-xs-2 header-img">
				<img ng-if="posOrderDetailsCtrl.companyImg" class="img-circle width-1" ng-src="data:image/jpeg;base64,{{posOrderDetailsCtrl.companyImg}}" alt="">
				<img ng-if="!posOrderDetailsCtrl.companyImg"class="img-circle width-1" ng-src="resources/images/icon-user-default.png"/>
			</div>
			<div style="padding-top: 9px;" >
				<h4>{{posOrderDetailsCtrl.companyName}}<span style="color: #347fbf; font-weight: bold; opacity: 0.5;">&nbsp;(DD : {{ posOrderDetailsCtrl.dockDoorName}} )</span></h4>
			</div>
			<div style="padding-top: 12px;" class="pull-right">
				<!-- <button type="button" tooltip-placement="top" uib-tooltip="DockDoor"  ng-click="posOrderDetailsCtrl.openDockdoor()" class="btn ink-reaction btn-floating-action btn-sm btn-primary"><i style="color : white" class="md-settings-input-antenna" ></i></button> -->
				<button type="button" tooltip-placement="top" uib-tooltip="Company details"  ng-click="posOrderDetailsCtrl.companyAccord()" class="btn ink-reaction btn-floating-action btn-sm btn-primary"><i style="color : white" ng-class="{ 'fa fa-angle-down' : !posOrderDetailsCtrl.headerPanel, 'fa fa-angle-up' : posOrderDetailsCtrl.headerPanel }"></i></button>
			</div>
		</div>
		<div ng-show="posOrderDetailsCtrl.companyPanel" class="card-body angular-animation">
			<div class="card-body no-padding">
				<div class="txtAlign">
					<span class="txtAlignRight">Date </span><span class="txtAlignLft"> : &nbsp;{{posOrderDetailsCtrl.crDate | date}}</span>
				</div>
				<div class="txtAlign">
					<span class="txtAlignRight">Operator</span><span class="txtAlignLft"> : &nbsp;{{posOrderDetailsCtrl.userName}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card-body style-default-bright">
	<div class="row">
		<div class="col-lg-12">
			<div class="col-md-10">
				<nav data-spy="affix" data-offset-top="197" style="background-color: #eef9f8;" class="navbar navbar-inverse">
				  <div class="container-fluid">
				    <!-- <div class="navbar-header">
				      	<div id="searchBtn">
		                  	<button class="btn btn-floating-action btn-default-bright" ng-click="posOrderDetailsCtrl.assetSearchData()" type="button"><i class="fa fa-search"></i></button>
		                </div>
				    </div> -->
				    <ul class="nav navbar-nav">
				      <li  ng-repeat="orderCat in posOrderDetailsCtrl.orderCategories" ng-class="{'active' : orderCat === posOrderDetailsCtrl.activeCategory }"><a href ng-click="posOrderDetailsCtrl.getOrdersByCat(orderCat)">{{orderCat.categorynm}}</a></li>
				    </ul>
				  </div>
				</nav>
				<!-- <div class="orderCatSelect">
					<ul>
						<li ng-repeat="orderCat in posOrderDetailsCtrl.orderCategories" ng-class="{'catListActive' : orderCat === posOrderDetailsCtrl.activeCategory }"><a href ng-click="posOrderDetailsCtrl.getOrdersByCat(orderCat)">{{orderCat.categorynm}}</a></li>
					</ul>
				</div> -->
			</div>
			<div class="col-md-2">
				<a style="padding: 9px;" class="btn" data-toggle="dropdown">
					<i style="font-size: 27px;" class="fa fa-shopping-cart" aria-hidden="true"></i><sup style="position: absolute; top: 4px; font-size: 13px;" class="badge style-danger">{{posOrderDetailsCtrl.addToCart.length}}</sup>
				</a>&nbsp;&nbsp;&nbsp;
				<button type="button" ng-disabled="!posOrderDetailsCtrl.addToCart.length" class="btn ink-reaction btn-raised btn-primary" ng-click="posOrderDetailsCtrl.proceed()">Proceed</button>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-lg-2 col-sm-3 col-xs-6" ng-repeat="orders in  posOrderDetailsCtrl.orderList track by orders.assetId">
				<div style="padding: 6px; border: solid 1px thistle; box-shadow: 0px 1px 2px 0px #ce9796;" class="home-icons text-center">
					<div class="cartImage">
						<span class="qty-btn" data-toggle="dropdown">{{orders.assetQuantity}}</span>
						<span class="removecar-btn" ng-if="orders.removeCrt === true"><a href ng-click="posOrderDetailsCtrl.removeCart(orders);"><i class="fa fa-times" aria-hidden="true"></i></a></span>
						<img style="width: 100%;height: 143px;" class="img-responsive" ng-if="orders.imageData" ng-src="data:image/jpeg;base64,{{orders.imageData}}" />
						<img style="width: 100%;height: 143px;" class="img-responsive" ng-if="!orders.imageData" ng-src="resources/images/NoImage.gif " />
					</div>
					<div class="cart-content">
						<h4>{{orders.assetName}}</h4>
						<ul>
							<li><i class="fa fa-inr" aria-hidden="true"></i>{{orders.cost}}</li>
							<!-- <li><i class="fa fa-tags" aria-hidden="true"></i>
								<span id="conteneditable" contenteditable="true" ng-model="orders.purchaseQuantity"></span>
							</li> -->
							<li><i class="fa fa-tags" aria-hidden="true"></i>
								<input ng-model="orders.purchaseQuantity" id="inputQty" type="text" value="" numbers-only/>
							</li>
						</ul>
						<button type="button" ng-click="posOrderDetailsCtrl.saveToCart(orders)" class="btn ink-reaction btn-raised btn-primary" ng-click="posOrderDetailsCtrl.proceed()">Add to cart</button>
					</div>
				</div>
			</div>
			<div ng-if="posOrderDetailsCtrl.orderList == null || posOrderDetailsCtrl.orderList == 'null' || posOrderDetailsCtrl.orderList == undefined"> 
				<h3>Record not found</h3>
			</div>
		</div>
	</div>
</div>

<div ng-show="posOrderDetailsCtrl.successMsg" id="toast-container" class="toast-bottom-left angular-animation" aria-live="polite" role="alert">
	<div class="toast toast-success">
		<div class="toast-message"><strong>{{posOrderDetailsCtrl.addcartAssNm}}</strong> is Added to cart</div>
	</div>
</div>

<div ng-show="posOrderDetailsCtrl.removeCartMsg" id="toast-container" class="toast-bottom-left angular-animation" aria-live="polite" role="alert">
	<div class="toast toast-warning">
		<div class="toast-message"><strong>{{posOrderDetailsCtrl.removedAssNm}}</strong> is removed from cart</div>
	</div>
</div>

<div ng-show="posOrderDetailsCtrl.qtyErrorMsg" id="toast-container" class="toast-bottom-left angular-animation" aria-live="polite" role="alert">
	<div class="toast toast-error">
		<div class="toast-message"><strong>Please check your quantity</strong></div>
	</div>
</div>

<div ng-show="posOrderDetailsCtrl.availableBalanceError" id="toast-container" class="toast-bottom-left angular-animation" aria-live="polite" role="alert">
	<div class="toast toast-error">
		<div class="toast-message"><strong>Please check your balance</strong></div>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function(){
       jQuery('.icon').click(function () {
      		jQuery('.search').toggleClass('expanded');
        });
   	});
</script>
							
<!-- <on-screen-keyboard></on-screen-keyboard> -->				
