<div id="form-container">
	<div class="section-body">
		<div class="card-head style-primary text-center">
			<div class="page-header">
				<div id="status-buttons" class="text-center">
					<a ui-sref-active="active" ui-sref=".posOrderMode">Order Details</a>
				    <a ui-sref-active="active" ui-sref=".posAdminMode">Admin Details</a>
			        <a ui-sref-active="active" ui-sref=".posKitchenMode">Kitchen Details</a>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div id="form-views" ui-view></div>
			</div>
		</div>

	</div>
	<!--end .section-body -->
</div>
<!-- End UI-VIEW -->
