<div class="section-body">
	<div class="card-head style-primary">
		<div class="col-md-12">
			<div>
				<header class="text-left">POS Setting</header>
			</div>
		</div>
	</div>

	<div class="card-body style-default-bright">
		<div class="row">
			<div class="col-md-12">
				<form name="possetfrm" novalidate>
					<div class="col-md-4">
						<div class="form-group required">
							<label for="tax" class="col-md-4 control-label">Invoice Tax in '%' :</label>
							<input type="text" class="form-control" name="tax"  ng-model="posSettingCtrl.possetData.tax" ng-required="true"/>
							<span class="error" ng-show="possetfrm.tax.$error.required">Tax is required</span>
						</div>
						<div class="form-group">
							<label for="Firstname5" class="col-md-4 control-label">Tax Description :</label>
							<textarea class="form-control" name="taxDesription" rows="1" cols="3" style="resize : none;" ng-model="posSettingCtrl.possetData.taxDescription"></textarea>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.sms" ng-true-value="1" ng-false-value="0" />
									<span>Send Invoice SMS</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.email" ng-true-value="1" ng-false-value="0" />
									<span>Send Invoice Details E-Mail</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.deliveryChargesStatus"  ng-true-value="1" ng-false-value="0"/>
									<span>Delivery Charges</span>
								</label>
							</div>
							<label  class="radio-inline radio-styled radio-primary">
								<input type="radio" name="deliverySelect" ng-disabled="posSettingCtrl.possetData.deliveryChargesStatus === 0" ng-model="posSettingCtrl.deliverySelect" ng-value="1" ><span>Fixed Amount</span>
							</label>
							<input type="text" ng-disabled="posSettingCtrl.deliverySelect === 0 || posSettingCtrl.possetData.deliveryChargesStatus === 0"  ng-model="posSettingCtrl.possetData.fixedAmount" />
						</div>
							
						<div class="form-group">
							<label class="radio-inline radio-styled radio-success">
								<input type="radio" ng-disabled="posSettingCtrl.possetData.deliveryChargesStatus === 0"  name="deliverySelect" ng-model="posSettingCtrl.deliverySelect" ng-value="0" ><span>'%' on Invoice</span>
							</label>
							<input type="text" ng-disabled="posSettingCtrl.deliverySelect === 1 || posSettingCtrl.possetData.deliveryChargesStatus === 0"  ng-model="posSettingCtrl.possetData.invoicePercentage" />
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.receiptPrinterStatus" ng-true-value="1" ng-false-value="0"/>
									<span>Enable Print Receipt By Default</span>
								</label>
							</div>
						</div>
					</div><!--end col-md-4  -->
				
					<div class="col-md-4">
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.processOrderDirectly" ng-true-value="1" ng-false-value="0" />
									<span>Process Order Directly</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.allowToAddUserGroup" ng-true-value="1" ng-false-value="0" />
									<span>Enable amusement park</span>
								</label>
							</div>
						</div>
						
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.crossCheckQuantity" ng-true-value="1" ng-false-value="0" />
									<span>Cross Check Quantity Before Sale</span>
								</label>
							</div>
						</div>
						
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.crossCheckQuantity" ng-true-value="1" ng-false-value="0"/>
									<span>Cross Check Quantity Before Add to Cart</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.crossCheckBalanceStatus" ng-true-value="1" ng-false-value="0" />
									<span>Cross Check Available Balance Before Add to Cart</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.orderOnHoldStatus" ng-true-value="1" ng-false-value="0" />
									<span>Order On Hold Facility</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.holdSettingsModeStatus" ng-true-value="1" ng-false-value="0" />
									<span>Hold Setting Allow Same Operator to modify</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.tableFunctionStatus" ng-true-value="1" ng-false-value="0" />
									<span>Enable Table Functionality</span>
								</label>
							</div>
						</div>
					</div><!--end col-md-4  -->
		
					<div class="col-md-4">
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.discountStatus" ng-true-value="1" ng-false-value="0"/>
									<span>Enable Discount Functionality</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.confirmOrderAutoStatus" ng-true-value="1" ng-false-value="0" />
									<span>Confirm Order Automatically By System(Other wise user have to confirm manually)</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.holdOrderShowStatus" ng-true-value="1" ng-false-value="0" />
									<span>Show Hold Orders Also in Admin Window</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.communicationStatus" ng-true-value="1" ng-false-value="0"/>
									<span>Communication Group</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<input type="text" ng-disabled="true" ng-model="posSettingCtrl.groupdata.groupName" style=" width: 46%;float: left; margin-right: 10px;" class="form-control"/>
							<select type="text" style="width: 50%;" class="form-control" ng-model="posSettingCtrl.groupdata" ng-options="GrpMast as GrpMast.groupName for GrpMast in posSettingCtrl.groupMasterData.resData">
								<option value="">Select</option>
							</select>
						</div>
						<div class="form-group">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="posSettingCtrl.possetData.thankYouNoteStatus" ng-true-value="1" ng-false-value="0"/>
									<span>Thank You Note Format</span>
								</label>
							</div>
							<textarea class="form-control" name="taxDesription" rows="2" cols="3" style="resize : none;" ng-model="posSettingCtrl.possetData.thankYouNote"></textarea>
						</div>
					</div><!--end col-md-4  -->
					
				<div class="col-md-12">
					<div class="card-actionbar">
						<div class="card-actionbar-row">
							<button type="submit" ng-click="possetfrm.$valid && posSettingCtrl.save()" class="btn ink-reaction btn-raised btn-primary">
								Save
							</button> 
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

	</div>
							
							