<!-- <style>
   table {table-layout:fixed;}
   </style> -->
<div class="">
    <form class="form-horizontal" ng-submit="posUserFrm.$valid && posUserSearchCtrl.userSelectFun()" novalidate role="form" name="posUserFrm">
        <div class="card" style="margin-bottom: 0;">
            <div class="card-head style-primary">
                <header>{{ posUserSearchCtrl.tableHeader }}</header>
                <button type="button" class="btn btn-default btn_close" ng-click="posUserSearchCtrl.cancel()"><i class="fa fa-times"></i></button>
            </div>
            <div class="card-body" style="overflow: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search by</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="searchBy" ng-model="posUserSearchCtrl.searchBy">
                      					<option value="">Select</option>
                      					<option value="User Id">User Id</option>
                      					<option value="User Name">User Name</option>
                      					<option value="Emp Id">Emp Id</option>
                      				</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search Value</label>
                                 <div class="input-group input-group-lg">
                                    <div class="">
                                        <input type="text" class="form-control" ng-disabled="posUserSearchCtrl.searchBy === 'Date Of Birth' || posUserSearchCtrl.searchBy === 'Activation Date' || posUserSearchCtrl.searchBy === 'Deactivation Date' || posUserSearchCtrl.searchBy === 'Created Date' || posUserSearchCtrl.searchBy === 'Modified Date' " ng-model="posUserSearchCtrl.searchValue" placeholder="Enter your search here" />
                                        <!-- <span ng-if="posUserSearchCtrl.searchValue" style="position: absolute; right: 48px;" ><i class="fa fa-times" aria-hidden="true"></i></span> -->
                                        <a class="textclear" ng-click="posUserSearchCtrl.searchValue = ''" ng-if="posUserSearchCtrl.searchValue"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        <div class="form-control-line"></div>
                                    </div>
                                    
                                    <div class="input-group-btn">
                                        <button class="btn btn-floating-action btn-default-bright" ng-click="posUserSearchCtrl.userDetails()" type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- search by type -->
                        <div class="col-md-6" ng-if="posUserSearchCtrl.searchBy === 'Category Type'" ng-init="posUserSearchCtrl.categoryList()">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Category Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="categoryType" ng-model="posUserSearchCtrl.searchField" ng-options="cats.categoryPrimery.categoryId as cats.categorynm for cats in posUserSearchCtrl.category_list.resData">
              						    <option value="">--SELECT--</option>
              						</select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" ng-if="posUserSearchCtrl.searchBy === 'User Type'">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">User Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="userType" ng-model="posUserSearchCtrl.searchField">
              						    <option value="">--SELECT--</option>
              						    <option value="Admin">Admin</option>
              						    <option value="User">User</option>
              						</select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" ng-if="posUserSearchCtrl.searchBy === 'Gender'">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Gender</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="gender" ng-model="posUserSearchCtrl.searchField">
              						    <option value="">--SELECT--</option>
              						    <option value="Male">Male</option>
              						    <option value="Female">Female</option>
              						</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="posUserSearchCtrl.searchBy === 'Division Name'" ng-init="posUserSearchCtrl.getDivisionDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Division</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="posUserSearchCtrl.searchField" ng-options="div.divisionNm as div.divisionNm for div in posUserSearchCtrl.divisionList.resData" name="division">
										<option value="">select division</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="posUserSearchCtrl.searchBy === 'Sector Name'" ng-init="posUserSearchCtrl.getSectorDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Sector</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="posUserSearchCtrl.searchField" name="sector" ng-options="sec_d.sectorNm as sec_d.sectorNm for sec_d in posUserSearchCtrl.sect_data.resData">
											<option value="">select sector</option>
										</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="posUserSearchCtrl.searchBy === 'Location Name'" ng-init="posUserSearchCtrl.getLocationDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="posUserSearchCtrl.searchField" ng-options="loc_d.locationNm as loc_d.locationNm for loc_d in posUserSearchCtrl.loc_data.resData" name="location">
											<option value="">select location</option>
										</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="posUserSearchCtrl.searchBy === 'Department Name'" ng-init="posUserSearchCtrl.getDepartmentDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="posUserSearchCtrl.searchField" ng-options="dep_d.deptNm as dep_d.deptNm for dep_d in posUserSearchCtrl.depart_data.resData" name="department">
									     <option value="">select department</option>
									</select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" ng-if="posUserSearchCtrl.searchBy === 'Created Date' ||
                        	 posUserSearchCtrl.searchBy === 'Modified Date' ||
                        	 posUserSearchCtrl.searchBy === 'Date Of Birth' ||
                        	 posUserSearchCtrl.searchBy === 'Activation Date' ||
                        	 posUserSearchCtrl.searchBy === 'Deactivation Date'">
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">From</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="posUserSearchCtrl.fromDate" is-open="posUserSearchCtrl.from.opened" datepicker-options="posUserSearchCtrl.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="posUserSearchCtrl.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
									</div>
							</div>
						</div>
						
						<div class="col-md-6" ng-if="posUserSearchCtrl.searchBy === 'Created Date' ||
                        	 posUserSearchCtrl.searchBy === 'Modified Date' ||
                        	 posUserSearchCtrl.searchBy === 'Date Of Birth' ||
                        	 posUserSearchCtrl.searchBy === 'Activation Date' ||
                        	 posUserSearchCtrl.searchBy === 'Deactivation Date'">
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">To</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="posUserSearchCtrl.toDate" is-open="posUserSearchCtrl.to.opened" datepicker-options="posUserSearchCtrl.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="posUserSearchCtrl.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
									</div>
							</div>
						</div>
                      </div>

                    <!--$ TABLE $-->
                    <div class="col-md-12">
                        <table class="table table-hover table-reponsive">
                            <thead>
                                <tr>
                                	<th>Select User</th>
                                	<th>User Id</th>
                                    <th>Name</th>
                                    <th>EPC ID</th>
                                    <th>Category Name</th>
                                    <th>Emp Id</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="users in posUserSearchCtrl.user_data.resData" ng-hide="$first">
                                  	<td>
                                        <label class="radio-inline radio-styled">
											 <input type="radio" name="inlineRadioOptions" ng-model="posUserSearchCtrl.userSelect" value="{{users}}" /><span></span>
										</label>
                                    </td>
                                  	<td>{{users.userId}}</td>
                                    <td style="word-break: break-all;">{{users.userName}}</td>
                                    <td style="word-break: break-all;">{{users.tagId}}</td>
                                    <td>{{users.categoryName}}</td>
                                    <td>{{users.empId}}</td>
                                    <td>{{users.userType}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <ul uib-pagination total-items="posUserSearchCtrl.totalItems" max-size="posUserSearchCtrl.maxSize" ng-model="posUserSearchCtrl.currentPage" ng-change="posUserSearchCtrl.userDetails()" items-per-page="posUserSearchCtrl.itemsPerPage" boundary-links="true"
                                rotate="false"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <button type="submit" class="btn ink-reaction btn-raised btn-primary">Ok</button>
                    <button type="button" ng-click="posUserSearchCtrl.cancel()" class="btn ink-reaction btn-raised btn-primary">Cancel</button>
                </div>
            </div>
        </div>
        <!--end .card -->
    </form>
</div>
<!--end .card-body -->
