 <div>
	<form class="form-horizontal" novalidate role="form" name="deviceFrm">
		<div class="card" style="margin-bottom: 0px;radius:1px">
					<div class="card-head style-primary">
							<header>{{deviceAddUpdateCtrl.tableHeader}}</header>
							<button class="btn btn-default btn_close" ng-click="deviceAddUpdateCtrl.cancel()"><i class="fa fa-times"></i></button>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (deviceFrm.$submitted || deviceFrm.name.$touched || submitted ) && deviceFrm.name.$invalid && deviceFrm.name.$error.required || deviceFrm.name.$error.maxlength}">
										<label for="Firstname5" class="col-sm-3 control-label">Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="name" ng-maxlength="50" ng-model="deviceAddUpdateCtrl.deviceData.name" ng-required="true"/>
											<p ng-show="deviceFrm.name.$error.maxlength" class="help-block">Only 50 Characters are allowed</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (deviceFrm.$submitted || deviceFrm.email.$touched || submitted ) && deviceFrm.email.$invalid && deviceFrm.email.$error.required || deviceFrm.email.$error.pattern}">
										<label for="Firstname5" class="col-sm-3 control-label">Email</label>
										<div class="col-sm-9">
											<input type="email" class="form-control" name="email" ng-maxlength="50" ng-model="deviceAddUpdateCtrl.deviceData.email" ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" ng-required="true"/>
											<p ng-show="deviceFrm.email.$error.pattern" class="help-block">Invalid Email....!</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : deviceFrm.contactNumber.$error.maxlength }">
										<label for="Lastname5" class="col-sm-3 control-label">Contact Number</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="contactNumber" ng-maxlength="10" numbers-only ng-model="deviceAddUpdateCtrl.deviceData.contactNo" />
											<p ng-show="deviceFrm.contactNumber.$error.maxlength" class="help-block error">Only 10 digits are allowed</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (deviceFrm.$submitted || deviceFrm.companyName.$touched || submitted ) && deviceFrm.companyName.$invalid && deviceFrm.companyName.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">Company</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="deviceAddUpdateCtrl.globalCompName" readonly/>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
							
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (deviceFrm.$submitted || deviceFrm.channelId.$touched || submitted ) && deviceFrm.channelId.$invalid && deviceFrm.channelId.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">Channel Id</label>
										<div class="col-sm-9">
											<select class="form-control" ng-model="deviceAddUpdateCtrl.deviceData.channelId" >
												<option value="">Select</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (deviceFrm.$submitted || deviceFrm.channelName.$touched || submitted ) && deviceFrm.channelName.$invalid && deviceFrm.channelName.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">Channel Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="deviceAddUpdateCtrl.deviceData.channelName" ng-required="true" />
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (deviceFrm.$submitted || deviceFrm.readerArea.$touched || submitted ) && deviceFrm.readerArea.$invalid && deviceFrm.readerArea.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">Reader Area</label>
										<div class="col-sm-9">
											<select class="form-control" ng-model="deviceAddUpdateCtrl.deviceData.readerArea">
												<option value="">Select</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (deviceFrm.$submitted || deviceFrm.readerZone.$touched || submitted ) && deviceFrm.readerZone.$invalid && deviceFrm.readerZone.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">Reader Zone</label>
										<div class="col-sm-9">
											<select class="form-control" ng-model="deviceAddUpdateCtrl.deviceData.readerZone" ng-required="true">
												<option value="">Select</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (deviceFrm.$submitted || deviceFrm.ipAddress.$touched || submitted ) && deviceFrm.ipAddress.$invalid && deviceFrm.ipAddress.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">IP Address</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="deviceAddUpdateCtrl.deviceData.ipAddress" ng-required="true"/>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (deviceFrm.$submitted || deviceFrm.imeiNumber.$touched || submitted ) && deviceFrm.imeiNumber.$invalid && deviceFrm.imeiNumber.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">IMEI Number</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="deviceAddUpdateCtrl.deviceData.imeiNumber" ng-required="true"/>
										</div>
									</div>
								</div>
							</div>
						</div><!-- end .card-body -->
						
						<div class="card-actionbar">
							<div class="card-actionbar-row">
								<button type="button" ng-click="deviceAddUpdateCtrl.cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
								<button type="submit" class="btn btn-flat btn-primary ink-reaction">Add</button> 
								<button type="submit" ng-click="deviceFrm.$valid && addDivisionDetails()" class="btn btn-flat btn-primary ink-reaction" ng-disabled="$invalid">Update</button>
							</div>
						</div>
					</div><!-- end .card -->
				</form>
			</div><!-- end .card-body -->
