<div ui-view>
	<div class="section-body">
		<div class="card-head style-primary">
			<div class="col-md-12">
				<div>
					<header class="text-left">Devices</header>
					<button ng-click="deviceRegistrationCtrl.devicAddUpdate()" style="color: #0aa89e; background-color: white;" type="button" tooltip-placement="left" uib-tooltip="Device Add" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right"><i class="fa fa-plus"></i></button>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-12 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Reader ID</th>
								<th>Reader Name</th>
								<th>Company Name</th>
								<th>IpAddress</th>
								<th>Mac Address</th>
								<th>GateWay</th>
								<th>Enable</th>
								<th>ReadMode</th>
								<th>ReadFreque</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="assetPag in deviceRegistrationCtrl.assetPag_data.resData" ng-show="assetPag.assetId >= 4">
								<td>
									{{assetPag.assetId}}
								</td>
								<td>{{assetPag.assetNm}}</td>
								<td>{{assetPag.categoryType}}</td>
								<td>{{assetPag.serialNo}}</td>
								<td>{{assetPag.tagId }}</td>
								<td class="text-right">
									<button type="button" class="btn btn-icon-toggle" ng-if="!assetPag.expanded" ng-click="assetPag.expanded = true; deviceRegistrationCtrl.assetRowData(assetPag)"><a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a></button>
									<button type="button" class="btn btn-icon-toggle" ng-if="assetPag.expanded" ng-click="assetPag.expanded = false; deviceRegistrationCtrl.assetRowDataEmpt(assetPag)"><a class="btn btn-icon-toggle"><i class="fa fa-angle-up"></i></a></button>
									<button type="button" class="btn btn-icon-toggle" ng-click="deviceRegistrationCtrl.editAssetFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
									<button type="button" class="btn btn-icon-toggle" ng-click="deviceRegistrationCtrl.deleteAssetFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							
						</tbody>
					</table>
					<div class="text-center">
						<ul uib-pagination total-items="deviceRegistrationCtrl.totalItems" ng-model="deviceRegistrationCtrl.currentPage" max-size="deviceRegistrationCtrl.maxSize" ng-change="deviceRegistrationCtrl.pageChanged()" items-per-page="deviceRegistrationCtrl.itemsPerPage" class="pagination-sm" boundary-links="true"
										rotate="false"></ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--end .section-body -->
</div>
<!-- End UI-VIEW -->
