<!-- pdDeviceLocationCtrl -->
<div class="section-body">
	<div class="card">
		<div class="card-head style-primary">
			<header>Full Map</header>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-md-12">														
					<div id="googleMap" style="width:100%;height:600px;" ng-init="pdFullMapCtrl.mapLaod()"></div>
				</div>
			</div>
		</div>
	</div>
</div>