 <!-- home header include -->
<home-header></home-header>

<!-- BEGIN BASE-->
<div id="base">
	<div class="offcanvas"></div>
		<section id="content">
			<div class="section-body">
				<div class="row">
				
				<!--breadcrumb  -->
				<div class="breadcrumb">
					<div>
						<ui-breadcrumbs displayname-property="data.displayName"
							abstract-proxy-property="data.proxy"
							template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
					</div>
				</div>
					
				<div ui-view><!--   ui-view  -->
					<div class="section-body">
						 <div class="card">
							<div class="card-head">
								<ul class="nav nav-tabs nav-justified" data-toggle="tabs">
									<li ng-class="{'active' : pdDashboardCtrl.isSet(1)}"><a href ng-click="pdDashboardCtrl.setTab(1)">DEVICES</a></li>
									<li ng-class="{'active' : pdDashboardCtrl.isSet(2)}"><a href ng-click="pdDashboardCtrl.setTab(2)">USERS</a></li>
									<li ng-class="{'active' : pdDashboardCtrl.isSet(3)}"><a href ng-click="pdDashboardCtrl.setTab(3)">ROUTES</a></li>
								</ul>
							</div>
							<div class="card-body tab-content">
								
								<div ng-show="pdDashboardCtrl.isSet(1)" ng-class="{'tab-pane active' : pdDashboardCtrl.isSet(1)}">
									<div class="card">
										<div class="card-head style-primary">
											<header>Pickup Drop Dashboard</header>
										</div> <!--end .card-head -->
					
										<div class="card-body">
											<div class="row">
												<div class="col-md-12">
													<div class="card" style="margin-bottom: 0px;">
														<div class="row">
															<div class="col-md-8">
																<div class="height-4" style="overflow: auto;">
																	<table class="table table-hover">
																		<thead>
																			<tr>
																				<th>Journey ID</th>
																				<th>Device ID</th>
																				<th>Device Name</th>
																				<th>Start Date</th>
																				<th>End Date</th>
																					<th class="text-right">Actions</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr ng-class="{'journeyActive' : pdDashboardCtrl.journeySelect === journey}" ng-repeat="journey in pdDashboardCtrl.journeyList.resData | orderBy :'-'" ng-hide="$last">
																					<td>
																						{{journey.journeyid}}
																					</td>
																					<td>{{journey.deviceId}}</td>
																					<td>{{journey.deviceName}}</td>
																					<td>{{journey.startDateTime | datetime }}</td>
																					<td>{{journey.endDateTime | datetime }}</td>
																					<td class="text-right">
																						<button type="button" ng-click="pdDashboardCtrl.routeListFun(journey)" class="btn btn-icon-toggle ink-reaction" tooltip-placement="top" uib-tooltip="Map"><i class="md md-location-on"></i></button>
																						<button type="button" ng-click="pdDashboardCtrl.generatePDF(journey)" class="btn btn-icon-toggle ink-reaction" tooltip-placement="top" uib-tooltip="Report"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
																					</td> 
																				</tr>
																				<tr ng-if="!pdDashboardCtrl.journeyList.resData"><td colspan="5">No Records found....!</td></tr>
																			</tbody>
																		</table>
																		<!-- <div class="text-center">
																			<ul uib-pagination total-items="pdDashboardCtrl.totalItems" ng-model="pdDashboardCtrl.currentPage" max-size="pdDashboardCtrl.maxSize" ng-change="pdDashboardCtrl.pageChanged()" items-per-page="pdDashboardCtrl.itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false"></ul>
									  								  	</div> -->
																	</div><!--end .card-body -->
																	<div class="text-right">
																		<ul style="margin: 11px 0px 0px 0px" uib-pagination total-items="pdDashboardCtrl.totalItems" ng-model="pdDashboardCtrl.currentPage" max-size="pdDashboardCtrl.maxSize" ng-change="pdDashboardCtrl.pageChanged()" items-per-page="pdDashboardCtrl.itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false"></ul>
									  								 </div>
																</div><!--end .col -->
																
																<!-- ===== DEVICE LIST =======  -->	
																<div class="col-md-4">
																	<div class="height-4" style="overflow: auto; box-shadow : -8px 6px 12px -4px #9e9e9e;">
																		<ul class="nav nav-pills nav-stacked">
																			<li>
																				<small>Device List</small><b class="error angular-animation"  ng-show="pdDashboardCtrl.divSelect" >Please select device....!</b>
																			</li>
																		</ul>
																		<table class="table table-hover">
																			<!-- <thead>
																				<tr>
																					<th>Device List</th>
																					<th class="text-right">Actions</th>
																				</tr>
																			</thead> -->
																			<tbody>
																				<tr ng-class="{journeyActive : pdDashboardCtrl.activeMenu === devices}" ng-repeat="devices in pdDashboardCtrl.deviceList.resData">
																					<td>
																						{{devices.readerName}} <small  ng-class="{'fontcolor-green' : devices.STATUS === 1, 'fontcolor-red' : devices.STATUS !== 1}" style="opacity: 0.5; font-size: 9px">{{devices.onof}}</small>
																					</td>
																					<td class="text-right">
																						<button type="button" ng-click="pdDashboardCtrl.deviceSelect(devices)" class="btn btn-icon-toggle ink-reaction" tooltip-placement="top" uib-tooltip="Journey List"><i class="md md-view-list"></i></button>
																						<a type="button" target="_blank"  ui-sref="pickUpDropDashBoard.deviceLocation({ deviceId : devices.macId, deviceName : devices.readerName })" class="btn btn-icon-toggle ink-reaction" tooltip-placement="top" uib-tooltip="Current Location"><i class="md md-location-on" aria-hidden="true"></i></a>
																					</td> 
																				</tr>
																			</tbody>
																		</table>
																	</div><!--end .card-body -->
																	
																	<!-- <div style="box-shadow : -8px 6px 12px -4px #9e9e9e; height: 160px; overflow: auto;">
																		<ul class="nav nav-pills nav-stacked">
																			<li>
																				<small>Device List</small><b class="error angular-animation"  ng-show="pdDashboardCtrl.divSelect" >Please select device....!</b>
																			</li>
																			<li  ng-class="{journeyActive : pdDashboardCtrl.activeMenu === devices}" ng-repeat="devices in pdDashboardCtrl.deviceList.resData">
																				<a style="cursor:pointer;padding: 4px 15px;" ng-click="pdDashboardCtrl.deviceSelect(devices)">{{devices.readerName}} 
																				<strong class="pull-right text-bold opacity-75"><i class="fa fa-map-marker" aria-hidden="true"></i></strong>
																				</a>
																			</li>
																		</ul>
																	</div>end .col -->
																		
																	<div class="card-body">
																			<div class="col-md-5">
															                   	<div class="form-group">
																				<!-- <label for="name" class="col-sm-3 control-label">From</label> -->
																					<div class="col-sm-12">
																						<div class="input-group-content">
																							<input type="text" class="form-control" uib-datepicker-popup ng-model="pdDashboardCtrl.fromDate" is-open="pdDashboardCtrl.from.opened" datepicker-options="pdDashboardCtrl.dateOptions" close-text="Close" />
																						</div>
																						<div class="input-group-btn">
																							<button type="button" class="btn btn-default" ng-click="pdDashboardCtrl.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-md-5">
															                   	<div class="form-group">
																				<!-- <label for="name" class="col-sm-3 control-label">To</label> -->
																					<div class="col-sm-12">
																						<div class="input-group-content">
																							<input type="text" class="form-control" uib-datepicker-popup ng-model="pdDashboardCtrl.toDate" is-open="pdDashboardCtrl.to.opened" datepicker-options="pdDashboardCtrl.dateOptions" close-text="Close" />
																						</div>
																						<div class="input-group-btn">
																							<button type="button" class="btn btn-default" ng-click="pdDashboardCtrl.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-md-1">
																				<div class="input-group-btn">
													                        	 	<button class="btn btn-floating-action btn-default-bright" ng-click="pdDashboardCtrl.searchJourneyList()" type="button"><i class="fa fa-search"></i></button>
													                           	</div>
																			</div>
																		</div>
																	</div><!--end .col -->
																	
																</div><!--end .row -->
															</div>
															
															<div style="margin-top: 5px;">
																<ul ng-if="pdDashboardCtrl.globJourneyId" style="display: inline-flex;margin: 0px 0px 0px 0px;">
																	<li style="list-style: none;margin-right: 44px;"><b>Journey Id : <code>{{pdDashboardCtrl.globJourneyId.journeyid}}</code></b></li>
																	<li style="list-style: none;margin-right: 44px;"><b>Device Name : <code>{{pdDashboardCtrl.globJourneyId.deviceName}}</code></b></li>
																	<li style="list-style: none;margin-right: 44px;"><b>Device Id : <code>{{pdDashboardCtrl.globJourneyId.deviceId}}</code></b></li>
																	<li style="list-style: none;margin-right: 44px;"><b>Operator Name : <code>{{pdDashboardCtrl.globJourneyId.userName}}</code> </b></li>
																	<li style="list-style: none;margin-right: 44px;"><a style="cursor : pointer;" target="_blank" ui-sref="pickUpDropDashBoard.fullMap({ journeyID: pdDashboardCtrl.globJourneyId.journeyid, routeID: pdDashboardCtrl.globJourneyId.routeId })" ><i class="md md-exit-to-app"></i></a></li>
																</ul>																
																<div id="googleMap" style="width:100%;height:500px;" ng-init="pdDashboardCtrl.initialize()"></div>
																<img ng-hide="true" id="imgMap" style="width : 100%;height:400px;border:1px solid" ng-src="{{pdDashboardCtrl.imgUrl}}" > 
															</div>
														</div>
													</div><!--end .col -->
												</div><!--end .row -->
											</div><!--end .card-body -->
								</div>
								<div ng-show="pdDashboardCtrl.isSet(2)" ng-class="{'tab-pane active' : pdDashboardCtrl.isSet(1)}">
									<p>TAB 2</p>
								</div>
								<div ng-show="pdDashboardCtrl.isSet(3)" ng-class="{'tab-pane active' : pdDashboardCtrl.isSet(1)}">
									<p>TAB 3</p>
								</div>
							</div>
						</div> 
						
						
								
					</div><!--end .card -->
				</div>
			</div>
		</div>
	</section>
			
		<!-- Include home side menus  -->
		<pd-side-menubar></pd-side-menubar>
	</div>
	
	<script src="resources/scripts/libs/source/App.js"></script>