<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse ">
	<div class="menubar-fixed-panel">
		<div>
			<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<div class="expanded">
			<a href="../../html/dashboards/dashboard.html">
				<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
			</a>
		</div>
	</div>
	<div class="menubar-scroll-panel">
		<ul id="main-menu" class="gui-controls">
			<li>
				<a ui-sref="pickUpDropDashBoard" class="active">
					<div class="gui-icon"><i class="md md-home"></i></div>
				</a>
			</li><!--end /menu-li -->
			<li class="gui-folder">
				<a>
					<div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
					<span class="title">Masters</span>
				</a>
				<ul>
					<li><a ui-sref="pickUpDropDashBoard.division" ><span class="title">Division</span></a></li>
					<li><a ui-sref="pickUpDropDashBoard.sector" ><span class="title">Sector</span></a></li>
					<li><a ui-sref="pickUpDropDashBoard.location" ><span class="title">Location</span></a></li>
					<li><a ui-sref="pickUpDropDashBoard.department" ><span class="title">Department</span></a></li>
				</ul> 
			</li>
			<li class="gui-folder">
				<a>
					<div class="gui-icon"><span class="md md-settings-remote"></span></div>
					<span class="title">Readers</span>
				</a>
				<ul>
					<li><a ui-sref="pickUpDropDashBoard.area" ><span class="title">Area</span></a></li>
					<li><a ui-sref="pickUpDropDashBoard.zone" ><span class="title">Zone</span></a></li>
					<li><a ui-sref="pickUpDropDashBoard.deviceRegistration" ><span class="title">Android Reader</span></a></li>
				</ul> 
			</li>
			<li>
				<a ui-sref="pickUpDropDashBoard.user">
					<div class="gui-icon"><i class="md md-account-child"></i></div>
					<span class="title">User Registration</span> 
				</a>
			</li>
			<!-- <li>
				<a ui-sref="pickUpDropDashBoard.deviceRegistration">
					<div class="gui-icon"><i class="md md-assessment"></i></div>
					<span class="title">Device Registration</span> 
				</a>
			</li> -->
			<li>
				<a ui-sref="pickUpDropDashBoard.dockdoor">
					<div class="gui-icon"><i class="md md-assessment"></i></div>
					<span class="title">DockDoor</span> 
				</a>
			</li>
			<li class="gui-folder">
				<a>
					<div class="gui-icon"><i class="md md-computer"></i></div>
					<span class="title">Reports</span> 
				</a>
			</li>
			
		</ul><!--end .main-menu -->
		<div class="menubar-foot-panel">
			<small class="no-linebreak hidden-folded">
				<span class="opacity-75">Dolphin RFID since &copy; 2008</span>
			</small>
		</div>
	</div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
		
<script src="resources/scripts/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="resources/scripts/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="resources/scripts/libs/bootstrap/bootstrap.min.js"></script>
<!-- 	<script src="resources/scripts/libs/autosize/jquery.autosize.min.js"></script> -->
<!-- <script src="resources/scripts/libs/moment/moment.min.js"></script> -->
<!-- <script src="resources/scripts/libs/sparkline/jquery.sparkline.min.js"></script> -->
<!-- <script src="resources/scripts/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
<script src="resources/scripts/libs/rickshaw/rickshaw.min.js"></script> -->
<script src="resources/scripts/libs/source/App.js"></script>
<script src="resources/scripts/libs/source/AppNavigation.js"></script>
<script src="resources/scripts/libs/source/AppOffcanvas.js"></script>
<!-- <script src="resources/scripts/libs/source/AppCard.js"></script>
<script src="resources/scripts/libs/source/AppForm.js"></script> -->
	<!-- <script src="resources/scripts/libs/source/AppNavSearch.js"></script> -->
		<!-- END JAVASCRIPT -->
			