 <section class="style-default-bright">
					<div class="section-body table-responsive">
						<div class="row">
							<div class=col-md-12>
										<h2 class="pull-left" style="padding: 9px;color: rgb(10, 168, 158);">All Transaction Details</h2>
							</div>
						</div>
						
								
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Logo</th>
									<th>Date Time</th>
									<th>Category</th>
									<th>Name</th>
									<th>Aging</th>
									<th>Zone</th>
									<th style="width: 17%;">Tag</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="tran in alltransactionController.eventTransaction_data.resData" style="background-color:{{tran.colorSchemes.rowColor}}">
									<td><img class="img-circle width-1" src="resources/images/icon-user-default.png" alt=""></td>
									<td style="background-color:{{tran.colorSchemes.detectionColor}}">{{tran.todttime}}</td>
									<td>{{tran.tagCategory}}</td>
									<td>{{tran.assetnm}}</td>
									<td>{{tran.age}}</td>
									<td style="background-color:{{tran.colorSchemes.locationColor}}">{{tran.location}}</td>
									<td>{{tran.tagid}}</td>
								</tr>
							</tbody>
							<tfoot>
								<tr ng-if="alltransactionController.eventTransaction_data.resData.length <= 0"><td><h3>Records not found</h3></td></tr>
							</tfoot>
						</table>
					</div>
				</section>