<!--breadcrumb  -->
<div class="breadcrumb">
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>

<div ui-view>
	<div>
		<div class="col-md-2">
					<div class="home-icons text-center">
						<div class="home-icons-style">

							<a ui-sref=".all" >
									<span class="hover-effect">
									<img ng-src="resources/images/master/company.png">
								</span>
								<p>ALL TRANSACTIONS</p>
							</a>
						</div>
					</div>
					<!--end .card -->
				</div>
		<!--end .col -->
		<!-- END SERVER STATUS -->

		<!-- BEGIN SERVER STATUS -->
		<div class="col-md-2">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".asset">
						<span class="hover-effect"><img	ng-src="resources/images/master/division.png"></span>
						<p>ASSET TRANSACTIONS</p>
					</a>
				</div>
			</div>
			<!--end .card -->
		</div>
		<!--end .col -->
		<!-- END SERVER STATUS -->

		<!-- BEGIN SERVER STATUS -->
		<div class="col-md-2">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".user">
						<span class="hover-effect"><img	ng-src="resources/images/master/sector.png"></span>			
						<p>USER TRANSACTIONS</p>
					</a>
				</div>
			</div>
			<!--end .card -->
		</div>
		<!--end .col -->
		<!-- END SERVER STATUS -->

	</div>
</div>

<!--
 -->				<!-- END TABLE HOVER -->
