 <section class="style-default-bright">
					<div class="section-body">
						<div class="row">
							<div class=col-md-12>
										<h2 class="pull-left" style="padding: 9px;color: rgb(10, 168, 158);">User Transaction Details</h2>
							</div>
						</div>
						
								
						<table class="table table-hover table-wrap">
							<thead>
								<tr>
									<th>Date Time</th>
									<th>Category</th>
									<th>Name</th>
									<th>Aging</th>
									<th>Zone</th>
									<th>Tag</th>
									<!-- <th>Email</th>
									<th>Address</th>
									<th>Remark</th>
									<th class="text-right">Actions</th> -->
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="loc in resData">
									<td>
										<a>{{$index+1 }}</a>
									</td>
									<td>{{loc.locationNm}}</td>
									<td>{{loc.divisionName}}</td>
									<td>{{loc.sectorName}}</td>
									<td>{{loc.contactPerson}}</td>
									<td>{{loc.contactNo}}</td>
									<!-- <td>{{loc.email}}</td>
									<td>{{loc.address}}</td>
									<td>{{loc.remark}}</td>
									<td class="text-right">
										<button type="button" class="btn btn-icon-toggle" ng-click="editLocationFun(loc)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
										<button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-copy"></i></button>
										<button type="button" ng-click="deleteLocationFun(loc)" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
									</td> -->
								</tr>
							</tbody>
						</table>
					</div>
				</section>