
<!-- BEGIN MENUBAR-->
			<div ng-hide="isReqFrom === 'AND'" id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div>
						<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="expanded">
						<a href="../../html/dashboards/dashboard.html">
							<span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
						</a>
					</div>
				</div>
				<div class="menubar-scroll-panel">
					<ul id="main-menu" class="gui-controls">
						<li>
							<a ui-sref="homeDashboard" class="active">
								<div class="gui-icon"><i class="md md-home"></i></div>
								<!-- <span class="title">Dashboard</span> -->
							</a>
						</li><!--end /menu-li -->

						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="md md-email"></i></div>
								<!-- <span class="title">Email</span> -->
							</a>
							<!--start submenu -->
							<!-- <ul>
								<li><a ui-sref=".sample" ><span class="title">Inbox</span></a></li>
								<li><a href="../../html/mail/compose.html" ><span class="title">Compose</span></a></li>
								<li><a href="../../html/mail/reply.html" ><span class="title">Reply</span></a></li>
								<li><a href="../../html/mail/message.html" ><span class="title">View message</span></a></li>
							</ul> -->
						</li>
						<li>
							<a><div class="gui-icon"><i class="md md-web"></i></div></a>
						</li>
						<li class="gui-folder">
							<a><div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div></a>
						</li>

						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-table"></i></div>
								<!-- <span class="title">Tables</span> -->
							</a>
							<!-- <ul>
								<li><a href="../../html/tables/static.html" ><span class="title">Static Tables</span></a></li>
								<li><a href="../../html/tables/dynamic.html" ><span class="title">Dynamic Tables</span></a></li>
								<li><a href="../../html/tables/responsive.html" ><span class="title">Responsive Table</span></a></li>
							</ul> -->
						</li>

						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
								<!-- <span class="title">Forms</span> -->
							</a>
							<!-- <ul>
								<li><a href="../../html/forms/basic.html" ><span class="title">Form basic</span></a></li>
								<li><a href="../../html/forms/advanced.html" ><span class="title">Form advanced</span></a></li>
								<li><a href="../../html/forms/layouts.html" ><span class="title">Form layouts</span></a></li>
								<li><a href="../../html/forms/editors.html" ><span class="title">Editors</span></a></li>
								<li><a href="../../html/forms/validation.html" ><span class="title">Form validation</span></a></li>
								<li><a href="../../html/forms/wizard.html" ><span class="title">Form wizard</span></a></li>
							</ul> -->
						</li>

						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="md md-computer"></i></div>
								<!-- <span class="title">Pages</span> -->
							</a>
						</li><!--end /menu-li -->

						<li>
							<a>
								<div class="gui-icon"><i class="md md-assessment"></i></div>
								<!-- <span class="title">Charts</span> -->
							</a>
						</li><!--end /menu-li -->

						<li class="gui-folder">
							<a>
								<div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
								<!-- <span class="title">Menu levels demo</span> -->
							</a>
							<!-- <ul>
								<li><a href="#"><span class="title">Item 1</span></a></li>
								<li><a href="#"><span class="title">Item 1</span></a></li>
								<li class="gui-folder">
									<a href="javascript:void(0);">
										<span class="title">Open level 2</span>
									</a>
									<ul>
										<li><a href="#"><span class="title">Item 2</span></a></li>
										<li class="gui-folder">
											<a href="javascript:void(0);">
												<span class="title">Open level 3</span>
											</a>
											<ul>
												<li><a href="#"><span class="title">Item 3</span></a></li>
												<li><a href="#"><span class="title">Item 3</span></a></li>
												<li class="gui-folder">
													<a href="javascript:void(0);">
														<span class="title">Open level 4</span>
													</a>
													<ul>
														<li><a href="#"><span class="title">Item 4</span></a></li>
														<li class="gui-folder">
															<a href="javascript:void(0);">
																<span class="title">Open level 5</span>
															</a>
															<ul>
																<li><a href="#"><span class="title">Item 5</span></a></li>
																<li><a href="#"><span class="title">Item 5</span></a></li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul> -->
						</li>
					</ul><!--end .main-menu -->
					
					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Dolphin RFID since &copy; 2008</span>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
		
			<script src="resources/scripts/libs/jquery/jquery-1.11.2.min.js"></script>
			<script src="resources/scripts/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
			<script src="resources/scripts/libs/bootstrap/bootstrap.min.js"></script>
			<!-- 	<script src="resources/scripts/libs/autosize/jquery.autosize.min.js"></script> -->
			<!-- <script src="resources/scripts/libs/moment/moment.min.js"></script> -->
			<!-- <script src="resources/scripts/libs/sparkline/jquery.sparkline.min.js"></script> -->
			<!-- <script src="resources/scripts/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
			<script src="resources/scripts/libs/rickshaw/rickshaw.min.js"></script> -->
			<script src="resources/scripts/libs/source/App.js"></script>
			<script src="resources/scripts/libs/source/AppNavigation.js"></script>
			<script src="resources/scripts/libs/source/AppOffcanvas.js"></script>
			<!-- <script src="resources/scripts/libs/source/AppCard.js"></script>
			<script src="resources/scripts/libs/source/AppForm.js"></script> -->
			<!-- <script src="resources/scripts/libs/source/AppNavSearch.js"></script> -->
		<!-- END JAVASCRIPT -->
			