<!-- <fieldset  ng-disabled="isReqFrom === 'AND'"> -->
	<header ng-if="isReqFrom !== 'AND'" id="header">
		<div class="headerbar">
			<!-- === Header Left === -->
			<div class="headerbar-left">
				<ul class="header-nav header-nav-options">
					<li class="header-nav-brand" >
						<div class="brand-holder">
							<a href ><img ng-src="resources/images/EdgeWizardLogo.png"/></a>
						</div>
					</li>
					<li>
						<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
					</li>
				</ul>
			</div>
			
			<!-- === Header right === -->
			<div class="headerbar-right">
				<ul class="header-nav header-nav-options">
					<li><b>{{serverClock.time | date : 'dd-MMM-yyyy : HH:mm:ss a'}}</b></li>
					<li ng-class="{'dropdown hidden-xs': readerDlg, 'dropdown hidden-xs open': !readerDlg}" >
						<a tooltip-placement="right" uib-tooltip="Offline readers" ng-click="readerDlg = !readerDlg" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
							<img style="height: 27px;padding-top: 5px;" src="resources/images/reader_offline.png"><sup class="badge style-danger">{{ totOffReaders }}</sup>
						</a>
						<ul class="dropdown-menu animation-expand readerHgt">
							<li class="dropdown-header text-center">Offline Readers <strong>{{totOffReaders}}/{{totReaders}}</strong> </li>
							<li  ng-repeat="offReaders in allReaders_details" ng-if="offReaders.status === '0'">
								<a class="alert alert-callout alert-warning">
									<strong>Name : {{ offReaders.readerName }}</strong><br>
									<small><strong>IP</strong> : {{ offReaders.readerIpAddress }}</small>&nbsp;&nbsp;&nbsp;
									<small><strong>Date</strong>: {{ offReaders.dateTime | datetime}}</small>
								</a>
							</li>
							<!-- <li class="dropdown-header">Options</li>
								<li><a href="">View all messages <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
								-->
						</ul>
					</li>
					<li class="dropdown hidden-xs">
						<!-- <a class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
							<i class="md-settings-input-antenna"></i>
						</a> -->
						<button tooltip-placement="right" uib-tooltip="select dockdoor" ng-click="openDockdoor()" type="button" class="btn ink-reaction btn-floating-action btn-sm btn-primary"><img style="width: 23px;" ng-src="resources/images/dock-door-white.png"></button>
					</li>
				</ul>
				
				<ul ng-if="isReqFrom !== 'AND'" class="header-nav header-nav-profile">
					<li ng-class="{'dropdown': autoScroll, 'dropdown open': !autoScroll}" >
						<a ng-click="autoScroll = !autoScroll" class="dropdown-toggle ink-reaction" >
							<img ng-show="userImg" ng-src="data:image/jpeg;base64,{{userLogo}}"  alt="" />			
							<img ng-hide="userImg" ng-src="resources/images/icon-user-default.png"/>	            			
							<span class="profile-info">{{globalUserName}}</span>
						</a>
						<ul class="dropdown-menu animation-dock">
							<li class="dropdown-header">Last Login </li>
							<li><a>{{lastLogin.resData.logedInDate | date : 'dd-MM-yyyy HH:MM:ss'}}</a></li>
							<li class="divider"></li>
							<li><a ng-click="logout()"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header>
<!-- </fieldset> -->