<!-- BEGIN SERVER STATUS -->
<widgets></widgets>
  <img class="homeback" style="width: 100%; position: absolute; left: 0; right: 0; opacity: 0.4; top: 119px;" ng-src="resources/images/home-back-new.png"> 
  	 
     <div class="col-lg-3 col-sm-4 col-xs-6">
    	<div class="home-icons text-center">
       		<div class="home-icons-style">
       			<a ui-sref=".masterMenu">
	        	<span class="hover-effect"><img ng-src="resources/images/master/master.png"></span></br>
	       	 	<b class="menu-font"> MASTERS </b>
	    		</a>    
       		</div>
      	</div>
     </div>
    
     <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       	<a ui-sref=".asset">
	        <span class="hover-effect"><img ng-src="resources/images/master/asset.png"></span></br>
		        <b class="menu-font">
		         ASSET
		        </b>
			</a>        
       </div>
      </div>
     </div>
     
    <div  ng-if="possetData.allowToAddUserGroup === 0" class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       	<a ui-sref=".user">
	        <span class="hover-effect"><img ng-src="resources/images/master/Customer.png"></span></br>
		        <b class="menu-font">
		         USER
		        </b>
			</a>        
       </div>
      </div>
     </div> 
     
     <div ng-if="possetData.allowToAddUserGroup === 1" class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       	<a ui-sref=".posUser">
	        <span class="hover-effect"><img ng-src="resources/images/master/Customer.png"></span></br>
		        <b class="menu-font"> POS USER </b>
			</a>        
       </div>
      </div>
     </div>
     
      <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       	<a ui-sref=".userPhoto">
	        <span class="hover-effect"><img ng-src="resources/images/master/Customer.png"></span></br>
		        <b class="menu-font">
		         USER MONITORING
		        </b>
			</a>        
       </div>
      </div>
     </div>
     
     <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a ui-sref=".readers">
		        <span class="hover-effect"><img ng-src="resources/images/master/reader.png"></span></br>
		        <b class="menu-font">
		         READERS
		        </b>
		   </a>    
       </div>
      </div>
     </div>
     
     <!-- <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a href="">
		        <span class="hover-effect"><img ng-src="resources/images/master/tag.png"></span></br>
		        <b class="menu-font">
		         TAG
		        </b>
		   </a>    
       </div>
      </div>
     </div>
     
     <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       	<a href=""> 
       		<span class="hover-effect"> <img ng-src="resources/images/master/user-asset-audit.png"></span></br>
	        <b class="menu-font">
	        ASSET/USER AUTH 
	        </b>
        </a>
       </div>
      </div>
     </div> -->

     <!-- BEGIN SERVER STATUS -->
     <!-- <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       	<a href="">
	        <span class="hover-effect"><img ng-src="resources/images/master/user-auth.png"></span></br>
	        <b class="menu-font">USER AUTH</b>
        </a>
       </div>
      </div>
     </div> -->
     
     <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a ui-sref=".assetIssueRecieve">
		        <span class="hover-effect"><img ng-src="resources/images/master/asset-issue-receive-new.png"></span></br>
		        <b class="menu-font">ASSET ISSUE/RECEIVE</b>
          	</a>
       </div>
      </div>
     </div>
    
     <!-- <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a href="">
	        	<span class="hover-effect"><img ng-src="resources/images/master/asset-rec_ret-new.png"></span></br>
	        	<b class="menu-font">ASSET RECEIVE/RETURN</b>
        	</a>
       </div>
      </div>
     </div> -->
     
     <!-- <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a href="">
		        <span class="hover-effect"><img ng-src="resources/images/master/asset-audit.png"></span></br>
		        <b class="menu-font">ASSET AUDIT</b>
		    </a>
       </div>
      </div>
     </div> -->
     
     <!-- <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a href="">
		        <span class="hover-effect"><img ng-src="resources/images/master/asset-audit.png"></span></br>
		        <b class="menu-font">ASSET VERIFICATION FOR DOC.REF</b>
         	</a>
       </div>
      </div>
     </div> -->
     
      <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a ui-sref=".transaction">
		        <span class="hover-effect"><img ng-src="resources/images/master/transaction.png"></span></br>
		        <b class="menu-font">TRANSACTIONS</b>
         	</a>
       </div>
      </div>
     </div>
     
     <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a ui-sref=".reports">
		        <span class="hover-effect"><img ng-src="resources/images/master/report.png"></span></br>
		        <b class="menu-font">REPORTS</b>
         	</a>
       </div>
      </div>
     </div> 
     
     <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a ui-sref=".dockdoor">
		        <span class="hover-effect"><img ng-src="resources/images/master/user-dock-door.png"></span></br>
		        <b class="menu-font">DockDoor</b>
         	</a>
       </div>
      </div>
     </div>
     
      <div class="col-lg-3 col-sm-4 col-xs-6">
      <div class="home-icons text-center">
       <div class="home-icons-style">
       		<a ui-sref=".posMenus">
		        <span class="hover-effect"><img ng-src="resources/images/master/pos1.png"></span></br>
		        <b class="menu-font">POS</b>
         	</a>
       </div>
      </div>
     </div>
     