<!-- home header include -->
<home-header></home-header>

<!-- BEGIN BASE-->
<div id="base">
	<div class="offcanvas"></div>
		<div id="content" ng-style="hidingObjStyle">
			<section>
				<div class="section-body">
					<div class="row">
						<div  ui-view>
							<home-body-content></home-body-content>
						</div>
					</div>
				</div>
			</section>
		</div>

	<!-- Include home side menus  -->
	<home-side-menus></home-side-menus>

</div>
<!-- END BASE -->
