<!-- <script src="resources/scripts/libs/jquery/jquery-1.11.2.min.js"></script> -->
 <link rel="stylesheet" href="resources/styles/bootstrap.min.css">
<link rel="stylesheet" href="resources/styles/style.css" >
<!--<script>

  $(function() {
    $(".rslides").responsiveSlides();
  });
  
  $(".rslides").responsiveSlides({
	  auto: true,             // Boolean: Animate automatically, true or false
	  speed: 500,            // Integer: Speed of the transition, in milliseconds
	  timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
	  pager: false,           // Boolean: Show pager, true or false
	  nav: false,             // Boolean: Show navigation, true or false
	  random: false,          // Boolean: Randomize the order of the slides, true or false
	  pause: false,           // Boolean: Pause on hover, true or false
	  pauseControls: true,    // Boolean: Pause when hovering controls, true or false
	  prevText: "Previous",   // String: Text for the "previous" button
	  nextText: "Next",       // String: Text for the "next" button
	  maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
	  navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
	  manualControls: "",     // Selector: Declare custom pager navigation
	  namespace: "rslides",   // String: Change the default namespace used
	  before: function(){},   // Function: Before callback
	  after: function(){}     // Function: After callback
	});
</script> -->
<div>
<section style="min-height: 100vh :padding : 0px;">
	<div class="flicker-example" style="min-height: 100vh">
		<ul>
			<li data-background="resources/images/slide-logo-01.jpg">
			</li>
			<li data-background="resources/images/slide-logo-02.jpg">
			</li>
			<li data-background="resources/images/slide-logo-03.jpg">
			</li>
			<li data-background="resources/images/slide-logo-05.jpg">
			</li>
		</ul>
	</div>
</section>
<!-- ng-controller="LoginController"   -->
<section style="position: absolute; top: 0; width: 100%;">
	<div class="container">
		<div class="row">
			<div class="login-page">
				<div class="login"> 
						<div class="flicker-example"  id="circle">
							<!-- <img class="edgeWizardLogo" ng-src="resources/images/EdgeWizardLogo.png" alt="EdgeWizard" /> -->
							<ul>
							  <li><img class="edgeWizardLogo" src="resources/images/EdgeWizardLogo.png" alt=""></li>
							  <li><img class="companyLogo" style="width : 61%;"  src="resources/images/dolphin-ico.png" alt=""></li>
							</ul>
						</div>
					<!-- <span>{{errorMsg}}</span> -->
					<form name="loginForm" ng-submit="loginForm.$valid && loginSave()" novalidate>
						<div class="form-group" ng-class="{'has-error':( loginForm.$submitted || loginForm.userName.$touched || submitted ) && loginForm.userName.$invalid && loginForm.userName.$error.required || loginForm.userName.$error.errorMsg}">
							<input type="text" class="form-control" name="userName" ng-model="form.userName"
								placeholder="User name" ng-required="true" />
								<p class="error angular-animation" ng-show="userNmErr">{{userNmErr}}</p>
								<p class="help-block angular-animation" ng-show="(loginForm.$submitted || loginForm.userName.$touched || submitted ) && loginForm.userName.$invalid && loginForm.userName.$error.required">User Name is required</p>
		          			</div>
		          			
						<div class="form-group" ng-class="{'has-error':( loginForm.$submitted || loginForm.password.$touched || submitted ) && loginForm.password.$invalid && loginForm.password.$error.required }">
							<input type="password" class="form-control" name="password"
								ng-model="form.password" placeholder="Password" ng-required="true" />
							<p class="error" ng-show="userPassErr">{{userPassErr}}</p>
							<span class="help-block angular-animation" ng-show="(loginForm.$submitted || loginForm.password.$touched || submitted ) && loginForm.password.$invalid && loginForm.password.$error.required">Password is required</span>
							
						</div>
						
						<div ng-hide="true" class="form-group" ng-class="{'has-error' : (loginForm.$submitted || loginForm.companySelect.$touched || submitted ) && loginForm.companySelect.$invalid && loginForm.companySelect.$error.required }">
							<select class="form-control"  ng-model="selectValue" name="companySelect" ng-required="true"
								ng-options="companies.companyId as companies.companyName for companies in companyInfo.resData">
								<options value="" selected >Select Company</options>
							</select>
							<span class="help-block angular-animation" ng-show="(loginForm.$submitted || loginForm.companySelect.$touched || submitted ) && loginForm.companySelect.$invalid && loginForm.companySelect.$error.required">Select field</span>
						</div>
						<div class="form-group" ng-class="{'has-error' : (loginForm.$submitted || loginForm.systemName.$touched || submitted ) && loginForm.systemName.$invalid && loginForm.systemName.$error.required }">
							<select class="form-control"  ng-model="systemName" name="systemName" ng-required="true"
								ng-options="lic.solutionCode as lic.solutionName for lic in licFile_data.resData.SolutionList">
								<options value="" selected >Select System</options>
							</select>
							<span class="help-block angular-animation" ng-show="(loginForm.$submitted || loginForm.companySelect.$touched || submitted ) && loginForm.companySelect.$invalid && loginForm.companySelect.$error.required">Select field</span>
						</div>
						<div class="text-center form-group">
							<button style="width: 100%;" type="submit" class="btn btn-color">Log
								In</button>
						</div>
						<span class="licensetxt">License To : &nbsp;<a href="" class="companytxt">{{licCompanyName.CompanyName}}</a></span>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer id="mainFooter">
		<div class="container" style="margin-left: 0px;">
			<div class="row">
				<div style="padding: 16px;">
					<div class="col-sm-12">
						<div class="col-sm-3 text-center">
							<p class="clearfix" style="color: white;font-size: 12px;">Dolphin RFID since &copy;2008</p>
						</div>

						<div class="col-sm-7" style="color: white;font-size: 12px;">
							<ul class="quickMenu">
								<li><a>Privacy Policy</a></li>
								<li><a>Contact Us</a></li>
								<li><a>Solutions</a></li>
							</ul>
						</div>
						<!-- <div class="col-sm-2 text-center">
							<p class="" style="color: white">Company Name</p>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</footer>
</section>
</div>
<script>
	new flickerplate('.flicker-example');
</script>
	
	