<!--breadcrumb  -->
<div class="breadcrumb">
	<!-- <div style="float: left">
		<i class="glyphicon glyphicon-home"></i>&nbsp;
	</div> -->
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>

<!-- Master Menu status  -->
<!-- Nested  -->
<div ui-view>
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".company">
						<span class="hover-effect"><img ng-src="resources/images/master/company.png"></span><br>
						<b class="menu-font">COMPANY</b>
					</a>
				</div>
			</div>
		</div>
				
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".division">
						<span class="hover-effect"><img	ng-src="resources/images/master/division.png"></span><br>
                        <b class="menu-font">DIVISION</b>
					</a>
				</div>
			</div>
		</div>
	
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".sector">
						<span class="hover-effect"><img	ng-src="resources/images/master/sector.png"></span><br>
						<b class="menu-font">SECTOR</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".location">
						<span class="hover-effect"><img ng-src="resources/images/master/location.png"></span><br>
						<b class="menu-font">LOCATION</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".department">
						<span class="hover-effect"><img ng-src="resources/images/master/department.png"></span><br>
						<b class="menu-font">DEPARTMENT</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".rack_registration">
						<span class="hover-effect"><img ng-src="resources/images/master/rack-registration.png"></span><br>
						<b class="menu-font">RACK REGISTRATION</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".manufacture">
						<span class="hover-effect"><img style="" ng-src="resources/images/master/manufacturer.png"></span><br>
						<b class="menu-font">MANUFACTURE</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".vendor">
						<span class="hover-effect"><img ng-src="resources/images/master/vendor.png"></span><br>
						<b class="menu-font">VENDOR</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".category">
						<span class="hover-effect"><img ng-src="resources/images/master/Category.png"></span><br>
						<b class="menu-font">CATEGORY</b>
					</a>
				</div>
			</div>
		</div>
	
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".batchLot">
						<span class="hover-effect"><img ng-src="resources/images/master/batch-lot.png"></span><br>
						<b class="menu-font">BATCH LOT</b>
					</a>
				</div>
			</div>
		</div>
	
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a href="">
						<span class="hover-effect"><img ng-src="resources/images/master/doc-ref.png"></span><br>
						<b class="menu-font">DOC.REF CREATE</b>
					</a>
				</div>
			</div>
		</div>
	
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a href="">
						<span class="hover-effect"><img ng-src="resources/images/master/asset-dock-door.png"></span><br>
						<b class="menu-font">ASSET DOCK DOOR</b>
					</a>
				</div>
			</div>
		</div>
	
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a href="">
						<span class="hover-effect"><img ng-src="resources/images/master/user-dock-door.png"></span></br>
						<b class="menu-font">USER DOC DOOR</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a href="">
						<span class="hover-effect"><img ng-src="resources/images/master/Customer.png"></span><br>
						<b class="menu-font">CUSTOMER</b>
					</a>
				</div>
			</div>
		</div>
		
		<!-- <div class="col-md-2">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".reports">
						<span class="hover-effect"><img ng-src="resources/images/master/report.png"></span><br>
						<b class="menu-font">REPORTS</b>
					</a>
				</div>
			</div>
		</div> -->
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a href="">
						<span class="hover-effect"><img ng-src="resources/images/master/data-import.png"></span></br>
						<b class="menu-font">DATA IMPORT</b>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".tax">
						<span class="hover-effect"><img ng-src="resources/images/master/tax.png"></span><br>
						<b class="menu-font">Tax</b>
					</a>
				</div>
			</div>
		</div>
		
</div>