<div>
	<form class="form-horizontal" novalidate role="form" name="tranpassword">
		<div class="card" style="margin-bottom: 0px; radius: 1px">
			<div class="card-head style-primary">
				<header>Transaction Password</header>
				<button class="btn btn-default btn_close" type="button" ng-click="transactionPasswordCtrl.cancel()">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12" style="overflow: auto;">
						<div class="form-group" ng-class="{'has-error' : tranpassword.password.$error.maxlength }">
				          	<label for="name" class="col-sm-4 control-label">Password</label>
				          	<div class="col-sm-8">
				               	<input type="password" class="form-control" name="password" ng-focus="true" ng-model="transactionPasswordCtrl.password"  ng-maxlength=4 />
				              	<span class="help-block" ng-show="tranpassword.password.$error.maxlength">Only 4 characters allowed</span>
				        	</div>
				       	</div>
					</div>
					<div class="col-md-12 text-center">
						<div style="padding: 25px;">
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(1)" class="btn ink-reaction btn-raised btn-primary">1</button>
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(2)" class="btn ink-reaction btn-raised btn-primary">2</button>
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(3)" class="btn ink-reaction btn-raised btn-primary">3</button><br>
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(4)" class="btn ink-reaction btn-raised btn-primary">4</button>
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(5)" class="btn ink-reaction btn-raised btn-primary">5</button>
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(6)" class="btn ink-reaction btn-raised btn-primary">6</button><br>
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(7)" class="btn ink-reaction btn-raised btn-primary">7</button>
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(8)" class="btn ink-reaction btn-raised btn-primary">8</button>
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(9)" class="btn ink-reaction btn-raised btn-primary">9</button><br>
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn(0)" class="btn ink-reaction btn-raised btn-primary">0</button> 
							<button type="button" ng-click="transactionPasswordCtrl.numberBtn('clear')" class="btn ink-reaction btn-raised btn-primary">clear</button>
						</div>
					</div>
				</div>
			</div>

			<div class="card-actionbar">
				<div class="card-actionbar-row">
					<button type="submit" class="btn ink-reaction btn-raised btn-primary"
						ng-click="tranpassword.$valid && transactionPasswordCtrl.okBtn()">Ok</button>
				</div>
			</div>
		</div>
	</form>
</div>
