<div class="col-md-3 col-sm-6">
	<div class="card">
		<div class="card-body no-padding">
			<div class="alert alert-callout alert-info no-margin"
				style="height: 118px; padding: 0;">
				<!-- <strong style="color: #de3162; padding-left: 12px;" class="pull-left">Assets Group By Category</strong> -->
				<div style="max-width: 220px; height: 116px; margin: 0 auto"
					high-chart-gauge gauge-options="Options"></div>
			</div>
		</div>
	</div>
</div>

<!-- Asset info display by category wise BAR CHART -->
<div class="col-md-3 col-sm-6">
	<div class="card">
		<div class="card-body no-padding">
			<div style="padding: 0px; height: 118px;"
				class="alert alert-callout alert-warning no-margin">
				<strong style="color: #de3162; padding-left: 12px;"
					class="pull-left">Assets Group By Category</strong>
				<nvd3 options="options" data="data"></nvd3>
			</div>
		</div>
	</div>
</div>

<!-- Asset Issue and Receive info display by PIE CHART -->
<div class="col-md-3 col-sm-6">
	<div class="card">
		<div class="card-body no-padding">
			<div id="ch" style="padding: 0px; height: 118px;"
				class="alert alert-callout alert-danger no-margin">
				<nvd3 options="iroptions" data="irasset"></nvd3>
				<!--  <strong style="position: absolute;  top: 85px;left: 16px;" class="pull-right text-success text-lg">Total : {{totalIss}}
										<i class="md md-trending-up"></i></strong>-->
			</div>
		</div>
	</div>
</div>

<!--DOCK DOOR DETAILS  -->
<div class="col-md-3 col-sm-6">
	<div class="card" style="margin-bottom: 6px;">
		<div class="card-body no-padding">
			<div class="bgcolor alert no-margin"
				ng-class="{'bgcolor-green' : dockDoorBgColor, 'bgcolor' : !dockDoorBgColor }"
				style="padding: 10px;">
				<p style="font-size: 11px; font-weight: 500; color: white;">
					Default Doc Door :&nbsp;<b style="color: white;">
						{{DefaultDocDoor}}</b>
				</p>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body no-padding">
			<div class="alert alert-callout alert-success no-margin"
				style="padding: 3px; height: 70px;">
				<!-- <p style="font-size: 12px; font-weight: 500; color: #de3162;  border-bottom: solid 1px #ff7f0e; margin-bottom: 8px;">Default Doc Door :&nbsp;<b style="color : #3289c8;"> {{DefaultDocDoor}}</b></p> -->
				<ul
					class="dockPills nav-pills nav-stacked nav-icon nav-pill-primary">
					<li
						ng-repeat="reader in dockDoorReaders_details | orderBy:'-reader.status' | limitTo : 2"><a><img
							style="width: 20px;"
							ng-src="{{reader.status === '1' && 'resources/images/on.png' || 'resources/images/off-new.png'}}" />
						<!-- <i ng-class="{'fa fa-dot-circle-o text-success': reader.status === '1' ,'fa fa-dot-circle-o text-danger' : reader.status === '0'}" ></i> -->&nbsp;{{reader.readerName}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>