<section>
		<form name="reportsFrm" ng-submit="reportsFrm.$valid && maintenanceReportCtrl.generateBtn()" novalidate>
			<div class="section-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="card style-primary card-printable style-default-light">
							<div class="card-head">
								<div class="tools pull-left">
									<header>Reports</header>
								</div>
							</div>
							<div class="card-body style-default-bright">
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-6">
					                            <div class="form-group" ng-class="{'has-error' : reportsFrm.reportType.$invalid && reportsFrm.reportType.$error.required }">
					                                <label for="name" class="col-sm-3 control-label">Report Type</label>
					                                <div class="col-sm-9">
					                                    <select class="form-control" name="reportType" ng-model="maintenanceReportCtrl.reportType" ng-required="true">
		                      								<option value="">--SELECT--</option>
		                      								<option value="1">Maintenance Transaction History Report</option>
		                      								<option value="2">Exceptional Maintenance Transaction Report</option>
		                      								<option value="3">Maintenance Transaction Due date Report</option>
		                      								<option value="4">Maintenance History for Report</option>
		                      								<option value="5">Maintenance History for All Asset</option>
			                      						</select>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">Report Name</label>
					                                <div class="col-sm-9">
					                                    <select class="form-control" name="searchBy"  >
		                      								<option value="asset">Asset</option>
		                      								<option value="category">Category</option>
			                      						</select>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">Select Option</label>
					                                <div class="col-sm-9"> 	
																<label class="radio-inline radio-styled">
																	<input type="radio" name="inlineRadioOptions" ng-model="maintenanceReportCtrl.ascordesc"  value="asc"><span>Ascending</span>
																</label>
																<label class="radio-inline radio-styled">
																<input type="radio" name="inlineRadioOptions" ng-click="maintenanceReportCtrl.ascordesc" value="desc"><span>Descending</span>
																</label>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">Search Criteria</label>
					                                <div class="col-sm-5"> 	
															<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="reportsFrm.$valid && maintenanceReportCtrl.searchBtn()">Search</button>
													</div>
					                            </div>
					                        </div>
					                        
					                        <div class="col-md-6" >
					                        	<div class="form-group">
													<label for="name" class="col-sm-3 control-label">Start Date</label>
														<div class="col-sm-9">
															<div class="input-group-content">
																<input type="text" class="form-control"  ng-readOnly="true" uib-datepicker-popup ng-model="maintenanceReportCtrl.fromDate" value="{{ maintenanceReportCtrl.fromDate | date: 'dd-MM-yyyy' }}" is-open="maintenanceReportCtrl.from.opened" datepicker-options="maintenanceReportCtrl.dateOptions" close-text="Close" />
															</div>
															<div class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="maintenanceReportCtrl.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
															</div>
														</div>
												</div>
											</div>
						
											<div class="col-md-6" >
					                        	<div class="form-group">
													<label for="name" class="col-sm-3 control-label">End Date</label>
														<div class="col-sm-9">
															<div class="input-group-content">
																<input type="text" class="form-control" ng-readOnly="true" uib-datepicker-popup ng-model="maintenanceReportCtrl.toDate" is-open="maintenanceReportCtrl.to.opened" datepicker-options="maintenanceReportCtrl.dateOptions" close-text="Close" />
															</div>
															<div class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="maintenanceReportCtrl.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
															</div>
														</div>
												</div>
											</div>
											<div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">Start Time</label>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="maintenanceReportCtrl.shh" ng-options="hh for hh in maintenanceReportCtrl.hours" name="searchBy">
		                      							</select>
					                                </div>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="maintenanceReportCtrl.smm" ng-options="mm for mm in maintenanceReportCtrl.minutes" name="searchBy">
		                      							</select>
					                                </div>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="maintenanceReportCtrl.sss" ng-options="ss for ss in maintenanceReportCtrl.seconds" name="searchBy">
		                      							</select>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">End Time</label>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="maintenanceReportCtrl.ehh" ng-options="hh for hh in maintenanceReportCtrl.hours" name="searchBy">
		                      							</select>
					                                </div>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="maintenanceReportCtrl.emm" ng-options="mm for mm in maintenanceReportCtrl.minutes" name="searchBy">
		                      							</select>
					                                </div>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="maintenanceReportCtrl.ess" ng-options="ss for ss in maintenanceReportCtrl.seconds" name="searchBy">
		                      							</select>
					                                </div>
					                            </div>
					                        </div>
										</div>
														
										<!--$ TABLE $-->
					                    <div class="col-md-12" >
					                    	<div style="height: 300px;overflow: overlay;" id="tableToExport">
					                    		<table class="table table-hover table-reponsive">
						                            <thead>
						                                <tr>
						                                    <th>Id</th>
						                                    <th>Name</th>
						                                </tr>
						                            </thead>
						                            <tbody>
						                                <tr ng-repeat="asset in maintenanceReportCtrl.assetData">
						                                  	<td>{{asset.assetId}}</td>
						                                    <td>{{asset.assetNm}}</td>
						                                </tr>
						                            </tbody>
						                        </table>
						                        <!-- <div class="text-center">
						                            <ul uib-pagination total-items="userSearchController.totalItems" max-size="userSearchController.maxSize" ng-model="userSearchController.currentPage" ng-change="userSearchController.userDetails()" items-per-page="userSearchController.itemsPerPage" boundary-links="true"
						                                rotate="false"></ul>
						                        </div> -->
						                    </div>
					                        
					                    </div>
									</div><!--End row  -->
									
									<div class="row">
										<div class="col-md-12">
											<div class="card-actionbar">
												<div class="card-actionbar pull-right">
													<button ng-disabled="!maintenanceReportCtrl.assetData" type="submit" class="btn ink-reaction btn-raised btn-primary" >Generate</button>
													<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="maintenanceReportCtrl.cancel()">Close</button>
													<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="maintenanceReportCtrl.cancel()">Schedule</button>
												</div>
											</div>
										</div>
									</div>
								</div><!--end .card-body -->
							</div><!--end .card -->
						</div><!--end .col -->
					</div><!--end .row -->
				</div><!--end .section-body -->
			</form>
		</section>