<section>
	<form name="reportsFrm" ng-submit="reportsFrm.$valid && posReportCtrl.generateBtn()" novalidate>
		<div class="section-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="card style-primary card-printable style-default-light">
						<div class="card-head">
							<div class="tools pull-left">
								<header>Reports</header>
							</div>
						</div>
						<div class="card-body style-default-bright">
							<div class="row">
								<div class="col-lg-12">
									<div class="col-md-4">
										<div class="row form-group">
											<label for="name" class="col-sm-5 control-label">Search
												Criteria</label>
											<div class="col-sm-5">
												<button type="button"
													class="btn ink-reaction btn-raised btn-primary"
													ng-click="reportsFrm.$valid && posReportCtrl.userDetailsDailogue()">User Select</button>
											</div>
										</div>
									</div>
									
									<div class="col-md-8">
										<div class="col-md-6">
											<div class="row form-group">
												<label for="name" class="col-sm-3 control-label">Start Date</label>
												<div class="col-sm-9">
													<div class="input-group-content">
														<input type="text" class="form-control"  ng-readOnly="true" uib-datepicker-popup ng-model="posReportCtrl.fromDate" value="{{ posReportCtrl.fromDate | date: 'dd-MM-yyyy' }}" is-open="posReportCtrl.from.opened" datepicker-options="posReportCtrl.dateOptions" close-text="Close" />
													</div>
													<div class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="posReportCtrl.fromOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row form-group">
												<label for="name" class="col-sm-3 control-label">End Date</label>
												<div class="col-sm-9">
													<div class="input-group-content">
														<input type="text" class="form-control" ng-readOnly="true" uib-datepicker-popup ng-model="posReportCtrl.toDate" is-open="posReportCtrl.to.opened" datepicker-options="posReportCtrl.dateOptions" close-text="Close" />
													</div>
													<div class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="posReportCtrl.toOpen()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
													</div>
												</div>
											</div>
										</div>
					               </div>
								</div>
								
														
								<div class="col-md-12" >
					               <div style="height: 300px;overflow: overlay;" id="tableToExport">
					                    <table class="table table-hover table-reponsive">
						                    <thead>
						                        <tr>
						                           <th>Id</th>
						                          	<th>Name</th>
						                      	</tr>
						                   	</thead>
						         		 	<tbody>
						           				<tr>
						                           	<td>{{posReportCtrl.usrData.userId}}</td>
						                            <td>{{posReportCtrl.usrData.userName}}</td>
						                      	</tr>
						                  	</tbody>
						              	</table>
						          	</div>
					            </div>
							</div><!--End row  -->
									<img ng-hide="true" id='imgToExport'  style="width: 85px;" src="resources/images/dolphin-logo.png" />
									<div class="row">
										<div class="col-md-12">
											<div class="card-actionbar">
												<div class="card-actionbar pull-right">
													<button type="submit" ng-click="posReportCtrl.generate()" class="btn ink-reaction btn-raised btn-primary" >Generate</button>
													<button type="button" class="btn ink-reaction btn-raised btn-primary" ui-sref="homeDashboard.reports">Close</button>
													<!-- <button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="posReportCtrl.cancel()">Schedule</button> -->
												</div>
											</div>
										</div>
									</div>
								</div><!--end .card-body -->
							</div><!--end .card -->
						</div><!--end .col -->
					</div><!--end .row -->
				</div><!--end .section-body -->
			</form>
		</section>