<!--breadcrumb  -->
<div class="breadcrumb">
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>

<!-- Nested reportMenus State -->
<div ui-view>
	<div class="col-md-3">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".maintenanceReports">
						<span class="hover-effect"><img
							ng-src="resources/images/master/asset-issue-new.png"></span><br>
							 <b class="menu-font">Maintenance Reports</b></a>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".posReports">
						<span class="hover-effect"><img ng-src="resources/images/master/asset-issue-new.png"></span><br>
					<b class="menu-font">POS Reports</b></a>
				</div>
			</div>
		</div>
</div>