<div class="">
    <form class="form-horizontal" ng-submit="tagSearchFrm.$valid && tagSearchController.tagSelectFun()" novalidate role="form" name="tagSearchFrm">
        <div class="card" style="margin-bottom: 0;">
            <div class="card-head style-primary">
                <header>{{ tagSearchController.tableHeader }}</header>
                <button class="btn btn-default btn_close" ng-click="tagSearchController.cancel()"><i class="fa fa-times"></i></button>
            </div>
            <div class="card-body" style="overflow: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="categoryType" ng-model="tagSearchController.selectAssetType">
								<option value="">--SELECT--</option>
								<option value="EPC ID">EPC ID </option>
								<option value="Tag Id">Tag Id</option>
								<option value="Serial No">Serial No</option>
								<option value="Tag Type">Tag Type</option>
								<option value="Tag Memory">Tag Memory</option>
								<option value="Tag Frequency">Tag Frequency</option>
								<option value="Category Type">Category Type</option>
								<option value="Division Name">Division Name</option>
								<option value="Sector Name">Sector Name</option>
								<option value="Location Name">location Name</option>
								<option value="Department Name">Department Name</option>
								<option value="Manufacturer Name">Manufacture Name</option>
								<option value="Vendor Name">Vendor Name</option>
								<option value="Tag Discription">Tag Description</option>
								<option value="Created Date">Create Date</option>
								<option value="Modified Date">Modified Date</option>
						</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="tagSearchController.selectAssetType === 'Tag Type'">
					    	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">Sort By</label>
								<div class="col-sm-9">
									<select ng-disabled="tagSearchController.selectAssetType !== 'Tag Type'" class="form-control" name="sortBy"
										ng-model="tagSearchController.sortBy">
											<option value="">--SELECT--</option>
											<option value="Passive">Passive </option>
											<option value="SemiActive">SemiActive</option>
											<option value="Active">Active</option>
									</select>
								</div>
							</div>
					     </div> 

                        <div class="col-md-4"  ng-if="tagSearchController.selectAssetType === 'Tag Memory'">
			                <div class="form-group">
			                    <label for="name" class="col-sm-3 control-label">Sort By</label>
			                    <div class="col-sm-9">
			                        <select class="form-control" name="sortBy"
			                            ng-model="tagSearchController.sortByTagMem">
			                                <option value="">--SELECT--</option>
			                                <option value="1k">1k </option>
			                                <option value="2k">2k</option>
			                                <option value="8k">8k</option>
			                                 <option value="16k">16k </option>
			                                <option value="64k">64k</option>
			                                <option value="128k">128k</option>
			                                 <option value="264k">264k </option>
			                                <option value="512k">512k</option>
			                        </select>
			                    </div>
			                </div>
			             </div> 

                         <div class="col-md-4"  ng-if="tagSearchController.selectAssetType == 'Tag Frequency'">
			                <div class="form-group">
			                    <label for="name" class="col-sm-3 control-label">Sort By</label>
			                    <div class="col-sm-9">
			                        <select  class="form-control" name="sortBy"
			                            ng-model="tagSearchController.sortByTagFre">
			                                <option value="">--SELECT--</option>
			                                <option value="868 MHz(UHF)">868 MHz(UHF) </option>
			                                <option value="928 MHz(UHF)">928 MHz(UHF) </option>
			                        </select>
			                    </div>
			                </div>
			             </div> 
			             
			             <div class="col-md-4" ng-if="tagSearchController.selectAssetType === 'Category Type'" ng-init="tagSearchController.categoryList()">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Category Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="categoryType" ng-model="tagSearchController.catType" ng-options="cats.categorynm as cats.categorynm for cats in tagSearchController.category_list.resData">
              						    <option value="">--SELECT--</option>
              						</select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4" ng-if="tagSearchController.selectAssetType === 'Division Name'" ng-init="tagSearchController.getDivisionDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Division</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="tagSearchController.sortByDivision" ng-options="div.divisionNm as div.divisionNm for div in tagSearchController.divisionList.resData" name="division">
										<option value="">select division</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" ng-if="tagSearchController.selectAssetType === 'Sector Name'" ng-init="tagSearchController.getSectorDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Sector</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="tagSearchController.sortBySector" name="sector" ng-options="sec_d.sectorNm as sec_d.sectorNm for sec_d in tagSearchController.sect_data.resData">
											<option value="">select sector</option>
										</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" ng-if="tagSearchController.selectAssetType === 'Location Name'" ng-init="tagSearchController.getLocationDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="tagSearchController.sortByLocName" ng-options="loc_d.locationNm as loc_d.locationNm for loc_d in tagSearchController.loc_data.resData" name="location">
											<option value="">select location</option>
										</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="tagSearchController.selectAssetType === 'Department Name'" ng-init="tagSearchController.getDepartmentDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="tagSearchController.sortByDepartmentName" ng-options="dep_d.deptNm as dep_d.deptNm for dep_d in tagSearchController.depart_data.resData" name="department">
											                  <option value="">select department</option>
										                </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" ng-if="tagSearchController.selectAssetType === 'Manufacturer Name'" ng-init="tagSearchController.getManufacturerDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Manufacturer</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="tagSearchController.sortByManufacture" ng-options="manufactDet.manufactureNm as manufactDet.manufactureNm for manufactDet in tagSearchController.manufactureDt.resData" name="manufacturer">
                      					<option value="">select manufacturer</option>
                 			  		 </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" ng-if="tagSearchController.selectAssetType === 'Vendor Name'" ng-init="tagSearchController.getVendorDetails()">
                        	<div class="form-group">
        						<label for="Lastname5" class="col-sm-3 control-label">Vendor</label>
        						<div class="col-sm-9">
        							<select class="form-control"
        								ng-model="tagSearchController.sortByVendorNm"
        								ng-options="vendors.vendorName as vendors.vendorName for vendors in tagSearchController.vendordetails.resData"
        								name="vendor">
        								<option value="">Select vendor</option>
        							</select>
        						</div>
        					</div>
                      </div>
                      
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <div class="">
                                        <input type="text" class="form-control" ng-model="tagSearchController.searchValue" placeholder="Enter your search here" />
                                        <div class="form-control-line"></div>
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="btn btn-floating-action btn-default-bright" ng-click="tagSearchController.tagSearchData()" type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!--end .form-group -->
                        </div>
                        
                        <div class="col-md-6" ng-if="tagSearchController.selectAssetType === 'Created Date' ||
                        	 tagSearchController.selectAssetType === 'Modified Date'">
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">From</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" ng-readOnly="true" uib-datepicker-popup ng-model="tagSearchController.fromDate" is-open="tagSearchController.from.opened" datepicker-options="tagSearchController.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="tagSearchController.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
									</div>
							</div>
						</div>
						
						<div class="col-md-6" ng-if="tagSearchController.selectAssetType === 'Created Date' || tagSearchController.selectAssetType === 'Modified Date'">
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">To</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" ng-readOnly="true" uib-datepicker-popup ng-model="tagSearchController.toDate" is-open="tagSearchController.to.opened" datepicker-options="tagSearchController.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="tagSearchController.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
										<span class="error" ng-if="tagSearchController.fromDate > tagSearchController.toDate"> From date should be less than to date </span>
									</div>
							</div>
						</div>
                    </div>

                    <!--$ TABLE $-->
                    <div class="col-md-12">
                        <table class="table table-hover table-reponsive">
                            <thead>
                                <tr>
                                    <th>Tag Select</th>
                                    <th>Tag Id</th>
                                    <th>EPC ID</th>
                                    <th>Serial No</th>
                                    <th ng-if="tagSearchController.selectAssetType === 'Category Type'">Category Type</th>
                                    <th ng-if="tagSearchController.selectAssetType === 'Division Name'">Division</th>
                                    <th ng-if="tagSearchController.selectAssetType === 'BatchLotNo'">BatchLotNo</th>
                                    <th ng-if="tagSearchController.selectAssetType === 'Sector Name'">Sector</th>
                                    <th ng-if="tagSearchController.selectAssetType === 'Location Name'">Location</th>
                                    <th ng-if="tagSearchController.selectAssetType === 'Department Name'">Department</th>
                                    <th ng-if="tagSearchController.selectAssetType === 'Manufacturer Name'">manufacturer</th>
                                    <th ng-if="tagSearchController.selectAssetType === 'Vendor Name'">Vendor</th>
                                    <th>Tag Type</th>
                                    <th>Tag Memory</th>
                                    <th>Tag Frequency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tags in tagSearchController.tagData">
                                    <td>
                                        <label class="radio-inline radio-styled">
											<input type="radio" name="inlineRadioOptions" ng-model="tagSearchController.tagselect" value="{{tags}}" /><span></span>
										</label>
                                    </td>
                                    <td>
                                        {{tags.tagSrId}}
                                    </td>
                                    <td>
                                        {{tags.tagId}}
                                    </td>
                                    <td>{{tags.srno}}</td>
                                    <td ng-if="tagSearchController.selectAssetType === 'Category Type'">{{tags.categoryName}}</td>
                                    <td ng-if="tagSearchController.selectAssetType === 'Division Name'">{{tags.divisionName}}</td>
                                    <td ng-if="tagSearchController.selectAssetType === 'BatchLotNo'">{{tags.batchName}}</td>
                                    <td ng-if="tagSearchController.selectAssetType === 'Sector Name'">{{tags.sectorName}}</td>
                                    <td ng-if="tagSearchController.selectAssetType === 'Location Name'">{{tags.locationName}}</td>
                                    <td ng-if="tagSearchController.selectAssetType === 'Department Name'">{{tags.departmentName}}</td>
                                    <td ng-if="tagSearchController.selectAssetType === 'Manufacturer Name'">{{tags.manufactureName}}</td>
                                    <td ng-if="tagSearchController.selectAssetType === 'Vendor Name'">{{tags.vendorName}}</td>
                                    <td>{{tags.tagType}}</td>
                                    <td>{{tags.tagMemory}}</td>
                                    <td>{{tags.tagFreq}}</td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="tagSearchController.tagData.resData[1].length == 0">
                            	<td>Record not found.......</td>
                            </tfoot>
                        </table>
                        <div class="text-center">
                            <ul uib-pagination total-items="tagSearchController.totalItems" max-size="tagSearchController.maxSize" ng-model="tagSearchController.currentPage" ng-change="tagSearchController.tagSearchData()" items-per-page="tagSearchController.itemsPerPage" boundary-links="true"
                                rotate="false"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <button type="button" ng-click="tagSearchController.cancel()" class="btn ink-reaction btn-raised btn-primary">Cancel</button>
                    <button type="submit" class="btn ink-reaction btn-raised btn-primary">Ok</button>
                </div>
            </div>
        </div>
        <!--end .card -->
    </form>
</div>
<!--end .card-body -->
