<div class="">
    <form class="form-horizontal" ng-submit="baggageFrm.$valid && baggageCtrl.baggageAdd()"  novalidate role="form" name="baggageFrm" >
        <div class="card" style="margin-bottom: 0;">
		      <div class="card-head style-primary">
			       <header>{{baggageCtrl.tableHeader}}</header>
			       <button class="btn btn-default btn_close" ng-click="baggageCtrl.cancel()"><i class="fa fa-times"></i></button>
		      </div>
		      <div class="card-body" style="overflow: auto;">
		       <div class="row">
			        <div class="col-sm-6">
			            <div class="form-group" >
			                <label for="name" class="col-sm-4 control-label">User Name</label>
			                <div class="col-sm-8">
			                    <input type="text" ng-disabled="true" class="form-control" ng-model="baggageCtrl.baggageObj.userName" />
			                    <div class="form-control-line"></div> 
			                </div>
			            </div>
			        </div>
			        
			        <div class="col-sm-6">
			            <div class="form-group required" ng-class="{'has-error' : (baggageFrm.$submitted || baggageFrm.baggageName.$touched || submitted ) && baggageFrm.baggageName.$invalid && baggageFrm.baggageName.$error.required }">
			                <label for="name" class="col-sm-4 control-label">Baggage Name</label>
			                <div class="col-sm-8">
			                    <input type="text" class="form-control" ng-model="baggageCtrl.baggageObj.baggageName" name="baggageName" ng-required="true"/>
			                    <div class="form-control-line"></div> 
			                </div>
			            </div>
			        </div>
			        
			        <div class="col-sm-5">
			            <div class="form-group">
			                <label for="name" class="col-sm-4 control-label">Baggage Tag Id</label>
			                <div class="col-sm-8">
			                     <div class="input-group-content">
			                       <input ng-disabled="true" type="text" class="form-control" ng-model="baggageCtrl.baggageObj.bagTagId" name="bagTagId" />
			                     </div>
			                     <div class="input-group-btn">
			                        <button  style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="baggageCtrl.dockDoorSelect()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
			                     </div>  
			                </div>
			                </div>
			         </div>
			         
			        <div class="col-sm-3">
			            <div class="form-group" ng-class="{'has-error' : (baggageFrm.$submitted || baggageFrm.color.$touched || submitted ) && baggageFrm.color.$invalid && baggageFrm.color.$error.required }">
			                <label for="name" class="col-sm-4 control-label">Color</label>
			                <div class="col-sm-8">
			                    <div class="input-group-content">
			                       <select  class="form-control" ng-change="baggageCtrl.colorChange(baggageCtrl.baggageObj.color)" ng-model="baggageCtrl.baggageObj.color" name="color" ng-required="true">
			                       		<option  value="" > select color </option> 
			                       		<option value="{{colors}}" style="background-color:{{colors.colorCode}}" ng-repeat="colors in baggageCtrl.colorCodes" > {{colors.colorCode}}</option> 
			                       </select>
			               		</div>
				        	</div>
			           	</div>
			         </div> 
			         
			         <!-- <div class="col-sm-3">
			            <div class="form-group" ng-class="{'has-error' : (baggageFrm.$submitted || baggageFrm.selectedColor.$touched || submitted ) && baggageFrm.selectedColor.$invalid && baggageFrm.selectedColor.$error.required }">
			                <label for="name" class="col-sm-4 control-label">Color</label>
			                <div class="col-sm-8">
			                    <div class="input-group-content">
			                       <select  class="form-control" ng-options="colors as colors.colorCode for colors in baggageCtrl.colorCodes" ng-model="baggageCtrl.baggageObj.selectedColor" name="selectedColor" ng-required="true">
			                       	<option value="" > select color </option> 
			                       		<option value="{{colors}}" style="background-color:{{colors.colorCode}}" ng-repeat="colors in baggageCtrl.colorCodes" > {{colors.colorCode}}</option> 
			                       </select>
			               		</div>
				        	</div>
			           	</div>
			         </div> -->
			         
			         <div class="col-sm-4">
			            <div class="form-group">
			                <label for="name" class="col-sm-5 control-label">Baggage Type</label>
			                <div class="col-sm-7">
			                    <div class="input-group-content">
			                       <select ng-init="baggageCtrl.baggageObj.bagType = N/A" class="form-control" ng-model="baggageCtrl.baggageObj.bagType" name="color">
			                       	<option value= "N/A" >N/A</option>
			                       	<option value= "Backpack" >Backpack</option>
			                       	<option value= "Duffel" >Duffel</option>
			                       	<option value= "Hand Bag" >Hand Bag</option>
			                       	<option value= "Laptop Bag/Backpack" >Laptop Bag/Backpack</option>
			                       	<option value= "Suitcase" >Suitcase</option>
			                       	<option value= "Others" >Others</option>
			                       </select>
			               		</div>
				        	</div>
			           	</div>
			         </div>
			         
			         <div class="col-sm-4">
			            <div class="form-group">
			                <label for="name" class="col-sm-5 control-label">Size</label>
			                <div class="col-sm-7">
			                    <div class="input-group-content">
			                       <select ng-init="baggageCtrl.baggageObj.bagSize = N/A" class="form-control" ng-model="baggageCtrl.baggageObj.bagSize" name="color">
				                       	<option value= "N/A" >N/A</option>
				                       	<option value= "Small" >Small</option>
				                       	<option value= "Medium" >Medium</option>
				                       	<option value= "Large" >Large</option>
			                       </select>
			               		</div>
				        	</div>
			           	</div>
			         </div>
			         <div class="col-sm-4">
			            <div class="form-group">
			                <label for="name" class="col-sm-5 control-label">Color Name </label>
			                <div class="col-sm-7">
			                    <div class="input-group-content">
			                       <input type="text" class="form-control" name="colorName" ng-model="baggageCtrl.baggageObj.colorName" />
			                    </div>
			               		<div class="input-group-btn">
			                         <button style="height: 30px;background-color: {{baggageCtrl.baggageObj.colorValue}};" class="btn btn-default" ng-click="baggageCtrl.tagSelectFun()" type="button"></button>
			                    </div>
				        	</div>
			           	</div>
			         </div>
			         
			          <div class="col-sm-4">
			            <div class="form-group">
			                <label for="name" class="col-sm-5 control-label">Make</label>
			                <div class="col-sm-7">
			                    <div class="input-group-content">
			                       <select ng-init="baggageCtrl.baggageObj.bagMake = N/A" class="form-control" ng-model="baggageCtrl.baggageObj.bagMake" name="bagMake">
				                       	<option value= "N/A" >N/A</option>
				                       	<option value= "American Tourister" >American Tourister</option>
				                       	<option value= "Sky Bags" >Sky Bags</option>
				                       	<option value= "Samsonite" >Samsonite</option>
				                       	<option value= "VIP" >VIP</option>
				                       	<option value= "Others" >Others</option>
			                       </select>
			               		</div>
				        	</div>
			           	</div>
			         </div>
			    </div>
			    
			 	<div class="card-actionbar">
					<div class="card-actionbar-row">
						<div class="col-md-6 text-left"> <p style="font-size: 15px; font-weight: bolder;">Baggage Count : <code>{{baggageCtrl.baggageTempData.length}}</code></p></div>
						<div class="col-md-6">
							<button type="submit" class="btn ink-reaction btn-raised btn-primary">Add</button>
						</div>
				   	</div>
				</div>
				
			 	<div class="col-md-12 table-reponsive">
	                <table class="table table-hover">
	                    <thead>
	                        <tr>
	                        	<th>Sr No</th>
	                            <th>Baggage Name</th>
	                            <th>Tag Id</th>      
	                          	<th>Baggage Type</th>
	                           	<th>Size</th>
	                        	<th>Color</th>
	                            <th>Color Name</th>
	                            <th>Make</th>
	                            <th>Action</th>
	                       	</tr>
	                	</thead>
	         	    	<tbody>
		                   	<tr ng-repeat="baggageData in baggageCtrl.baggageTempData">
		                      	<td>
		                    		{{$index + 1}}
		                    	</td>
		             			<td>{{baggageData.baggageName}}</td>
		                       	<td>{{baggageData.epcId}}</td>
		                    	<td>{{baggageData.baggageType}}</td>
		                      	<td>{{baggageData.baggageSize}}</td>
		                      	<td style="background-color : {{baggageData.baggageColorValue}}"></td>
		                      	<td>{{baggageData.baggageColorName}}</td>
		                      	<td>{{baggageData.baggageMake}}</td>
		                      	<td>
									<button type="button" class="btn btn-icon-toggle" ng-disabled="baggageData.baggageId" ng-click="baggageCtrl.deleteBaggageData(baggageData)" ><i class="fa fa-trash-o"></i></button>
								</td>
		                     </tr>
	              		</tbody>
	         		</table>
	        	</div>
	       </div><!--end .card-body -->
	       
			<div class="card-actionbar">
				<div class="card-actionbar-row">
			    	<button type="button" ng-click="baggageCtrl.cancel()" class="btn ink-reaction btn-raised btn-primary">Cancel</button>
			        <button type="button" ng-click="baggageCtrl.baggageSave()" class="btn ink-reaction btn-raised btn-primary">Save</button>
			   	</div>
			</div>
	     </div><!--end .card -->
    </form>
 </div><!--end .card-body -->
 