<section  class="usercreate">
	<div class="section-body table-responsive">
		<div class="row">
			<div class="col-md-9">
				<form class="form-horizontal" novalidate role="form" name="userFrm">
					<div class="card" style="margin-bottom: 0;">
						<div class="card-head style-primary">
							<header>{{userAddUpdateCtrl.tableHeader}}</header>
							<!--end .card-body -->
							<div class="pull-right">
								<div class="card-actionbar-row">
									<button id="globalBtn" type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="userAddUpdateCtrl.cancel()">Cancel</button>
									<button id="globalBtn"  type="submit" ng-show="userAddUpdateCtrl.usrBtn"
										class="btn ink-reaction btn-raised btn-primary"
										ng-click="userFrm.$valid && userAddUpdateCtrl.userSubmitBtn()">{{userAddUpdateCtrl.submitBtnNm}}</button>
									<button id="globalBtn"  type="submit" ng-hide="userAddUpdateCtrl.usrBtn"
										class="btn ink-reaction btn-raised btn-primary"
										ng-click="userFrm.$valid && userAddUpdateCtrl.userSubmitBtn()">Update</button>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group required"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.name.$touched || submitted ) && userFrm.name.$invalid && userFrm.name.$error.required || userFrm.name.$error.maxlength }">
											<label for="name" class="col-sm-3 control-label"><b>User Name</b></label>
											<div class="col-sm-9">
												<input ng-disabled="userAddUpdateCtrl.userAction === 'view'"
													type="text" class="form-control" name="name"
													ng-model="userAddUpdateCtrl.userFrmData.userName"
													ng-required="true" ng-maxlength="50" focus-me="true" /> <span
													class="help-block" ng-show="userFrm.name.$error.maxlength">Only
													50 characters allowed</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group required"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.empId.$touched || submitted ) && userFrm.empId.$invalid && userFrm.empId.$error.required || userFrm.empId.$error.maxlength }">
											<label for="name" class="col-sm-3 control-label"><b>Booking Id</b></label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="empId"
													ng-model="userAddUpdateCtrl.userFrmData.empId"
													ng-required="true" ng-maxlength="50" /> <span
													class="help-block" ng-show="userFrm.empId.$error.maxlength">Only
													50 characters allowed</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group required"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.userTagId.$touched || submitted ) && userFrm.userTagId.$invalid && userFrm.userTagId.$error.required || userFrm.userTagId.$error.maxlength }">
											<label for="epicId" class="col-sm-3 control-label"><b>U_EPC ID</b></label>
											<div class="col-sm-9">
												<div class="input-group-content">
													<input type="text" class="form-control"
														ng-model="userAddUpdateCtrl.userFrmData.userTagId"
														name="userTagId" ng-required="true" readonly
														style="direction: RTL" />
												</div>
												<div class="input-group-btn">
													<button class="btn btn-default reader-btn"
														ng-click="userAddUpdateCtrl.tagSelectFun()" type="button">
														<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
													</button>
													<button class="btn btn-default reader-btn"
														ng-click="userAddUpdateCtrl.readTag()" title="Read Tag"
														type="button">
														<img style="width: 20px;"
															src="resources/images/readTag.png"></img>
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="gender" class="col-sm-3 control-label"><b>Gender</b></label>
											<div class="col-sm-9">
												<select class="form-control"
													ng-model="userAddUpdateCtrl.userFrmData.gender">
													<option value="Male">Male</option>
													<option value="Female">Female</option>
												</select>
											</div>
										</div>
									</div>
									<div ng-if="userAddUpdateCtrl.loginType === 'ATS'"
										class="col-md-6">
										<div class="form-group required"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.actDate.$touched || submitted ) && userFrm.actDate.$invalid && userFrm.actDate.$error.required || userFrm.actDate.$error.maxlength }">
											<label for="Lastname5" class="col-sm-3 control-label"><b>Activation Date</b></label>
											<div class="col-sm-9">
												<div class="input-group-content">
													<input type="text" class="form-control"
														uib-datepicker-popup="{{userAddUpdateCtrl.format}}"
														ng-readOnly=true; name="actDate" uib-datepicker-popup
														ng-model="userAddUpdateCtrl.userFrmData.actDate"
														is-open="userAddUpdateCtrl.actDate.opened"
														datepicker-options="userAddUpdateCtrl.dateOptionsForAct"
														close-text="Close"
														ng-change="userAddUpdateCtrl.actDateChange()"
														ng-required="true" />
												</div>
												<div class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="userAddUpdateCtrl.activationDtOpen()">
														<i class="fa fa-calendar" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
									<div ng-if="userAddUpdateCtrl.loginType === 'ATS'"
										class="col-md-6">
										<div class="form-group required"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.deactDate.$touched || submitted ) && userFrm.deactDate.$invalid && userFrm.deactDate.$error.required || userFrm.deactDate.$error.maxlength }">
											<label for="deActivationDt" class="col-sm-3 control-label"><b>Deactivation Date</b></label>
											<div class="col-sm-9">
												<div class="input-group-content">
													<input type="text" class="form-control"
														uib-datepicker-popup="{{userAddUpdateCtrl.format}}"
														ng-readOnly=true; uib-datepicker-popup
														ng-model="userAddUpdateCtrl.userFrmData.deactDate"
														name="deactDate"
														is-open="userAddUpdateCtrl.deActDate.opened"
														datepicker-options="userAddUpdateCtrl.dateOptions"
														min-date="userAddUpdateCtrl.minDate" close-text="Close"
														ng-required="true" />
												</div>
												<div class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="userAddUpdateCtrl.deActivationDtOpen()">
														<i class="fa fa-calendar" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group required"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.categoryType.$touched || submitted ) && userFrm.categoryType.$invalid}">
											<label for="name" class="col-sm-3 control-label"><b>Category Type</b></label>
											<div class="col-sm-8">
												<select class="form-control" name="categoryId"
													ng-model="userAddUpdateCtrl.userFrmData.categoryId"
													ng-options="cats.categoryPrimery.categoryId as cats.categorynm for cats in userAddUpdateCtrl.category_list">
													<option value="">--SELECT--</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group required"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.location.$touched || submitted ) && userFrm.location.$invalid && userFrm.location.$error.required }">
											<label for="Lastname5" class="col-sm-3 control-label"><b>Location</b></label>
											<div class="col-sm-9">
												<select class="form-control"
													ng-model="userAddUpdateCtrl.userFrmData.locationId"
													ng-change="userAddUpdateCtrl.locChange(userAddUpdateCtrl.userFrmData.locationId,'YES')"
													ng-options="loc_d.locationId as loc_d.locationNm for loc_d in userAddUpdateCtrl.loc_data"
													name="location" ng-required="true">
													<option value="">select location</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<!-- Time Zone Details  -->
								<div ng-if="userAddUpdateCtrl.loginType === 'ATS'"
									class="col-md-12">
									<div class="col-md-12">
										<div style="border-bottom: solid 1px rgba(0, 0, 0, 0.15);"></div>
										<h4 class="text-primary">Time Zone Details</h4>
									</div>

									<div class="col-md-4">
										<div class="required"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.timeZone.$touched || submitted ) && userFrm.timeZone.$invalid && userFrm.timeZone.$error.required || userFrm.timeZone.$error.maxlength }">
											<label for="name" class="col-sm-3 control-label"><b>TimeZone</b></label>
											<div class="col-sm-9">
												<select class="form-control" style="height: 30px;"
													ng-change="userAddUpdateCtrl.timeZoneChange(userAddUpdateCtrl.userFrmData.timeZoneId)"
													name="timeZone"
													ng-model="userAddUpdateCtrl.userFrmData.timeZoneId"
													ng-options="timezone.timeId as timezone.timeName for timezone in userAddUpdateCtrl.timezones">
													<option value="">--select--</option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<p>
											<b>Start Date</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZone.startDate | date
											: 'dd-MMM-yyyy'}}
										</p>
									</div>
									<div class="col-md-4">
										<p>
											<b>End Date</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZone.endDate | date :
											'dd-MMM-yyyy'}}
										</p>
									</div>
									<div class="col-md-3">
										<p>
											<b>Start Time1</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZoneSets[0].startTime}}
										</p>
									</div>
									<div class="col-md-3">
										<p>
											<b>End Time1</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZoneSets[0].endTime}}
										</p>
									</div>
									<div class="col-md-3">
										<p>
											<b>Start Time2</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZoneSets[1].startTime}}
										</p>
									</div>
									<div class="col-md-3">
										<p>
											<b>End Time2</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZoneSets[1].endTime}}
										</p>
									</div>
									<div class="col-md-3">
										<p>
											<b>Start Time3</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZoneSets[2].startTime}}
										</p>
									</div>
									<div class="col-md-3">
										<p>
											<b>End Time3</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZoneSets[2].endTime}}
										</p>
									</div>
									<div class="col-md-3">
										<p>
											<b>End Time4</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZoneSets[3].startTime}}
										</p>
									</div>
									<div class="col-md-3">
										<p>
											<b>End Time4</b> :
											{{userAddUpdateCtrl.timeZoneDetails.timeZoneSets[3].endTime}}
										</p>
									</div>
								</div>


								<!--Add more info  -->
								<div class="col-md-12">
									<div style="border-bottom: solid 1px rgba(0, 0, 0, 0.15);"></div>
									<h4 class="text-primary">Add More Info</h4>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.mobileno.$error.maxlength || userFrm.mobileno.$error.pattern}">
											<label for="name" class="col-sm-4 control-label">Mobile
												No</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" name="mobileno" ng-maxlength="25" ng-model="userAddUpdateCtrl.userFrmData.mobileno" ng-pattern = "/^[0-9]*$/"/>
												<p ng-show="userFrm.mobileno.$error.maxlength" class="help-block">Only 25 digits allowed</p>
												<p ng-show="userFrm.mobileno.$error.pattern" class="help-block">Only numbers are allowed</p>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.email.$error.pattern }">
											<label for="email" class="col-sm-4 control-label">Email</label>
											<div class="col-sm-8">
												<input type="email" class="form-control" name="email"
													ng-model="userAddUpdateCtrl.userFrmData.emailId"
													ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/">
												<p ng-show="userFrm.email.$error.pattern"
													class="help-block ng-hide">Please enter valid email Id...!</p>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label for="dob" class="col-sm-4 control-label">Date
												of Birth</label>
											<div class="col-sm-8">
												<div class="input-group-content">
													<input type="text" class="form-control"
														uib-datepicker-popup="{{userAddUpdateCtrl.format}}"
														ng-readOnly=true; uib-datepicker-popup
														ng-model="userAddUpdateCtrl.userFrmData.dob"
														is-open="userAddUpdateCtrl.dobOp.opened"
														datepicker-options="userAddUpdateCtrl.dobOptions"
														close-text="Close" />
												</div>
												<div class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="userAddUpdateCtrl.dobOpen()">
														<i class="fa fa-calendar" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.phoneno.$error.maxlength }">
											<label for="name" class="col-sm-4 control-label">Phone
												No</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" name="phoneno"
													ng-maxlength="25"
													ng-model="userAddUpdateCtrl.userFrmData.phoneno"
													numbers-only="">
												<p ng-show="userFrm.phoneno.$error.maxlength"
													class="help-block ng-hide">Only 25 digits allowed</p>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.description.$error.maxlength }">
											<label for="email" class="col-sm-4 control-label">Description</label>
											<div class="col-sm-8">
												<textarea type="text" class="form-control"
													style="resize: none" name="description" rows="2"
													ng-model="userAddUpdateCtrl.userFrmData.description"
													ng-maxlength="250"></textarea>
												<p ng-show="userFrm.description.$error.maxlength"
													class="help-block ng-hide">Only 250 Characters are
													allowed...!</p>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.address.$error.maxlength }">
											<label for="email" class="col-sm-4 control-label">Address</label>
											<div class="col-sm-8">
												<textarea type="text" class="form-control"
													style="resize: none" name="address" rows="2"
													ng-model="userAddUpdateCtrl.userFrmData.addr"
													ng-maxlength="250"></textarea>
												<p ng-show="userFrm.address.$error.maxlength"
													class="help-block ng-hide">Only 250 Characters are
													allowed...!</p>
											</div>
										</div>
									</div>
								</div>

								<!-- Users details -->
								<div class="col-md-12">
									<div style="border-bottom: solid 1px rgba(0, 0, 0, 0.15);"></div>
									<h4 class="text-primary">Users Details</h4>

									<div class="col-md-6">
										<div class="form-group">
											<label for="name" class="col-sm-4 control-label">Company</label>
											<div class="col-sm-8">
												<input type="text" ng-disabled=true; class="form-control"
													name="company" ng-model="userAddUpdateCtrl.comp_name">
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.division.$touched || submitted ) && userFrm.division.$invalid && userFrm.division.$error.required }">
											<label for="Lastname5" class="col-sm-4 control-label">Division</label>
											<div class="col-sm-8">
												<select class="form-control"
													ng-change="userAddUpdateCtrl.divChange(userAddUpdateCtrl.userFrmData.divisionId, 'YES')"
													ng-model="userAddUpdateCtrl.userFrmData.divisionId"
													ng-options="div.divisionId as div.divisionNm for div in userAddUpdateCtrl.divisionList"
													name="division" ng-required="true">
													<option value="">select division</option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.sector.$touched || submitted ) && userFrm.sector.$invalid && userFrm.sector.$error.required }">
											<label for="Lastname5" class="col-sm-4 control-label">Sector</label>
											<div class="col-sm-8">
												<select class="form-control"
													ng-change="userAddUpdateCtrl.secChange(userAddUpdateCtrl.userFrmData.sectorId,'YES')"
													ng-model="userAddUpdateCtrl.userFrmData.sectorId"
													name="sector"
													ng-options="sec_d.sectorId as sec_d.sectorNm for sec_d in userAddUpdateCtrl.sect_data"
													ng-required="true">
													<option value="">select sector</option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : (userFrm.$submitted || userFrm.department.$touched || submitted ) && userFrm.department.$invalid && userFrm.department.$error.required }">
											<label for="Lastname5" class="col-sm-4 control-label">Department</label>
											<div class="col-sm-8">
												<select class="form-control"
													ng-model="userAddUpdateCtrl.userFrmData.departmentId"
													ng-options="dep_d.departmentId as dep_d.deptNm for dep_d in userAddUpdateCtrl.depart_data"
													name="department" ng-required="true">
													<option value="">select department</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<!-- Login Details  -->
								<div class="col-md-12">
									<div style="border-bottom: solid 1px rgba(0, 0, 0, 0.15);"></div>
									<h4 class="text-primary">Login Details</h4>

									<div class="col-md-6">
										<div class="form-group">
											<label for="loginType" class="col-sm-4 control-label">Login
												Type</label>
											<!-- <div class="col-sm-8">
												<select
													ng-init="userAddUpdateCtrl.userFrmData.userType = 'User'"
													class="form-control" name="userType"
													ng-model="userAddUpdateCtrl.userFrmData.userType">
													<option value="User">User</option>
													<option value="Admin">Admin</option>
												</select>
											</div> -->
											
											<div class="col-sm-8">
												<select ng-init="userAddUpdateCtrl.userFrmData.userType = 'User'"
													ng-change="userAddUpdateCtrl.userTypeChange(userAddUpdateCtrl.userFrmData.userType)"
													class="form-control" name="userType"
													ng-model="userAddUpdateCtrl.userFrmData.userType">
													<option value="User">User</option>
													<option value="Admin">Admin</option>
												</select>
											</div> 
											
										</div>
									</div>

									<!-- <div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.loginId.$error.required}">
											<label for="loginId" class="col-sm-4 control-label">Login Id</label>
											<div class="col-sm-8">
												<input type="text" class="form-control"
													ng-disabled="userAddUpdateCtrl.userFrmData.userType === 'User'"
													ng-model="userAddUpdateCtrl.userFrmData.loginId"
													name="loginId"/>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.password.$error.required}">
											<label for="loginId" class="col-sm-4 control-label">Password</label>
											<div class="col-sm-8">
												<input type="password" class="form-control"
													ng-disabled="userAddUpdateCtrl.userFrmData.userType === 'User'"
													id="txtNewPassword"
													ng-model="userAddUpdateCtrl.userFrmData.infoPassword"
													name="password"/>
											</div>
										</div>
									</div> -->
									
									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.loginId.$error.required}">
											<label for="loginId" class="col-sm-4 control-label">Login Id</label>
											<div class="col-sm-8">
												<input type="text" class="form-control"
													ng-disabled="userAddUpdateCtrl.userFrmData.userType === 'User'"
													ng-model="userAddUpdateCtrl.userFrmData.loginId"
													name="loginId" ng-required="(userAddUpdateCtrl.userFrmData.userType === 'Admin' && userAddUpdateCtrl.usrBtn) || (userAddUpdateCtrl.userFrmData.userType === 'Admin' && userAddUpdateCtrl.usrTypeCheck === 'User' && userAddUpdateCtrl.usrBtn === false)"  /><!--  ng-required="userAddUpdateCtrl.userFrmData.userType === 'Admin'" -->
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.password.$error.required}">
											<label for="loginId" class="col-sm-4 control-label">Password</label>
											<div class="col-sm-8">
												<input type="password" class="form-control"
													ng-disabled="userAddUpdateCtrl.userFrmData.userType === 'User'"
													id="txtNewPassword"
													ng-model="userAddUpdateCtrl.userFrmData.infoPassword"
													name="password" ng-required="(userAddUpdateCtrl.userFrmData.userType === 'Admin' && userAddUpdateCtrl.usrBtn) || (userAddUpdateCtrl.userFrmData.userType === 'Admin' && userAddUpdateCtrl.usrTypeCheck === 'User' && userAddUpdateCtrl.usrBtn === false)" /> <!-- ng-required="userAddUpdateCtrl.userFrmData.userType === 'Admin'" -->
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group"
											ng-class="{'has-error' : userFrm.confirmPassword.$invalid && userFrm.confirmPassword.$pristine && submitted || userFrm.confirmPassword.$error.pwmatch }">
											<label for="loginId" class="col-sm-4 control-label">Confirm
												Password</label>
											<div class="col-sm-8">
												<input type="password" class="form-control"
													ng-disabled="userAddUpdateCtrl.userFrmData.userType === 'User'"
													ng-model="userAddUpdateCtrl.confrmPass"
													name="confirmPassword" pw-check="txtNewPassword" />
												<p
													ng-show="userFrm.confirmPassword.$invalid && userFrm.confirmPassword.$pristine && submitted || userFrm.confirmPassword.$error.pwmatch"
													class="help-block">Passwords don't match.</p>
											</div>
										</div>
									</div>
								</div>


								<!-- Tracking Details  -->
								<div ng-if="userAddUpdateCtrl.loginType === 'ATS'"
									ng-if="!userAddUpdateCtrl.usrBtn" class="col-md-12">
									<div style="border-bottom: solid 1px rgba(0, 0, 0, 0.15);"></div>
									<h4 class="text-primary">Tracking Details</h4>

									<div class="col-md-4">
										<div>
											<p>
												<b>First Detect D&T</b> :
												{{userAddUpdateCtrl.userFrmData.userTrackDetails.firstDetectDNT
												| datetime }}
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<div>
											<p>
												<b>Last Detect D&T</b> :
												{{userAddUpdateCtrl.userFrmData.userTrackDetails.lastDetectDNT
												| datetime}}
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<div>
											<p>
												<b>Curr Zone Aging</b> :
												{{userAddUpdateCtrl.userFrmData.userTrackDetails.currZoneAging}}
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<div>
											<p>
												<b>Curr Detect D&T</b> :
												{{userAddUpdateCtrl.userFrmData.userTrackDetails.currDetectDNT
												| datetime }}
											</p>
										</div>
									</div>
									<div class="col-md-4">
										<div>
											<p>
												<b>Curr Detect Zone </b> :
												{{userAddUpdateCtrl.userFrmData.userTrackDetails.currDetectZone}}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--end .card-body -->
						<!-- <div id="deskActionBtn" class="card-actionbar">
							<div class="card-actionbar-row">
								<button type="button"
									class="btn ink-reaction btn-raised btn-primary"
									ng-click="userAddUpdateCtrl.cancel()">Cancel</button>
								<button type="submit" ng-show="userAddUpdateCtrl.usrBtn"
									class="btn ink-reaction btn-raised btn-primary"
									ng-click="userFrm.$valid && userAddUpdateCtrl.userSubmitBtn()">{{userAddUpdateCtrl.submitBtnNm}}</button>
								<button type="submit" ng-hide="userAddUpdateCtrl.usrBtn"
									class="btn ink-reaction btn-raised btn-primary"
									ng-click="userFrm.$valid && userAddUpdateCtrl.userSubmitBtn()">Update</button>
							</div>
						</div> -->
					</div>
				</form>
			</div>

			<div class="col-md-3">
				<div class="card">
					<div class="card-head style-primary">
						<header>User Image</header>
					</div>
					<div class="card-body height-4">
						<div class="col-md-12 col-xs-12 text-center">
							<div class="col-md-12">
								<div ng-show="userAddUpdateCtrl.webCamDiv" id="my_camera"
									style="width: 220px; height: 175px;"></div>
								<img ng-hide="userAddUpdateCtrl.webCamDiv"
									style="width: 150px; height: 168px"
									ngf-src="userAddUpdateCtrl.assetLogo ||  'resources/images/NoImage.gif'"
									class="thumb">
							</div>
							<ul style="list-style: none; display: inline-flex; padding: 7px;">
								<li><input id="my_file" ng-hide="true" accept="image/*"
									ng-model="userAddUpdateCtrl.assetImg" type="file" ngf-select
									file-model="userAddUpdateCtrl.assetLogo">
									<button class="btn-xs btn-primary"
										ng-click="userAddUpdateCtrl.clickonChoose()">Choose</button></li>
								<li><a ng-if="userAddUpdateCtrl.webCamBtn !=='Take'"><button
											class="btn-xs btn-primary"
											ng-click="userAddUpdateCtrl.webcamClick()">{{userAddUpdateCtrl.webCamBtn}}</button></a>
									<a ng-if="userAddUpdateCtrl.webCamBtn ==='Take'" id="anchor"
									download="imageName.jpg"><button
											class="btn-xs btn-primary"
											ng-click="userAddUpdateCtrl.webcamClick()">{{userAddUpdateCtrl.webCamBtn}}</button></a>
								</li>
								<li>
									<button class="btn-xs btn-primary"
										ng-click="userAddUpdateCtrl.imgDelete()">Delete</button>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div ng-if="userAddUpdateCtrl.loginType === 'ATS'" class="card">
					<div class="card-head style-primary">
						<header>Edit More Info</header>
					</div>
					<div class="card-body height-3" style="padding-top: 12px;">
						<div class="col-md-12 col-xs-5">
							<h4 class="text-primary"
								data-ng-click="userAddUpdateCtrl.releaseTagFun()"
								ng-if="userAddUpdateCtrl.userFrmData.userTagId != '0' && !userAddUpdateCtrl.usrBtn">
								<a href="">Release Tag</a>
							</h4>
							<!-- <h4 class="text-primary"
								data-ng-click="userAddUpdateCtrl.userFrmData.userName && userAddUpdateCtrl.baggageFun(userAddUpdateCtrl.userFrmData.userName)">
								<a href="">Baggage</a>
							</h4> -->
							<h4 class="text-primary"
								ng-if="userAddUpdateCtrl.possetData.allowToAddUserGroup === 1 && userAddUpdateCtrl.userFrmData.isUserPrimary === 'YES'"
								data-ng-click="userAddUpdateCtrl.userFrmData.userName && userAddUpdateCtrl.userFrmData.userTagId && userAddUpdateCtrl.userSubGroup()">
								<a href="">Add Sub User</a>
							</h4>
							<h4 class="text-primary"
								data-ng-click="userAddUpdateCtrl.userFrmData.userName && userAddUpdateCtrl.transactionSetting()">
								<a href="">Transaction Setting</a>
							</h4>
							<!-- <h4 class="text-primary" data-ng-click="userAddUpdateCtrl.userFrmData.userName && userAddUpdateCtrl.userRecharge()"> <a href>User Recharge</a></h4> -->
							
						</div>
					</div>
				</div>

				<div ng-if="userAddUpdateCtrl.loginType === 'ATS'" class="card">
					<!-- ng-if="!userAddUpdateCtrl.usrBtn"  -->
					<div class="card-head style-primary">
						<header>Attachment</header>
					</div>
					<div class="card-body height-4" style="padding: 0px;">
						<div class="col-md-12 col-xs-5">
							<p>
								<b>Total</b> : <code>{{ userAddUpdateCtrl.userFrmData.userAttachment.userDocumentCount }}</code>
							</p>
							<!-- <input class="form-control col-md-2" ng-model="userAddUpdateCtrl.totAttachment" type="text" readonly/> -->
							<div class="col-md-6">
								<label>Document</label>
								<button class="btn btn-default"
									ng-click="userAddUpdateCtrl.userFrmData.userName && userAddUpdateCtrl.userAttach('userAttach')">
									<img style="width: 65px;" alt=""
										src="resources/images/AssetAttach1.png" />
								</button>
								<input class="form-control col-md-4"
									ng-model="userAddUpdateCtrl.assetAttachment" type="text"
									readonly />
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div id="mobActionBtn" class="card-actionbar">
				<div class="card-actionbar-row">
					<button type="button"
						class="btn ink-reaction btn-raised btn-primary"
						ng-click="userAddUpdateCtrl.cancel()">Cancel</button>
					<button type="submit" ng-show="userAddUpdateCtrl.usrBtn"
						class="btn ink-reaction btn-raised btn-primary"
						ng-click="userFrm.$valid && userAddUpdateCtrl.userSubmitBtn()">{{userAddUpdateCtrl.submitBtnNm}}</button>
					<button type="submit" ng-hide="userAddUpdateCtrl.usrBtn"
						class="btn ink-reaction btn-raised btn-primary"
						ng-click="userFrm.$valid && userAddUpdateCtrl.userSubmitBtn()">Update</button>
				</div>
			</div> -->
		</div>
	</div>
</section>
