<div class="">
    <form class="form-horizontal"  novalidate role="form" name="resetPassFrm" >
        <div class="card" style="margin-bottom: 0;">
			<div class="card-head style-primary">
				<header>{{resetPasswordCtrl.tableHeader}}</header>
				<button class="btn btn-default btn_close" ng-click="resetPasswordCtrl.cancel()"><i class="fa fa-times"></i></button>
		    </div>
		      <div class="card-body">
		     	<div class="col-md-12"> 		
					<div class="col-lg-8">
					     <div class="col-lg-12">
							<div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" ng-model="resetPasswordCtrl.setNewPass" ng-true-value="true" ng-false-value="false"  />
									<span>Set New Password</span>
								</label>
								<label>
									<input type="checkbox" ng-model="resetPasswordCtrl.enablePassword" ng-true-value="1" ng-false-value="0"  />
									<span>Enable Password</span>
								</label>
							</div>
						</div>
						<div class="col-lg-12">
				            <div class="form-group" ng-class="{'has-error' : resetPassFrm.currentPassword.$error.maxlength }">
				                <label for="name" class="col-sm-4 control-label">Current Password</label>
				                <div class="col-sm-8">
				                    <input type="password" class="form-control" ng-disabled="resetPasswordCtrl.setNewPass === true" name="currentPassword" ng-focus="resetPasswordCtrl.trChange(1)" ng-model="resetPasswordCtrl.currentPassword"  ng-maxlength=4 />
				                    <span class="help-block" ng-show="resetPassFrm.currentPassword.$error.maxlength">Only 4 characters allowed</span>
				                </div>
				                   
				            </div>
				            <div class="form-group" ng-class="{'has-error' : resetPassFrm.newPassword.$error.maxlength }">
				                <label for="name" class="col-sm-4 control-label">New Password</label>
				                <div class="col-sm-8">
				                    <input type="password" class="form-control" name="newPassword" id="txtNewPassword" ng-maxlength="4" ng-focus="resetPasswordCtrl.trChange(2)" ng-model="resetPasswordCtrl.newPassword" />
				                    <span class="help-block" ng-show="resetPassFrm.newPassword.$error.maxlength">Only 4 characters allowed</span>
				                </div>
				            </div>
				            <div class="form-group" ng-class="{'has-error' : resetPassFrm.confirmPassword.$invalid && resetPassFrm.confirmPassword.$pristine && submitted || resetPassFrm.confirmPassword.$error.pwmatch || resetPassFrm.confirmPassword.$error.maxlength }">
				                <label for="name" class="col-sm-4 control-label">Confirm Password</label>
				                <div class="col-sm-8">
				                    <input type="password" class="form-control" name="confirmPassword" ng-maxlength="4" ng-focus="resetPasswordCtrl.trChange(3)" ng-model="resetPasswordCtrl.confirmNewPassword" pw-check="txtNewPassword"  />
				                    <span class="help-block" ng-show="resetPassFrm.confirmPassword.$error.maxlength">Only 4 characters allowed</span>
				                	<p ng-show="resetPassFrm.confirmPassword.$invalid && resetPassFrm.confirmPassword.$pristine && submitted || resetPassFrm.confirmPassword.$error.pwmatch" class="help-block">Passwords don't match.</p>
				                </div>
				            </div>
				        </div>
					</div>
					
					<div class="col-md-4">
						<div style="padding: 25px;">
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(1)" class="btn ink-reaction btn-raised btn-primary">1</button>
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(2)" class="btn ink-reaction btn-raised btn-primary">2</button>
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(3)" class="btn ink-reaction btn-raised btn-primary">3</button><br>
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(4)" class="btn ink-reaction btn-raised btn-primary">4</button>
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(5)" class="btn ink-reaction btn-raised btn-primary">5</button>
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(6)" class="btn ink-reaction btn-raised btn-primary">6</button><br>
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(7)" class="btn ink-reaction btn-raised btn-primary">7</button>
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(8)" class="btn ink-reaction btn-raised btn-primary">8</button>
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(9)" class="btn ink-reaction btn-raised btn-primary">9</button><br>
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn(0)" class="btn ink-reaction btn-raised btn-primary">0</button> 
							<button type="button" ng-disabled="resetPasswordCtrl.selectedValue === false" ng-click="resetPasswordCtrl.numberBtn('clear')" class="btn ink-reaction btn-raised btn-primary">clear</button>
						</div>
					</div>
				</div>
				
					
	       </div><!--end .card-body -->
	       
			<div class="card-actionbar">
				<div class="card-actionbar-row">
					<button type="button" ng-click="resetPasswordCtrl.updateSettingBtn()" class="btn ink-reaction btn-raised btn-primary">Update Setting</button>
					<button type="submit" ng-click="resetPassFrm.$valid && resetPasswordCtrl.modifyBtn()" class="btn ink-reaction btn-raised btn-primary">Modify</button>
			    	<button type="button" ng-click="resetPasswordCtrl.cancel()" class="btn ink-reaction btn-raised btn-primary">Cancel</button>
			   	</div>
			</div>
	     </div><!--end .card -->
    </form>
 </div><!--end .card-body -->
 