<div class="">
    <form class="form-horizontal" ng-submit="transactionStgFrm.$valid && transactionSettingCtrl.baggageAdd()"  novalidate role="form" name="transactionStgFrm" >
        <div class="card" style="margin-bottom: 0;">
		      <div class="card-head style-primary">
			       <header>{{transactionSettingCtrl.tableHeader}}</header>
			       <button class="btn btn-default btn_close" ng-click="transactionSettingCtrl.cancel()"><i class="fa fa-times"></i></button>
		      </div>
		      <div class="card-body">
		     	<div class="col-md-12"> 		
					<h4 class="text-primary">Transaction Setting</h4>
					<div class="col-lg-6">
					     <div class="col-lg-12">
						     <div class="form-group">
								<label for="name" class="col-sm-4 control-label">Current Balance</label>
								<div class="col-sm-8">
						      		<input type="text" ng-disabled="true;" class="form-control" name="currBalance" ng-init="transactionSettingCtrl.currBalance = 0.00" ng-model="transactionSettingCtrl.currBalance" >
								</div>
							</div>
						</div>
						<div class="col-lg-12">
				            <div class="form-group" >
				                <label for="name" class="col-sm-4 control-label">Topup Amount</label>
				                <div class="col-sm-8">
				                    <input numbers-only type="text" class="form-control" ng-model="transactionSettingCtrl.toAmount" />
				                    <div class="form-control-line"></div> 
				                </div>
				            </div>
				        </div>
					</div>
					
					<div class="col-md-6">
						<label class="col-sm-4 control-label">Paid By : </label>
						<label class="radio-inline radio-styled">
							<input type="radio" name="inlineRadioOptions" ng-model="transactionSettingCtrl.paidType"  value="cash" ><span>Cash</span>
						</label>
						<label class="radio-inline radio-styled">
							<input type="radio" name="inlineRadioOptions"  ng-model="transactionSettingCtrl.paidType" value="creditCard" ><span>Credit Card</span>
						</label>
						
						<div class="form-group" >
				        	<label for="name" class="col-sm-4 control-label">Card No:</label>
				            <div class="col-sm-8">
				                <input type="text" ng-disabled="transactionSettingCtrl.paidType === 'cash'" class="form-control" ng-model="transactionSettingCtrl.cardNo" name="cardHolderName" numbers-only/>
				                <div class="form-control-line"></div> 
				            </div>
				       </div>
				       <div class="form-group" >
				        	<label for="name" class="col-sm-4 control-label">Card Holder Name:</label>
				                <div class="col-sm-8">
				                    <input type="text"  ng-disabled="transactionSettingCtrl.paidType === 'cash'" class="form-control" ng-model="transactionSettingCtrl.cardHolderName" />
				                    <div class="form-control-line"></div> 
				                </div>
				       </div>
					</div>
				</div>
				
				<div class="col-lg-12">
					<div class="col-lg-6">
						<p>Modified By : <b><i>{{transactionSettingCtrl.trDetails.modifiedBy}}</i></b></p>
					</div>
					<div class="col-lg-6">
						<p>Last Modified date time : <b><i>{{transactionSettingCtrl.trDetails.creditDate | date : 'dd-MMM-yyyy HH:mm:ss' }}</i></b> </p>
					</div>
				</div>
				
				<div class="col-lg-12">
					<div style="border-bottom: solid 1px rgba(0, 0, 0, 0.15);"></div>
					<h4 class="text-primary">Transaction Password</h4>
					<div class="col-md-8">
						<div class="col-md-12">
							<div class="checkbox checkbox-styled">
								<label>
									<input ng-disabled="transactionSettingCtrl.isPassword" type="checkbox" ng-model="transactionSettingCtrl.setPassword" ng-init="transactionSettingCtrl.setPassword = true">
									<span>Set Password</span>
								</label>
							</div>		
						</div>
						
						<div  class="form-group" ng-class="{'has-error' : transactionStgFrm.trPassword.$error.maxlength }">
			                <label for="name" class="col-sm-4 control-label">Enter Password</label>
			                <div class="col-sm-8">
			                    <input type="password" maxlength="4" ng-focus="transactionSettingCtrl.trChange(1)" ng-maxlength="4" id="txtNewPassword" ng-model="transactionSettingCtrl.trPassword" ng-disabled="transactionSettingCtrl.setPassword === false || transactionSettingCtrl.isPassword" class="form-control" name="trPassword"  />
			                    <span class="help-block" ng-show="transactionStgFrm.trPassword.$error.maxlength">Only 4 characters allowed</span> 
			                </div>
			            </div>
			            <div class="form-group" ng-class="{'has-error' : transactionStgFrm.trConfirmPassword.$invalid && transactionStgFrm.trConfirmPassword.$pristine && submitted || transactionStgFrm.trConfirmPassword.$error.pwmatch || transactionStgFrm.trConfirmPassword.$error.maxlength }" >
			                <label for="name" class="col-sm-4 control-label">Re Enter Password</label>
			                <div class="col-sm-8">
			                    <input type="password" maxlength="4"  ng-focus="transactionSettingCtrl.trChange(2)" ng-maxlength="4" ng-model="transactionSettingCtrl.trConfirmPassword" ng-disabled="transactionSettingCtrl.setPassword === false || transactionSettingCtrl.isPassword" class="form-control" name="trConfirmPassword" pw-check="txtNewPassword"  />
			                    <p ng-show="transactionStgFrm.trConfirmPassword.$invalid && transactionStgFrm.trConfirmPassword.$pristine && submitted || transactionStgFrm.trConfirmPassword.$error.pwmatch" class="help-block">Passwords don't match.</p>
			                    <span class="help-block" ng-show="transactionStgFrm.trConfirmPassword.$error.maxlength">Only 4 characters allowed</span> 
			                </div>
			            </div>
					</div>
					<div class="col-md-4">
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(1)" class="btn ink-reaction btn-raised btn-primary">1</button>
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(2)" class="btn ink-reaction btn-raised btn-primary">2</button>
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(3)" class="btn ink-reaction btn-raised btn-primary">3</button><br>
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(4)" class="btn ink-reaction btn-raised btn-primary">4</button>
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(5)" class="btn ink-reaction btn-raised btn-primary">5</button>
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(6)" class="btn ink-reaction btn-raised btn-primary">6</button><br>
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(7)" class="btn ink-reaction btn-raised btn-primary">7</button>
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(8)" class="btn ink-reaction btn-raised btn-primary">8</button>
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(9)" class="btn ink-reaction btn-raised btn-primary">9</button><br>
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn(0)" class="btn ink-reaction btn-raised btn-primary">0</button> 
						<button type="button" ng-disabled="transactionSettingCtrl.selectedValue === false" ng-click="transactionSettingCtrl.numBtn('clear')" class="btn ink-reaction btn-raised btn-primary">clear</button>
					</div>
				</div>
				
				<div class="col-md-12">
					<p>Operated By : <b><i>{{transactionSettingCtrl.trDetails.posPasswordAmtAcitvity.operatedBy}}</i></b> </p>
					<p>Last Modified date time : <b><i>{{transactionSettingCtrl.trDetails.posPasswordAmtAcitvity.modifiedDate | date : 'dd-MMM-yyyy HH:mm:ss'}}</i></b> </p>
					<div class="col-md-6">
						<div class="checkbox checkbox-styled">
							<label>
								<input type="checkbox" ng-disabled="transactionSettingCtrl.setPassword === false || transactionSettingCtrl.isPassword"  ng-model="transactionSettingCtrl.passwordRequired" ng-true-value="1" ng-false-value="0">
								<span>Required Transaction Password</span>
							</label>
						</div>		
					</div>
					<div class="col-md-6">
						<button type="button" ng-disabled="!transactionSettingCtrl.isPassword" ng-click="transactionSettingCtrl.resetPasswordBtn()" class="btn ink-reaction btn-raised btn-primary">Reset Password</button>		
					</div>
				</div>
			</div>
	       
			<div class="card-actionbar">
				<div class="card-actionbar-row">
			    	<button type="button" ng-click="transactionSettingCtrl.cancel()" class="btn ink-reaction btn-raised btn-primary">Cancel</button>
			        <button type="submit" ng-click="transactionStgFrm.$valid && transactionSettingCtrl.saveBtn()" class="btn ink-reaction btn-raised btn-primary">Ok</button>
			   	</div>
			</div>
	     </div><!--end .card -->
    </form>
 </div><!--end .card-body -->
 