
<!--breadcrumb  -->
<div class="breadcrumb">
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>

<div class="usercreate" ui-view>
	<div class="section-body" ng-controller="UserCtrl as userCtrl">
		<div class="row">
			<div class="col-md-12">
				<div class="card-head style-primary no-y-padding">
					<form class="form form-inverse" ng-submit="userCtrl.userListLoad()">
						<div class="form-group">
							<div class="input-group input-group-lg">
								<div class="input-group-content">
									<input type="text" class="form-control" ng-model="userCtrl.searchValue" placeholder="Enter your search here">
									<div class="form-control-line"></div>
								</div>
								<div class="input-group-btn">
									<button class="btn btn-floating-action btn-default-bright" type="submit"> <i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="">
				<div class="card-head sub-card-head">
					<div class="col-lg-12"
						style="padding-top: 3px; padding-bottom: 3px;">
						<div class="col-md-10">
							<!-- <div class="col-md-5">
							<label class="radio-inline radio-styled">
								<input type="radio" name="inlineRadioOptions"
									ng-model="userCtrl.selectUserType" ng-click="userCtrl.userListLoad()" value="User Id"><span>User ID</span>
								</label>
								<label class="radio-inline radio-styled">
								<input type="radio" name="inlineRadioOptions" ng-click="userCtrl.userListLoad()" ng-model="userCtrl.selectUserType" value="User Name" ><span>User Name</span>
								</label>
								<label class="radio-inline radio-styled">
									<input type="radio" name="inlineRadioOptions" ng-click="userCtrl.userListLoad()" ng-model="userCtrl.selectUserType" value="User Tag Id" ><span>User Tag Id</span>
								</label>
								<label class="radio-inline radio-styled">
									<input type="radio" name="inlineRadioOptions" ng-click="userCtrl.userListLoad()" ng-model="userCtrl.selectUserType" value="User EPC" ><span>User EPC</span>
								</label>
							</div> -->
							<div class="col-md-4">
								<label class="col-md-4">Search Type:</label>
								<div class="col-md-8">
									<select ng-init="userCtrl.selectUserType = 'User Id'"
										name="searchFields" class="form-control"
										ng-change="userCtrl.userListLoad()"
										ng-model="userCtrl.selectUserType">
										<option value="">Select</option>
										<option value="User Id">User Id</option>
										<option value="User Name">User Name</option>
										<!-- <option value="User Tag Id">User Tag Id</option> -->
										<option value="User EPC">User EPC</option>
										<!-- <option value="Category Type">Category Type</option> -->
										<option value="Emp Id">Emp Id</option>
										<!-- <option value="User Type">User Type</option>
										<option value="Phone No">Phone No</option> -->
										<option value="Mobile No">Mobile No</option>
										<!-- <option value="Email Id">Email Id</option>
										<option value="Address">Address</option>
										<option value="Gender">Gender</option> -->

										<!-- <option value="Division Name">Division Name</option>
										<option value="Sector Name">Sector Name</option>
										<option value="Location Name">Location Name</option>
										<option value="Department Name">Department Name</option>
										<option value="Date of birth">Date of Birth</option>
										<option value="Activation Date">Activation Date</option>
										<option value="Deactivation Date">DeActivation Date</option>
										<option value="Created Date">Created Date</option>
										<option value="Modified Date">Modified Date</option> -->
									</select>
								</div>
							</div>

							<div class="col-md-4"
								ng-if="userCtrl.selectUserType === 'Category Type'"
								ng-init="userCtrl.categoryList()">
								<div class="form-group">
									<label for="name" class="col-sm-4 control-label">Category
										Type</label>
									<div class="col-sm-8">
										<select class="form-control" name="categoryType"
											ng-model="userCtrl.categoryType"
											ng-options="cats.categorynm as cats.categorynm for cats in userCtrl.category_list.resData">
											<option value="">--SELECT--</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4"
								ng-if="userCtrl.selectUserType === 'Gender'">
								<div class="form-group">
									<label for="gender" class="col-sm-3 control-label">Gender</label>
									<div class="col-sm-9">
										<select class="form-control" name="gender"
											ng-model="userCtrl.sortBy">
											<option value="">--SELECT--</option>
											<option value="Male" checked>Male</option>
											<option value="Female">Female</option>
										</select>
									</div>
								</div>
							</div>

							<div class="col-md-4"
								ng-if="userCtrl.selectUserType === 'Division Name'"
								ng-init="userCtrl.getDivisionDetails()">
								<div class="form-group">
									<label for="Lastname5" class="col-sm-3 control-label">Division</label>
									<div class="col-sm-9">
										<select class="form-control" ng-model="userCtrl.divisionName"
											ng-options="div.divisionNm as div.divisionNm for div in userCtrl.divisionList.resData"
											name="division">
											<option value="">select division</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4"
								ng-if="userCtrl.selectUserType === 'Sector Name'"
								ng-init="userCtrl.getSectorDetails()">
								<div class="form-group">
									<label for="Lastname5" class="col-sm-3 control-label">Sector</label>
									<div class="col-sm-9">
										<select class="form-control" ng-model="userCtrl.sectorName"
											name="sector"
											ng-options="sec_d.sectorNm as sec_d.sectorNm for sec_d in userCtrl.sect_data.resData">
											<option value="">select sector</option>
										</select>
									</div>
								</div>
							</div>

							<div class="col-md-4"
								ng-if="userCtrl.selectUserType === 'Location Name'"
								ng-init="userCtrl.getLocationDetails()">
								<div class="form-group">
									<label for="Lastname5" class="col-sm-3 control-label">Location</label>
									<div class="col-sm-9">
										<select class="form-control" ng-model="userCtrl.locationName"
											ng-options="loc_d.locationNm as loc_d.locationNm for loc_d in userCtrl.loc_data.resData"
											name="location">
											<option value="">select location</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4"
								ng-if="userCtrl.selectUserType === 'Department Name'"
								ng-init="userCtrl.getDepartmentDetails()">
								<div class="form-group">
									<label for="Lastname5" class="col-sm-3 control-label">Department</label>
									<div class="col-sm-9">
										<select class="form-control"
											ng-model="userCtrl.departmentName"
											ng-options="dep_d.deptNm as dep_d.deptNm for dep_d in userCtrl.depart_data.resData"
											name="department">
											<option value="">select department</option>
										</select>
									</div>
								</div>
							</div>



							<div class="col-md-4"
								ng-if="userCtrl.selectUserType === 'Created Date' ||
                        userCtrl.selectUserType === 'Modified Date' ||
                        	 userCtrl.selectUserType === 'Activation Date' ||
                        	 userCtrl.selectUserType === 'Deactivation Date' ||
                        	 userCtrl.selectUserType === 'Date of birth'">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">From</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup
												ng-model="userCtrl.fromDate" is-open="userCtrl.from.opened"
												datepicker-options="userCtrl.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="userCtrl.fromOpen()">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4"
								ng-if="userCtrl.selectUserType === 'Created Date' ||
                        	 userCtrl.selectUserType === 'Modified Date' ||
                        	 userCtrl.selectUserType === 'Activation Date' ||
                        	 userCtrl.selectUserType === 'Deactivation Date' ||
                        	 userCtrl.selectUserType === 'Date of birth'">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">To</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup
												ng-model="userCtrl.toDate" is-open="userCtrl.to.opened"
												datepicker-options="userCtrl.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="userCtrl.toOpen()">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="col-md-2 text-right">
							<button style="color: white" type="button"
								tooltip-placement="left" uib-tooltip="Add User"
								ui-sref=".userAdd"
								class="btn ink-reaction btn-floating-action btn-sm btn-primary">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>User ID</th>
								<th>User Name</th>
								<th ng-if="userCtrl.selectUserType !== 'User Tag Id'">EPC ID</th>
								<th ng-if="userCtrl.selectUserType === 'User Tag Id'">Tag Id</th>
								<th>Category Name</th>
								<th>Emp Id</th>
								<th>Type</th>
								<th ng-if="userCtrl.selectUserType === 'Phone No'">Phone No</th>
								<th ng-if="userCtrl.selectUserType === 'Mobile No'">Mobile No</th>
								<th ng-if="userCtrl.selectUserType === 'Email Id'">Email Id</th>
								<th ng-if="userCtrl.selectUserType === 'Address'">Address</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="users in userCtrl.userData track by users.userId">
								<td>{{users.userId}}</td>
								<td><label ng-class="{'isUserPrimary' : users.isUserPrimary === 'YES'}" >{{users.userName}}</label></td> <!-- <i ng-if="users.isUserPrimary === 'YES'" style="color :red" class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbsp; -->
								<td ng-if="userCtrl.selectUserType !== 'User Tag Id'">{{users.tagId}}</td>
								<td ng-if="userCtrl.selectUserType === 'User Tag Id'">{{users.tagId}}</td>
								<td>{{users.categoryName}}</td>
								<td>{{users.empId }}</td> 
								<td>{{users.userType }}</td>
								<td ng-if="userCtrl.selectUserType === 'Phone No'">{{
									users.phoneNo }}</td>
								<td ng-if="userCtrl.selectUserType === 'Mobile No'">{{
									users.mobileNo }}</td>
								<td ng-if="userCtrl.selectUserType === 'Email Id'">{{users.emailId}}</td>
								<td ng-if="userCtrl.selectUserType === 'Address'">{{users.address}}</td>
								<td class="text-right">
									<button type="button" class="btn btn-icon-toggle" ng-click="userCtrl.viewMap(users)"><i class="fa fa-map-marker"></i></button>
									<button type="button" class="btn btn-icon-toggle btn-hover"
										ui-sref=".userView({'userId' : users.userId, 'type' :'view'})"
										data-toggle="tooltip" data-placement="top"
										data-original-title="View">
										<i class="fa fa-eye" aria-hidden="true"></i>
									</button>
								
									<button type="button" class="btn btn-icon-toggle btn-hover"
										ui-sref=".userUpdate({'userId' : users.userId})"
										data-toggle="tooltip" data-placement="top"
										data-original-title="Edit row">
										<i class="fa fa-pencil"></i>
									</button>
									<button type="button" class="btn btn-icon-toggle"
										ng-click="userCtrl.userDeleteBtn(users)" data-toggle="tooltip"
										data-placement="top" data-original-title="Delete row">
										<i class="fa fa-trash-o"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="text-center">
						<ul uib-pagination total-items="userCtrl.totalItems"
							ng-model="userCtrl.currentPage" max-size="userCtrl.maxSize"
							ng-change="userCtrl.userListLoad()"
							items-per-page="userCtrl.itemsPerPage" class="pagination-sm"
							boundary-links="true" rotate="false"></ul>
					</div>
				</div>
			</div>
			<!--end .row -->
			<br>

		</div>
		<!--end .card -->
	</div>
	<!--end section body -->
</div>
<!--end ui-view  -->
