 <div class="">
    <form class="form-horizontal"  novalidate role="form" name="userAttacheFrm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
      	 <header>{{userAttachmentController.tableHeader}}</header>
      	 <button class="btn btn-default btn_close" ng-click="userAttachmentController.cancel()"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body" style="overflow: auto;">
       <div class="row">
            <div class="col-md-12">
            	<div class="col-md-6">
            		<label class="col-md-4">Select file : </label>
               		<input class="col-md-8" accept="*/*"  ng-model="userAttachmentController.attchedDoc" type="file"  ngf-select file-model=userAttachmentController.attachedfile>&nbsp;
                </div>
               	<div class="col-md-6">
               		<button class="btn btn-primary" data-ng-disabled="!userAttachmentController.attachedfile" data-ng-click="userAttachmentController.userAttachBtn()">Attach</button>	
               	</div>
          </div>
          </hr>
          <div class="col-md-12 table-reponsive">
          		<table class="table table-hover">
               		<thead>
                    	<tr>
                        	<th>Sr.No</th>
                            <th>Download</th>
                            <th>User Id</th>
                            <th>Original file name</th>	
                            <th>Attached file name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'attachedColor': atList.userId}" ng-repeat="atList in userAttachmentController.usrTempFileData">
                            <td>
                                {{$index +1}}
                            </td>
                            <td><button ng-disabled="!atList.userId" data-ng-click="userAttachmentController.downloadFile(atList)">Download</button></td>
                           	<td>{{atList.userId}}</td>
                            <td>{{atList.fileName}}</td>
                            <td>{{atList.attaFullName}}</td>
                            <td class="text-right">
                               	<button type="button" class="btn btn-icon-toggle" ng-click="userAttachmentController.deleteBtn(atList)" ><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>             
         </div>
       </div>
      </div><!--end .card-body -->
      
      <div class="card-actionbar">
	      	<div class="card-actionbar-row">
	        	<button type="button" ng-click="userAttachmentController.cancel()" class="btn btn-primary ink-reaction">Cancel</button>
	        	<button type="button" ng-click="userAttachmentController.saveBtn()" class="btn btn-primary ink-reaction">Save</button>
	       	</div>
      </div>
   
   </div><!--end .card -->
 </form>
</div><!--end .card-body -->
