<!-- <style>
   table {table-layout:fixed;}
   </style> -->
<div class="">
    <form class="form-horizontal" ng-submit="userSearchFrm.$valid && userSearchController.userSelectFun()" novalidate role="form" name="userSearchFrm">
        <div class="card" style="margin-bottom: 0;">
            <div class="card-head style-primary">
                <header>{{ userSearchController.tableHeader }}</header>
                <button type="button" class="btn btn-default btn_close" ng-click="userSearchController.cancel()"><i class="fa fa-times"></i></button>
            </div>
            <div class="card-body" style="overflow: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search by</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="searchBy" ng-model="userSearchController.searchBy">
                      								<option value="">--SELECT--</option>
                      								<option value="User Name">User Name</option>
                      								<option value="User Id">User Id</option>
                      								<option value="EPC ID">User Tag Id </option>
                      								<option value="Tag Id">User EPC</option>
                      								<option value="Category Type">Category Name</option>
                      								<option value="BatchLotNo">Emp Id</option>
                      								<option value="User Type">User Type</option>
                      								<option value="Phone No">Phone No</option>
                      								<option value="Mobile No">Mobile No</option>
                      								<option value="Email Id">Email Id</option>
                      								<option value="Address">Address</option>
                      								<option value="Gender">Gender</option>
                      								<option value="Division Name">Division Name</option>
                      								<option value="Sector Name">Sector Name</option>
                      								<option value="Location Name">Location Name</option>
                      								<option value="Department Name">Department Name</option>
                      								<option value="Asset Id">Asset Id</option>
                      								<option value="Date Of Birth">Date Of Birth</option>
                      								<option value="Activation Date">Activation Date </option>
                      								<option value="Deactivation Date">Deactivation Date </option>
                      								<option value="Asset Description">Asset Description</option>
                      								<option value="Created Date">Created Date</option>
                      								<option value="Modified Date">Modified Date</option>
                      						</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Search Value</label>
                                 <div class="input-group input-group-lg">
                                    <div class="">
                                        <input type="text" class="form-control" ng-disabled="userSearchController.searchBy === 'Date Of Birth' || userSearchController.searchBy === 'Activation Date' || userSearchController.searchBy === 'Deactivation Date' || userSearchController.searchBy === 'Created Date' || userSearchController.searchBy === 'Modified Date' " ng-model="userSearchController.searchValue" placeholder="Enter your search here" />
                                        <!-- <span ng-if="userSearchController.searchValue" style="position: absolute; right: 48px;" ><i class="fa fa-times" aria-hidden="true"></i></span> -->
                                        <a class="textclear" ng-click="userSearchController.clearFields()" ng-if="userSearchController.searchValue"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        <div class="form-control-line"></div>
                                    </div>
                                    
                                    <div class="input-group-btn">
                                        <button class="btn btn-floating-action btn-default-bright" ng-click="userSearchController.userDetails()" type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- search by type -->
                        <div class="col-md-6" ng-if="userSearchController.searchBy === 'Category Type'" ng-init="userSearchController.categoryList()">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Category Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="categoryType" ng-model="userSearchController.searchField" ng-options="cats.categoryPrimery.categoryId as cats.categorynm for cats in userSearchController.category_list.resData">
              						    <option value="">--SELECT--</option>
              						</select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" ng-if="userSearchController.searchBy === 'User Type'">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">User Type</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="userType" ng-model="userSearchController.searchField">
              						    <option value="">--SELECT--</option>
              						    <option value="Admin">Admin</option>
              						    <option value="User">User</option>
              						</select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" ng-if="userSearchController.searchBy === 'Gender'">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Gender</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="gender" ng-model="userSearchController.searchField">
              						    <option value="">--SELECT--</option>
              						    <option value="Male">Male</option>
              						    <option value="Female">Female</option>
              						</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="userSearchController.searchBy === 'Division Name'" ng-init="userSearchController.getDivisionDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Division</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="userSearchController.searchField" ng-options="div.divisionNm as div.divisionNm for div in userSearchController.divisionList.resData" name="division">
										<option value="">select division</option>
									</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="userSearchController.searchBy === 'Sector Name'" ng-init="userSearchController.getSectorDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Sector</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="userSearchController.searchField" name="sector" ng-options="sec_d.sectorNm as sec_d.sectorNm for sec_d in userSearchController.sect_data.resData">
											<option value="">select sector</option>
										</select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="userSearchController.searchBy === 'Location Name'" ng-init="userSearchController.getLocationDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="userSearchController.searchField" ng-options="loc_d.locationNm as loc_d.locationNm for loc_d in userSearchController.loc_data.resData" name="location">
											<option value="">select location</option>
										</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="userSearchController.searchBy === 'Department Name'" ng-init="userSearchController.getDepartmentDetails()">
                            <div class="form-group">
                                <label for="Lastname5" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="userSearchController.searchField" ng-options="dep_d.deptNm as dep_d.deptNm for dep_d in userSearchController.depart_data.resData" name="department">
									     <option value="">select department</option>
									</select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6" ng-if="userSearchController.searchBy === 'Created Date' ||
                        	 userSearchController.searchBy === 'Modified Date' ||
                        	 userSearchController.searchBy === 'Date Of Birth' ||
                        	 userSearchController.searchBy === 'Activation Date' ||
                        	 userSearchController.searchBy === 'Deactivation Date'">
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">From</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="userSearchController.fromDate" is-open="userSearchController.from.opened" datepicker-options="userSearchController.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="userSearchController.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
									</div>
							</div>
						</div>
						
						<div class="col-md-6" ng-if="userSearchController.searchBy === 'Created Date' ||
                        	 userSearchController.searchBy === 'Modified Date' ||
                        	 userSearchController.searchBy === 'Date Of Birth' ||
                        	 userSearchController.searchBy === 'Activation Date' ||
                        	 userSearchController.searchBy === 'Deactivation Date'">
                        	<div class="form-group">
								<label for="name" class="col-sm-3 control-label">To</label>
									<div class="col-sm-9">
										<div class="input-group-content">
											<input type="text" class="form-control" uib-datepicker-popup ng-model="userSearchController.toDate" is-open="userSearchController.to.opened" datepicker-options="userSearchController.dateOptions" close-text="Close" />
										</div>
										<div class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="userSearchController.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
										</div>
									</div>
							</div>
						</div>
                      </div>

                    <!--$ TABLE $-->
                    <div class="col-md-12">
                        <table class="table table-hover table-reponsive">
                            <thead>
                                <tr>
                                	<th>Select User</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>EPC ID</th>
                                    <th>Category Name</th>
                                    <th ng-if="userSearchController.searchBy === 'Division Name'">Division</th>
                                    <th ng-if="userSearchController.searchBy === 'Sector Name'">Sector</th>
                                    <th ng-if="userSearchController.searchBy === 'Location Name'">Location</th>
                                    <th ng-if="userSearchController.searchBy === 'Department Name'">Department</th>
                                    <th>Emp Id</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="users in userSearchController.user_data.resData.userList" >
                                  	<td>
                                        <label class="radio-inline radio-styled">
											 <input type="radio" name="inlineRadioOptions" ng-model="userSearchController.userSelect" value="{{users}}" /><span></span>
										</label>
                                    </td>
                                  	<td>{{users.userId}}</td>
                                    <td style="word-break: break-all;">{{users.userName}}</td>
                                    <td style="word-break: break-all;">{{users.tagId}}</td>
                                    <td>{{users.categoryName}}</td>
                                    <td ng-if="userSearchController.searchBy === 'Division Name'">{{users.divisionName}}</td>
                                    <td ng-if="userSearchController.searchBy === 'Sector Name'">{{users.sectorName}}</td>
                                    <td ng-if="userSearchController.searchBy === 'Location Name'">{{users.locationName}}</td>
                                    <td ng-if="userSearchController.searchBy === 'Department Name'">{{users.departmentName}}</td>
                                    <td>{{users.empId}}</td>
                                    <td>{{users.userType}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <ul uib-pagination total-items="userSearchController.totalItems" max-size="userSearchController.maxSize" ng-model="userSearchController.currentPage" ng-change="userSearchController.userDetails()" items-per-page="userSearchController.itemsPerPage" boundary-links="true"
                                rotate="false"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <button type="submit" class="btn ink-reaction btn-raised btn-primary">Ok</button>
                    <button type="button" ng-click="userSearchController.cancel()" class="btn ink-reaction btn-raised btn-primary">Cancel</button>
                </div>
            </div>
        </div>
        <!--end .card -->
    </form>
</div>
<!--end .card-body -->
