<div>
	<div class="section-body">
		<div class="card userview">
			<div class="row">
				<div class="col-md-12">
					<div class="card-head style-primary no-y-padding">
						<header>User View</header>
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-2">
						<div class="text-center" style="padding: 15px;">
							<img ng-if="userViewCtrl.userImage" style="max-width: 100%;border-radius: 50%; border: solid #0aa89e; padding: 4px;" ng-src="data:image/jpeg;base64,{{userViewCtrl.userImage}}"/>
							<img ng-if="!userViewCtrl.userImage" style="max-width: 100%;border-radius: 50%; border: solid #0aa89e; padding: 4px;" src="resources/images/icon-user.png"/>
						</div>
					</div>
					<div class="col-md-10 userInfo">
						<div class="col-md-12">
							<h2 style="letter-spacing: 2.1px;font-weight: 600;text-shadow: 2px 0px 6px #969296;">{{userViewCtrl.userData.userName}}<span style="color:#ff1357" ng-if="userViewCtrl.userData.isUserPrimary === 'YES'">(Primary User)</span><span style="color:#ff1357" ng-if="userViewCtrl.userData.isUserPrimary !== 'YES'">(Secondary User)</span> - Bal : {{userViewCtrl.userData.UserCurrentBal}}</h2>
						</div> 
						<div class="col-md-4">
							<p>Gender : <strong>{{userViewCtrl.userData.gender}}</strong></p>
							<p>EmpId : <strong>{{userViewCtrl.userData.empId}}</strong></p>
							<p>EPC ID : <strong>{{userViewCtrl.userData.userTagId}}</strong></p>
							<p>DOB : <strong>{{userViewCtrl.userData.dob | date : 'dd-MMM-yyyy'}}</strong></p>
						</div>
						<div class="col-md-4">
							<p>Mobile.No : <strong>{{userViewCtrl.userData.mobileno}}</strong></p>
							<p>Email : <strong>{{userViewCtrl.userData.emailId}}</strong></p>
							<p>Address : <strong>{{userViewCtrl.userData.addr}}</strong></p>
							<p>Description : <strong>{{userViewCtrl.userData.description}}</strong></p>
						</div>
						<div class="col-md-4">
							<p>Company : <strong>{{userViewCtrl.companyName}}</strong></p>
							<p>Activation Date : <strong>{{userViewCtrl.userData.actDate | date : 'dd-MMM-yyyy'}}</strong></p>
							<p>DeActivation Date : <strong>{{userViewCtrl.userData.deactDate | date : 'dd-MMM-yyyy'}}</strong></p>
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="row userInfo">
				<div class="col-md-12"> <!--  style="background-image: url('resources/images/noisy_grid.png');background-attachment: fixed;"   -->
					<hr>
					<div class="col-md-3">
						<h3>User Details</h3>
						<p>Division : <strong>{{userViewCtrl.userData.divisionName}}</strong></p>
						<p>Sector  : <strong>{{userViewCtrl.userData.sectorName}}</strong></p>
						<p>Location : <strong>{{userViewCtrl.userData.locationName}}</strong></p>
						<p>Department : <strong>{{userViewCtrl.userData.departmentName}}</strong></p>
					</div>
					<div class="col-md-6">
						<h3>Time zone Details</h3>
						<div class="col-lg-4 col-sm-4 col-xs-6">
							<p>TimZone : <strong>{{userViewCtrl.timeZoneDetails.timeZone.timeName}}</strong></p>
							<p>Start Date : <strong>{{userViewCtrl.timeZoneDetails.timeZone.startDate | date : 'dd-MMM-yyyy'}}</strong></p>
							<p>End Date : <strong>{{userViewCtrl.timeZoneDetails.timeZone.endDate | date : 'dd-MMM-yyyy'}}</strong></p>
						</div>
						<div class="col-lg-4 col-sm-4 col-xs-6">
							<p>Start Time 1 : <strong>{{userViewCtrl.timeZoneDetails.timeZoneSets[0].startTime}}</strong></p>
							<p>End Time 1 : <strong>{{userViewCtrl.timeZoneDetails.timeZoneSets[0].endTime}}</strong></p>
							<p>Start Time 2 : <strong>{{userViewCtrl.timeZoneDetails.timeZoneSets[1].startTime}}</strong></p>
							<p>End Time 2 : <strong>{{userViewCtrl.timeZoneDetails.timeZoneSets[1].endTime}}</strong></p>
						</div>
						<div class="col-lg-4 col-sm-4 col-xs-6">
							<p>Start Time 3 : <strong>{{userViewCtrl.timeZoneDetails.timeZoneSets[2].startTime}}</strong></p>
							<p>End Time 3 : <strong>{{userViewCtrl.timeZoneDetails.timeZoneSets[2].endTime}}</strong></p>
							<p>Start Time 4 : <strong>{{userViewCtrl.timeZoneDetails.timeZoneSets[3].startTime}}</strong></p>
							<p>End Time 4 : <strong>{{userViewCtrl.timeZoneDetails.timeZoneSets[3].endTime}}</strong></p>
						</div>
					</div>
					<div class="col-md-3">
						<h3>Tracking Details</h3>
						<p>First Detect D&T : <strong>{{userViewCtrl.userData.userTrackDetails.firstDetectDNT}}</strong></p>
						<p>Last Detect D&T : <strong>{{userViewCtrl.userData.userTrackDetails.lastDetectDNT}}</strong></p>
						<p>Curr Detect D&T  : <strong>{{userViewCtrl.userData.userTrackDetails.currDetectDNT}}</strong></p>
						<p>Curr Detect Zone : <strong>{{userViewCtrl.userData.userTrackDetails.currDetectZone}}</strong></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
					<div class="col-md-6">
						<h3>User Attachments</h3>
						<ul ng-if="userViewCtrl.userData.userAttachment.userAttachmentList.length > 0" style="list-style: none;">
							<li style="padding: 3px;" ng-repeat="attachment in userViewCtrl.userData.userAttachment.userAttachmentList"><b>{{$index + 1}}.{{attachment}} = </b><a href ng-click="userViewCtrl.downloadAttachment(attachment)" class="btn ink-reaction btn-raised btn-primary">Download</a></li>
						</ul>
						<ul ng-if="!userViewCtrl.userData.userAttachment.userAttachmentList.length > 0" style="list-style: none;">
							<li><h4>No Attachments found</h4></li>
						</ul>
					</div>
					<div class="col-md-6" ng-if="userViewCtrl.userData.isUserPrimary === 'YES'">
						<h3>Sub Users</h3>
						<table class="table">
							<thead>
								<tr>
									<th>Sr.No</th>
									<th>Name</th>
									<th>Gender</th>
									<th>EPC ID</th>
									<th>Category Type</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat = "subUser in userViewCtrl.userData.SubUserList">
								 	<td>{{$index + 1}}</td>
								 	<td>{{subUser.name}}</td>
								 	<td>{{subUser.gender}}</td>
								 	<td>{{subUser.epcID}}</td>
								 	<td>{{subUser.subUserCategoryName}}</td>
								 </tr>
							</tbody>
							<tfoot>
								<tr ng-if="!userViewCtrl.userData.SubUserList.length > 0">
									<td><h3>No records found</h3></td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
					
					