<!--breadcrumb  -->
<div class="breadcrumb">
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>

<div class="usermonitor">
	<div class="section-body" >
		<div class="card style-primary">
			<div class="card-head">
				<div class="text-left">
					<header>User Photo With Last 10 Records</header>
				</div>
			</div>
			<div class="card-body style-default-bright">
				<div class="row">
					<div class="col-lg-12">
						<img ng-hide="true" id='imgToExport'  style="width: 85px;" src="resources/images/dolphin-logo.png" />
									
						<div id="borderRgt" class="col-md-4 leftcontent">
							<div class="text-center">
								<img ng-if="userPhotoCtrl.detectedUser.imageDataInString" ng-src="data:image/jpeg;base64,{{userPhotoCtrl.detectedUser.imageDataInString}}" />
								<img ng-if="!userPhotoCtrl.detectedUser.imageDataInString" ng-src="resources/images/icon-user280.png" />
							</div>
							<div class="text-center" style="margin-top: 13px;margin-bottom: 13px;">
								<h2 style="background-color: rgba(10, 168, 158, 0.07); padding: 3px; color: #692087; border-radius: 5px;"><a target="_blank" href ui-sref="homeDashboard.posUser.userView({'userId' : userPhotoCtrl.detectedUser.userId, 'type' :'view'})">{{userPhotoCtrl.detectedUser.userName}}</a></h2>
								<h4>Time : {{userPhotoCtrl.detectedUser.detectedTime | date : 'dd-MMM-yyyy HH:mm:ss'}}</h4>
							</div>
						</div>
						<!-- <div class="col-md-4 rightContent">
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Usernm' || userPhotoCtrl.userFields[1] === 'Usernm' || userPhotoCtrl.userFields[2] === 'Usernm' || userPhotoCtrl.userFields[3] === 'Usernm' || userPhotoCtrl.userFields[4] === 'Usernm' || userPhotoCtrl.userFields[5] === 'Usernm'">
								<h5 class="col-md-6 col-xs-4"><span>User Name</span></h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.userName}}</h5>
							</div>
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Locationnm' || userPhotoCtrl.userFields[1] === 'Locationnm' || userPhotoCtrl.userFields[2] === 'Locationnm' || userPhotoCtrl.userFields[3] === 'Locationnm' || userPhotoCtrl.userFields[4] === 'Locationnm' || userPhotoCtrl.userFields[5] === 'Locationnm'">
								<h5 class="col-md-6 col-xs-4">Location Name</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.locationName}}</h5>
							</div>
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Departmentnm' || userPhotoCtrl.userFields[1] === 'Departmentnm' || userPhotoCtrl.userFields[2] === 'Departmentnm' || userPhotoCtrl.userFields[3] === 'Departmentnm' || userPhotoCtrl.userFields[4] === 'Departmentnm' || userPhotoCtrl.userFields[5] === 'Departmentnm' ">
								<h5 class="col-md-6 col-xs-4">Department Name</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.departmentName}}</h5>
							</div>
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Userid' || userPhotoCtrl.userFields[1] === 'Userid' || userPhotoCtrl.userFields[2] === 'Userid' || userPhotoCtrl.userFields[3] === 'Userid' || userPhotoCtrl.userFields[4] === 'Userid' || userPhotoCtrl.userFields[5] === 'Userid' ">
								<h5 class="col-md-6 col-xs-4">User Id</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.userId}}</h5>
							</div>
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Gender' || userPhotoCtrl.userFields[1] === 'Gender' || userPhotoCtrl.userFields[2] === 'Gender' || userPhotoCtrl.userFields[3] === 'Gender' || userPhotoCtrl.userFields[4] === 'Gender' || userPhotoCtrl.userFields[5] === 'Gender' ">
								<h5 class="col-md-6 col-xs-4">Gender</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.gender}}</h5>
							</div>
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Companynm' || userPhotoCtrl.userFields[1] === 'Companynm' || userPhotoCtrl.userFields[2] === 'Companynm' || userPhotoCtrl.userFields[3] === 'Companynm' || userPhotoCtrl.userFields[4] === 'Companynm' || userPhotoCtrl.userFields[5] === 'Companynm'">
								<h5 class="col-md-6 col-xs-4">Company Name</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.companyName}}</h5>
							</div>
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Divisionnm' || userPhotoCtrl.userFields[1] === 'Divisionnm' || userPhotoCtrl.userFields[2] === 'Divisionnm' || userPhotoCtrl.userFields[3] === 'Divisionnm' || userPhotoCtrl.userFields[4] === 'Divisionnm' || userPhotoCtrl.userFields[5] === 'Divisionnm'">
								<h5 class="col-md-6 col-xs-4">Division Name</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.divisionName}}</h5>
							</div>
							 <div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Phoneno' || userPhotoCtrl.userFields[1] === 'Phoneno' || userPhotoCtrl.userFields[2] === 'Phoneno' || userPhotoCtrl.userFields[3] === 'Phoneno' || userPhotoCtrl.userFields[4] === 'Phoneno' || userPhotoCtrl.userFields[5] === 'Phoneno' ">
								<h5 class="col-md-6 col-xs-4">Phone NO</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.phoneNo}}</h5>
							</div>
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Actdate' || userPhotoCtrl.userFields[1] === 'Actdate' || userPhotoCtrl.userFields[2] === 'Actdate' || userPhotoCtrl.userFields[3] === 'Actdate' || userPhotoCtrl.userFields[4] === 'Actdate' || userPhotoCtrl.userFields[5] === 'Actdate' ">
								<h5 class="col-md-6 col-xs-4">Activation Date</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.activationDate}}</h5>
							</div> 
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Categorynm' || userPhotoCtrl.userFields[1] === 'Categorynm' || userPhotoCtrl.userFields[2] === 'Categorynm' || userPhotoCtrl.userFields[3] === 'Categorynm' || userPhotoCtrl.userFields[4] === 'Categorynm' || userPhotoCtrl.userFields[5] === 'Categorynm' ">
								<h5 class="col-md-6 col-xs-4">Category Name</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.categoryName}}</h5>
							</div> 
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Sectornm' || userPhotoCtrl.userFields[1] === 'Sectornm' || userPhotoCtrl.userFields[2] === 'Sectornm' || userPhotoCtrl.userFields[3] === 'Sectornm' || userPhotoCtrl.userFields[4] === 'Sectornm' || userPhotoCtrl.userFields[5] === 'Sectornm' ">
								<h5 class="col-md-6 col-xs-4">Sector Name</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.sectorName}}</h5>
							</div> 
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Mobileno' || userPhotoCtrl.userFields[1] === 'Mobileno' || userPhotoCtrl.userFields[2] === 'Mobileno' || userPhotoCtrl.userFields[3] === 'Mobileno' || userPhotoCtrl.userFields[4] === 'Mobileno' || userPhotoCtrl.userFields[5] === 'Mobileno' ">
								<h5 class="col-md-6 col-xs-4">Mobile No</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.mobileNo}}</h5>
							</div> 
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Empid' || userPhotoCtrl.userFields[1] === 'Empid' || userPhotoCtrl.userFields[2] === 'Empid' || userPhotoCtrl.userFields[3] === 'Empid' || userPhotoCtrl.userFields[4] === 'Empid' || userPhotoCtrl.userFields[5] === 'Empid' ">
								<h5 class="col-md-6 col-xs-4">Emp Id</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.empId}}</h5>
							</div> 
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Dob' || userPhotoCtrl.userFields[1] === 'Dob' || userPhotoCtrl.userFields[2] === 'Dob' || userPhotoCtrl.userFields[3] === 'Dob' || userPhotoCtrl.userFields[4] === 'Dob' || userPhotoCtrl.userFields[5] === 'Dob' ">
								<h5 class="col-md-6 col-xs-4">DOB</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.dateOfBirth}}</h5>
							</div> 
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Deactdate' || userPhotoCtrl.userFields[1] === 'Deactdate' || userPhotoCtrl.userFields[2] === 'Deactdate' || userPhotoCtrl.userFields[3] === 'Deactdate' || userPhotoCtrl.userFields[4] === 'Deactdate' || userPhotoCtrl.userFields[5] === 'Deactdate'">
								<h5 class="col-md-6 col-xs-4">DeActivate Date</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.deactivationDate}}</h5>
							</div> 
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Usertagid' || userPhotoCtrl.userFields[1] === 'Usertagid' || userPhotoCtrl.userFields[2] === 'Usertagid' || userPhotoCtrl.userFields[3] === 'Usertagid' || userPhotoCtrl.userFields[4] === 'Usertagid' || userPhotoCtrl.userFields[5] === 'Usertagid' ">
								<h5 class="col-md-6 col-xs-4">EPC ID</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.tagId}}</h5>
							</div> 
							<div class="col-md-12 row" ng-if="userPhotoCtrl.userFields[0] === 'Emailid' || userPhotoCtrl.userFields[1] === 'Emailid' || userPhotoCtrl.userFields[2] === 'Emailid' || userPhotoCtrl.userFields[3] === 'Emailid' || userPhotoCtrl.userFields[4] === 'Emailid' || userPhotoCtrl.userFields[5] === 'Emailid' ">
								<h5 class="col-md-6 col-xs-4">Email ID</h5>
								<h5 class="col-md-6">:&nbsp;{{userPhotoCtrl.detectedUser.emailId}}</h5>
							</div> 
						</div> -->
						<div id="borderRgt" class="col-md-4 rightContent">
							<ul>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Usernm' || userPhotoCtrl.userFields[1] === 'Usernm' || userPhotoCtrl.userFields[2] === 'Usernm' || userPhotoCtrl.userFields[3] === 'Usernm' || userPhotoCtrl.userFields[4] === 'Usernm' || userPhotoCtrl.userFields[5] === 'Usernm'">
									<span class="pull-left">User name</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.userName}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Locationnm' || userPhotoCtrl.userFields[1] === 'Locationnm' || userPhotoCtrl.userFields[2] === 'Locationnm' || userPhotoCtrl.userFields[3] === 'Locationnm' || userPhotoCtrl.userFields[4] === 'Locationnm' || userPhotoCtrl.userFields[5] === 'Locationnm'">
									<span class="pull-left">Location name</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.locationName}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Departmentnm' || userPhotoCtrl.userFields[1] === 'Departmentnm' || userPhotoCtrl.userFields[2] === 'Departmentnm' || userPhotoCtrl.userFields[3] === 'Departmentnm' || userPhotoCtrl.userFields[4] === 'Departmentnm' || userPhotoCtrl.userFields[5] === 'Departmentnm' ">
									<span class="pull-left">Department name</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.departmentName}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Userid' || userPhotoCtrl.userFields[1] === 'Userid' || userPhotoCtrl.userFields[2] === 'Userid' || userPhotoCtrl.userFields[3] === 'Userid' || userPhotoCtrl.userFields[4] === 'Userid' || userPhotoCtrl.userFields[5] === 'Userid' ">
									<span class="pull-left">User ID</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.userId}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Gender' || userPhotoCtrl.userFields[1] === 'Gender' || userPhotoCtrl.userFields[2] === 'Gender' || userPhotoCtrl.userFields[3] === 'Gender' || userPhotoCtrl.userFields[4] === 'Gender' || userPhotoCtrl.userFields[5] === 'Gender' ">
									<span class="pull-left">Gender</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.gender}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Companynm' || userPhotoCtrl.userFields[1] === 'Companynm' || userPhotoCtrl.userFields[2] === 'Companynm' || userPhotoCtrl.userFields[3] === 'Companynm' || userPhotoCtrl.userFields[4] === 'Companynm' || userPhotoCtrl.userFields[5] === 'Companynm'">
									<span class="pull-left">Company Name</span>
									<section>:</section>{{userPhotoCtrl.companyName}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Divisionnm' || userPhotoCtrl.userFields[1] === 'Divisionnm' || userPhotoCtrl.userFields[2] === 'Divisionnm' || userPhotoCtrl.userFields[3] === 'Divisionnm' || userPhotoCtrl.userFields[4] === 'Divisionnm' || userPhotoCtrl.userFields[5] === 'Divisionnm'">
									<span class="pull-left">Division Name</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.divisionName}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Phoneno' || userPhotoCtrl.userFields[1] === 'Phoneno' || userPhotoCtrl.userFields[2] === 'Phoneno' || userPhotoCtrl.userFields[3] === 'Phoneno' || userPhotoCtrl.userFields[4] === 'Phoneno' || userPhotoCtrl.userFields[5] === 'Phoneno' ">
									<span class="pull-left">Phone No</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.phoneNo}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Actdate' || userPhotoCtrl.userFields[1] === 'Actdate' || userPhotoCtrl.userFields[2] === 'Actdate' || userPhotoCtrl.userFields[3] === 'Actdate' || userPhotoCtrl.userFields[4] === 'Actdate' || userPhotoCtrl.userFields[5] === 'Actdate' ">
									<span class="pull-left">Activate Date</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.activationDate}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Categorynm' || userPhotoCtrl.userFields[1] === 'Categorynm' || userPhotoCtrl.userFields[2] === 'Categorynm' || userPhotoCtrl.userFields[3] === 'Categorynm' || userPhotoCtrl.userFields[4] === 'Categorynm' || userPhotoCtrl.userFields[5] === 'Categorynm' ">
									<span class="pull-left">Category Name</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.categoryName}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Sectornm' || userPhotoCtrl.userFields[1] === 'Sectornm' || userPhotoCtrl.userFields[2] === 'Sectornm' || userPhotoCtrl.userFields[3] === 'Sectornm' || userPhotoCtrl.userFields[4] === 'Sectornm' || userPhotoCtrl.userFields[5] === 'Sectornm' ">
									<span class="pull-left">Sector Name</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.sectorName}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Mobileno' || userPhotoCtrl.userFields[1] === 'Mobileno' || userPhotoCtrl.userFields[2] === 'Mobileno' || userPhotoCtrl.userFields[3] === 'Mobileno' || userPhotoCtrl.userFields[4] === 'Mobileno' || userPhotoCtrl.userFields[5] === 'Mobileno' ">
									<span class="pull-left">Mobile No</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.mobileNo}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Empid' || userPhotoCtrl.userFields[1] === 'Empid' || userPhotoCtrl.userFields[2] === 'Empid' || userPhotoCtrl.userFields[3] === 'Empid' || userPhotoCtrl.userFields[4] === 'Empid' || userPhotoCtrl.userFields[5] === 'Empid' ">
									<span class="pull-left">Emp ID</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.empId}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Dob' || userPhotoCtrl.userFields[1] === 'Dob' || userPhotoCtrl.userFields[2] === 'Dob' || userPhotoCtrl.userFields[3] === 'Dob' || userPhotoCtrl.userFields[4] === 'Dob' || userPhotoCtrl.userFields[5] === 'Dob' ">
									<span class="pull-left">DOB</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.dateOfBirth}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Deactdate' || userPhotoCtrl.userFields[1] === 'Deactdate' || userPhotoCtrl.userFields[2] === 'Deactdate' || userPhotoCtrl.userFields[3] === 'Deactdate' || userPhotoCtrl.userFields[4] === 'Deactdate' || userPhotoCtrl.userFields[5] === 'Deactdate'">
									<span class="pull-left">DeActivation Date</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.deactivationDate}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Usertagid' || userPhotoCtrl.userFields[1] === 'Usertagid' || userPhotoCtrl.userFields[2] === 'Usertagid' || userPhotoCtrl.userFields[3] === 'Usertagid' || userPhotoCtrl.userFields[4] === 'Usertagid' || userPhotoCtrl.userFields[5] === 'Usertagid' ">
									<span class="pull-left">EPC ID</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.tagId}}
								</li>
								<li ng-if="userPhotoCtrl.userFields[0] === 'Emailid' || userPhotoCtrl.userFields[1] === 'Emailid' || userPhotoCtrl.userFields[2] === 'Emailid' || userPhotoCtrl.userFields[3] === 'Emailid' || userPhotoCtrl.userFields[4] === 'Emailid' || userPhotoCtrl.userFields[5] === 'Emailid' ">
									<span class="pull-left">Email Id</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.emailId}}
								</li>
							</ul>
						</div>
						<div class="col-md-4 rightContent">
							<ul>
								<li>
									<span class="pull-left">Activation Date</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.activationDate}}
								</li>
								<li>
									<span class="pull-left">DeActivation Date</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.deactivationDate}}
								</li>
								<li>
									<span class="pull-left">TimeZone Name</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.timeZone.timeName}}
								</li>
								<li>
									<span class="pull-left">TimeZone date</span>
									<section>:</section>{{userPhotoCtrl.detectedUser.timeZone.startDate | date : 'dd-MMM-yyyy'}} - {{userPhotoCtrl.detectedUser.timeZone.endDate | date : 'dd-MMM-yyyy'}}
								</li>
								<li>
									<span class="pull-left">Time Sets</span><br> <!-- ng-repeat = "timeSets in userPhotoCtrl.detectedUser.timeZoneSetList" {{$index + 1}}.{{timeSets.startTime}}-{{timeSets.startTime}} -->
									<span ng-repeat = "timeSets in userPhotoCtrl.detectedUser.timeZoneSetList" style="padding: 3px; background-color: rgba(138, 139, 144, 0.26); color: rgb(8, 1, 1); margin-right: 3px; border-radius: 2px;">{{$index + 1}}.{{timeSets.startTime}}-{{timeSets.startTime}}</span>
								</li>
							</ul>	
							<div ng-class="{'errorGreenBox' : userPhotoCtrl.detectedUser.inEvent == '9'}" >
								<h3 ng-if="userPhotoCtrl.detectedUser.inEvent == '9'">Success</h3>
							</div>
							
							<div ng-class="{'errorGreenBox' : userPhotoCtrl.detectedUser.inEvent == '8'}">
								<h3 ng-if="userPhotoCtrl.detectedUser.inEvent == '8'">Success</h3>
							</div>
							
							<div ng-class="{'errorRedBox' : userPhotoCtrl.detectedUser.inEvent == '5'}">
								<h3 ng-if="userPhotoCtrl.detectedUser.inEvent == '5'">{{userPhotoCtrl.detectedUser.errorStatusDescription}}</h3>
							</div>
							
							<div ng-class="{'errorRedBox' : userPhotoCtrl.detectedUser.inEvent == '10'}">
								<h3 ng-if="userPhotoCtrl.detectedUser.inEvent == '10'">{{userPhotoCtrl.detectedUser.errorStatusDescription}}</h3>
							</div>
						</div>
					</div>
					
					<div class="col-md-12" style="background-color: rgba(10, 168, 158, 0.07);">
						<div class="col-md-3 col-xs-4">
							<h5>DD : <strong>{{userPhotoCtrl.dockDoorName}}</strong></h5>
						</div>
						<div class="col-md-5 col-xs-4 text-center">
							<h5><span style="background-color: green; padding: 7px 20px 7px 20px; color: white; font-size: 17px;">{{userPhotoCtrl.detectedUser.fromAmount}}</span> - <span style="background-color: red; padding: 7px 20px 7px 20px; color: white; font-size: 17px;">{{userPhotoCtrl.detectedUser.grossTotal}}</span> = <span style="background-color: green; padding: 7px 20px 7px 20px; color: white; font-size: 17px;">{{userPhotoCtrl.detectedUser.currentBalance}}</span></h5>
						</div>
						<div class="col-md-4 col-xs-4">
							<div class="card-actionbar-row">
								<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="userPhotoCtrl.settlement()">Settlement</button>
								<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="userPhotoCtrl.confirmBtn()">Confirm</button>
							</div>
						</div>
					</div>
					
					<div class="col-md-12">
						<div style="border-bottom: solid 1px rgba(16, 13, 16, 0.05);margin-bottom: 3px;margin-top: 3px;"></div>
					</div>
					
					<div ng-if="userPhotoCtrl.userData.length > 0"  class="col-md-12 heriz-imgcontainer" >
						<ul>
							<li ng-repeat="users in userPhotoCtrl.userData">
								<div class="text-center">
									<img ng-if="users.imageDataInString" alt="userImage" ng-src="data:image/jpeg;base64,{{users.imageDataInString}}" />
									<img ng-if="!users.imageDataInString" alt="userImage" ng-src="resources/images/icon-user280.png" />
								</div>
								<h3 style="background-color: rgba(10, 168, 158, 0.07);  padding: 3px; font-size: 15px; color: #692087; border-radius: 5px;">{{users.userName}}</h3>
								<span>{{users.detectedTime | date : 'dd-MMM-yyyy HH:mm:ss'}}</span>
							</li>
							
						</ul>
					</div>
					<div ng-if="!userPhotoCtrl.userData.length > 0" class="col-md-12">
						<h2>No records found </h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
							