
<div>
	<div class="card" style="margin-bottom: 0px; radius: 1px">
		<div class="card-head style-primary">
			<header>Add sub user({{userSubGroupCtrl.userData.userName}} - {{userSubGroupCtrl.userData.empId}})</header>
			<button class="btn btn-default btn_close"
				ng-click="userSubGroupCtrl.cancel()">
				<i class="fa fa-times"></i>
			</button>
		</div>
		<fieldset ng-disabled="userSubGroupCtrl.isDisabled === true">
			<div class="card-body">
				<div class="row">
					<form class="form-horizontal" role="form" name="userSubGroupFrm"
						novalidate>
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="form-group ">
								<label class="radio-inline">Expense Type:</label> 
								<label class="radio-inline radio-styled"> <input type="radio"
									name="inlineRadioOptions" ng-model="userSubGroupCtrl.expenseType" value="C"><span>Centralize</span>
								</label> <label class="radio-inline radio-styled"> <input
									type="radio" name="inlineRadioOptions"
									ng-model="userSubGroupCtrl.expenseType" value="D"><span>DeCentralize</span>
								</label>
							</div>

							<div class="form-group required" ng-class="{'has-error' : userSubGroupFrm.userName.$error.maxlength}">
								<label for="userName">Sub User Name:</label>
								<input type="text" class="form-control" name="userName" ng-maxlength="50"
									ng-model="userSubGroupCtrl.subGroupData.name" ng-required="true" />
								<p ng-show="userSubGroupFrm.userName.$error.maxlength" class="help-block"></p>
							</div>
							<div class="form-group required">
								<label for="epcID">EPC ID:</label>
								<div class="input-group-content">
									<input type="text" class="form-control"
										ng-model="userSubGroupCtrl.subGroupData.epcID"
										name="userTagId" ng-required="true" readonly
										ng-required="true" />
								</div>
								<div class="input-group-btn">
									<button class="btn btn-default reader-btn" ng-click="userSubGroupCtrl.tagSelectFun()" type="button">
										<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
									</button>
									<button class="btn btn-default reader-btn" ng-click="userSubGroupCtrl.readTag()" title="Read Tag" type="button">
										<img style="width: 20px;" src="resources/images/readTag.png"></img>
									</button>
								</div>
							</div>
							<div class="form-required">
								<p class="error angular-animation"
									ng-show="userSubGroupCtrl.epcIdcheck">EPC ID is already
									taken</p>
							</div>
							<div class="form-group required">
								<label for="Lastname5">Gender</label> <select
									ng-init="userSubGroupCtrl.subGroupData.gender = 'Male'"
									class="form-control" name="gender"
									ng-model="userSubGroupCtrl.subGroupData.gender"
									ng-required="true">
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
							<div class="form-group required">
								<label for="Lastname5">Category Type</label> <select
									class="form-control" name="categoryId"
									ng-model="userSubGroupCtrl.subGroupData.categoryType"
									ng-options="cats as cats.categorynm for cats in userSubGroupCtrl.category_list.resData">
									<option value="">--SELECT--</option>
								</select>
							</div>

							<div class="form-group text-right">
								<button type="submit" ng-disabled="!userSubGroupFrm.$valid" ng-click="userSubGroupFrm.$valid && userSubGroupCtrl.saveTemp()" class="btn ink-reaction btn-raised btn-primary">Add</button>
							</div>
						</div>
						<div class="col-md-1"></div>
					</form>

					<!-- Table -->
					<div class="col-md-12 table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Sl.No</th>
									<th>Name</th>
									<th>EPC ID</th>
									<th>Gender</th>
									<th>categoryType</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="usrs in userSubGroupCtrl.usersTempData track by usrs.epcID">
									<td>{{$index + 1}}</td>
									<td>{{usrs.name}}</td>
									<td>{{usrs.epcID}}</td>
									<td>{{usrs.gender}}</td>
									<td>{{usrs.categoryType.categorynm}}</td>
									<td><button type="button" class="btn btn-icon-toggle"
											ng-click="userSubGroupCtrl.deleteUser(usrs)"
											data-toggle="tooltip" data-placement="top"
											data-original-title="Delete row">
											<i class="fa fa-trash-o"></i>
										</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</fieldset>

		<div class="card-actionbar">
			<div class="card-actionbar-row">
				<button type="button" ng-click="userSubGroupCtrl.cancel()"
					class="btn btn-flat btn-primary ink-reaction">Cancel</button>
				<button type="submit"
					ng-disabled="userSubGroupCtrl.isDisabled === true"
					ng-click="userSubGroupCtrl.addUserSubGroup()"
					class="btn btn-flat btn-primary ink-reaction">Add</button>
			</div>
		</div>
	</div>
</div>
