@CHARSET "ISO-8859-1";

@media screen and (max-width:1199px) {
	
}

@media screen and (max-width:1139px) {
	
}

@media screen and (max-width:1023px) {
	
}

@media screen and (max-width:991px) {
	
}

@media screen and (max-width:767px) {
	
}

/* iPhone-5 480 view */
@media screen and (max-width:567px) {
	
}

@media screen and (max-width:479px) {
	
}


