@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500');

@font-face {
  font-family: 'MavenPro-Bold';
  src: url('../../resources/fonts/MavenPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../resources/fonts/MavenPro-Bold.woff') format('woff'),
	   url('../../resources/fonts/MavenPro-Bold.ttf')  format('truetype'),
	   url('../../resources/fonts/MavenPro-Bold.svg#MavenPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'MavenPro-Medium';
  src: url('../../resources/fonts/MavenPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../resources/fonts/MavenPro-Medium.woff') format('woff'),
	   url('../../resources/fonts/MavenPro-Medium.ttf')  format('truetype'),
	   url('../../resources/fonts/MavenPro-Medium.svg#MavenPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'MavenPro-Regular';
  src: url('../../resources/fonts/MavenPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../resources/fonts/MavenPro-Regular.woff') format('woff'),
	   url('../../resources/fonts/MavenPro-Regular.ttf')  format('truetype'),
	   url('../../resources/fonts/MavenPro-Regular.svg#MavenPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*  table {table-layout:fixed;} */
table td {word-wrap: break-word;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}
section {position: relative;padding: 0px;}
.attachedColor {background-color: rgba(102, 241, 151, 0.33);}
.login {background-color: rgba(239, 233, 233, 0.54); padding: 18px;	box-shadow: 0px 1px 12px 2px rgba(29, 28, 27, 0.93);}
.licensetxt {font-size: 11px; color: rgba(0, 0, 0, 0.73);}
.companytxt {font-size: 11px;color: rgb(56, 42, 160);}
#mainFooter {background-color: #000;position: fixed;width: 100%;bottom: 0;}
ul.quickMenu {padding: 0;text-align: center}
ul.quickMenu li {display: inline-block;	padding-right: 26px;}
ul.quickMenu li a {color: white;}
.btn-color {background-color: rgba(255, 0, 0, 0.56);color: #fff;font-weight: 900;}
.tick {	display: none;}
.nv-y text {
	display: none;
}
/* .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  } */
.textclear {
	position: absolute;
	right: 57px;
	top: 11px;
	cursor: pointer;
	z-index: 18;
	opacity: 0.5;
}
.txtAlign {	border-bottom: solid 1px #e5e6e6;padding-bottom: 4px;margin-bottom: 3px}
.txtAlignRight {float: left;width: 35%;}
.txtAlignLft {width: 65%;}
.borderBtm {padding: 6px 15px;	border-bottom: 1px solid #e5e6e6;}
.row-bgcolor {background-color: #00ffff;}
.row-bgerror {background-color: #ff7575;}
.readerHgt {height: 278px;overflow: auto;}
.readerS {height: 0px;overflow: scroll;}
.colorRed {	background-color: red}
.colorBlue {background-color: Yellow}

/* Home page css */
.home-background {text-align: center;	margin-top: 12px;	border-bottom: solid 2px #b9daed;	border-bottom-style: groove}
.edgeWizardLogo {width: 100%;top: 43px;	margin-top: 0px;padding: 7px;}

/* section {position: relative;padding: 0px;} */
.btn_close {	background-color: #0aa89e !important;border: #0aa89e !important;font-size: 18px !important;	margin: 5px 4px 0px 0px;color: white !important;float: right !important;}

.btn-hover:hover {background-color: red;}
.dockPills {list-style: none;}

.dockPills li {	padding-bottom: 8px;font-weight: bolder;opacity: 0.8;}
.home-icons {position: relative;margin-bottom: 24px;/*  background-color: #ffffff; */
	color: #313534;	border-radius: 2px;	/*     -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); */}
.home-icons-style span {font-size: 4.5em;color: #3e2528;}
.home-icons-style p {font-weight: 600;font-family: monospace}
.select-class select {background-color: red;}

/* .breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}
 */
.addButton {margin-top: 10px;font-size: 22px;color: rgb(10, 168, 158);}

.assAddBtn {margin-top: 0px;font-size: 22px;color: rgb(10, 168, 158);}
.tableHeading {	padding: 9px;/* text-shadow: 1px 1px 3px rgb(10, 168, 158); */color: rgb(10, 168, 158);}

.table-wrap {table-layout: fixed;}
.table-wrap tbody>tr>td {word-wrap: break-word;}
.logoImg {text-align: center;}
.error {color: red;}
.tab-header {padding: 10px;	color: rgb(10, 168, 158);	border-top: solid 1px #d48989;}
.form-group.required .control-label:after {content: "*";color: red;	font-size: 15px;}

.hover-effect:hover {border: solid 2px;	border-color: #26225f;	padding: 14px;	border-radius: 8px;	padding-top: 0px;}

.homeback {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0.4;
	top: 119px;
}

.accordStyle p {
	color: rgba(0, 0, 0, 0.51);
	font-weight: 500;
}

.accordStyle p span {
	color: #0f7ec0;
}

.bgcolor {
	background-color: red;
}

.bgcolor-green {
	background-color: green
}

#ch nvd3 svg {height: 200px;margin-top: -23px;}

/* widgets */
.box-widget {border: none;position: relative;}
.box {position: relative;border-radius: 3px;background: #ffffff;border-top: 3px solid #d2d6de;margin-bottom: 20px;width: 100%;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);}
.widget-user-2 .widget-user-header {padding: 20px;border-top-right-radius: 3px;	border-top-left-radius: 3px;}
.bg-yellow {background-color: #f39c12 !important;}
.widget-user-2 .widget-user-image>img {	width: 65px;height: auto;float: left;}
.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {margin-left: 75px;}
.widget-user-2 .widget-user-username {margin-top: 5px;margin-bottom: 5px;font-size: 25px;font-weight: 300;}
.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {margin-left: 75px;}
.widget-user-2 .widget-user-desc {margin-top: 0;}
.no-padding {padding: 0 !important;}
.box-footer {border-top-left-radius: 0;	border-top-right-radius: 0;	border-bottom-right-radius: 3px;	border-bottom-left-radius: 3px;border-top: 1px solid #f4f4f4;	/*  padding: 10px; */	background-color: #fff;}
.fontcolor-red {color: red}
.fontcolor-green {color: green}

/* RESPONSIVE */
@media ( min-width : 1200px) {
	.usermonitor .heriz-imgcontainer ul li {text-align: center;	width: 10%;	float: left;padding: 9px;border-right: solid 1px rgba(10, 168, 158, 0.14);}
	.posheaderbar ul li a {	font-size: 15px;padding-right: 4px;	text-decoration: none;	}
	#deskActionBtn {visibility: visible;}
	#mobActionBtn {	visibility: hidden;}
	.section-body:first-child {	margin-top: 10px;}
	.login-page {width: 35%;margin-left: auto;	margin-right: auto;	margin-top: 12%;}
	#circle {
		width: 135px;
		height: 135px;
		background: #ffffff;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 69px;
		position: static;
		top: 85px;
		right: 47%;
		margin-top: -84px;
		margin-bottom: 31px;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-color: #cb403a;
	}
	.companyLogo {	margin-left: 27px;color: red;margin-top: 0px;}
}

@media ( min-width : 1024px) {
	.posheaderbar ul li a {
		font-size: 13px;
		padding-right: 4px;
		text-decoration: none;
	}
	.txtAlignRight {
		float: left;
		width: 46%;
	}
	.txtAlignLft {
		width: 65%;
	}
	#deskActionBtn {
		visibility: visible;
	}
	#mobActionBtn {
		visibility: hidden;
	}
	#uHeadnm {
		text-align: left;
	}
	.login-page {
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 12%;
	}
	.companyLogo {
		margin-left: 23px;
		color: red;
		margin-top: 0;
	}
	.section-body:first-child {
		margin-top: 10px;
	}
	#usrSelectBtn {
		float: right;
		text-align: right;
	}
}

@media screen and (max-width : 1024px) {
	.usermonitor .heriz-imgcontainer ul li {
		text-align: center;
		width: 15%;
		float: left;
		padding: 9px;
		border-right: solid 1px rgba(10, 168, 158, 0.14);
	}
	.txtAlignRight {
		float: left;
		width: 46%;
	}
	.txtAlignLft {
		width: 65%;
	}
	#usrSelectBtn {
		text-align: right;
		float: right;
	}
	#uHeadnm {
		text-align: center;
	}
	#deskActionBtn {
		visibility: visible;
	}
	#mobActionBtn {
		visibility: hidden;
	}
	.login-page {
		width: 39%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 12%;
	}
	.companyLogo {
		margin-left: 27px;
		color: red;
		margin-top: 16px;
	}
}

@media ( max-width : 768px) {
	.usermonitor .heriz-imgcontainer ul li {
		text-align: center;
		width: 15%;
		float: left;
		padding: 9px;
		border-right: solid 1px rgba(10, 168, 158, 0.14);
	}
	#usrSelectBtn {
		text-align: center;
		float: none;
	}
	.txtAlignRight {
		float: left;
		width: 46%;
	}
	.txtAlignLft {
		width: 65%;
	}
	#deskActionBtn {
		visibility: hidden;
	}
	#mobActionBtn {
		visibility: visible;
	}
	.section-body:first-child {
		margin-top: 23px;
	}
	.login-page {
		width: 53%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15%;
	}
	.companyLogo {
		margin-left: 27px;
		color: red;
		margin-top: 16px;
	}
	#circle {
		width: 135px;
		height: 135px;
		background: #ffffff;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 69px;
		position: static;
		top: 85px;
		right: 47%;
		margin-top: -84px;
		margin-bottom: 31px;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-color: #cb403a;
	}
}

@media ( max-width : 640px) {
	.login-page {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20%;
	}
}

@media ( max-width : 480px) {
	#circle {
		width: 125px;
		height: 125px;
		background: #ffffff;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 69px;
		position: static;
		top: 85px;
		right: 47%;
		margin-top: -84px;
		margin-bottom: 31px;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-color: #cb403a;
	}
	.login-page {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 27%;
	}
}
/************************LOADER********************/
.spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner>div {
	background-color: #333;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@
-webkit-keyframes sk-stretchdelay { 0%, 40%, 100% {
	-webkit-transform: scaleY(0.4)
}

20%
{
-webkit-transform
:
 
scaleY
(1
.0
)
 
}
}
@
keyframes sk-stretchdelay { 0%, 40%, 100% {
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
}

20%
{
transform
:
 
scaleY
(1
.0
);

    
-webkit-transform
:
 
scaleY
(1
.0
);

  
}
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.22);
}

.menu-font {
	/* font-family: 'Raleway', sans-serif; */
	/* font-family : 'Raleway-Bold'; */
	/* font-family : 'MavenPro-Medium'; */
	font-size: 12px;
	opacity: 0.9;
}

.reader-btn {
	background-color: #0aa89e !important;
	color: white !important;
	height: 30px !important;
	padding-right: 6px !important;
	padding-left: 6px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
/* ===== fa fa spin icon style ======== */
.loadinSpinIco {
	color: red;
	font-size: 19px;
}

.journeyActive {
	background-color: #00BFFF;
}
/*********************for blink text*************************************/
.blink_me {
	animation: blinker 1s linear infinite;
	color: white;
	text-align: center;
}

@keyframes blinker { 50% {
	opacity: 0;
}
}
.dolp-tablewrap {
	table-layout: fixed;
}

.dolp-tablewrap tbody>tr>td {
	word-wrap: break-all;
}

dol-tdwrap {
	word-break: break-all;
}
/* loading icons   */

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/animated-dolphin.gif) center no-repeat #fff;
}

.row-bgyellow {	background-color: yellow;}
.row-bgblue {background-color: #8282ff;}

/* angular animation */
.angular-animation.ng-fadein {
	animation: fadein 10s;
	-moz-animation: fadein 10s; /* Firefox */
	-webkit-animation: fadein 10s; /* Safari and Chrome */
}

.angular-animation.ng-hide-add {
	-webkit-animation: 0.5s hide;
	animation: 0.5s hide;
}

@keyframes hide {
	0% {opacity: 1;	transform: scale(1);}
	30%{transform:scale(1.02);}
	100%{opacity:0;	transform: scale(0.5);
}
}
@-webkit-keyframes hide {
	0% {opacity: 1;	transform: scale(1);}
	30%{transform:scale(1.02);}
	100%{opacity:0;transform: scale(0.5);}
}

.angular-animation.ng-hide-remove {
	-webkit-animation: 0.3s show;
	animation: 0.3s show;
}

@keyframes show { 
	0% {opacity: 0;	transform: scale(0.5);}
	70%{transform: scale(1.02); }
	100%{opacity:1; transform:scale(1);}
}
@-webkit-keyframes show {
	0% {opacity: 0;transform: scale(0.5);}
	70%{transform:scale(1.02);}
	100%{opacity:1; transform:scale(1);
  }
}

/* dockdoor add/update page css */
#items, #dropbox {
	/* position: absolute; */
	/* width: 200px; */
	height: 260px;
	overflow: auto;
	border: 1px solid rgba(0, 0, 0, 0.1);;
}

.item {
	/* float: left; */
	/* min-width: 160px; */
	/* min-height: 30px; */
	border: 1px solid rgb(239, 239, 239);
	margin: 4px;
	cursor: pointer;
	font-weight: bold;
	padding: 6px;
	background-color: #f5bf48;
}

/* POS Page css */
#form-container .page-header {
	margin: 0;
	padding: 9px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#status-buttons a {
	font-weight: 500;
	color: #FFF;
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	text-align: center;
	text-transform: uppercase;
}

#status-buttons a:hover {
	text-decoration: none;
}

#status-buttons span {
	background: #080808;
	display: block;
	height: 30px;
	margin: 0 auto 10px;
	padding-top: 5px;
	width: 30px;
	border-radius: 50%;
}

/* active buttons */
/* #status-buttons a.active span   { background:#00BC8C; } */
#status-buttons a.active {
	background: #de3162;
	padding: 4px 17px;
}

/* ANIMATION STYLINGS
============================================================================= */
#signup-form {
	position: relative;
	min-height: 300px;
	overflow: hidden;
	padding: 30px;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter, #form-views.ng-leave {
	position: absolute;
	left: 30px;
	right: 30px;
	transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
}

/* enter animation */
#form-views.ng-enter {
	-webkit-animation: slideInRight 0.5s both ease;
	-moz-animation: slideInRight 0.5s both ease;
	animation: slideInRight 0.5s both ease;
}

/* leave animation */
#form-views.ng-leave {
	-webkit-animation: slideOutLeft 0.5s both ease;
	-moz-animation: slideOutLeft 0.5s both ease;
	animation: slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@
keyframes slideOutLeft {
	to { transform:translateX(-200%);
}

}
@-moz-keyframes slideOutLeft {
	to { -moz-transform:translateX(-200%);
}

}
@-webkit-keyframes slideOutLeft {
	to { -webkit-transform:translateX(-200%);}
}

/* slide in from the right */
@keyframes slideInRight {
	from { transform:translateX(200%);
}

to {
	transform: translateX(0);
}

}
@-moz-keyframes slideInRight {
	from { -moz-transform:translateX(200%);
}

to {
	-moz-transform: translateX(0);
}

}
@-webkit-keyframes slideInRight {
	from { -webkit-transform:translateX(200%);
}

to {
	-webkit-transform: translateX(0);
}
}

/* Order Details */
#inputQty {
	width: 39px;
	height: 39px;
	background-color: rgb(52, 127, 191);
	border-radius: 50%;
	color: white;
	font-weight: bold;
	text-align: center;
}

#searchBtn {
	padding: 2px 12px 0px 3px;
}

.usrInfoDiv h4 {
	margin: 0px;
	/* position: absolute; */
	background-color: #2f2e69;
	padding: 2px 16px;
	color: #ffffff;
	font-variant: small-caps;
	width: 138px;
}

.posheaderbar ul {list-style: none;display: inline-flex;padding: 5px;padding-bottom: 0;}
.posheaderbar ul li {padding: 3px 7px;}
.posheaderbar ul li i {	color: red;	padding-top: 12px;font-size: 16px;padding-right: 4px;opacity: 0.5;}
.header-img img {max-width: 100%;margin-bottom: 5px;}
.removecar-btn {right: -10px;position: absolute;top: -10px;background: #f44336;border-radius: 50%;padding: 2px 7px;color: white;opacity: 0.8;}
.qty-btn {left: -10px;position: absolute;top: -14px;background: #0aa89e;border-radius: 50%;	padding: 3px 9px;color: white;opacity: 0.8;}
.catListActive ul>li .orderCatSelect {display: none;}
.cartIcon {	list-style: none;display: inline;}
.cartIcon li {display: inline;margin: 14px;}
.cart-content h4 {	background-color: rgba(10, 168, 158, 0.07); /* #347fbf */padding: 2px; /* text-shadow: 0px 1px 7px #347fbf; */	color: #0aa89e;}
.cart-content ul {list-style: none;	padding: none;display: -webkit-box}
.cart-content ul li {padding: 4px 9px;}
.cart-content ul li i {	color: #347fbf;	opacity: 0.5;padding: 4px;}
.cart-content ul li span {background-color: rgb(52, 127, 191);padding: 13px;border-radius: 50%;	color: white;}
.cart-content button {width: 100%;}
#conteneditable:hover {	background: #ddd;color: blue;}

/*POS Admin details  */
.usrInfo ul {list-style: none;display: inline-flex;padding-top: 7px;}
.usrInfo ul li {padding: 0px;padding-right: 9px;}
.usrInfo span {	color: #347fbf;	/* opacity: 0.5; */	padding: 12px;	padding-right: 26px;}
.usrInfo span strong {color: black;}
.usrInfo span i {padding-right: 5px;}
.usrInfo h4 {background-color: rgb(238, 249, 248);padding: 5px;	padding-top: 4px;padding-bottom: 3px;color: #2488c4;}

/* headers */
.cardbody {	padding: none;	background-color: #ffffff;	border-color: #ffffff;color: #313534;}
.sub-card-head {background: rgba(10, 168, 158, 0.07);padding: 3px;}

/* checkout page  */
.checkOutDetails {border-left: solid 1px thistle;}
.checkOutDetails p {opacity: 0.8}
.cart-rightrows {padding-bottom: 5px;padding-top: 5px;border-bottom: solid 1px rgba(10, 168, 158, 0.25);}

/* Borders */
#borderRgt {border-right: solid 1px #eef9f8;}
#borderBtm {border-bottom: solid 1px #eef9f8;}

/* User View page code */
.userview, .userInfo strong {background-color: white;color: #717171;	padding: 3px;}
.userview, .userInfo p {color: black;font-weight: 600;}
.isUserPrimary {color: #ff7600;	font-weight: 600}

/* ======== $ User monitoring css $ ======== */
/* .usermonitor{font-family : '"Roboto", sans-serif, Helvetica, Arial, sans-serif';} */
.usermonitor .leftcontent img {	padding: 3px;border: solid #0aa89e;	border-radius: 50%;}
.usermonitor .rightContent ul {	list-style: none;}
.usermonitor .rightContent ul li::before { content: "• "; color: white; opacity: 0.0;}
.usermonitor .rightContent ul li {padding: 9px;font-weight: 600}
.usermonitor .rightContent ul li span {	width: 133px;/* font-size: 12px; */opacity: 0.7;font-weight: bold;}
.usermonitor .rightContent ul li section {float: left; padding: 0;	margin-right: 31px;}
.usermonitor .heriz-imgcontainer ul {list-style: none; padding: 5px;	width: 100%;}
.usermonitor .heriz-imgcontainer ul li img {width: 100%; border: solid #0aa89e;	border-radius: 50%;	padding: 3px;}
.usermonitor .heriz-imgcontainer ul li h3 {	background-color: #760383; color: white; border-radius: 5px;font-size: 14px; padding: 2px;}
.usermonitor .rightContent .errorRedBox{color: #ffffff; height:80px; background-color: rgb(255, 0, 0); text-align: center;}
.usermonitor .rightContent .errorGreenBox{color: #ffffff; height:80px; background-color: green; text-align: center;}
.usermonitor .rightContent .errorRedBox h3{padding: 30px;font-weight: 600}
.usermonitor .rightContent .errorGreenBox h3{padding: 30px;font-weight: 600}

#globalBtn{
    color: #0aa89e;
    background-color: #ffffff;
    border-color: #0aa89e; 
    font-weight: 500;
}

