 <div>
	<form class="form-horizontal" novalidate role="form" ng-submit="areaFrm.$valid && areadAddUpdateCtrl.save()" name="areaFrm">
		<div class="card" style="margin-bottom: 0px;radius:1px">
					<div class="card-head style-primary">
							<header>{{areadAddUpdateCtrl.tableHeader}}</header>
							<button class="btn btn-default btn_close" ng-click="areadAddUpdateCtrl.cancel()"><i class="fa fa-times"></i></button>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-7">
									<div class="form-group required" ng-class="{'has-error' : (areaFrm.$submitted || areaFrm.name.$touched || submitted ) && areaFrm.name.$invalid && areaFrm.name.$error.required || areaFrm.name.$error.maxlength}">
										<label for="Firstname5" class="col-sm-3 control-label">Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="name" ng-maxlength="50" ng-model="areadAddUpdateCtrl.areaInfo.readerAreaName" ng-required="true"/>
											<p ng-show="areaFrm.name.$error.maxlength" class="help-block">Only 50 Characters are allowed</p>
										</div>
									</div>
									<div class="form-group" ng-class="{'has-error' : (areaFrm.$submitted || areaFrm.email.$touched || submitted ) && areaFrm.email.$invalid && areaFrm.email.$error.pattern}">
										<label for="Firstname5" class="col-sm-3 control-label">Email</label>
										<div class="col-sm-9">
											<input type="email" class="form-control" name="email" ng-maxlength="50" ng-model="areadAddUpdateCtrl.areaInfo.email" ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" />
											<p ng-show="areaFrm.email.$error.pattern" class="help-block error">Invalid Email....!</p>
										</div>
									</div>
									
									<div class="form-group">
										<label for="Lastname5" class="col-sm-3 control-label">Contact Person</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="contactPerson" ng-model="areadAddUpdateCtrl.areaInfo.contactPerson" />
										</div>
									</div>
									<div class="form-group" ng-class="{'has-error' : areaFrm.contactNumber.$error.maxlength }">
										<label for="Lastname5" class="col-sm-3 control-label">Contact Number</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="contactNumber" ng-maxlength="10" numbers-only ng-model="areadAddUpdateCtrl.areaInfo.contactNumber" />
											<p ng-show="areaFrm.contactNumber.$error.maxlength" class="help-block error">Only 10 digits are allowed</p>
										</div>
									</div>
									<div class="form-group" ng-class="{'has-error' : areaFrm.address.$error.maxlength }">
										<label for="Lastname5" class="col-sm-3 control-label">Address</label>
										<div class="col-sm-9">
											<textarea rows="2" name="address" style="resize : none;" ng-maxlength="250" cols="10" class="form-control" ng-model="areadAddUpdateCtrl.areaInfo.address" ></textarea>
											<p ng-show="areaFrm.address.$error.maxlength" class="help-block">Only 250 charecters....!</p>
										</div>
									</div>
									<div class="form-group" ng-class="{'has-error' : areaFrm.remark.$error.maxlength }">
										<label for="Lastname5" class="col-sm-3 control-label">Remark</label>
										<div class="col-sm-9">
											<textarea rows="2" name="remark" style="resize : none;" ng-maxlength="250" cols="10" class="form-control" ng-model="areadAddUpdateCtrl.areaInfo.remark" ></textarea>
											<p ng-show="areaFrm.remark.$error.maxlength" class="help-block">Only 250 charecters....!</p>
										</div>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-group" ng-class="{'has-error' : (areaFrm.$submitted || areaFrm.companyName.$touched || submitted ) && areaFrm.companyName.$invalid && areaFrm.companyName.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">Company</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="areadAddUpdateCtrl.companyName" readonly/>
										</div>
									</div>
									<div class="form-group">
										<label for="Lastname5" class="col-sm-3 control-label">Image</label>
										<div class="col-sm-9">
											<input id="my_file" accept="image/*" ng-model="areadAddUpdateCtrl.assetImg" type="file"  ngf-select file-model="areadAddUpdateCtrl.areaImg">
										</div>
									</div>
									<div class="logoImg">
										<img style="width : 170px;height:170px" ngf-src="areadAddUpdateCtrl.areaImg || 'resources/images/NoImage.gif'" class="thumb ng-scope" src="resources/images/NoImage.gif"><!-- end ngIf: !show -->
						          	</div>
								</div>
							</div>
							
							
						</div><!-- end .card-body -->
						
						<div class="card-actionbar">
							<div class="card-actionbar-row">
								<button type="button" class="btn btn-flat btn-primary ink-reaction" ng-click="areadAddUpdateCtrl.cancel()">Cancel</button>
								<button type="submit" class="btn btn-flat btn-primary ink-reaction" >{{areadAddUpdateCtrl.saveBtn}}</button> 
							</div>
						</div>
					</div><!-- end .card -->
				</form>
			</div><!-- end .card-body -->
