<!--breadcrumb  -->
<div class="breadcrumb">
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>

<div ui-view>
	<div class="col-lg-3 col-sm-4 col-xs-6">
		<div class="home-icons text-center">
			<div class="home-icons-style">
				<a ui-sref=".area">
					<span class="hover-effect"><img ng-src="resources/images/master/Area.png"></span><br>
					<b class="menu-font">Area</b>
				</a>
			</div>
		</div>
	</div>
				
	<div class="col-lg-3 col-sm-4 col-xs-6">
		<div class="home-icons text-center">
			<div class="home-icons-style">
				<a ui-sref=".zone">
					<span class="hover-effect"><img ng-src="resources/images/master/Zone.png"></span><br>
                       <b class="menu-font">Zone</b>
				</a>
			</div>
		</div>
	</div>
</div>