<section class="style-default-bright" >
	<div class="section-body">
		<div class="row">
			<div class="col-md-12 card-head">
				<h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">Zone Details</h2>
				<button style="color: white" type="button" tooltip-placement="left" uib-tooltip="Add Zone" ng-click="zoneCtrl.zoneAddBtn()" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"><i class="fa fa-plus"></i></button>
			</div>
		</div>

		<div id="divToPrint" class="row">
			<div class="col-md-12 table-responsive">
				<table class="table table-hover ">
					<thead>
						<tr>
							<th>SL.No</th>
							<th>Zone Name</th>
							<th>Company Name</th>
							<th>Area Name</th>
							<th>Contact Person</th>
							<th>Contact Number</th>
							<th>Email</th>
							<th class="table-wrap">Remark</th>
							<th class="table-wrap">Address</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="zones in zoneCtrl.zoneList.resData">
							<td>
								<a>{{ $index+1}}</a>
							</td>
							<td>{{zones.readerZoneName}}</td>
							<td>{{zones.companyName}}</td>
							<td>{{zones.readerAreaName}}</td>
							<td>{{zones.contactPerson | emptyval}}</td>
							<td>{{zones.contactNumber | emptyval}}</td>
							<td>{{zones.email | emptyval}}</td>
							<td style="word-break:break-all;">{{ zones.remark | emptyval }}</td>
							<td style="word-break:break-all;"> {{ zones.address | emptyval }}</td>
							<td class="text-right">
								<button type="button" class="btn btn-icon-toggle" ng-click="divisionController.editDivisionFun(div)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
								<button type="button" ng-click="deleteDiv(div)" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
		 			</tbody>
		 			<tfoot ng-if="zoneCtrl.zoneList.resData == null || zoneCtrl.zoneList.resData == 'null' || zoneCtrl.zoneList.resData == undefined">
						 <tr>
						  <td><i class="fa fa-spinner fa-spin loadinSpinIco"></i>&nbsp;&nbsp;Loading...</td>
						 </tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div><!--end .section-body -->
</section>
