<div>
    <form class="form-horizontal" novalidate role="form" ng-submit="zoneFrm.$valid && zoneAddUpdateCtrl.save()" name="zoneFrm">
        <div class="card" style="margin-bottom: 0px;radius:1px">

            <!--start card head -->
            <div class="card-head style-primary">
                <header>{{zoneAddUpdateCtrl.tableHeader}}</header>
                <button class="btn btn-default btn_close" ng-click="zoneAddUpdateCtrl.cancel()"><i class="fa fa-times"></i></button>
            </div>

            <!-- start card body  -->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group required" ng-class="{'has-error' : (zoneFrm.$submitted || zoneFrm.name.$touched || submitted ) && zoneFrm.name.$invalid && zoneFrm.name.$error.required || zoneFrm.name.$error.maxlength}">
                            <label for="Firstname5" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" ng-maxlength="50" ng-model="zoneAddUpdateCtrl.zoneInfo.readerZoneName" ng-required="true" />
                                <p ng-show="zoneFrm.name.$error.maxlength" class="help-block">Only 50 Characters are allowed</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : (zoneFrm.$submitted || zoneFrm.readerArea.$touched || submitted ) && zoneFrm.readerArea.$invalid && zoneFrm.readerArea.$error.required}">
                            <label for="Firstname5" class="col-sm-3 control-label">Reader Area</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="readerArea" ng-model="zoneAddUpdateCtrl.readerArea" ng-options="area as area.readerAreaName for area in zoneAddUpdateCtrl.areaData.resData" ng-required="true">
									<option value="">Select</option>
								</select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : (zoneFrm.$submitted || zoneFrm.email.$touched || submitted ) && zoneFrm.email.$invalid && zoneFrm.email.$error.pattern}">
                            <label for="Firstname5" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" ng-maxlength="50" ng-model="zoneAddUpdateCtrl.zoneInfo.email" ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" />
                                <p ng-show="zoneFrm.email.$error.pattern" class="help-block">Invalid Email....!</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-3 control-label">Contact Person</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="contactPerson" ng-model="zoneAddUpdateCtrl.zoneInfo.contactPerson" />
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : zoneFrm.contactNumber.$error.maxlength }">
                            <label for="Lastname5" class="col-sm-3 control-label">Contact Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="contactNumber" ng-maxlength="10" numbers-only ng-model="zoneAddUpdateCtrl.zoneInfo.contactNumber" />
                                <p ng-show="zoneFrm.contactNumber.$error.maxlength" class="help-block error">Only 10 digits are allowed</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : zoneFrm.address.$error.maxlength }">
                            <label for="Lastname5" class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-9">
                                <textarea rows="2" name="address" style="resize : none;" ng-maxlength="250" cols="10" class="form-control" ng-model="zoneAddUpdateCtrl.zoneInfo.address"></textarea>
                                <p ng-show="zoneFrm.address.$error.maxlength" class="help-block">Only 250 charecters....!</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error' : zoneFrm.remark.$error.maxlength }">
                            <label for="Lastname5" class="col-sm-3 control-label">Remark</label>
                            <div class="col-sm-9">
                                <textarea rows="2" name="remark" style="resize : none;" ng-maxlength="250" cols="10" class="form-control" ng-model="zoneAddUpdateCtrl.zoneInfo.remark"></textarea>
                                <p ng-show="zoneFrm.remark.$error.maxlength" class="help-block">Only 250 charecters....!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group" ng-class="{'has-error' : (zoneFrm.$submitted || zoneFrm.companyName.$touched || submitted ) && zoneFrm.companyName.$invalid && zoneFrm.companyName.$error.required }">
                            <label for="Lastname5" class="col-sm-3 control-label">Company</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="zoneAddUpdateCtrl.zoneInfo.companyName" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-3 control-label">Zone color</label>
                            <div class="col-sm-9">
                                <input type="color" class="form-control" ng-model="zoneAddUpdateCtrl.zoneInfo.color" ng-init="zoneAddUpdateCtrl.zoneInfo.color = '#00ffff'" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-3 control-label">Image</label>
                            <div class="col-sm-9">
                                <input id="my_file" accept="image/*" ng-model="zoneAddUpdateCtrl.assetImg" type="file" ngf-select file-model="zoneAddUpdateCtrl.areaImg">
                            </div>
                        </div>
                        <div class="logoImg">
                            <img style="width : 170px;height:170px" ngf-src="zoneAddUpdateCtrl.areaImg || 'resources/images/NoImage.gif'" class="thumb ng-scope" src="resources/images/NoImage.gif">
                            <!-- end ngIf: !show -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- end .card-body -->

            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <button type="button" ng-click="zoneAddUpdateCtrl.cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
                    <button type="submit" class="btn btn-flat btn-primary ink-reaction">{{zoneAddUpdateCtrl.saveBtn}}</button>
                </div>
            </div>
        </div>
        <!-- end .card -->
    </form>
</div>
<!-- end .card-body -->
