
   <div class="">
    <form class="form-horizontal"  novalidate role="form" name="DepartmentAddForm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
       <header>{{departmentAddController.tableHeader}}</header>
       <button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
       <div class="row">
       	<div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentAddForm$submitted || DepartmentAddForm.companySel.$touched || submitted ) && DepartmentAddForm.companySel.$invalid && DepartmentAddForm.companySel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Company Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" ng-model="globalCompName" readonly/>
          		</div>
			</div>
		</div>
		
		 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentAddForm.$submitted || DepartmentAddForm.divisionSel.$touched || submitted ) && DepartmentAddForm.divisionSel.$invalid && DepartmentAddForm.divisionSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Division Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="divisionSel" 
          				ng-model="department.division" 
          				ng-options="div.divisionId as div.divisionNm for div in division.resData" 
          				ng-change="divChange()"
          				ng-required="true" >
          				<option value="">-- SELECT --</option>
          			</select>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentAddForm.$submitted || DepartmentAddForm.sectorSel.$touched || submitted ) && DepartmentAddForm.sectorSel.$invalid && DepartmentAddForm.sectorSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Sector Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="sectorSel" 
          				ng-model="department.sector" 
          				ng-options="sec.sectorId as sec.sectorNm for sec in sector.resData" 
          				ng-change="secChange()"
          				ng-required="true">
          				<option value="">-- SELECT --</option>
          			</select>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentAddForm.$submitted || DepartmentAddForm.locationSel.$touched || submitted ) && DepartmentAddForm.locationSel.$invalid && DepartmentAddForm.locationSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Location Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="locationSel" 
          				ng-model="department.location"
          				ng-options="loc.locationId as loc.locationNm for loc in location.resData"
          				ng-change="locChange()" 
          				ng-required="true">
          				<option value="">-- SELECT --</option>
          			</select>
				</div>
			</div>
		</div>
		
      	 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentAddForm.$submitted || DepartmentAddForm.DepartmentName.$touched || submitted ) && DepartmentAddForm.DepartmentName.$invalid && DepartmentAddForm.DepartmentName.$error.required || DepartmentAddForm.DepartmentName.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="DepartmentName" ng-maxlength="50" ng-model="sector.departmentNm" ng-required="true" />
					<span class="help-block" ng-show="DepartmentAddForm.DepartmentName.$error.maxlength">Only 50 characters allowed</span>
				</div>
			</div>
		</div>
      
        <div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : (DepartmentAddForm.$submitted || DepartmentAddForm.contactPerson.$touched || submitted ) && DepartmentAddForm.contactPerson.$invalid && DepartmentAddForm.contactPerson.$error.required || DepartmentAddForm.contactPerson.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Contact Person</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactPerson" ng-maxlength="50" ng-model="department.contactPerson" />
          			<span class="help-block" ng-show="DepartmentAddForm.contactPerson.$error.maxlength">Only 50 characters allowed</span>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : DepartmentAddForm.contactNumber.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Contact Number</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactNumber" ng-maxlength="25"  ng-model="department.contactNumber" numbers-only/>
					<p ng-show="DepartmentAddForm.contactNumber.$error.maxlength" class="help-block">Only 25 digits allowed</p>
				</div>
			</div>
		</div>
        
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : DepartmentAddForm.email.$error.pattern || DepartmentAddForm.email.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Email Id</label>
          <div class="col-sm-8">
           <input type="email" class="form-control" name="email" ng-model="department.email" ng-maxlength="50" ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" />
			<p ng-show="DepartmentAddForm.email.$error.pattern" class="help-block">Please enter valid email id</p>
			<p ng-show="DepartmentAddForm.email.$error.maxlength" class="help-block">Only 50 characters allowed</p>
          </div>
         </div>
        </div>
       </div>
       
       <div class="row">
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : DepartmentAddForm.address.$error.maxlength }">
          <label for="Firstname5" class="col-sm-4 control-label">Address</label>
          <div class="col-sm-8">
           <textarea class="form-control" style="resize: none;" name="address" ng-maxlength="250" ng-model="department.address"></textarea>
           <p ng-show="DepartmentAddForm.address.$error.maxlength" class="help-block">Only 250 characters allowed</p>
          </div>
         </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : DepartmentAddForm.remark.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Remark</label>
          <div class="col-sm-8">
           <input type="text" class="form-control" ng-maxlength="250" name="remark" ng-model="department.remark">
           <p ng-show="DepartmentAddForm.remark.$error.maxlength" class="help-block">Only 250 characters allowed</p>
          </div>
         </div>
        </div>
       </div>
       
      </div><!--end .card-body -->
      <div class="card-actionbar">
       <div class="card-actionbar-row">
        <button type="submit" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
        <button type="submit" ng-click="DepartmentAddForm.$valid && departmentAdd()" class="btn btn-flat btn-primary ink-reaction">Save</button><!-- 
        <button type="submit" class="btn btn-flat btn-primary ink-reaction">Modify</button>DepartmentAddForm.$valid &&  -->
       </div>
      </div>
     </div><!--end .card -->
    </form>
   </div><!--end .card-body -->