 <div>
				<form class="form-horizontal" novalidate role="form" name="divisionAddForm">
					<div class="card" style="margin-bottom: 0px;radius:1px">
						<div class="card-head style-primary">
							<header>{{divisionaddController.tableHeader}}</header>
							<button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (divisionAddForm.$submitted || divisionAddForm.divisionName.$touched || submitted ) && divisionAddForm.divisionName.$invalid && divisionAddForm.divisionName.$error.required || divisionAddForm.divisionName.$error.maxlength}">
										<label for="Firstname5" class="col-sm-3 control-label">Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="divisionName" ng-maxlength="50" ng-model="division.divisionNm" ng-required="true"/>
											<p ng-show="divisionAddForm.divisionName.$error.maxlength" class="help-block">Only 50 Characters are allowed</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (divisionAddForm.$submitted || divisionAddForm.companyName.$touched || submitted ) && divisionAddForm.companyName.$invalid && divisionAddForm.companyName.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">Company</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="globalCompName" readonly/>
											<!-- <select id="select1" class="form-control" name="companyName" ng-model="division.globalCompName" ng-required="true">
												<option value="">-- SELECT --</option>
												<option value="{{globalCompId}}">{{globalCompName}}</option>
											</select> -->
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : divisionAddForm.contactPerson.$error.maxlength}">
										<label for="Firstname5" class="col-sm-3 control-label">Contact Person</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="contactPerson"  ng-maxlength="50" ng-model="division.contactPer" />
											<span class="error" ng-show="divisionAddForm.contactPerson.$error.maxlength">Only 50 Characters are allowed</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : divisionAddForm.contactNumber.$error.maxlength }">
										<label for="Lastname5" class="col-sm-3 control-label">Contact Number</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="contactNumber" ng-maxlength="25" numbers-only ng-model="division.contactNo" />
											<p ng-show="divisionAddForm.contactNumber.$error.maxlength" class="help-block error">Only 25 digits are allowed</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : divisionAddForm.email.$error.pattern || divisionAddForm.email.$error.maxlength}">
										<label for="Firstname5" class="col-sm-3 control-label">Email Id</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="email" ng-maxlength="50" ng-model="division.email" ng-pattern="validateEmail"/>
											<p ng-show="divisionAddForm.email.$error.pattern" class="help-block">Please enter valid email id</p>
											<span class="error" ng-show="divisionAddForm.email.$error.maxlength">Only 50 Characters are allowed</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : divisionAddForm.remark.$error.maxlength}">
										<label for="Lastname5" class="col-sm-3 control-label">Remark</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="remark" ng-maxlength="150"  ng-model="division.remark" />
											<span class="error" ng-show="divisionAddForm.remark.$error.maxlength">Only 150 digits are allowed</span>
										
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : divisionAddForm.address.$error.maxlength}">
										<label for="Firstname5" class="col-sm-3 control-label">Address</label>
										<div class="col-sm-9">
											<textarea class="form-control" name="address" ng-maxlength="150" ng-model="division.address"></textarea>
											<span class="error" ng-show="divisionAddForm.address.$error.maxlength">Only 150 digits are allowed</span>
										
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									
								</div> 
							</div>
							
						</div><!-- end .card-body -->
						<div class="card-actionbar">
							<div class="card-actionbar-row">
								<button type="button" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
								<!-- <button type="submit" class="btn btn-flat btn-primary ink-reaction">Clear</button> -->
								<button type="submit" ng-click="divisionAddForm.$valid && addDivisionDetails()" class="btn btn-flat btn-primary ink-reaction" ng-disabled="$invalid">{{divBtnNm}}</button>
							</div>
						</div>
					</div><!-- end .card -->
				</form>
			</div><!-- end .card-body -->
