
   <div class="">
    <form class="form-horizontal"  novalidate role="form" name="locationAddForm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
       <header>{{locationaddController.tableHeader}}</header>
       <button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
       <div class="row">
       	<div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (locationAddForm$submitted || locationAddForm.companySel.$touched || submitted ) && locationAddForm.companySel.$invalid && locationAddForm.companySel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Company Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" ng-model="globalCompName" readonly/>
          		</div>
			</div>
		</div>
		
		 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (locationAddForm.$submitted || locationAddForm.divisionSel.$touched || submitted ) && locationAddForm.divisionSel.$invalid && locationAddForm.divisionSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Division Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="divisionSel" 
          				ng-model="location.div"
          				ng-options="div.divisionId as div.divisionNm for div in division.resData"
          				ng-change="divChange()"
          				ng-required="true" >
          				<option value="">-- SELECT --</option>
          			</select>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (locationAddForm.$submitted || locationAddForm.sectorSel.$touched || submitted ) && locationAddForm.sectorSel.$invalid && locationAddForm.sectorSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Sector Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="sectorSel" 
          				ng-model="location.sec" 
          				ng-options="sec.sectorId as sec.sectorNm for sec in sector.resData" 
          				ng-required="true" >
          				<option value="">-- SELECT --</option>
          			</select>
				</div>
			</div>
		</div>
		
      	 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (locationAddForm.$submitted || locationAddForm.locationName.$touched || submitted ) && locationAddForm.locationName.$invalid && locationAddForm.locationName.$error.required || locationAddForm.locationName.$error.maxlength}">
				<label for="name" class="col-sm-4 control-label">Location Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="locationName" ng-maxlength="50" ng-model="location.locationNm" ng-required="true" />
					<p ng-show="locationAddForm.locationName.$error.maxlength" class="error">Only 50 Characters are allowed</p>
				</div>
			</div>
		</div>
      
        <div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : (locationAddForm.$submitted || locationAddForm.contactPerson.$touched || submitted ) && locationAddForm.contactPerson.$invalid && locationAddForm.contactPerson.$error.required || locationAddForm.contactPerson.$error.maxlength}">
				<label for="name" class="col-sm-4 control-label">Contact Person</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" ng-maxlength="50" name="contactPerson" ng-model="location.contactPerson" />
					<p ng-show="locationAddForm.contactPerson.$error.maxlength" class="error">Only 50 Characters allowed</p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : locationAddForm.contactNumber.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Contact Number</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactNumber" ng-model="location.contactNo" ng-maxlength="25" numbers-only/>
					<p ng-show="locationAddForm.contactNumber.$error.maxlength" class="error">Only 25 digits are allowed</p>
				</div>
			</div>
		</div>
        
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : locationAddForm.email.$error.pattern || locationAddForm.email.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Email Id</label>
          <div class="col-sm-8">
           <input type="email" class="form-control" name="email" ng-model="location.email" ng-maxlength="50" ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" />
			<p ng-show="locationAddForm.email.$error.pattern" class="error">Please enter valid email id</p>
			<p ng-show="locationAddForm.email.$error.maxlength" class="error">Only 50 Characters allowed</p>
          </div>
         </div>
        </div>
        
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : locationAddForm.address.$error.maxlength }">
          <label for="Firstname5" class="col-sm-4 control-label">Address</label>
          <div class="col-sm-8">
           <textarea class="form-control" style="resize: none;" name="address" ng-model="location.address" ng-maxlength="250"></textarea>
          	<p ng-show="locationAddForm.address.$error.maxlength" class="error">Only 250 Characters allowed</p>
          </div>
         </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : locationAddForm.remark.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Remark</label>
          <div class="col-sm-8">
           <input type="text" class="form-control" name="remark" ng-maxlength="250" ng-model="location.remark">
           	<p ng-show="locationAddForm.remark.$error.maxlength" class="error">Only 250 Characters allowed</p>
          </div>
         </div>
        </div>
        
       </div>
       
        
       
      </div><!--end .card-body -->
      <div class="card-actionbar">
       <div class="card-actionbar-row">
        <button type="submit" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
        <button type="submit" ng-click="locationAddForm.$valid && locationAdd()" class="btn btn-flat btn-primary ink-reaction">Save</button><!-- 
        <button type="submit" class="btn btn-flat btn-primary ink-reaction">Modify</button>locationAddForm.$valid &&  -->
       </div>
      </div>
     </div><!--end .card -->
    </form>
   </div><!--end .card-body -->