<div class="">
    <form class="form-horizontal" novalidate role="form" name="rackAddForm">
        <div class="card" style="margin-bottom: 0;">
            <div class="card-head style-primary">
                <header>{{rackaddController.tableHeader}}</header>
                <button class="btn btn-default btn_close" ng-click="rackaddController.cancel()"><i class="fa fa-times"></i></button>
            </div>
            <div class="card-body" style="overflow :auto;">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group required" ng-class="{'has-error' : (rackAddForm$submitted || rackAddForm.companySel.$touched || submitted ) && rackAddForm.companySel.$invalid && rackAddForm.companySel.$error.required }">
                            <label for="name" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="rackaddController.rack.name" />
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group required" ng-class="{'has-error' : (rackAddForm.$submitted || rackAddForm.divisionSel.$touched || submitted ) && rackAddForm.divisionSel.$invalid && rackAddForm.divisionSel.$error.required }">
                            <label for="name" class="col-sm-4 control-label">Dock Door</label>
                            <div class="col-sm-8">
                                <div class="input-group-content">
                                    <input ng-disabled="true" type="text" class="form-control" ng-model="rackaddController.rack.dockdoor" name="dockdoor" />
                                </div>
                                <div class="input-group-btn">
                                    <button ng-disabled="true" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="rackaddController.dockDoorSelect()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group required" ng-class="{'has-error' : (rackAddForm.$submitted || rackAddForm.sectorSel.$touched || submitted ) && rackAddForm.sectorSel.$invalid && rackAddForm.sectorSel.$error.required }">
                            <label for="name" class="col-sm-4 control-label">EPC ID</label>
                            <div class="col-sm-8">
                                <div class="input-group-content">
                                    <input ng-disabled="true" type="text" class="form-control" ng-model="rackaddController.rack.epcId" name="epcId" />
                                </div>
                                <div class="input-group-btn">
                                    <button ng-disabled="true" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="rackaddController.tagSelectFun()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group required" ng-class="{'has-error' : (rackAddForm.$submitted || rackAddForm.locationname.$touched || submitted ) && rackAddForm.locationName.$invalid && rackAddForm.locationName.$error.required }">
                            <label for="name" class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="locSel" ng-model="rackaddController.rack.location" ng-options="loc as loc.locationNm for loc in rackaddController.location_data.resData" ng-change="rackaddController.locChange()" ng-required="true">
			                        <!-- <option value="">-- SELECT --</option> -->
			                    </select>
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{'has-error' : rackAddForm.contactPerson.$error.required }">
                            <label for="name" class="col-sm-4 control-label">Department</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="deptSel" ng-model="rackaddController.rack.department" ng-options="dept as dept.deptNm for dept in rackaddController.depart_data.resData" ng-required="true">
                                    <!-- <option value="">-- SELECT --</option> -->
                                 </select>
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-4 control-label">Description</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" style="resize: none;" ng-model="rackaddController.rack.description"></textarea>
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr></hr>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Column Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="rackaddController.rack.columnName">
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-4 control-label">No. of columns</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" ng-model="rackaddController.rack.noofclm">
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-4 control-label">Total cells</label>
                            <div class="col-sm-8">
                                <input readonly type="number" class="form-control" value="{{rackaddController.rack.noofclm * rackaddController.rack.noofshlf}}">
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Shelf Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="rackaddController.rack.shlfName">
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-4 control-label">No. of shelfs</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" ng-model="rackaddController.rack.noofshlf">
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <!-- <label for="Lastname5" class="col-sm-4 control-label">Create</label> -->
                            <div class="col-sm-8">
                                <button class="btn btn-default" ng-click="rackaddController.createRack()">Create</button>
                                <div class="form-control-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr></hr>

                <div ng-show="rackaddController.showSlave" class="table-reponsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group required" ng-class="{'has-error' : (rackAddForm.$submitted || rackAddForm.sectorSel.$touched || submitted ) && rackAddForm.sectorSel.$invalid && rackAddForm.sectorSel.$error.required }">
                                <label for="name" class="col-sm-2 control-label">Dock Door</label>
                                <div class="col-sm-4">
                                    <div class="input-group-content">
                                        <input ng-disabled="true" type="text" class="form-control" ng-model="rackAddController.dockdoor" name="dockdoor" />
                                    </div>
                                    <div class="input-group-btn">
                                        <button style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="rackAddController.tagSelectFun()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                    <div class="col-md-12 table-reponsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Column No</th>
                                    <th>Shelf No</th>
                                    <th>EPC ID</th>
                                    <th>...</th>
                                    <th>Read</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mstrSlave in rackaddController.masterData">
                                    <td>
                                        {{$index + 1}}
                                    </td>
                                    <td>{{mstrSlave.columnName}}</td>
                                    <td>{{mstrSlave.shelfName}}</td>
                                    <td>7547546754</td>
                                    <td><button>...</button></td>
                                    <td>
                                        <button type="button" class="btn btn-icon-toggle" ng-if="!assetPag.expanded" ng-click="assetPag.expanded = true; assetController.assetRowData(assetPag)"><a class="btn btn-icon-toggle">Read</a></button>
                                    </td>
                                    <td>dd</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="text-center">
                                        <ul uib-pagination total-items="assetController.totalItems" ng-model="assetController.currentPage" max-size="assetController.maxSize" ng-change="assetController.pageChanged()" items-per-page="assetController.itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false"></ul>
                                </div> -->
                    </div>
                  </div>
                </div>

            </div>
            <!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <button type="submit" ng-click="rackaddController.cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
                    <button type="submit" ng-click="rackaddController.rackAdd()" class="btn btn-flat btn-primary ink-reaction">Save</button>
                    <!--
		        <button type="submit" class="btn btn-flat btn-primary ink-reaction">Modify</button>rackAddForm.$valid &&  -->
                </div>
            </div>
        </div>
        <!--end .card -->
    </form>
</div>
<!--end .card-body -->
