<div class="">
   <div uib-alert ng-repeat="alert in categoryAddController.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="categoryAddController.closeAlert($index)">{{alert.msg}}</div>

    <form class="form-horizontal"  novalidate role="form" name="sectorAddForm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
       <header>{{sectorAddController.tableHeader}}</header>
       <button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
       <div class="row">
       	<div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (ssectorAddForm.$submitted || sectorAddForm.companySel.$touched || submitted ) && sectorAddForm.companySel.$invalid && sectorAddForm.companySel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Company Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" ng-model="globalCompName" readonly />
          		</div>
			</div>
		</div>

		 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (sectorAddForm.$submitted || sectorAddForm.divisionSel.$touched || submitted ) && sectorAddForm.divisionSel.$invalid && sectorAddForm.divisionSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Division Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="divisionSel" ng-model="sector.div" ng-options="div.divisionId as div.divisionNm for div in division.resData" ng-required="true" >
          				<option value="">select division</option>
          			</select>
				</div>
			</div>
		</div>

      	 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (sectorAddForm.$submitted || sectorAddForm.sectorName.$touched || submitted ) && sectorAddForm.sectorName.$invalid && sectorAddForm.sectorName.$error.required || sectorAddForm.sectorName.$error.maxlength}">
				<label for="name" class="col-sm-4 control-label">Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="sectorName" ng-maxlength="50" ng-model="sector.sectorNm" ng-required="true" />
					<p ng-show="sectorAddForm.sectorName.$error.maxlength" class="help-block">Only 50 Characters are allowed</p>
				</div>
			</div>
		</div>

        <div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : sectorAddForm.contactPerson.$error.maxlength}">
				<label for="name" class="col-sm-4 control-label">Contact Person</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactPerson"  ng-maxlength="50" ng-model="sector.contactPerson" />
					<span class="error" ng-show="sectorAddForm.contactPerson.$error.maxlength">Only 50 Characters are allowed</span>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : sectorAddForm.contactNumber.$error.maxlength}">
				<label for="name" class="col-sm-4 control-label">Contact Number</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactNumber" ng-model="sector.contactNo" ng-maxlength="25" numbers-only />
					<p ng-show="sectorAddForm.contactNumber.$error.maxlength" class="help-block">Only 25 digits are allowed</p>
				</div>
			</div>
		</div>

        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : sectorAddForm.email.$error.pattern || sectorAddForm.email.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Email Id</label>
          <div class="col-sm-8">
           <input type="email" class="form-control" name="email" ng-model="sector.email" ng-maxlength="50" ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" />
			<p ng-show="sectorAddForm.email.$error.pattern" class="help-block">Please enter valid email id</p>
			<span class="error" ng-show="sectorAddForm.email.$error.maxlength">Only 50 Characters are allowed</span>
          </div>
         </div>
        </div>

       </div>

       <div class="row">
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : sectorAddForm.address.$error.maxlength }">
          <label for="Firstname5" class="col-sm-4 control-label">Address</label>
          <div class="col-sm-8">
           <textarea class="form-control" name="address" style="resize: none;" ng-maxlength="150" ng-model="sector.address"></textarea>
           <span class="error" ng-show="sectorAddForm.address.$error.maxlength">Only 150 Characters are allowed</span>
          </div>
         </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : sectorAddForm.address.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Remark</label>
          <div class="col-sm-8">
           <input type="text" class="form-control" name="remark" ng-model="sector.remark" ng-maxlength="150"/>
           <span class="error" ng-show="sectorAddForm.remark.$error.maxlength">Only 150 Characters are allowed</span>
          </div>
         </div>
        </div>
       </div>

      </div><!--end .card-body -->
      <div class="card-actionbar">
       <div class="card-actionbar-row">
        <button type="submit" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
        <button type="submit" ng-click="sectorAddForm.$valid && sectorAdd()" class="btn btn-flat btn-primary ink-reaction">{{sectorBtnNm}}</button><!--
        <button type="submit" class="btn btn-flat btn-primary ink-reaction">Modify</button>sectorAddForm.$valid &&  -->
       </div>
      </div>
     </div><!--end .card -->
    </form>
   </div><!--end .card-body -->
