<section class="style-default-bright">
	<div class="section-body">
		<div class="row">
			<div class="col-md-12 card-head">
				<h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">{{ batchLotController.tableHeader }}</h2>
				<button style="color: white" type="button" tooltip-placement="left" uib-tooltip="Add Batchlot" ng-click="batchLotController.addBatchLotFun()" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"><i class="fa fa-plus"></i></button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>SL.No</th>
							<th>
								<a ng-click="sortType = 'batchName'; sortReverse = !sortReverse">BatchLot Name
        			<span ng-show="sortType == 'batchName' && !sortReverse" class="fa fa-caret-down"></span>
       				<span ng-show="sortType == 'batchName' && sortReverse" class="fa fa-caret-up"></span>
       			</a>
							</th>
							<th>Remark</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="batchLots in batchLotController.batchLotList.resData | orderBy:sortType:sortReverse ">
							<td>
								<a>{{ $index + 1 }}</a>
							</td>
							<td>{{batchLots.batchName}}</td>
							<td style="word-break:break-all;">{{batchLots.remark | emptyval }}</td>
							<td class="text-right">
								<button type="button" class="btn btn-icon-toggle" ng-click="batchLotController.editBatchLotFun(batchLots)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
								<button type="button" class="btn btn-icon-toggle" ng-click="batchLotController.deleteBatchLotFun(batchLots)" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
					</tbody>
					<tfoot ng-if="batchLotController.batchLotList.resData == null || batchLotController.batchLotList.resData == 'null' || batchLotController.batchLotList.resData == undefined">
						<td><i class="fa fa-spinner fa-spin loadinSpinIco"></i>&nbsp;&nbsp;Loading...</td>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<!--end .section-body -->
</section>
<!-- END TABLE HOVER -->
