<div>
    <form class="form-horizontal"  novalidate role="form" name="batchLotFrm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
       <header>{{ batchLotEditController.tableHeader }}</header>
       <button class="btn btn-default btn_close" ng-click="batchLotEditController.cancel()"><i class="fa fa-times"></i></button>
     </div>
      <div class="card-body">
       <div class="row">
      	 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (batchLotFrm.$submitted || batchLotFrm.name.$touched || submitted ) && batchLotFrm.name.$invalid && batchLotFrm.name.$error.required || batchLotFrm.name.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="name" ng-maxlength="50" ng-model="batchLotEditController.batchLotList.batchName"  ng-required="true" />
					<span class="error" ng-show="batchLotFrm.name.$error.maxlength">Only 50 Characters allowed</span>
				</div>
			</div>
		</div>
        <div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : batchLotFrm.remark.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Remark</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="remark" ng-maxlength="250" ng-model="batchLotEditController.batchLotList.remark" />
					<span class="error" ng-show="batchLotFrm.remark.$error.maxlength">Only 250 Characters allowed</span>
				</div>
			</div>
		</div>
</div>

		


      </div><!--end .card-body -->
      <div class="card-actionbar">
       <div class="card-actionbar-row">
        <button type="submit" ng-click="batchLotEditController.cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
        <button type="submit" ng-click="batchLotFrm.$valid && batchLotEditController.batchLotEditFun()" class="btn btn-flat btn-primary ink-reaction">Update</button>
       	</div>
      </div>
     </div><!--end .card -->
    </form>
   </div><!--end .card-body -->
