
<section class="style-default-bright">
	<div class="section-body">
		<div class="row">
			<div class="col-md-12 card-head">
				<h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">{{ categoryController.tableHeader }}</h2>
				<button style="color: white" type="button" tooltip-placement="left" uib-tooltip="Add Category" ng-click="categoryController.addCategoryFun()" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"><i class="fa fa-plus"></i></button>
			</div>
		</div>
		
		<div class="row">
			<div class=col-md-12>
				<div class="form-group">
					<label class="col-sm-3 control-label">Select Master Category</label>
					<div class="col-sm-9">
						<label class="radio-inline radio-styled">
						<input type="radio" name="inlineRadioOptions" ng-click="categoryController.compAsset()" checked><span>Company Asset</span>
						</label>
						<label class="radio-inline radio-styled">
						<input type="radio" name="inlineRadioOptions" ng-click="categoryController.compUser()"><span>Company User</span>
						</label>
						<label class="radio-inline radio-styled">
						<input type="radio" name="inlineRadioOptions" ng-click="categoryController.compNonComp()"><span>Non Company User</span>
						</label>
					</div><!--end .col -->
				</div>
			</div>
		</div>

		<table  class="table table-hover table-wrap">
			<thead>
				<tr>
					<th>Logo</th>
					<th>Category</th>
					<th>Category Type</th>
					<th>Description</th>
					<th class="text-right">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="category in categoryController.catINB_list.resData">
					<td><img class="img-circle width-1" src="resources/images/icon-user-default.png" alt=""></td>
					<td>{{ category.categoryEnum }}</td>
					<td>{{ category.categorynm }}</td>
					<td>{{ category.categorydesc | emptyval }} </td>
					<td class="text-right">
						<button ng-disabled="true" type="button" class="btn btn-icon-toggle" ng-click="categoryController.editCategoryListFun(category)" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
						<button ng-disabled="true" type="button" class="btn btn-icon-toggle" ng-click="categoryController.deleteCategory(category)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
					</td>
				</tr>
				<tr ng-repeat="category in categoryController.categoryList.resData">
				<!-- <img style="width : 55%" ng-src="data:image/jpeg;base64,{{categoryEditController.categoryLogo}}" class="thumb"> -->
					<td><img class="img-circle width-1"  ng-src="data:image/jpeg;base64,{{categoryController.categoryLogo}}" alt=""></td>
					<td>{{ category.categoryEnum }}</td>
					<td>{{ category.categorynm }}</td>
					<td>{{ category.categorydesc  | emptyval }} </td>
					<td class="text-right">
						<button  type="button" class="btn btn-icon-toggle" ng-click="categoryController.editCategoryListFun(category)" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
						<button  type="button" class="btn btn-icon-toggle" ng-click="categoryController.deleteCategory(category)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div><!--end .section-body -->
</section>
<!-- END TABLE HOVER -->
