<div>

      <div uib-alert ng-repeat="alert in categoryEditController.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="categoryEditController.closeAlert($index)">{{alert.msg}}</div>

    <form class="form-horizontal"  novalidate role="form" name="categoryFrm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
       <header>{{ categoryEditController.tableHeader }}</header>
       <button class="btn btn-default btn_close" ng-click="categoryEditController.cancel()"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
       <div class="row">
       <div class="col-md-7">
       	<div class="col-sm-12">
       	 	<div class="form-group required" ng-class="{'has-error' : (categoryFrm.$submitted || categoryFrm.masterCategory.$touched || submitted ) && categoryFrm.masterCategory.$invalid && categoryFrm.masterCategory.$error.required }">
				<label for="name" class="col-sm-4 control-label">Master Category</label>
          		<div class="col-sm-8">
          			<select type="text"  class="form-control" name="masterCategory" ng-model="categoryEditController.categorsys" ng-required="true">
		                  <option value=0>Company Asset</option>
		                  <option value=2>Company User</option>
		                  <option value=3>NonCompany User</option>
                	</select>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
       	 	<div class="form-group required" ng-class="{'has-error' : (categoryFrm.$submitted || categoryFrm.categoryType.$touched || submitted ) && categoryFrm.categoryType.$invalid && categoryFrm.categoryType.$error.required }">
				<label for="name" class="col-sm-4 control-label">Category Type</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="categoryType" ng-model="categoryEditController.category_list.categorynm" ng-required="true"/>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
	       	 	<div class="form-group">
					<label for="name" class="col-sm-4 control-label">Description</label>
	          		<div class="col-sm-8">
	          			<textarea  class="form-control" name="description" ng-model="categoryEditController.category_list.categorydesc" /></textarea>
					</div>
				</div>
		</div>

		<div class="col-sm-12">
       	 		<div class="form-group">
					<label for="name" class="col-sm-4 control-label">Image Upload</label>
          			<div class="col-sm-8">
          				<!-- <input type="file" ngf-select ng-model="picFile" name="file" ngf-accept="'image/*'" /> -->
					</div>
				</div>
		</div>
     </div>
     <div class="col-md-5">
       	<h3 class="text-center">Category logo</h3>
            <div class="logoImg">
            	<img ng-show="categoryEditController.categoryLogo" style="width : 200px;height:200px" ng-src="data:image/jpeg;base64,{{categoryEditController.categoryLogo}}" class="thumb">
				<img ng-if="!categoryEditController.categoryLogo" style="width : 200px;height:200px" ngf-src="categoryEditController.categoryLogo || 'resources/images/NoImage.gif'" class="thumb">
          	</div>
      </div>
    </div>


      </div><!--end .card-body -->
      <div class="card-actionbar">
       <div class="card-actionbar-row">
        <button type="submit" ng-click="categoryEditController.cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
        <button type="submit" ng-click="categoryFrm.$valid && categoryEditController.categoryUpdate(picFile)" class="btn btn-flat btn-primary ink-reaction">Update</button>
       	</div>
      </div>
     </div><!--end .card -->
    </form>
   </div><!--end .card-body -->
