
<section class="style-default-bright">
	<div class="section-body ">
		<div class="row">
			<div class="col-md-12 card-head">
				<h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">Company Details</h2>
				<!-- <a ui-sref="homeDashboard.masterMenu.sector"><button style="font-size:20px"; type="button" class="addButton btn btn-icon-toggle pull-right"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></a> -->
				<a style="color: white" ui-sref="homeDashboard.masterMenu.division" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton" tooltip-placement="left" uib-tooltip="Add Division"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>SL.No</th>
							<th>Name</th>
							<th>Contact Person</th>
							<th>Contact Number</th>
							<th>Email</th>
							<th>Remark</th>
							<th class="table-wrap">Address</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a>{{ $index+1}}</a>
							</td>
							<td>{{globalCompName}}</td>
							<td>{{company.contPer}}</td>
							<td>{{company.contNo}}</td>
							<td>{{company.email}}</td>
							<td style="word-break:break-all;">{{company.remark}}</td>
							<td style="word-break:break-all;">{{company.addr}}</td>
							<td class="text-right">
								<button type="button" class="btn btn-icon-toggle" ng-click="editCompanyFun(company)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--end .section-body -->
</section>
