<section class="style-default-bright">
	<div class="section-body">
		<div class="row">
			<div class="col-md-12 card-head">
				<h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">Department Details</h2>
				<!-- <a ui-sref="homeDashboard.masterMenu.sector"><button style="font-size:20px"; type="button" class="addButton btn btn-icon-toggle pull-right"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></a> -->
				<a ng-show="loginType !== 'VTS'" style="color: white" ui-sref="homeDashboard.masterMenu.manufacture" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton" tooltip-placement="left" uib-tooltip="Next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
				<button style="color: white" type="button" tooltip-placement="left" uib-tooltip="Add Department" ng-click="addDepartmentFun()" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"><i class="fa fa-plus"></i></button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>SL.No</th>
							<!-- <th>Company Name</th> -->
							<th>
								<a ng-click="sortType = 'name'; sortReverse = !sortReverse">Department Name
						    		<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
						       		<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
						       	</a>
							</th>
							<th>Division Name</th>
							<th>Sector Name</th>
							<th>Location Name</th>
							<th>Contact Person</th>
							<th>Contact No</th>
							<th>Email</th>
							<th>Address</th>
							<th>Remark</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="dept in department.resData | orderBy:sortType:sortReverse ">
							<td>
								<a>{{$index+1 }}</a>
							</td>
							<td>{{dept.deptNm}}</td>
							<td>{{dept.divisionName | emptyval}}</td>
							<td>{{dept.sectorName | emptyval}}</td>
							<td>{{dept.locationName | emptyval}}</td>
							<td>{{dept.contactPerson | emptyval}}</td>
							<td>{{dept.contactNumber | emptyval}}</td>
							<td>{{dept.email | emptyval}}</td>
							<td style="word-break:break-all;">{{dept.addr | emptyval}}</td>
							<td style="word-break:break-all;">{{dept.remark | emptyval}}</td>
							<td class="text-right">
								<button type="button" class="btn btn-icon-toggle" ng-click="editDepartmentFun(dept)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
								<button type="button" ng-click="deleteDepartmentFun(dept)" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
					</tbody>
					<tfoot ng-if="department.resData == null || department.resData == 'null' || department.resData == undefined">
						<td><i class="fa fa-spinner fa-spin loadinSpinIco"></i>&nbsp;&nbsp;Loading...</td>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<!--end .section-body -->
</section>
