<section class="style-default-bright" >
	<div class="section-body">
		<div class="row">
			<div class="col-md-12 card-head">
				<h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">Division Details</h2>
				<!-- <a ui-sref="homeDashboard.masterMenu.sector"><button style="font-size:20px"; type="button" class="addButton btn btn-icon-toggle pull-right"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button></a> -->
				<a ng-show="loginType === 'VTS'" style="color: white" ui-sref="pickUpDropDashBoard.sector" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton" tooltip-placement="left" uib-tooltip="Next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
				<a ng-hide="loginType ==='VTS'" style="color: white" ui-sref="homeDashboard.masterMenu.sector" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton" tooltip-placement="left" uib-tooltip="Next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
				<button style="color: white" type="button" tooltip-placement="left" uib-tooltip="Add Division" ng-click="divisionController.adddivisionFun()" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"><i class="fa fa-plus"></i></button>
			</div>
		</div>

		<div id="divToPrint" class="row">
			<div class="col-md-12 table-responsive">
				<table class="table table-hover ">
					<thead>
						<tr>
							<th>SL.No</th>
								<th><a ng-click="sortType = 'name'; sortReverse = !sortReverse">Name
				        			<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
				       				<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
				       				</a>
				       			</th>
							<th>Contact Person</th>
							<th>Contact Number</th>
							<th>Email</th>
							<th>Remark</th>
							<th class="table-wrap">Address</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="div in division.resData | orderBy:sortType:sortReverse">
							<td>
								<a>{{ $index+1}}</a>
							</td>
							<td>{{div.divisionNm}}</td>
							<td>{{div.contactPer | emptyval}}</td>
							<td>{{div.contactNo | emptyval}}</td>
							<td>{{div.email | emptyval}}</td>
							<td style="word-break:break-all;">{{div.remark | emptyval }}</td>
							<td style="word-break:break-all;"> {{div.address | emptyval }}</td>
							<td class="text-right">
								<button type="button" class="btn btn-icon-toggle" ng-click="divisionController.editDivisionFun(div)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
								<button type="button" ng-click="deleteDiv(div)" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
		 			</tbody>
		 			<tfoot ng-if="division.resData == null || division.resData == 'null' || division.resData == undefined">
						  <td><i  class="fa fa-spinner fa-spin loadinSpinIco" ></i>&nbsp;&nbsp;Loading...</td>
					</tfoot>
				</table>
			</div>
		</div>
	</div><!--end .section-body -->
</section>
