<div>
				<form class="form-horizontal" novalidate role="form" name="companyEditForm" enctype="multipart/form-data">
					<div class="card" style="margin-bottom: 0px;">
						<div class="card-head style-primary">
							<header>{{companyeditController.tableHeader}}</header>
							<button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6" ng-class="{'has-error' : (companyEditForm.$submitted || companyEditForm.companyName.$touched || submitted ) && companyEditForm.companyName.$invalid && companyEditForm.companyName.$error.required }">
									<div class="form-group required">
										<label for="Lastname5" class="col-sm-4 control-label">Name</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="companyName" ng-model="globalCompName" ng-required="true" ng-disabled="true">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (companyEditForm.$submitted || companyEditForm.contactPerson.$touched || submitted ) && companyEditForm.contactPerson.$invalid && companyEditForm.contactPerson.$error.required || companyEditForm.contactPerson.$error.maxlength}">
										<label for="Firstname5" class="col-sm-4 control-label">Contact Person</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" ng-maxlength="50" name="contactPerson" ng-model="company.contPer" ng-required="true">
											<span class="error" ng-show="companyEditForm.contactPerson.$error.maxlength">Only 50 Characters are allowed</span>
											
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : companyEditForm.email.$error.pattern || companyEditForm.email.$error.maxlength}">
										<label for="Firstname5" class="col-sm-4 control-label">Email Id</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="email" ng-model="company.email" ng-maxlength="50" ng-pattern="validateEmail">
											 <p ng-show="companyEditForm.email.$error.pattern" class="help-block">Please enter valid email id</p>
											 <span class="error" ng-show="companyEditForm.email.$error.maxlength">Only 50 Characters are allowed</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : companyEditForm.contactNumber.$error.pattern || companyEditForm.contactNumber.$error.maxlength}">
										<label for="Lastname5" class="col-sm-4 control-label">Contact Number</label>
										<div class="col-sm-8">
											<input type="text" name="contactNumber" class="form-control" ng-maxlength="25" numbers-only ng-model="company.contNo" />
											<span class="error" ng-show="companyEditForm.contactNumber.$error.maxlength">Only 25 digits are allowed</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : companyEditForm.address.$error.maxlength}">
										<label for="Firstname5" class="col-sm-4 control-label">Address</label>
										<div class="col-sm-8">
											<textarea class="form-control" name="address" ng-maxlength="150" ng-model="company.addr"></textarea>
											<span class="error" ng-show="companyEditForm.address.$error.maxlength">Only 150 digits are allowed</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="Lastname5" class="col-sm-4 control-label">Logo</label>
										<div class="col-sm-8">
										<!-- <input type="file" ngf-select ng-model="logo" name="file"
             								accept="image/*" ngf-max-size="2MB" required
             								ngf-model-invalid="errorFile"> -->
             								<input style="width: 233px;" accept="image/*" type="file"  ngf-select ng-model="companyLogo1 " file-model=companyLogo>
											<!-- <input type="file" class="btn form-control" id="photo" ngf-select ng-model="logo" name="file" ngf-accept="'image/*'" /> -->
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : companyEditForm.remark.$error.maxlength}">
										<label for="Lastname5" class="col-sm-4 control-label">Remark</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="remark" ng-maxlength="150" ng-model="company.remark">
											<span class="error" ng-show="companyEditForm.remark.$error.maxlength">Only 150 digits are allowed</span>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-2 col-md-3 col-xs-5">
									<div class="logoImg">
									 <img  ng-if="companyLogo1" style=" height: 200px;  width: 200px;" ngf-src="companyLogo || 'resources/images/NoImages.gif'" class="thumb">
									 <!-- <img style=" height: 200px;  width: 200px;"
                                                 ngf-src="resources/images/NoImages.gif"/> -->
										<img ng-hide="companyLogo1" style="width : 200px;height:200px" ng-src="data:image/jpeg;base64,{{companyLogo}}" class="thumb">
						          	</div>
								</div>
								<!-- <div class="col-sm-6">
									<img ng-src="{{image}}"/>
								</div> -->
							
							</div>
							
						</div><!-- end .card-body -->
						<div class="card-actionbar">
							<div class="card-actionbar-row">
								<button type="submit" ng-click="companyEditForm.$valid && modify()" class="btn btn-flat btn-primary ink-reaction">Update</button>
								<button type="submit"  ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
								<!-- <button type="submit" class="btn btn-flat btn-primary ink-reaction">Clear</button> -->
							</div>
						</div>
					</div><!-- end .card -->
				</form>
			</div><!-- end .card-body -->