<div class="">
    <form class="form-horizontal"  novalidate role="form" name="rackEditForm" >
        <div class="card" style="margin-bottom: 0;">
		      <div class="card-head style-primary">
			       <header>{{rackEditController.tableHeader}}</header>
			       <button class="btn btn-default btn_close" ng-click="rackEditController.cancel()"><i class="fa fa-times"></i></button>
		      </div>
		      <div class="card-body">
		       <div class="row">
			        <div class="col-sm-6">
			            <div class="form-group required" ng-class="{'has-error' : (rackEditForm$submitted || rackEditForm.companySel.$touched || submitted ) && rackEditForm.companySel.$invalid && rackEditForm.companySel.$error.required }">
			                <label for="name" class="col-sm-4 control-label">Name</label>
			                <div class="col-sm-8">
			                    <input type="text" class="form-control" ng-model="rackEditController.rack.rackName" />
			                    <div class="form-control-line"></div> 
			                </div>
			            </div>
			        </div>
			        
			        <div class="col-sm-6">
			            <div class="form-group required" ng-class="{'has-error' : (rackEditForm.$submitted || rackEditForm.divisionSel.$touched || submitted ) && rackEditForm.divisionSel.$invalid && rackEditForm.divisionSel.$error.required }">
			                <label for="name" class="col-sm-4 control-label">Dock Door</label>
			                <div class="col-sm-8">
			                     <div class="input-group-content">
			                       <input ng-disabled="true" type="text" class="form-control" ng-model="rackEditController.rack.dockdoor" name="dockdoor" />
			                     </div>
			                     <div class="input-group-btn">
			                        <button ng-disabled="true" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="rackEditController.dockDoorSelect()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
			                     </div>  
			                </div>
			                </div>
			            </div>
			        </div>
			     <div class="row">
			        <div class="col-sm-6">
			            <div class="form-group required" ng-class="{'has-error' : (rackEditForm.$submitted || rackEditForm.sectorSel.$touched || submitted ) && rackEditForm.sectorSel.$invalid && rackEditForm.sectorSel.$error.required }">
			                <label for="name" class="col-sm-4 control-label">EPC ID</label>
			                <div class="col-sm-8">
			                   <div class="input-group-content">
			                       <input ng-disabled="true" type="text" class="form-control" ng-model="rackEditController.rack.tagId" name="epcId" />
			                   </div>
			                   <div class="input-group-btn">
			                         <button ng-disabled="true" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="rackEditController.tagSelectFun()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
			                    </div>  
			                </div>
			            </div>
			        </div>
			        
			        <div class="col-sm-6">
			            <div class="form-group required" ng-class="{'has-error' : (rackEditForm.$submitted || rackEditForm.locationname.$touched || submitted ) && rackEditForm.locationName.$invalid && rackEditForm.locationName.$error.required }">
			                <label for="name" class="col-sm-4 control-label">Location</label>
			                <div class="col-sm-8">
			                     <select class="form-control" name="locSel" 
			                        ng-model="rackEditController.rack.location"
			                        ng-options="loc as loc.locationNm for loc in rackEditController.location_data.resData"
			                        ng-change="rackEditController.locChange()"
			                        ng-required="true" >
			                        <!-- <option value="">-- SELECT --</option> -->
			                    </select>
			                    <div class="form-control-line"></div> 
			                </div>
			            </div>
			        </div>
			      </div>
			      
			      <div class="row">
			        <div class="col-sm-6">
			            <div class="form-group" ng-class="{'has-error' : rackEditForm.contactPerson.$error.required }">
			                <label for="name" class="col-sm-4 control-label">Department</label>
			                <div class="col-sm-8">
			                     <select class="form-control" name="deptSel" 
                                    ng-model="rackEditController.rack.department"
                                    ng-options="dept as dept.deptNm for dept in rackEditController.depart_data.resData"
                                    ng-required="true" >
                                    <!-- <option value="">-- SELECT --</option> -->
                                 </select>
                                 <div class="form-control-line"></div> 
			                </div>
			            </div>
			        </div>
			        
                    <div class="col-sm-6">
	                     <div class="form-group">
	                        <label for="Lastname5" class="col-sm-4 control-label">Description</label>
		                      <div class="col-sm-8">
		                        <textarea class="form-control" style="resize: none;" ng-model="rackEditController.rack.description"></textarea>
		                        <div class="form-control-line"></div> 
		                      </div>
	                     </div>
                    </div>
		          </div>
		       <hr></hr>
		       <div class="row">
		        <div class="col-sm-5">
		         <div class="form-group">
		          <label for="Firstname5" class="col-sm-4 control-label">Column Name</label>
		          <div class="col-sm-8">
		           <input type="text" ng-disabled="true" class="form-control" ng-model="rackEditController.rack.columnName">
		           <div class="form-control-line"></div> 
		          </div>
		         </div>
		        </div>
		        <div class="col-sm-5">
		         <div class="form-group">
		          <label for="Lastname5" class="col-sm-4 control-label">No. of columns</label>
		          <div class="col-sm-8">
		           <input type="number" ng-disabled="true" class="form-control" ng-model="rackEditController.rack.columnCount">
		           <div class="form-control-line"></div> 
		          </div>
		         </div>
		        </div>
		        <div class="col-sm-2">
                 <div class="form-group">
                  <label for="Lastname5" class="col-sm-4 control-label">Total cells</label>
                  <div class="col-sm-8">
                   <input readonly type="number" class="form-control" ng-model="rackEditController.totalCells">
                   <div class="form-control-line"></div> 
                  </div>
                 </div>
                </div>
		       </div>
		       <div class="row">
                <div class="col-sm-5">
                 <div class="form-group">
                  <label for="Firstname5" class="col-sm-4 control-label">Shelf Name</label>
                  <div class="col-sm-8">
                   <input type="text" ng-disabled="true" class="form-control" ng-model="rackEditController.rack.shelfName">
                   <div class="form-control-line"></div> 
                  </div>
                 </div>
                </div>
                <div class="col-sm-5">
                 <div class="form-group">
                  <label for="Lastname5" class="col-sm-4 control-label">No. of shelfs</label>
                  <div class="col-sm-8">
                   <input type="number" ng-disabled="true" class="form-control" ng-model="rackEditController.rack.shelfCount">
                   <div class="form-control-line"></div>
                  </div>
                 </div>
                </div>
                 <div class="col-sm-2">
                 <div class="form-group">
                  <!-- <label for="Lastname5" class="col-sm-4 control-label">Create</label> -->
                  <div class="col-sm-8">
                   <button class="btn btn-default" ng-disabled="true" ng-click="rackEditController.createRack()">Create</button>
                   <div class="form-control-line"></div> 
                  </div>
                 </div>
                </div>
               </div>
               <hr></hr>
               <div ng-show="rackEditController.slaveData.length > 0 ">
                     <div class="row">
		                    <div class="col-sm-6">
		                        <div class="form-group required" ng-class="{'has-error' : (rackEditForm.$submitted || rackEditForm.sectorSel.$touched || submitted ) && rackEditForm.sectorSel.$invalid && rackEditForm.sectorSel.$error.required }">
		                            <label for="name" class="col-sm-4 control-label">Dock Door</label>
		                            <div class="col-sm-8">
		                               <div class="input-group-content">
		                                   <input ng-disabled="true" type="text" class="form-control" ng-model="rackAddController.dockdoor" name="dockdoor" />
		                               </div>
		                               <div class="input-group-btn">
		                                     <button style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="rackAddController.tagSelectFun()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
		                                </div>  
		                            </div>
		                        </div>
		                    </div>
                     </div>
                  <div class="col-md-12 table-reponsive">
                                <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sr No</th>
                                                <th>Column No</th>
                                                <th>Shelf No</th>      
                                                <th>EPC ID</th>
                                                <th>...</th>
                                                <th>Read</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="mstrSlave in rackEditController.masterData">
                                                <td>
                                                  {{$index + 1}}
                                                </td>
                                                <td>{{mstrSlave.columnName}}</td>
                                                <td>{{mstrSlave.shelfName}}</td>
                                                <td></td>
                                                <td><button>...</button></td>
                                                <td>
                                                    <button type="button" class="btn btn-icon-toggle" ng-if="!assetPag.expanded" ng-click="assetPag.expanded = true; assetController.assetRowData(assetPag)"><a style="width: 68px;" class="btn btn-icon-toggle">ReadTag</a></button>                                                
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
               </div>
                                
		      </div><!--end .card-body -->
		      <div class="card-actionbar">
		       <div class="card-actionbar-row">
		        <button type="submit" ng-click="rackEditController.cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
		        <button type="submit" ng-click="rackEditController.rackUpdate()" class="btn btn-flat btn-primary ink-reaction">Update</button>
		       </div>
		      </div>
	     </div><!--end .card -->
    </form>
 </div><!--end .card-body -->
 