
   <div class="">
    <form class="form-horizontal"  novalidate role="form" name="DepartmentEditForm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
       <header>{{departmenteditController.tableHeader}}</header>
       <button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
       <div class="row">
       	<div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentEditForm.$submitted || DepartmentEditForm.companySel.$touched || submitted ) && DepartmentEditForm.companySel.$invalid && DepartmentEditForm.companySel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Company Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" ng-model="globalCompName" readonly />
          			<!-- <select class="form-control" name="companySel" ng-model="department.globalCompId" placeholder="company select" ng-required="true" >
          				<option selected="selected" value="{{globalCompId}}">{{globalCompName}}</option>
          			</select> -->
				</div>
			</div>
		</div>
		
		 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentEditForm.$submitted || DepartmentEditForm.divisionSel.$touched || submitted ) && DepartmentEditForm.divisionSel.$invalid && DepartmentEditForm.divisionSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Division Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="divisionSel" 
          				ng-model="divId" 
          				ng-options="div.divisionId as div.divisionNm for div in division.resData"
          				ng-change="divChange()"
						ng-required="true" >
						<option value="">-- SELECT --</option>
          			</select>
          			<!-- <select class="form-control" name="divisionSel" 
          				ng-model="department.division" 
          				ng-options="div.divisionId as div.divisionNm for div in division.resData" 
          				ng-change="divChange()"
          				ng-required="true" >
          				<option value="">-- SELECT --</option>
          			</select> -->
				</div>
			</div>
		</div>
		
		 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentEditForm.$submitted || DepartmentEditForm.sectorSel.$touched || submitted ) && DepartmentEditForm.sectorSel.$invalid && DepartmentEditForm.sectorSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Sector Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="sectorSel" 
          				ng-model="secId" 
          				ng-options="sec.sectorId as sec.sectorNm for sec in sector.resData" 
          				ng-change="secChange()"
          				ng-required="true" >
          				<option value="">-- SELECT --</option>
          			</select>
          			<!-- <select class="form-control" name="sectorSel" 
          				ng-model="department.sector" 
          				ng-options="sec.sectorId as sec.sectorNm for sec in sector.resData" 
          				ng-change="secChange()"
          				ng-required="true">
          				<option value="">-- SELECT --</option>
          			</select> -->
				</div>
			</div>
		</div>
		
		 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentEditForm.$submitted || DepartmentEditForm.locationSel.$touched || submitted ) && DepartmentEditForm.locationSel.$invalid && DepartmentEditForm.locationSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Location Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="locationSel" 
          				ng-model="locId" 
          				ng-options="loc.locationId as loc.locationNm for loc in location.resData"
          				ng-change="locChange()"
          				ng-required="true" >
          				<option value="">-- SELECT --</option>
          			</select>
          			<!-- <select class="form-control" name="locationSel" 
          				ng-model="department.location"
          				ng-options="loc.locationId as loc.locationNm for loc in location.resData"
          				ng-change="locChange()" 
          				ng-required="true">
          				<option value="">-- SELECT --</option>
          			</select> -->
				</div>
			</div>
		</div>
		
      	 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (DepartmentEditForm.$submitted || DepartmentEditForm.departmentName.$touched || submitted ) && DepartmentEditForm.departmentName.$invalid && DepartmentEditForm.departmentName.$error.required || DepartmentEditForm.departmentName.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="departmentName"  ng-maxlength="50" ng-model="department.deptNm" ng-required="true" />
					<span class="help-block" ng-show="DepartmentEditForm.departmentName.$error.maxlength">Only 50 characters allowed</span>
				</div>
			</div>
		</div>
      	
         <div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : (DepartmentEditForm.$submitted || DepartmentEditForm.contactPerson.$touched || submitted ) && DepartmentEditForm.contactPerson.$invalid && DepartmentEditForm.contactPerson.$error.required || DepartmentEditForm.contactPerson.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Contact Person</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactPerson" ng-maxlength="50" ng-model="department.contactPerson" />
          			<span class="help-block" ng-show="DepartmentEditForm.contactPerson.$error.maxlength">Only 50 characters allowed</span>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : DepartmentEditForm.contactNumber.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Contact Number</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactNumber" ng-maxlength="25"  ng-model="department.contactNumber" numbers-only/>
					<p ng-show="DepartmentEditForm.contactNumber.$error.maxlength" class="help-block">Only 25 digits allowed</p>
				</div>
			</div>
		</div>
        
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : DepartmentEditForm.email.$error.pattern || DepartmentEditForm.email.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Email Id</label>
          <div class="col-sm-8">
           <input type="email" class="form-control" name="email" ng-model="department.email" ng-maxlength="50"  ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" />
			<p ng-show="DepartmentEditForm.email.$error.pattern" class="help-block">Please enter valid email id</p>
			<p ng-show="DepartmentEditForm.email.$error.maxlength" class="help-block">Only 50 characters allowed</p>
          </div>
         </div>
        </div>  
            
       </div>
       
        <div class="row">
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : DepartmentEditForm.address.$error.maxlength }">
          <label for="Firstname5" class="col-sm-4 control-label">Address</label>
          <div class="col-sm-8">
           <textarea class="form-control" style="resize: none;" name="address" ng-maxlength="250" ng-model="department.addr"></textarea>
           <p ng-show="DepartmentEditForm.address.$error.maxlength" class="help-block">Only 250 characters allowed</p>
          </div>
         </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : DepartmentEditForm.remark.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Remark</label>
          <div class="col-sm-8">
           <input type="text" class="form-control" ng-maxlength="250" name="remark" ng-model="department.remark">
           <p ng-show="DepartmentEditForm.remark.$error.maxlength" class="help-block">Only 250 characters allowed</p>
          </div>
         </div>
        </div>
       </div>
       
      </div><!--end .card-body -->
      <div class="card-actionbar">
       <div class="card-actionbar-row">
        <button type="submit" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
        <button type="submit" ng-click="DepartmentEditForm.$valid && departmentUpdate()" class="btn btn-flat btn-primary ink-reaction">Update</button><!-- 
        <button type="submit" class="btn btn-flat btn-primary ink-reaction">Modify</button>DepartmentEditForm.$valid &&  -->
       </div>
      </div>
     </div><!--end .card -->
    </form>
   </div><!--end .card-body -->