<div>
				<form class="form-horizontal" novalidate role="form" name="divisionEditForm">
					<div class="card" style="margin-bottom: 0px;radius:1px">
						<div class="card-head style-primary">
							<header>{{divisioneditController.tableHeader}}</header>
							<button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (divisionEditForm.$submitted || divisionEditForm.divisionName.$touched || submitted ) && divisionEditForm.divisionName.$invalid && divisionEditForm.divisionName.$error.required || divisionEditForm.divisionName.$error.maxlength}">
										<label for="Firstname5" class="col-sm-3 control-label">Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="divisionName" ng-maxlength="50" ng-model="division.divisionNm" ng-required="true"/>
											<p ng-show="divisionEditForm.divisionName.$error.maxlength" class="error">Only 50 Characters are allowed</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (divisionEditForm.$submitted || divisionEditForm.companyName.$touched || submitted ) && divisionEditForm.companyName.$invalid && divisionEditForm.companyName.$error.required }">
										<label for="Lastname5" class="col-sm-3 control-label">Company</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" ng-model="globalCompName" readonly />
						          			<!-- <select class="form-control" name="companyName" ng-model="division.globalCompId" ng-required="true" >
						          				<option selected="selected">{{globalCompName}}</option>
						          			</select -->
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="Firstname5" class="col-sm-3 control-label">Contact Person</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="division.contactPer">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : divisionEditForm.contactNumber.$error.pattern }">
										<label for="Lastname5" class="col-sm-3 control-label">Contact Number</label>
										<div class="col-sm-9">
											<input type="text" name="contactNumber" class="form-control" ng-model="division.contactNo" ng-pattern="/^[0-9]{10,10}$/" />
											<p ng-show="divisionEditForm.contactNumber.$error.pattern" class="help-block">Only 10 digits</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" ng-class="{'has-error' : divisionEditForm.email.$error.pattern}">
										<label for="Firstname5" class="col-sm-3 control-label">Email Id</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="email" ng-model="division.email" ng-pattern="validateEmail"/>
											<p ng-show="divisionEditForm.email.$error.pattern" class="help-block">Please enter valid email id</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="Lastname5" class="col-sm-3 control-label">Remark</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" ng-model="division.remark">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="Firstname5" class="col-sm-3 control-label">Address</label>
										<div class="col-sm-9">
											<textarea class="form-control" ng-model="division.address"></textarea>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									
								</div> 
							</div>
							
						</div><!-- end .card-body -->
						<div class="card-actionbar">
							<div class="card-actionbar-row">
								<button type="submit" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
								<!-- <button type="submit" class="btn btn-flat btn-primary ink-reaction">Clear</button>divisionEditForm.$valid &&  -->
								<button type="submit" ng-click="divisionEditForm.$valid && divisionUpdate()" class="btn btn-flat btn-primary ink-reaction">Update</button>
							</div>
						</div>
					</div><!-- end .card -->
				</form>
			</div><!-- end .card-body -->
