<section class="style-default-bright">
	<div class="section-body">
		<div class="row">
			<div class="col-md-12 card-head">
				<h2 class="pull-left"
					style="padding: 9px; color: rgb(10, 168, 158);">Location
					Details</h2>
				<a ng-show="loginType === 'VTS'" style="color: white"
					ui-sref="pickUpDropDashBoard.department"
					class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"
					tooltip-placement="left" uib-tooltip="Next"><i
					class="fa fa-arrow-right" aria-hidden="true"></i></a> <a
					ng-hide="loginType ==='VTS'" style="color: white"
					ui-sref="homeDashboard.masterMenu.department"
					class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"
					tooltip-placement="left" uib-tooltip="Next"><i
					class="fa fa-arrow-right" aria-hidden="true"></i></a>
				<button style="color: white" type="button" tooltip-placement="left"
					uib-tooltip="Add Location" ng-click="addLocationFun()"
					class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>SL.No</th>
							<th><a
								ng-click="sortType = 'name'; sortReverse = !sortReverse">Location
									Name <span ng-show="sortType == 'name' && !sortReverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'name' && sortReverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th>Division Name</th>
							<th>Sector Name</th>
							<th>Contact Person</th>
							<th>Contact No</th>
							<th>Email</th>
							<th>Address</th>
							<th>Remark</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr
							data-ng-repeat="loc in location.resData | orderBy:sortType:sortReverse">
							<td><a>{{$index+1 }}</a></td>
							<td>{{loc.locationNm}}</td>
							<td>{{loc.divisionName}}</td>
							<td>{{loc.sectorName | emptyval}}</td>
							<td>{{loc.contPer | emptyval}}</td>
							<td>{{loc.contactNumber | emptyval}}</td>
							<td>{{loc.email | emptyval}}</td>
							<td style="word-break: break-all;">{{loc.address |
								emptyval}}</td>
							<td style="word-break: break-all;">{{loc.remark | emptyval}}</td>
							<td class="text-right">
								<button type="button" class="btn btn-icon-toggle"
									ng-click="editLocationFun(loc)" data-toggle="tooltip"
									data-placement="top" data-original-title="Edit">
									<i class="fa fa-pencil"></i>
								</button>
								<button type="button" ng-click="deleteLocationFun(loc)"
									class="btn btn-icon-toggle" data-toggle="tooltip"
									data-placement="top" data-original-title="Delete">
									<i class="fa fa-trash-o"></i>
								</button>
							</td>
						</tr>
					</tbody>
					<tfoot
						ng-if="location.resData == null || location.resData == 'null' || location.resData == undefined">
						<td><i class="fa fa-spinner fa-spin loadinSpinIco"></i>&nbsp;&nbsp;Loading...</td>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<!--end .section-body -->
</section>
<!-- END TABLE HOVER -->
