<div class="" >
    <form class="form-horizontal" novalidate role="form" name="manufactureFrm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
       <header>{{ tableHeader }}</header>
       <button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
       <div class="row">
		<div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (manufactureFrm.$submitted || manufactureFrm.name.$touched || submitted ) && manufactureFrm.name.$invalid && manufactureFrm.name.$error.required || manufactureFrm.name.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="name" ng-model="manfactuerEditData.manufactureNm" ng-maxlength="50"  ng-required="true" />
					<span class="error" ng-show="manufactureFrm.name.$error.maxlength">Only 50 Characters allowed</span>
				</div>
			</div>
		</div>

        <div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : manufactureFrm.contactPerson.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Contact Person</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactPerson" ng-model="manfactuerEditData.contPer"  ng-maxlength="50"  />
          			<span class="error" ng-show="manufactureFrm.contactPerson.$error.maxlength">Only 50 Characters allowed</span>
				</div>
			</div>
		</div>
		
		
		<div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : manufactureFrm.contactNumber.$error.maxlength }" >
				<label for="name" class="col-sm-4 control-label">Contact Number</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactNumber" ng-model="manfactuerEditData.contactNo" ng-maxlength="25" />
					<p ng-show="manufactureFrm.contactNumber.$error.maxlength" class="help-block">Only 25 digits allowed</p>
				</div>
			</div>
		</div>

        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : manufactureFrm.email.$error.pattern || manufactureFrm.email.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Email Id</label>
          <div class="col-sm-8">
           <input type="email" class="form-control" name="email"  ng-model="manfactuerEditData.email" ng-maxlength="50" ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" />
           <p ng-show="manufactureFrm.email.$error.pattern" class="help-block">Please enter valid email id</p>
           <p ng-show="manufactureFrm.email.$error.maxlength" class="help-block">Only 50 Characters allowed</p>
          </div>
         </div>
        </div>

       </div>

       <div class="row">
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error': manufactureFrm.address.$error.maxlength }">
          <label for="Firstname5" class="col-sm-4 control-label">Address</label>
          <div class="col-sm-8">
           <textarea class="form-control" style="resize: none;" name="address" ng-model="manfactuerEditData.address" ng-maxlength="250" ></textarea>
            <p ng-show="manufactureFrm.address.$error.maxlength" class="help-block">Only 250 Characters allowed</p>
          </div>
         </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error': manufactureFrm.remark.$error.maxlength }">
          <label for="Lastname5" class="col-sm-4 control-label">Remark</label>
          <div class="col-sm-8">
           <input type="text" class="form-control" name="remark" ng-maxlength="250" ng-model="manfactuerEditData.remark" />
           <p ng-show="manufactureFrm.remark.$error.maxlength" class="help-block">Only 250 Characters allowed</p>
          </div>
         </div>
        </div>
       </div>

      </div><!--end .card-body -->
      <div class="card-actionbar">
       <div class="card-actionbar-row">
        <button type="submit" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
        <button type="submit" ng-click="manufactureFrm.$valid && manufactEditFun()" class="btn btn-flat btn-primary ink-reaction">Update</button>
        </div>
      </div>
     </div><!--end .card -->
    </form>
   </div><!--end .card-body -->
