<section class="style-default-bright">
	<div class="section-body table-responsive">
		<div class="row">
			<div uib-alert ng-repeat="alert in manufactureController.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="manufactureController.closeAlert($index)">{{alert.msg}}</div>
		</div>
		<div class="row">
			<div class="col-md-12 card-head">
				<h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">Manufacture Details</h2>
				<button style="color: white" type="button" tooltip-placement="left" uib-tooltip="Add Manufacture" ng-click="manufactureController.addManufactureFun()" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"><i class="fa fa-plus"></i></button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>SL.No</th>
							<th><a ng-click="sortType = 'name'; sortReverse = !sortReverse">Manufacture
									Name <span ng-show="sortType == 'name' && !sortReverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'name' && sortReverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th>Contact Person</th>
							<th>Contact Number</th>
							<th>Email</th>
							<th>Address</th>
							<th>Remark</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="manufactures in manufactureController.manufactureDt.resData | orderBy:sortType:sortReverse">
							<td>
								<a>{{ $index + 1 }}</a>
							</td>
							<td>{{manufactures.manufactureNm}}</td>
							<td>{{manufactures.contPer | emptyval}}</td>
							<td>{{manufactures.contactNo | emptyval}}</td>
							<td>{{manufactures.email | emptyval}}</td>
							<td style="word-break:break-all;">{{manufactures.address | emptyval}}</td>
							<td style="word-break:break-all;">{{manufactures.remark | emptyval}}</td>
							<td class="text-right">
								<button type="button" class="btn btn-icon-toggle" ng-click="manufactureController.editManufactureFun(manufactures)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
								<button type="button" class="btn btn-icon-toggle" ng-click="manufactureController.deleteManufactureFun(manufactures)" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
					</tbody>
					<tfoot ng-if="manufactureController.manufactureDt.resData == null || manufactureController.manufactureDt.resData == 'null' || manufactureController.manufactureDt.resData == undefined">
						<td><i class="fa fa-spinner fa-spin loadinSpinIco"></i>&nbsp;&nbsp;Loading...</td>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<!--end .section-body -->
</section>
<!-- END TABLE HOVER -->
