<section class="style-default-bright">
	<div class="section-body">
		<div class="row">
			<div class="col-md-12 card-head">
				<h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">{{ rackController.tableHeader }}</h2>
				<button style="color: white" type="button" tooltip-placement="left" uib-tooltip="Add Rack" ng-click="rackController.addRackFun()" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"><i class="fa fa-plus"></i></button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>SL.No</th>
							<th>Rack Name</th>
							<th>Location Name</th>
							<th>Department</th>
							<th>Description</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="rack in rack.resData | orderBy : '-'">
							<td>
								<a>{{ $index+1}}</a>
							</td>
							<td>{{rack.rackName}}</td>
							<td>{{rack.locationName}}</td>
							<td>{{rack.departmentName}}</td>
							<td style="word-break:break-all;">{{rack.description}}</td>
							<td class="text-right">
								<button type="button" class="btn btn-icon-toggle" ng-click="rackController.editRackFun(rack)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
								<button type="button" ng-click="rackController.deleteRack(rack)" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--end .section-body -->
</section>
