 <!--breadcrumb  -->
<!-- <div class="breadcrumb">
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div> -->

<div ui-view>				
				<section>
					<form name="reportsFrm" ng-submit="reportsFrm.$valid && reportsController.generateFun()" novalidate>
					<div class="section-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="card style-primary card-printable style-default-light">
									<div class="card-head">
										<div class="tools pull-left">
											<!-- <div class="btn-group"> -->
											<header>Reports</header>
											<!-- </div> -->
										</div>
										<div class="tools">
											<!-- <div class="btn-group"> -->
												<a class="btn btn-floating-action btn-primary" href="javascript:void(0);" onclick="javascript:window.print();"><i class="md md-print"></i></a>
											<!-- </div> -->
										</div>
									</div>
									<!-- <button class="btn btn-link" ng-click="exportToExcel('#tableToExport')">
									      <span class="glyphicon glyphicon-share"></span>
									           Export to Excel
									</button> -->
									<div class="card-body style-default-bright">
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-6">
					                            <div class="form-group" ng-class="{'has-error' : (reportsFrm.$submitted || reportsFrm.reportType.$touched || submitted ) && reportsFrm.reportType.$invalid && reportsFrm.reportType.$error.required }">
					                                <label for="name" class="col-sm-3 control-label">Report Type</label>
					                                <div class="col-sm-9">
					                                    <select class="form-control" name="reportType" ng-model="reportsController.reportType" ng-required="true">
		                      								<option value="">--SELECT--</option>
		                      								<option value="1">All Issued Asset Report</option>
		                      								<option value="2">All Received Asset Report</option>
		                      								<option value="3">All Receive Exception Report</option>
		                      								<option value="4">Asset Details Report</option>
		                      								<option value="5">All Issued/Received Asset List Report</option>
			                      						</select>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">Report Name</label>
					                                <div class="col-sm-9">
					                                    <select class="form-control" name="searchBy"  >
		                      								<option value="">Issue/Receive Details Report </option>
			                      						</select>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">Select Option</label>
					                                <div class="col-sm-9"> 	
																<label class="radio-inline radio-styled">
																	<input type="radio" name="inlineRadioOptions" ng-model="reportsController.ascordesc"  value="asc" class="ng-pristine ng-untouched ng-valid ng-not-empty"><span>Ascending</span>
																</label>
																<label class="radio-inline radio-styled">
																<input type="radio" name="inlineRadioOptions" ng-click="reportsController.ascordesc" value="desc" class="ng-pristine ng-untouched ng-valid ng-not-empty"><span>Descending</span>
																</label>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">Search Criteria</label>
					                                <div class="col-sm-5"> 	
														<select class="form-control" name="searchBy" ng-disabled="true">
		                      								<option value="">Company User</option>
			                      						</select>
			                      						
					                                </div>
					                                <div class="col-sm-4"> 	
														<select class="form-control" name="searchBy" ng-disabled="true">
		                      								<option value="">Non Company User </option>
			                      						</select>
			                      						
					                                </div>
					                            </div>
					                        </div>
					                        
					                        <div class="col-md-6" >
					                        	<div class="form-group">
													<label for="name" class="col-sm-3 control-label">Start Date</label>
														<div class="col-sm-9">
															<div class="input-group-content">
																<input type="text" class="form-control"  ng-readOnly="true" uib-datepicker-popup ng-model="reportsController.fromDate" value="{{ reportsController.fromDate | date: 'dd-MM-yyyy' }}" is-open="reportsController.from.opened" datepicker-options="reportsController.dateOptions" close-text="Close" />
															</div>
															<div class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="reportsController.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
															</div>
														</div>
												</div>
											</div>
						
											<div class="col-md-6" >
					                        	<div class="form-group">
													<label for="name" class="col-sm-3 control-label">End Date</label>
														<div class="col-sm-9">
															<div class="input-group-content">
																<input type="text" class="form-control" ng-readOnly="true" uib-datepicker-popup ng-model="reportsController.toDate" is-open="reportsController.to.opened" datepicker-options="reportsController.dateOptions" close-text="Close" />
															</div>
															<div class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="reportsController.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
															</div>
														</div>
												</div>
											</div>
											<div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">Start Time</label>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="reportsController.shh" ng-options="hh for hh in reportsController.hours" name="searchBy">
		                      							</select>
					                                </div>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="reportsController.smm" ng-options="mm for mm in reportsController.minutes" name="searchBy">
		                      							</select>
					                                </div>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="reportsController.sss" ng-options="ss for ss in reportsController.seconds" name="searchBy">
		                      							</select>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="col-md-6">
					                            <div class="form-group">
					                                <label for="name" class="col-sm-3 control-label">End Time</label>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="reportsController.ehh" ng-options="hh for hh in reportsController.hours" name="searchBy">
		                      							</select>
					                                </div>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="reportsController.emm" ng-options="mm for mm in reportsController.minutes" name="searchBy">
		                      							</select>
					                                </div>
					                                <div class="col-sm-3">
					                                    <select class="form-control" ng-readOnly="true" ng-model="reportsController.ess" ng-options="ss for ss in reportsController.seconds" name="searchBy">
		                      							</select>
					                                </div>
					                            </div>
					                        </div>
										</div>
										
									<!-- 	<h1>My First Google Map</h1> -->

		<!-- <div id="googleMap" style="width:100%;height:400px;"></div>
		
		<script>
		function myMap() {
		var mapProp= {
		    center:new google.maps.LatLng(51.508742,-0.120850),
		    zoom:5,
		};
		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		}
		</script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvNGCpR88sUUGo64LluQuXWIPdNQcrraI&callback=myMap"></script>
			 -->							
										
										<!--$ TABLE $-->
					                    <div class="col-md-12" >
					                    	<div style="height: 300px;" id="tableToExport">
					                    		<table class="table table-hover table-reponsive">
					                            <thead>
					                                <tr>
					                                    <th>Id</th>
					                                    <th>Name</th>
					                                    <th>Category Name</th>
					                                </tr>
					                            </thead>
					                            <tbody>
					                                <tr ng-repeat="users in userSearchController.user_data.resData.userList" ng-show="$index > 0">
					                                  	<td>{{users.userId}}</td>
					                                    <td>{{users.userName}}</td>
					                                    <td>{{users.tagId}}</td>
					                                </tr>
					                            </tbody>
					                        </table>
					                        <!-- <div class="text-center">
					                            <ul uib-pagination total-items="userSearchController.totalItems" max-size="userSearchController.maxSize" ng-model="userSearchController.currentPage" ng-change="userSearchController.userDetails()" items-per-page="userSearchController.itemsPerPage" boundary-links="true"
					                                rotate="false"></ul>
					                        </div> -->
					                    </div>
					                        
					                    </div>
									</div><!--End row  -->
									
									<div class="row">
										<div class="col-md-12">
											<div class="card-actionbar">
												<div class="card-actionbar pull-right">
													<button type="submit" class="btn ink-reaction btn-raised btn-primary" >Generate</button>
													<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="issueController.cancel()">Close</button>
													<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="issueController.cancel()">Schedule</button>
												</div>
											</div>
										</div>
									</div>
								</div><!--end .card-body -->
							</div><!--end .card -->
						</div><!--end .col -->
					</div><!--end .row -->
				</div><!--end .section-body -->
			</form>
		</section>
	</div>
<!-- END CONTENT -->