<section class="style-default-bright">
					<div class="section-body table-responsive">
						<div class="row">
							<div class="col-md-12 card-head">
								<h2 class="pull-left" style="padding: 9px; color: rgb(10, 168, 158);">Sector Details</h2>
								<a ng-show="loginType === 'VTS'" style="color: white" ui-sref="pickUpDropDashBoard.location" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton" tooltip-placement="left" uib-tooltip="Next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
								<a ng-hide="loginType ==='VTS'" style="color: white" ui-sref="homeDashboard.masterMenu.location" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton" tooltip-placement="left" uib-tooltip="Next"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
								<button style="color: white" type="button" tooltip-placement="left" uib-tooltip="Add Sector" ng-click="sectorController.addSectorFun()" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right addButton"><i class="fa fa-plus"></i></button>
							</div>
						</div>

						<div id="divToPrint" class="row">
							<div class="col-md-12 table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>SL.No</th>
											<!-- <th>Company Name</th> -->
											<!-- <th>{{labeldata.DIVISION_NAME}}</th>
											<th>{{labeldata.ASSET_SECTOR_NAME}}</th> -->
											<th>Division Name</th>
											<th><a ng-click="sortType = 'name'; sortReverse = !sortReverse">Sector Name
				        						<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
				       							<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
				       							</a>
				       						</th>

											<th>Contact Person</th>
											<th>Contact No</th>
											<th>Email</th>
											<th>Address</th>
											<th>Remark</th>
											<th class="text-right">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="sec in sector.resData | orderBy:sortType:sortReverse">
											<td>
												<a>{{$index+1 }}</a>
											</td>
											<td>{{sec.divisionName}}</td>
											<td>{{sec.sectorNm}}</td>
											<td>{{sec.contactPerson | emptyval }}</td>
											<td>{{sec.contactNo | emptyval}}</td>
											<td>{{sec.email | emptyval }}</td>
											<td style="word-break:break-all;">{{sec.address | emptyval}}</td>
											<td style="word-break:break-all;">{{sec.remark | emptyval}}</td>
											<td class="text-right">
												<button type="button" class="btn btn-icon-toggle" ng-click="sectorController.editSectorFun(sec)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
											<!-- 	<button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Copy row"><i class="fa fa-copy"></i></button>
											 -->	<button type="button" ng-click="deleteSector(sec)" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
											</td>
										</tr>
									</tbody>
									<tfoot ng-if="sector.resData == null || sector.resData == 'null' || sector.resData == undefined">
						               	<tr>
							               	<td><i  class="fa fa-spinner fa-spin loadinSpinIco" ></i>&nbsp;&nbsp;Loading...</td>
						               	</tr>
						           	</tfoot>
								</table>
							</div>
						</div>
					</div><!--end .section-body -->
				</section>
				<!-- END TABLE HOVER -->
