
   <div class="">
    <form class="form-horizontal"  novalidate role="form" name="sectorEditFrm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
       <header>{{sectoreditdController.tableHeader}}</header>
       <button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
       <div class="row">
       	<div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (sectorEditFrm.$submitted || sectorEditFrm.companySel.$touched || submitted ) && sectorEditFrm.companySel.$invalid && sectorEditFrm.companySel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Company Name</label>{{company}}
          		<div class="col-sm-8">
          			<input type="text" class="form-control" ng-model="globalCompName" readonly />
          			<!-- <select class="form-control" name="companySel" ng-model="sector.globalCompId" ng-required="true" >
          				<option selected="selected" value="{{globalCompId}}">{{globalCompName}}</option>
          			</select> -->
				</div>
			</div>
		</div>
		
		 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (sectorEditFrm.$submitted || sectorEditFrm.divisionSel.$touched || submitted ) && sectorEditFrm.divisionSel.$error.required }">
				<label for="name" class="col-sm-4 control-label">Division Name</label>
          		<div class="col-sm-8">
          			<select class="form-control" name="divisionSel" ng-model="divId" ng-options="div.divisionId as div.divisionNm for div in division.resData" ng-required="true" >
          				<!-- <option selected="selected" value="{{sector.div}}">{{sector.divisionName}}</option> -->
          			</select>
				</div>
			</div>
		</div>
	
      	 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (sectorEditFrm.$submitted || sectorEditFrm.sectorName.$touched || submitted ) && sectorEditFrm.sectorName.$invalid && sectorEditFrm.sectorName.$error.required }">
				<label for="name" class="col-sm-4 control-label">Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="sectorName" ng-model="sector.sectorNm" ng-required="true" />
				</div>
			</div>
		</div>
      
        <div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : (sectorEditFrm.$submitted || sectorEditFrm.contactPerson.$touched || submitted ) && sectorEditFrm.contactPerson.$invalid && sectorEditFrm.contactPerson.$error.required }">
				<label for="name" class="col-sm-4 control-label">Contact Person</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactPerson" ng-model="sector.contactPerson"/>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : sectorEditFrm.contactNumber.$error.pattern}">
				<label for="name" class="col-sm-4 control-label">Contact Number</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactNumber" ng-model="sector.contactNo" ng-pattern="/^[0-9]{10,10}$/" />
					<p ng-show="sectorEditFrm.contactNumber.$error.pattern" class="help-block">Only 10 digits</p>
				</div>
			</div>
		</div>
        
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : sectorEditFrm.email.$error.email}">
          <label for="Lastname5" class="col-sm-4 control-label">Email Id</label>
          <div class="col-sm-8">
           <input type="email" class="form-control" name="email" ng-model="sector.email" />
			<p ng-show="sectorEditFrm.email.$error.email" class="help-block">Please enter valid email id</p>
          </div>
         </div>
        </div>
        
       </div>
       
       <div class="row">
        <div class="col-sm-6">
         <div class="form-group">
          <label for="Firstname5" class="col-sm-4 control-label">Address</label>
          <div class="col-sm-8">
           <textarea class="form-control" style="resize: none;" ng-model="sector.address"></textarea>
          </div>
         </div>
        </div>
        <div class="col-sm-6">
         <div class="form-group">
          <label for="Lastname5" class="col-sm-4 control-label">Remark</label>
          <div class="col-sm-8">
           <input type="text" class="form-control" ng-model="sector.remark">
          </div>
         </div>
        </div>
       </div>
       
      </div><!--end .card-body -->
      <div class="card-actionbar">
       <div class="card-actionbar-row">
        <button type="submit" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
        <button type="submit" ng-click="sectorEditFrm.$valid && sectorUpdate()" class="btn btn-flat btn-primary ink-reaction">Update</button><!-- 
        <button type="submit" class="btn btn-flat btn-primary ink-reaction">Modify</button>sectorEditFrm.$valid &&  -->
       </div>
      </div>
     </div><!--end .card -->
    </form>
   </div><!--end .card-body -->