<section ng-controller="TaxController as taxController" class="style-default-bright">
					<div class="section-body table-responsive">

						<div class="row">
							<div class=col-md-12>
										<h2 class="pull-left tableHeading">{{taxController.tableHeader}}</h2>
										<button style="font-size:20px"; type="button" class="addButton btn btn-icon-toggle pull-right " ng-click="taxController.addManufactureFun()" data-toggle="tooltip" data-placement="top" data-original-title="Add Manufacture"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
							</div>
						</div>

						<table class="table table-hover" >
							<thead>
								<tr>
									<th>SL.No</th>
									<th>Tax Name</th>
									<th>Tax in(%)</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="manufactures in taxController.manufactureDt.resData">
									<td>
										<a>{{ $index + 1 }}</a>
									</td>
									<td>{{manufactures.manufactureNm}}</td>
									<td>{{manufactures.contPer}}</td>
									<td>{{manufactures.contactNo}}</td>
									<td class="text-right">
										<button type="button" class="btn btn-icon-toggle" ng-click="taxController.editManufactureFun(manufactures)" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></button>
										<button type="button" class="btn btn-icon-toggle" ng-click="taxController.deleteManufactureFun(manufactures)" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!--end .section-body -->
				</section>
				<!-- END TABLE HOVER -->
