<div>
    <form class="form-horizontal"  novalidate role="form" name="vendorFrm" >
     <div class="card" style="margin-bottom: 0;">
      <div class="card-head style-primary">
       <header>{{ tableHeader }}</header>
       <button class="btn btn-default btn_close" ng-click="cancel()"><i class="fa fa-times"></i></button>
      </div>
      <div class="card-body">
       <div class="row">
      	 <div class="col-sm-6">
       	 	<div class="form-group required" ng-class="{'has-error' : (vendorFrm.$submitted || vendorFrm.name.$touched || submitted ) && vendorFrm.name.$invalid && vendorFrm.name.$error.required || vendorFrm.name.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Name</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="name" ng-model="vendorName" ng-maxlength="50" ng-required="true" />
					<span class="error" ng-show="vendorFrm.name.$error.maxlength">Only 50 Characters allowed</span>
				</div>
			</div>
		</div>

        <div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : vendorFrm.contactPerson.$error.maxlength }">
				<label for="name" class="col-sm-4 control-label">Contact Person</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactPerson"  ng-maxlength="50" ng-model="contactPerson" />
					<p ng-show="vendorFrm.contactPerson.$error.maxlength" class="help-block">Only 50 Characters allowed</p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
       	 	<div class="form-group" ng-class="{'has-error' : vendorFrm.contactNumber.$error.maxlength }" >
				<label for="name" class="col-sm-4 control-label">Contact Number</label>
          		<div class="col-sm-8">
          			<input type="text" class="form-control" name="contactNumber"  ng-maxlength="25" ng-model="contactNumber" numbers-only/>
					<p ng-show="vendorFrm.contactNumber.$error.maxlength" class="help-block">Only 25 digits allowed</p>
				</div>
			</div>
		</div>

        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : vendorFrm.email.$error.pattern || vendorFrm.email.$error.maxlength }">
          <label class="col-sm-4 control-label">Email Id</label>
          <div class="col-sm-8">
           <input type="email" class="form-control" name="email"  ng-maxlength="50" ng-model="email" ng-pattern="/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/" />
           <p ng-show="vendorFrm.email.$error.pattern" class="help-block">Please enter valid email id</p>
           <p ng-show="vendorFrm.email.$error.maxlength" class="help-block">Only 50 Characters allowed</p>
          </div>
         </div>
        </div>

       </div>

       <div class="row">
        <div class="col-sm-6">
         <div class="form-group" ng-class="{'has-error' : vendorFrm.address.$error.maxlength }" >
          <label for="Firstname5" class="col-sm-4 control-label">Address</label>
          <div class="col-sm-8">
           <textarea class="form-control" style="resize: none;"  ng-maxlength="250" name="address" ng-model="address"></textarea>
           <p ng-show="vendorFrm.address.$error.maxlength" class="help-block">Only 250 Characters allowed</p>
          </div>
         </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error' : vendorFrm.remark.$error.maxlength }" >
          <label for="Lastname5" class="col-sm-4 control-label">Remark</label>
          <div class="col-sm-8">
           <input type="text" class="form-control"  ng-maxlength="250" ng-model="remark">
           <p ng-show="vendorFrm.remark.$error.maxlength" class="help-block">Only 250 Characters allowed</p>
          </div>
         </div>
        </div>
       </div>

      </div><!--end .card-body -->
      <div class="card-actionbar">
       <div class="card-actionbar-row">
        <button type="submit" ng-click="cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
        <button type="submit" ng-click="vendorFrm.$valid && vendorAddFun()" class="btn btn-flat btn-primary ink-reaction">Save</button>
       	</div>
      </div>
     </div><!--end .card -->
    </form>
   </div><!--end .card-body -->
