<!-- BEGIN CONTENT-->
    <div class="section-body">
                    <form>
                    <div class="section-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card style-primary card-printable style-default-light">
                                    <div class="card-head">
                                        <div class="tools pull-left">
                                            <div class="btn-group">
                                            <header>Asset Receive</header>
                                            </div>
                                        </div>
                                        <div class="tools">
											<!-- <div class="btn-group"> --> <!--  href="javascript:void(0);" onclick="javascript:window.print();" ng-click="issueController.printPDF()" -->
												<!-- <a ng-class="{'btn btn-floating-action-yellow btn-floating-action btn-sm': issueController.printColor ,'btn btn-floating-action-green btn-floating-action btn-sm': !issueController.printColor }" ng-click="issueController.printPDF()" class="" ><i class="md md-print"></i></a> -->
												<a ng-class="{'btn btn-floating-action-red btn-floating-action btn-sm': receiveController.printColor === 0 ,'btn btn-floating-action-green btn-floating-action btn-sm': receiveController.printColor === 1 }"  ng-click="receiveController.printPDF()" class="" ><i class="md md-print"></i></a>
										<!-- 	</div> -->
										</div>
                                    </div>
                                    <div class="card-body style-default-bright">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card card-type-pricing">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div id="uHeadnm" class="input-group-btn">
                                                   	 	<h3 style="margin: 0px;">User Details</h3>  
                                                    </div>
                                                </div>
                                                <div class="col-md-6" data-ng-show="receiveController.showUsrMsg" style="background-color:red;text-align: center;">
                                                    <label class="blink_me"><b>Please present user card</b></label>
                                                </div>
                                                <div id="usrSelectBtn" class="col-md-2">
                                                    <div>
                                                        <button style="background-color: #0aa89e;font-size: 10px; color: white;" class="btn btn-default" ng-click="receiveController.userDetailsDailogue()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    </div>
                                                </div> 
                                            </div>
                                                
                                                <div class="col-md-4">
                                                    <div>
                                                        <img ng-show="receiveController.userImg" style="width: 150px;height: 150px;border: solid 1px #0aa89e;" ng-src="data:image/jpeg;base64,{{receiveController.usrImg}}"  alt="" />         
                                                        <img ng-show="!receiveController.userImg" style="width: 150px;height: 150px;border: solid 1px #0aa89e;" ng-src="resources/images/NoImage.gif"/>
                                                    </div>
                                                    <!-- <div class="text-center"> <br>
                                                        <button ng-disabled="true" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="receiveController.subGroupMasterDailogue()" type="button">User Details</button>
                                                    </div> -->
                                                </div>
                                                <div class="col-md-8">
                                                    
                                                    <div class="card-body no-padding">
                                                    	<!--  <ul class="list-unstyled text-left">
                                                            <li>Division Name  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{receiveController.usDetails.divisionName}}</li>
                                                            <li>Company Name   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ receiveController.compName }}</li>
                                                            <li>Gender Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{receiveController.usDetails.gender}} </li>
                                                            <li>User Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{receiveController.usDetails.userName}} </li>
                                                            <li>Department Name  &nbsp;&nbsp;: {{receiveController.usDetails.departmentName}}</li>
                                                            <li>User ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{receiveController.usDetails.userId}}</li>
                                                        </ul> -->
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Divisionnm' || receiveController.userFields[1] === 'Divisionnm' || receiveController.userFields[2] === 'Divisionnm' || receiveController.userFields[3] === 'Divisionnm' || receiveController.userFields[4] === 'Divisionnm' || receiveController.userFields[5] === 'Divisionnm'">
															<span class="txtAlignRight">Division Name</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.divisionName}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Sectornm' || receiveController.userFields[1] === 'Sectornm' || receiveController.userFields[2] === 'Sectornm' || receiveController.userFields[3] === 'Sectornm' || receiveController.userFields[4] === 'Sectornm' || receiveController.userFields[5] === 'Sectornm'">
															<span class="txtAlignRight">Sector Name</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.sectorName}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Locationnm' || receiveController.userFields[1] === 'Locationnm' || receiveController.userFields[2] === 'Locationnm' || receiveController.userFields[3] === 'Locationnm' || receiveController.userFields[4] === 'Locationnm' || receiveController.userFields[5] === 'Locationnm'">
															<span class="txtAlignRight">Location Name</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.locationName}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Departmentnm' || receiveController.userFields[1] === 'Departmentnm' || receiveController.userFields[2] === 'Departmentnm' || receiveController.userFields[3] === 'Departmentnm' || receiveController.userFields[4] === 'Departmentnm' || receiveController.userFields[5] === 'Departmentnm'">
															<span class="txtAlignRight">Department Name </span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.departmentName}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Categorynm' || receiveController.userFields[1] === 'Categorynm' || receiveController.userFields[2] === 'Categorynm' || receiveController.userFields[3] === 'Categorynm' || receiveController.userFields[4] === 'Categorynm' || receiveController.userFields[5] === 'Categorynm'">
															<span class="txtAlignRight">Category Name</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.categoryName}}</span>
														</div>
														
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Companynm' || receiveController.userFields[1] === 'Companynm' || receiveController.userFields[2] === 'Companynm' || receiveController.userFields[3] === 'Companynm' || receiveController.userFields[4] === 'Companynm' || receiveController.userFields[5] === 'Companynm'">
															<span class="txtAlignRight">Company Name </span><span class="txtAlignLft"> : &nbsp;{{ receiveController.compName || receiveController.usDetails.companyName}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Gender' || receiveController.userFields[1] === 'Gender' || receiveController.userFields[2] === 'Gender' || receiveController.userFields[3] === 'Gender' || receiveController.userFields[4] === 'Gender' || receiveController.userFields[5] === 'Gender'">
															<span class="txtAlignRight">Gender</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.gender}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Emailid' || receiveController.userFields[1] === 'Emailid' || receiveController.userFields[2] === 'Emailid' || receiveController.userFields[3] === 'Emailid' || receiveController.userFields[4] === 'Emailid' || receiveController.userFields[5] === 'Emailid'">
															<span class="txtAlignRight">Email Id</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.emailId}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Phoneno' || receiveController.userFields[1] === 'Phoneno' || receiveController.userFields[2] === 'Phoneno' || receiveController.userFields[3] === 'Phoneno' || receiveController.userFields[4] === 'Phoneno' || receiveController.userFields[5] === 'Phoneno'">
															<span class="txtAlignRight">Phone No</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.phoneno}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Mobileno' || receiveController.userFields[1] === 'Mobileno' || receiveController.userFields[2] === 'Mobileno' || receiveController.userFields[3] === 'Mobileno' || receiveController.userFields[4] === 'Mobileno' || receiveController.userFields[5] === 'Mobileno'">
															<span class="txtAlignRight">Mobile No</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.mobileno}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Actdate' || receiveController.userFields[1] === 'Actdate' || receiveController.userFields[2] === 'Actdate' || receiveController.userFields[3] === 'Actdate' || receiveController.userFields[4] === 'Actdate' || receiveController.userFields[5] === 'Actdate'">
															<span class="txtAlignRight">Activation Date</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.actDate}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Deactdate' || receiveController.userFields[1] === 'Deactdate' || receiveController.userFields[2] === 'Deactdate' || receiveController.userFields[3] === 'Deactdate' || receiveController.userFields[4] === 'Deactdate' || receiveController.userFields[5] === 'Deactdate'">
															<span class="txtAlignRight">Deactivation Date</span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.deactDate}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Usernm' || receiveController.userFields[1] === 'Usernm' || receiveController.userFields[2] === 'Usernm' || receiveController.userFields[3] === 'Usernm' || receiveController.userFields[4] === 'Usernm' || receiveController.userFields[5] === 'Usernm'">
															<span class="txtAlignRight">User Name </span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.userName}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Dob' || receiveController.userFields[1] === 'Dob' || receiveController.userFields[2] === 'Dob' || receiveController.userFields[3] === 'Dob' || receiveController.userFields[4] === 'Dob' || receiveController.userFields[5] === 'Dob'">
															<span class="txtAlignRight">DOB </span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.dob}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Userid' || receiveController.userFields[1] === 'Userid' || receiveController.userFields[2] === 'Userid' || receiveController.userFields[3] === 'Userid' || receiveController.userFields[4] === 'Userid' || receiveController.userFields[5] === 'Userid'">
															<span class="txtAlignRight">User Id </span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.userId}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Empid' || receiveController.userFields[1] === 'Empid' || receiveController.userFields[2] === 'Empid' || receiveController.userFields[3] === 'Empid' || receiveController.userFields[4] === 'Empid' || receiveController.userFields[5] === 'Empid'">
															<span class="txtAlignRight">Emp Id </span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.empId}}</span>
														</div>
														<div class="txtAlign" ng-if="receiveController.userFields[0] === 'Usertagid' || receiveController.userFields[1] === 'Usertagid' || receiveController.userFields[2] === 'Usertagid' || receiveController.userFields[3] === 'Usertagid' || receiveController.userFields[4] === 'Usertagid' || receiveController.userFields[5] === 'Usertagid'">
															<span class="txtAlignRight">Tag Id </span><span class="txtAlignLft"> : &nbsp;{{receiveController.usDetails.userTagId}}</span>
														</div>
													</div>
                                                </div>
                                            </div><!--end .card -->
                                        </div><!--end .col -->
                                        
                                        <div class="col-md-6">
                                            <div class="card card-type-pricing">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div id="uHeadnm" class="input-group-btn">
                                                    	<h3 style="margin: 0px;">Asset Details</h3> 
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md-6" data-ng-show="receiveController.showAssMsg" style="background-color:red;text-align: center;">
                                                    <label class="blink_me"><b>Please present asset card</b></label>
                                                </div> -->
                                                <div id="usrSelectBtn" class="col-md-2">
                                                    <div>
                                                        <button ng-disabled="true" style="background-color: #0aa89e;font-size: 10px; color: white;" class="btn btn-default" ng-click="receiveController.assetSearchDailogue()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    </div>
                                                </div> 
                                            </div>
                                                
                                            <div class="col-md-4">
                                                <div>
                                                 	<img ng-show="receiveController.assetImg" style="width: 150px;height: 150px;border: solid 1px #0aa89e;" ng-src="data:image/jpeg;base64,{{receiveController.asImg}}"  alt="" />
                                                   	<img ng-show="!receiveController.assetImg" style="width: 150px;height: 150px; border: solid 1px;" ng-src="resources/images/NoImage.gif"/>
                                               	</div>
                                                   <!--  <div class="text-center"> <br>
                                                        <button ng-disabled="true" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="receiveController.subGroupMasterDailogue()" type="button">Asset Details</button>
                                                    </div> -->
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body no-padding">
                                                   	 	<!-- <ul class="list-unstyled text-left">
                                                            <li>Asset Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{receiveController.asDetails.assetId}}</li>
                                                            <li>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{receiveController.asDetails.assetNm}}</li>
                                                            <li>Product No &nbsp;&nbsp;&nbsp;&nbsp;: {{receiveController.asDetails.serialNo || receiveController.asDetails.serialNumber}} </li>
                                                            <li>EPC ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{receiveController.asDetails.tagId || receiveController.asDetails.TagId}} </li>
                                                            <li>Batch Lot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{receiveController.asDetails.batchName}}</li>
                                                            <li>Location &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{receiveController.asDetails.locationName}}</li>
                                                        </ul> -->
														<div class="txtAlign">
															<span class="txtAlignRight">Asset Id</span><span class="txtAlignLft"> : &nbsp;{{receiveController.asDetails.assetId}}</span>
														</div>
														<div class="txtAlign">
															<span class="txtAlignRight">Name</span><span class="txtAlignLft"> : &nbsp; {{receiveController.asDetails.assetNm}}</span>
														</div>
														<div class="txtAlign">
															<span class="txtAlignRight">Product No</span><span class="txtAlignLft"> : &nbsp;{{receiveController.asDetails.serialNo || receiveController.asDetails.serialNumber}}</span>
														</div>
														<div class="txtAlign">
															<span class="txtAlignRight">EPC ID</span><span class="txtAlignLft"> : &nbsp;{{receiveController.asDetails.tagId || receiveController.asDetails.TagId}}</span>
														</div>
														<div class="txtAlign">
															<span class="txtAlignRight">Batch Lot</span><span class="txtAlignLft"> : &nbsp;{{receiveController.asDetails.batchName}}</span>
														</div>
														<div class="txtAlign">
															<span class="txtAlignRight">Location</span><span class="txtAlignLft"> : &nbsp;{{receiveController.asDetails.locationName}}</span>
														</div>
                                                    </div><!--end .card-body -->
                                                </div>
                                            </div><!--end .card -->
                                        </div><!--end .col -->
                                    </div>
                                    
                                    <div class="row">
										<div class="col-md-12">
											<div class="col-md-6 text-center">
												<div class="card-actionbar pull-left">
												        <a tooltip-placement="right" uib-tooltip="{{receiveController.DefaultDockDoor.dockDoorName}}"  ng-class="{'btn btn-floating-action-red btn-floating-action btn-sm': !dockDoorBgColor, 'btn btn-floating-action-green btn-floating-action btn-sm': dockDoorBgColor }"  class="" ><img style="width: 23px; margin-top: 5px" ng-src="resources/images/dock-door-white.png"></a>
												        <button type="submit" style="background-color: #0aa89e; color: white;" ng-disabled="true" class="btn ink-reaction btn-raised btn-primary" ng-click="verifyTransactionFun()">Setting</button>
												        <span>Total Asset : <b>{{receiveController.assetDataNew.length}}</b></span>
                                                </div>
											</div>
											<!-- <div class="col-md-4">
												<div class="card-actionbar pull-left">
													<div class="card-actionbar-row  text-left" ng-class="{'bgcolor-green' : dockDoorBgColor, 'bgcolor' : !dockDoorBgColor }">
													         <label>Current Dock Door:</label>&nbsp;<b>{{receiveController.DefaultDockDoor.dockDoorName}}</b></br>
                                                	</div>
												</div>
											</div> -->
											<!-- <div class="col-md-6">
                                                <div class="card-actionbar">
                                                    <div class="card-actionbar pull-right">
                                                        <button type="submit" ng-disabled="receiveController.disabledIssueBtn" class="btn ink-reaction btn-raised btn-primary" ng-click="receiveController.verifyTransaction()">Receive</button>
                                                        <button type="submit" class="btn ink-reaction btn-raised btn-primary" ng-click="receiveController.clearField()">Clear</button>
                                                        <button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="receiveController.cancel()">Close</button>
                                                    </div>
                                                </div>
                                            </div> -->
                                            
                                            <div class="col-md-6">
                                                <div class="card-actionbar">
													<div class="col-md-9">
														<button style="width:100%;" type="submit" ng-disabled="receiveController.disabledIssueBtn" class="btn ink-reaction btn-raised btn-primary" ng-click="receiveController.verifyTransaction()"> Receive</button>
													</div>
													<div class="col-md-3 text-center">
														<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="receiveController.clearField()">Clear</button>
														<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="receiveController.cancel()">Close</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									
                                    <!-- BEGIN INVOICE PRODUCTS -->
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">
                                                            <div>
                                                                <label>
                                                                    <input type="checkbox"  ng-model="receiveController.allItemsSelected" ng-change="selectAll()" />
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <th class="text-left">Asset ID</th>
                                                         <th class="text-left">Product No</th>
                                                        <th class="text-left">Asset Name</th>
                                                         <th class="text-left">QTY</th>
                                                        <th class="text-left">Category Type</th>
                                                        <!-- <th class="text-left">Issue Date Time</th>
                                                        <th class="text-left">RF Issue</th> -->
                                                        <th class="text-left">Issue Date Time</th>
                                                        <th class="text-left">Location</th>
                                                       <th class="text-left">Maintenance Date </th>
                                                       <th class="text-left">Expiry Date</th>
                                                        <th class="text-left">Return Date</th>
                                                        <th class="text-left">Issue Type</th>
                                                        <!-- <th class="text-left">Action</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="asset in receiveController.assetDataNew" ng-init="receiveController.readAssetTags(asset)" ng-class="{ 'row-bgcolor': receiveController.bgColorId === asset.assetId }" ng-dblclick="receiveController.getAssetInfo(asset)">
                                                        <td class="text-center">
                                                            <div>
                                                                <label>
                                                                    <input type="checkbox" ng-checked="allSelect" ng-model="asset.isChecked" ng-change="selectEntity()" >
                                                                    <!-- <input type="checkbox" ng-checked="allSelect" 'asset.assetId === receiveController.bgColorId' ng-model="receiveController.selected[$index]"  name="chk[]" > -->
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>{{asset.assetId}}</td>
                                                        <td>{{asset.serialNumber}}</td>
                                                        <td>{{asset.assetNm}}</td>
                                                         <td>{{asset.quantity}}</td>
                                                        <td>{{asset.categoryName}}</td>
                                                       <!--  <td>{{asset.assetIssueDate | datetime}}</td>
                                                        <td>{{asset.assetIssueRF | datetime}}</td> -->
                                                        <td>{{asset.customDt }}</td>
                                                        <td>{{asset.locationName}}</td>
                                                        <td>{{asset.assetMaintenanceDate | datetime}}</td>
                                                        <td>{{asset.assetExpiryDate | datetime }}</td>
                                                        <td>{{asset.assetReturnDate | datetime }}</td>
                                                        <td>{{asset.issueType}}
                                                        <!-- <td>
                                                            <button type="button" class="btn btn-icon-toggle" ng-disabled="$index < receiveController.cntData" ng-click="receiveController.removeAsset($index)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                                        </td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><!--end .col -->
                                    </div><!--end .row -->
                                  </div><!--end .card-body -->
                                </div><!--end .card -->
                            </div><!--end .col -->
                        </div><!--end .row -->
                    </div><!--end .section-body -->
                    </form>
                </div>
            <!-- END CONTENT -->