<!-- BEGIN CONTENT-->
<div class="section-body">
	<form ng-submit="issueController.verifyTransaction()">
		<div class="row">
			<div class="col-lg-12">
				<div class="card style-primary">
					<div class="card-head">
						<div class="tools pull-left">
							<header>Asset Issue</header>
						</div>
						<div class="tools">
							<a ng-class="{'btn btn-floating-action-red btn-floating-action btn-sm': issueController.printColor === 0 ,'btn btn-floating-action-green btn-floating-action btn-sm': issueController.printColor ===1 }"  ng-click="issueController.printPDF()" class="" ><i class="md md-print"></i></a>
						</div>
					</div>
					
					<div class="card-body style-default-bright">
						<div class="row">
							<div class="col-md-6">
								<div class="card card-type-pricing">
									<div class="col-md-12">
										<div class="col-md-4">
											<div id="uHeadnm" class="input-group-btn">
												<h3 style="margin: 0px;">User Details</h3>	
											</div>
										</div>
										<div class="col-md-6" data-ng-show="issueController.showUsrMsg" style="background-color:red;text-align: center;">
										    <label class="blink_me"><b>Please present user card</b></label>
										</div>
										<div id="usrSelectBtn" class="col-md-2">
											<div>
												<button style="background-color: #0aa89e;font-size: 10px;color: white;" class="btn btn-default" ng-click="issueController.userDetailsDailogue()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
											</div>
										</div>
									</div>
									
									<div class="col-lg-12">
										<div class="col-md-4">
											<div>
												<img ng-show="issueController.userImg" style="width: 140px;height: 150px;border:border: solid 1px #0aa89e;" ng-src="data:image/jpeg;base64,{{issueController.usrImg}}"  alt="" />			
												<img ng-show="!issueController.userImg" style="width: 140px;height: 150px;border:border: solid 1px #0aa89e;" ng-src="resources/images/NoImage.gif"/>
											</div>
										</div>
										<div class="col-md-8">
										<div class="card-body no-padding">
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Divisionnm' || issueController.userFields[1] === 'Divisionnm' || issueController.userFields[2] === 'Divisionnm' || issueController.userFields[3] === 'Divisionnm' || issueController.userFields[4] === 'Divisionnm' || issueController.userFields[5] === 'Divisionnm'">
												<span class="txtAlignRight">Division Name</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.divisionName}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Sectornm' || issueController.userFields[1] === 'Sectornm' || issueController.userFields[2] === 'Sectornm' || issueController.userFields[3] === 'Sectornm' || issueController.userFields[4] === 'Sectornm' || issueController.userFields[5] === 'Sectornm'">
												<span class="txtAlignRight">Sector Name</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.sectorName}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Locationnm' || issueController.userFields[1] === 'Locationnm' || issueController.userFields[2] === 'Locationnm' || issueController.userFields[3] === 'Locationnm' || issueController.userFields[4] === 'Locationnm' || issueController.userFields[5] === 'Locationnm'">
												<span class="txtAlignRight">Location Name</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.locationName}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Departmentnm' || issueController.userFields[1] === 'Departmentnm' || issueController.userFields[2] === 'Departmentnm' || issueController.userFields[3] === 'Departmentnm' || issueController.userFields[4] === 'Departmentnm' || issueController.userFields[5] === 'Departmentnm'">
												<span class="txtAlignRight">Department Name </span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.departmentName}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Categorynm' || issueController.userFields[1] === 'Categorynm' || issueController.userFields[2] === 'Categorynm' || issueController.userFields[3] === 'Categorynm' || issueController.userFields[4] === 'Categorynm' || issueController.userFields[5] === 'Categorynm'">
												<span class="txtAlignRight">Category Name</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.categoryName}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Companynm' || issueController.userFields[1] === 'Companynm' || issueController.userFields[2] === 'Companynm' || issueController.userFields[3] === 'Companynm' || issueController.userFields[4] === 'Companynm' || issueController.userFields[5] === 'Companynm'">
												<span class="txtAlignRight">Company Name </span><span class="txtAlignLft"> : &nbsp;{{ issueController.compName || issueController.usDetails.companyName}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Gender' || issueController.userFields[1] === 'Gender' || issueController.userFields[2] === 'Gender' || issueController.userFields[3] === 'Gender' || issueController.userFields[4] === 'Gender' || issueController.userFields[5] === 'Gender'">
												<span class="txtAlignRight">Gender</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.gender}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Emailid' || issueController.userFields[1] === 'Emailid' || issueController.userFields[2] === 'Emailid' || issueController.userFields[3] === 'Emailid' || issueController.userFields[4] === 'Emailid' || issueController.userFields[5] === 'Emailid'">
												<span class="txtAlignRight">Email Id</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.emailId}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Phoneno' || issueController.userFields[1] === 'Phoneno' || issueController.userFields[2] === 'Phoneno' || issueController.userFields[3] === 'Phoneno' || issueController.userFields[4] === 'Phoneno' || issueController.userFields[5] === 'Phoneno'">
												<span class="txtAlignRight">Phone No</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.phoneno}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Mobileno' || issueController.userFields[1] === 'Mobileno' || issueController.userFields[2] === 'Mobileno' || issueController.userFields[3] === 'Mobileno' || issueController.userFields[4] === 'Mobileno' || issueController.userFields[5] === 'Mobileno'">
												<span class="txtAlignRight">Mobile No</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.mobileno}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Actdate' || issueController.userFields[1] === 'Actdate' || issueController.userFields[2] === 'Actdate' || issueController.userFields[3] === 'Actdate' || issueController.userFields[4] === 'Actdate' || issueController.userFields[5] === 'Actdate'">
												<span class="txtAlignRight">Activation Date</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.actDate}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Deactdate' || issueController.userFields[1] === 'Deactdate' || issueController.userFields[2] === 'Deactdate' || issueController.userFields[3] === 'Deactdate' || issueController.userFields[4] === 'Deactdate' || issueController.userFields[5] === 'Deactdate'">
												<span class="txtAlignRight">Deactivation Date</span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.deactDate}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Usernm' || issueController.userFields[1] === 'Usernm' || issueController.userFields[2] === 'Usernm' || issueController.userFields[3] === 'Usernm' || issueController.userFields[4] === 'Usernm' || issueController.userFields[5] === 'Usernm'">
												<span class="txtAlignRight">User Name </span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.userName}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Dob' || issueController.userFields[1] === 'Dob' || issueController.userFields[2] === 'Dob' || issueController.userFields[3] === 'Dob' || issueController.userFields[4] === 'Dob' || issueController.userFields[5] === 'Dob'">
												<span class="txtAlignRight">DOB </span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.dob}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Userid' || issueController.userFields[1] === 'Userid' || issueController.userFields[2] === 'Userid' || issueController.userFields[3] === 'Userid' || issueController.userFields[4] === 'Userid' || issueController.userFields[5] === 'Userid'">
												<span class="txtAlignRight">User Id </span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.userId}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Empid' || issueController.userFields[1] === 'Empid' || issueController.userFields[2] === 'Empid' || issueController.userFields[3] === 'Empid' || issueController.userFields[4] === 'Empid' || issueController.userFields[5] === 'Empid'">
												<span class="txtAlignRight">Emp Id </span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.empId}}</span>
											</div>
											<div class="txtAlign" ng-if="issueController.userFields[0] === 'Usertagid' || issueController.userFields[1] === 'Usertagid' || issueController.userFields[2] === 'Usertagid' || issueController.userFields[3] === 'Usertagid' || issueController.userFields[4] === 'Usertagid' || issueController.userFields[5] === 'Usertagid'">
												<span class="txtAlignRight">Tag Id </span><span class="txtAlignLft"> : &nbsp;{{issueController.usDetails.userTagId}}</span>
											</div>
										</div>
									</div>
									</div>		
									
								</div><!--end .card -->
							</div><!--end .col -->
										
							<div class="col-md-6">
								<div class="card card-type-pricing">
									<div class="col-md-12">
										<div class="col-md-4">
											<div id="uHeadnm" class="input-group-btn">
												<h3 style="margin: 0px;">Asset Details</h3>	
											</div>
										</div>
										<div class="col-md-6" data-ng-show="issueController.showAssMsg" style="background-color:red;text-align: center;">
                       	                	<label class="blink_me"><b>Please present asset card</b></label>
                                     	</div>
										<div id="usrSelectBtn" class="col-md-2">
											<div >
												<button style="background-color: #0aa89e;font-size: 10px; color: white;" ng-disabled="!issueController.userselected" class="btn btn-default" ng-click="issueController.assetSearchDailogue()" type="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
											</div>
										</div> 
									</div>
												
									<div class="col-md-4">
										<div>
											<img ng-show="issueController.assetImg" style="width: 150px;height: 150px;border: solid 1px #0aa89e;" ng-src="data:image/jpeg;base64,{{issueController.asImg}}"  alt="" />			
											<img ng-show="!issueController.assetImg" style="width: 150px; height: 150px;border: solid 1px #0aa89e;" ng-src="resources/images/NoImage.gif"/>
										</div>
										<!-- <div class="text-center"> <br>
											<button ng-disabled="true" style="background-color: #0aa89e; color: white;" class="btn btn-default" ng-click="issueController.subGroupMasterDailogue()" type="button">Asset Details</button>
										</div> -->
									</div>
									<div class="col-md-8">
										<div class="card-body no-padding">
											<div class="txtAlign">
												<span class="txtAlignRight">Asset Id </span><span class="txtAlignLft"> : &nbsp;{{issueController.asDetails.assetId}}</span>
											</div>
											<div class="txtAlign">
												<span class="txtAlignRight">Name </span><span class="txtAlignLft"> : &nbsp;{{issueController.asDetails.assetNm}}</span>
											</div>
											<div class="txtAlign">
												<span class="txtAlignRight">Product No</span><span class="txtAlignLft"> : &nbsp;{{issueController.asDetails.serialNo || issueController.asDetails.serialNumber}}</span>
											</div>
											<div class="txtAlign">
												<span class="txtAlignRight">EPC ID</span><span class="txtAlignLft"> : &nbsp;{{issueController.asDetails.tagId || issueController.asDetails.TagId}}</span>
											</div>
											<div class="txtAlign">
												<span class="txtAlignRight">Batch Lot</span><span class="txtAlignLft"> : &nbsp;{{issueController.asDetails.batchName}}</span>
											</div>
											<div class="txtAlign">
												<span class="txtAlignRight">Location</span><span class="txtAlignLft"> : &nbsp;{{issueController.asDetails.locationName}}</span>
											</div>
										</div><!--end .card-body -->
									</div>
								</div><!--end .card -->
							</div><!--end .col -->
						</div>
									
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-6 text-center">
									<div class="card-actionbar pull-left">
										<a tooltip-placement="right" uib-tooltip="{{issueController.DefaultDockDoor}}" ng-class="{'btn btn-floating-action-red btn-floating-action btn-sm': !dockDoorBgColor, 'btn btn-floating-action-green btn-floating-action btn-sm': dockDoorBgColor }"  class="" ><img style="width: 23px; margin-top: 5px" ng-src="resources/images/dock-door-white.png"></a>
										<button type="submit" style="background-color: #0aa89e; color: white;" ng-disabled="true" class="btn ink-reaction btn-raised btn-primary" ng-click="verifyTransactionFun()">Setting</button>
										<span>Listed : <b>{{issueController.totalListedAsset()}}<!-- {{issueController.assetDataNew.length}} {{issueController.listedAsset}} --></b>&nbsp;&nbsp;&nbsp;</span>Selected : <b>{{issueController.calculateChecked()}}</b>
									</div>
									<!-- <div>
										 Total Asset : <b>{{issueController.assetDataNew.length}}</b>
									</div> -->
								</div>
								<!-- <div class="col-md-4">
									<div class="card-actionbar text-center">
										<div style="padding: 7px 0 0px;" class="" ng-class="{'bgcolor-green' : dockDoorBgColor, 'bgcolor' : !dockDoorBgColor }">
											<p style="color :white">Current Dock Door : &nbsp;<b>{{issueController.DefaultDockDoor}}</b></p>
										</div>
									</div>
									</div> -->
								<div class="col-md-6">
									<div class="card-actionbar">
										<div class="col-md-9">
											<button style="width:100%;" type="submit" ng-disabled="issueController.assetDataNew.length <= issueController.cntData || issueController.disabledIssueBtn"class="btn ink-reaction btn-raised btn-primary" >Issue</button>
										</div>
										<div class="col-md-3 text-center">
											<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="issueController.clearField()">Clear</button>
											<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="issueController.cancel()">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
									
						<!-- BEGIN INVOICE PRODUCTS -->
						<div id="divToPrint" class="row">
							<div class="col-md-12 table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="text-center">
												<div>
													<label>
														<!-- <tr>
														      	<th><input type="checkbox" ng-model="model.allItemsSelected" ng-change="selectAll()"></th>
															    <th>Names</th>   
															 </tr> -->
														<input type="checkbox" ng-model="issueController.allItemsSelected" ng-change="selectAll()" />
													</label>
												</div>
											</th>
											<th class="text-left">Asset Id</th>
											<th class="text-left">Product No</th>
											<th class="text-left">Asset Name</th>
											<th class="text-left">QTY</th>
											<th class="text-left">Category Type</th>
											<!-- <th class="text-left">Issue Date Time</th>
											<th class="text-left">RF Issue</th> -->
											<th class="text-left">Issue Date Time</th>
											<th class="text-left">Location</th>
											<!-- <th ng-if="issueController.assetReceive" class="text-left">Product No</th> -->
											<th class="text-left">Maintenance Date</th>
											<th class="text-left">Expiry Date</th>
											<!-- <th ng-if="issueController.assetReceive" class="text-left">Quantity</th> -->
											<th class="text-left">Proposed Return Date</th>
											<th class="text-left">Issue Type</th>
											<th class="text-left">Action</th>
										</tr>
									</thead>
									<tbody>
									     <!-- <tr ng-repeat="entity in model.entities" ng-class="{selected: entity.isChecked}">
											     <td><input type="checkbox" ng-model="entity.isChecked" ng-change="selectEntity()"></td>
											      <td>{{entity.value}}</td>
									     </tr> -->
									     <!-- ng-class="{'error':item.expiryDt || item.assetExpiryDate && item.mainDt || item.assetMaintenanceDate < item.returnDate || item.assetReturnDate && (item.assetMaintenanceDate || item.mainDt || item.assetExpiryDate || item.expiryDt) != 'Default'}" -->
										<tr ng-repeat="item in issueController.assetDataNew | orderBy:'no' : 'reverse'"   ng-dblclick="issueController.getAssetInfo(item)" >
										<!-- <tr ng-repeat="item in issueController.assetDataNew track by item.assetId | orderBy : '-item.assetId'"  ng-dblclick="issueController.getAssetInfo(item)" > -->
											<td class="text-center">
												<div>
													<label>
														<!-- <input type="checkbox" ng-model="item.Selected" ng-checked="issueController.vv(item)" /> -->
														<input ng-disabled="item.from" type="checkbox" ng-checked="allSelect" ng-model="item.isChecked" ng-change="selectEntity()" >
													</label>
												</div>
											</td>
											<td>{{item.assetId}}</td>
											<td>{{item.serialNumber || item.serialNo}}</td>
											<td>{{item.assetNm}}</td>
											<td>{{item.quantity || item.assetQty}}</td>
											<td>{{item.categoryName}}</td>
											<!-- <td>{{item.assetIssueDate || 'Default' | datetime}}</td>
											<td>{{item.assetIssueRF || 'Default' | datetime}}</td> -->
											<td>{{item.customDt || 'Default'}}</td>
											<td>{{item.locationName}}</td>
											<td ng-class="{ 'row-bgerror': item.maintBgColor === 'true'}" >{{item.mainDt || item.assetMaintenanceDate | datetimes }}</td>
											<!-- <td ng-class="{ 'row-bgerror': issueController.rowBgErrorId === item.assetId }" >{{item.mainDt || item.assetMaintenanceDate | datetimes }}</td> -->
											<!--  ng-class="{'row-bgerror' : issueController.rowBgError, '': !issueController.rowBgError,}" -->
											<td ng-class="{ 'row-bgerror': item.expBgColor === 'true'}" >{{item.expiryDt || item.assetExpiryDate | datetimes}}</td>
											<!-- <td ng-class="{ 'row-bgerror': issueController.rowBgExpErrorId === item.assetId }" >{{item.expiryDt || item.assetExpiryDate | datetimes}}</td> -->
											<td>{{item.returnDate || item.assetReturnDate | datetime }}</td>
											<td>{{item.issueType}}</td><!-- issueController.myFun(item) -->
											<td>
												<!-- <button type="button" class="btn btn-icon-toggle" ng-disabled="item.from" ng-click="issueController.removeAsset($index)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button> -->
												<button type="button" class="btn btn-icon-toggle" ng-disabled="item.from" ng-click="issueController.removeAsset(item)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div><!--end .col -->
						</div><!--end .row -->

					</div><!--end .card-body -->
				</div><!--end .card -->
			</div><!--end .col -->
		</div><!--end .row -->
	</form>
</div>
<!-- END CONTENT -->
			
<div ng-show="issueController.webDockSelectError" ng-click="issueController.webDockSelectError = false" id="toast-container" class="toast-bottom-left angular-animation" aria-live="polite" role="alert">
	<div class="toast toast-warning">
		<div class="toast-message">Please select Dockdoor</div>
	</div>
</div>
			