<!-- BEGIN CONTENT-->
<div class="section-body">
	<form ng-submit="assetIRstatusCtrl.verifyTransaction()" name="assetStatusFrm">
		<div class="section-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="card style-primary">
									<div class="card-head">
										<div class="tools pull-left">
											<header>Status</header>
										</div>
										<div class="tools">
											<a tooltip-placement="top" uib-tooltip="EXCEL" style="color:white" ng-click="assetIRstatusCtrl.exportToExcel('#excelDiv')" class="btn btn-floating-action btn-sm" ><i class="fa fa-file-excel-o"></i></a>
										</div>
									</div>
									<div class="card-body style-default-bright">
									<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<!-- <label class="col-sm-3 control-label">Select Type</label> -->
													<div class="col-sm-10">
														<label class="radio-inline radio-styled">
														<input type="radio" name="selectType" ng-click="assetIRstatusCtrl.issueDetailsFun()" ng-model="assetIRstatusCtrl.selectedType" value="issueDetails" checked=""><span>Issue Details</span>
														</label>
														<label class="radio-inline radio-styled">
														<input type="radio" name="selectType" ng-click="assetIRstatusCtrl.receiveDetailsFun()"  ng-model="assetIRstatusCtrl.selectedType" value="receiveDetails" ><span>Receive Details</span>
														</label>
														<label class="radio-inline radio-styled">
														<input type="radio" name="selectType" ng-click="assetIRstatusCtrl.expiredDetailsFun()"  ng-model="assetIRstatusCtrl.selectedType" value="expiredDetails" ><span>Expired Details</span>
														</label>
													</div><!--end .col -->
													<div class="col-md-2">
								                        	<h5>Total : <kbd> {{assetIRstatusCtrl.issueDetailsLength}}</kbd></h5>
														</div>
												</div>
												<div style="border: solid 1px rgba(182, 182, 182, 0.12); margin-top: 32px; margin-bottom: 10px;"></div>
											</div>
											
											<div class="col-md-12">
													
													<div ng-if="assetIRstatusCtrl.selectedType === 'expiredDetails'" class="text-center">
														<label class="radio-inline radio-styled">
														<input type="radio" name="expirySelect" ng-init="assetIRstatusCtrl.expiredAssetIssue()" ng-click="assetIRstatusCtrl.expiredAssetIssue()" ng-model="assetIRstatusCtrl.expiredSelect" value="expIssueAss" checked=""><span>Issued Asset</span>
														</label>
														<label class="radio-inline radio-styled">
														<input type="radio" name="expirySelect" ng-click="assetIRstatusCtrl.expiredAssetReceived()"  ng-model="assetIRstatusCtrl.expiredSelect" value="expReceivedAss" ><span>Received Asset</span>
														</label>
														<div style="border: solid 1px rgba(182, 182, 182, 0.12); margin-top: 6px; margin-bottom: 19px;"></div>
													</div><!--end .col -->
													
													
													<div class="col-md-5">
							                        	<div class="form-group">
															<label for="name" class="col-sm-3 control-label">Start Date</label>
																<div class="col-sm-9">
																	<div class="input-group-content" style="position: static">
																		<input type="text" class="form-control" ng-readOnly="true" ng-change="assetIRstatusCtrl.startDtChange()" uib-datepicker-popup ng-model="assetIRstatusCtrl.fromDate" is-open="assetIRstatusCtrl.from.opened" datepicker-options="assetIRstatusCtrl.dateOptions" close-text="Close" />
																	</div>
																	<div class="input-group-btn">
																		<button type="button" class="btn btn-default" ng-click="assetIRstatusCtrl.fromOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
																	</div>
																</div>
														</div>
													</div>
						
														<div class="col-md-5">
								                        	<div class="form-group" ng-class="{'has-error' : assetIRstatusCtrl.dateError}">
																<label for="name" class="col-sm-3 control-label">To Date</label>
																	<div class="col-sm-9">
																		<div class="input-group-content">
																			<input type="text" class="form-control" name="toDate"  ng-readOnly="true" uib-datepicker-popup ng-model="assetIRstatusCtrl.toDate" is-open="assetIRstatusCtrl.to.opened" datepicker-options="assetIRstatusCtrl.dateOptions" close-text="Close" />
																		</div>
																		<div class="input-group-btn">
																			<button type="button" class="btn btn-default" ng-click="assetIRstatusCtrl.toOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
																		</div>
																	</div>
															</div>
														</div>
														<div class="col-md-2">
								                        	<div class="card-actionbar">
																<div class="card-actionbar">
																		<button type="button" class="btn ink-reaction btn-raised btn-primary" ng-click="assetIRstatusCtrl.goFunction()" >Go</button>
																</div>
															</div>
														</div>
												</div>
										</div>
										<div id="excelDiv"   class="row">
											<p ng-hide="true">List made For : {{assetIRstatusCtrl.globalComp_name}}</p>
											<p ng-hide="true">Created Date : {{assetIRstatusCtrl.currDate | date:'dd-MMM-yyyy  HH:mm:ss'}}</p>
											<p ng-hide="true">Created By : {{assetIRstatusCtrl.userName}}</p>
											<div class="col-md-12 table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th ng-if="assetIRstatusCtrl.selectedType === 'issueDetails' || assetIRstatusCtrl.selectedType === 'expiredDetails'"  class="text-left">Issue To</th>
															<th ng-if="assetIRstatusCtrl.selectedType === 'receiveDetails' || assetIRstatusCtrl.expiredSelect === 'expReceivedAss'" class="text-left">Received To</th>
															<th class="text-left">User Category</th>
															<th class="text-left">Asset Id</th>
															<th class="text-left">Asset Name</th>
															<th class="text-left">Issue Date Time</th>
															<th class="text-left">Issued By</th>
															<th ng-if="assetIRstatusCtrl.selectedType === 'receiveDetails' || assetIRstatusCtrl.expiredSelect === 'expReceivedAss'" class="text-left">Receive Date Time</th>
															<th ng-if="assetIRstatusCtrl.selectedType === 'receiveDetails' || assetIRstatusCtrl.expiredSelect === 'expReceivedAss'" class="text-left">Received By</th>
															<th class="text-left">Return Date Time</th>
															
														</tr>
													</thead>
													<tbody>
										                <tr ng-repeat="issuedata in assetIRstatusCtrl.issueDetails.resData | orderBy :issuedata.assetName:true" ng-class="{'row-bgerror': issuedata.redBgColor === true ,'row-bgyellow' : issuedata.yellowBgColor === true, 'row-bgblue' : issuedata.blueBgColor === true}" >
															<td ng-if="assetIRstatusCtrl.selectedType === 'issueDetails' || assetIRstatusCtrl.selectedType === 'expiredDetails'" >{{issuedata.userName}} </td>
															<td ng-if="assetIRstatusCtrl.selectedType === 'receiveDetails' || assetIRstatusCtrl.expiredSelect === 'expReceivedAss'" class="text-left">{{issuedata.userName}}</td>
															<td>{{issuedata.category}}</td>
															<td>{{issuedata.assetId}}</td>
															<td>{{issuedata.assetName}}</td>
															<td>{{issuedata.issuedDateTime | datetime}}</td>
															<td>{{issuedata.issuedBy}}</td>
															<td ng-if="assetIRstatusCtrl.selectedType === 'receiveDetails' || assetIRstatusCtrl.expiredSelect === 'expReceivedAss'">{{issuedata.receiveDateTime | datetime}}</td>
															<td ng-if="assetIRstatusCtrl.selectedType === 'receiveDetails' || assetIRstatusCtrl.expiredSelect === 'expReceivedAss'" >{{issuedata.receivedBy}}</td>
															<td>{{issuedata.returnDate | datetime}}</td>
														</tr>
													</tbody>
												</table>
											</div><!--end .col -->
										</div><!--end .row -->

									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->
						</div><!--end .row -->
					</div><!--end .section-body -->
					</form>
				</div>
	<!-- END CONTENT -->