
<!--breadcrumb  -->
<div class="breadcrumb">
	<!-- <div style="float: left">
		<i class="glyphicon glyphicon-home"></i>&nbsp;
	</div> -->
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>
<!-- Master Menu status  -->
<!-- Nested assetIR State -->
<div ui-view>
	<div>
		<div class="col-lg-3 col-sm-4 col-xs-6">
			<div class="home-icons text-center">
				<div class="home-icons-style">
					<a ui-sref=".assetIssue"> <span class="hover-effect"><img
							ng-src="resources/images/master/asset-issue-new.png"></span><br> <b
						class="menu-font">Asset Issue</b>
				</div>
			</div>
			<!--end .card -->
		</div>
		<div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="home-icons text-center">
                <div class="home-icons-style">
                    <a ui-sref=".assetReceive"> <span class="hover-effect"><img
                            ng-src="resources/images/master/asset-receive-new.png"></span><br> <b
                        class="menu-font">Asset Receive</b>
                </div>
            </div>
            <!--end .card -->
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="home-icons text-center">
                <div class="home-icons-style">
                    <a ui-sref=".assetIRstatus"> <span class="hover-effect"><img
                            ng-src="resources/images/master/visible-status.png"></span><br> <b
                        class="menu-font">Status</b>
                </div>
            </div>
            <!--end .card -->
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="home-icons text-center">
                <div class="home-icons-style">
                    <a ui-sref=".reports"> <span class="hover-effect"><img
                            ng-src="resources/images/master/report.png"></span><br> <b
                        class="menu-font">Report</b>
                </div>
            </div>
            <!--end .card -->
        </div>
	</div>
</div>