<!--breadcrumb  -->
<div class="breadcrumb">
	<!-- <div style="float: left">
		<i class="glyphicon glyphicon-home"></i>&nbsp;
	</div> -->
	<div>
		<ui-breadcrumbs displayname-property="data.displayName"
			abstract-proxy-property="data.proxy"
			template-url="resources/views/ngBreadCrumbTemplate.html"></ui-breadcrumbs>
	</div>
</div>
<div ui-view>
	<div class="section-body">
		<div class="card-head style-primary">
			<div class="col-md-12">
				<div>
					<header class="text-left">Dock Door Details</header>
					<button ng-click="dockDoorCtrl.dockDoorAddUpdate()" style="color: #0aa89e; background-color: white;" type="button" tooltip-placement="left" uib-tooltip="DockDoor Add" class="btn ink-reaction btn-floating-action btn-sm btn-primary pull-right"><i class="fa fa-plus"></i></button>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-12 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Dock Door Id</th>
								<th>Dock Door Name</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="assetPag in dockDoorCtrl.assetPag_data.resData" ng-show="assetPag.assetId >= 4">
								<td>
									{{assetPag.assetId}}
								</td>
								<td>{{assetPag.assetNm}}</td>
								<td class="text-right">
									<button type="button" class="btn btn-icon-toggle" ng-click="dockDoorCtrl.editAssetFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
									<button type="button" class="btn btn-icon-toggle" ng-click="dockDoorCtrl.deleteAssetFun(assetPag)" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							
						</tbody>
					</table>
					<div class="text-center">
						<ul uib-pagination total-items="dockDoorCtrl.totalItems" ng-model="dockDoorCtrl.currentPage" max-size="dockDoorCtrl.maxSize" ng-change="dockDoorCtrl.pageChanged()" items-per-page="dockDoorCtrl.itemsPerPage" class="pagination-sm" boundary-links="true"
										rotate="false"></ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--end .section-body -->
</div>
<!-- End UI-VIEW -->
