
 <div>
	<form class="form-horizontal" ng-submit="dockDoorFrm.$valid && dockDoorAddUpdateCtrl.save()" novalidate role="form" name="dockDoorFrm">
		<div class="card" style="margin-bottom: 0px;radius:1px">
					<div class="card-head style-primary">
							<header>{{dockDoorAddUpdateCtrl.tableHeader}}</header>
							<button class="btn btn-default btn_close" ng-click="dockDoorAddUpdateCtrl.cancel()"><i class="fa fa-times"></i></button>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group required" ng-class="{'has-error' : (dockDoorFrm.$submitted || dockDoorFrm.name.$touched || submitted ) && dockDoorFrm.name.$invalid && dockDoorFrm.name.$error.required || dockDoorFrm.name.$error.maxlength}">
										<label for="Firstname5" class="col-sm-3 control-label">Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="name" ng-maxlength="50" ng-model="dockDoorAddUpdateCtrl.dockDoorData.name" ng-required="true"/>
											<p ng-show="dockDoorFrm.name.$error.maxlength" class="help-block">Only 50 Characters are allowed</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
											<div id="items" rr-drop-target="true">
									            <div  style="border-bottom: 2px solid black">
									                <b>Available Readers</b>
									            </div>
									            <div ng-repeat="item in items">
									                <!-- usage of the Draggable directive -->
									                <div dd-draggable="true" class="item" itemid="{{item.id}}">{{item.id}}. {{item.name}}</div>
									            </div>
									        </div>
										</div>
										<div class="col-md-6">
											<div id="dropbox" dd-drop-target="true">
									            <div style="border-bottom: 2px solid black">
									                <b>Assigned Readers</b>
									            </div>
									            <div ng-repeat="item in dropped">
									                <div rr-draggable="true" itemid="{{item.id}}" class="item">{{item.id}}. {{item.name}}</div>
									            </div>
									        </div>
										</div>
								</div>
							</div>
							
						</div><!-- end .card-body -->
						
						<div class="card-actionbar">
							<div class="card-actionbar-row">
								<button type="button" ng-click="dockDoorAddUpdateCtrl.cancel()" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
								<button type="submit" class="btn btn-flat btn-primary ink-reaction">{{dockDoorAddUpdateCtrl.saveBtn}}</button> 
							</div>
						</div>
					</div><!-- end .card -->
				</form>
			</div><!-- end .card-body -->
